@use '@entur/tokens/dist/styles.scss' as t;
@use '@entur/utils/dist/breakpoints.scss' as breakpoint;

.eds-alert-box {
  border: t.$border-widths-small solid transparent;
  border-radius: t.$border-radiuses-medium;
  display: flex;
  padding: t.$space-small;
  position: relative;

  // Size overrides
  &--banner {
    padding: t.$space-medium;
    width: 100%;

    @include breakpoint.for-desktop {
      padding: t.$space-large;
    }
  }

  &--toast {
    max-width: 22rem;
    width: 100%;

    animation: t.$timings-slow ease-in-out 0s 1 bounceInRight;
    @include breakpoint.for-desktop {
      min-width: 12rem;
      width: fit-content;
    }

    &--exit-animation {
      animation: t.$timings-slow ease-in-out 0s 1 bounceOutRight;
    }
  }

  &--small {
    font-size: t.$font-sizes-medium;
  }

  &--fit-content {
    width: fit-content;
  }

  // Variants
  &--success {
    background-color: var(--components-alert-alertbox-success-standard-fill);
    border-color: var(--components-alert-alertbox-success-standard-border);
    color: var(--components-alert-alertbox-success-standard-text);

    .eds-alert-box__icon {
      color: var(--components-alert-alertbox-success-standard-icon);
    }
    .eds-contrast & {
      background-color: var(--components-alert-alertbox-success-contrast-fill);
      border-color: transparent;
      color: var(--components-alert-alertbox-success-contrast-text);

      .eds-alert-box__icon {
        color: var(--components-alert-alertbox-success-contrast-icon);
      }
    }
  }
  &--info,
  &--information {
    background-color: var(--components-alert-alertbox-information-standard-fill);
    border-color: var(--components-alert-alertbox-information-standard-border);
    color: var(--components-alert-alertbox-information-standard-text);

    .eds-alert-box__icon {
      color: var(--components-alert-alertbox-information-standard-icon);
    }
    .eds-contrast & {
      background-color: var(--components-alert-alertbox-information-contrast-fill);
      border-color: transparent;
      color: var(--components-alert-alertbox-information-contrast-text);

      .eds-alert-box__icon {
        color: var(--components-alert-alertbox-information-contrast-icon);
      }
    }
  }
  &--warning {
    background-color: var(--components-alert-alertbox-warning-standard-fill);
    border-color: var(--components-alert-alertbox-warning-standard-border);
    color: var(--components-alert-alertbox-warning-standard-text);

    .eds-alert-box__icon {
      color: var(--components-alert-alertbox-warning-standard-icon);
    }
    .eds-contrast & {
      background-color: var(--components-alert-alertbox-warning-contrast-fill);
      border-color: transparent;
      color: var(--components-alert-alertbox-warning-contrast-text);

      .eds-alert-box__icon {
        color: var(--components-alert-alertbox-warning-contrast-icon);
      }
    }
  }
  &--error,
  &--negative {
    background-color: var(--components-alert-alertbox-negative-standard-fill);
    border-color: var(--components-alert-alertbox-negative-standard-border);
    color: var(--components-alert-alertbox-negative-standard-text);

    .eds-alert-box__icon {
      color: var(--components-alert-alertbox-negative-standard-icon);
    }

    .eds-contrast & {
      background-color: var(--components-alert-alertbox-negative-contrast-fill);
      border-color: transparent;
      color: var(--components-alert-alertbox-negative-contrast-text);

      .eds-alert-box__icon {
        color: var(--components-alert-alertbox-negative-contrast-icon);
      }
    }
  }

  &--no-title {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    flex: 0 0 1em;
    font-size: 1.2rem; // Required since the icons are a tiny bit too small
    margin-right: 0.5em;
    margin-top: 0;

    .eds-alert-box--banner &,
    .eds-alert-box--toast & {
      @include breakpoint.for-desktop {
        font-size: t.$space-extra-large; // standalone icon size
        margin-top: -(t.$space-extra-small2);
      }
    }
  }

  &__title {
    font-weight: t.$font-weights-heading;
    margin: 0;
  }

  &__content {
    flex: 1;
    word-break: break-word;
    hyphens: auto;

    &--no-children {
      display: flex;
      align-items: center;
    }

    .eds-alert-box--banner &,
    .eds-alert-box--toast & {
      margin-right: t.$space-extra-large;
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
  // Overwrites button default styling
  & &__close-button {
    margin-top: -0.3125rem;
    margin-left: t.$space-extra-small;
    height: fit-content;
    width: fit-content;

    // Normal mode and contrast mode
    .eds-contrast & {
      color: var(--components-button-iconbutton-standard-text);
      &:hover {
        background: var(--components-button-iconbutton-standard-hover);
      }
      &:active {
        background: var(--components-button-iconbutton-standard-active);
      }
      &:focus-visible {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
      }
    }
  }
  // Overwrites tooltip default styling
  & &__tooltip {
    .eds-contrast & {
      background: var(--components-tooltip-tooltip-standard-fill);
      color: var(--components-tooltip-tooltip-standard-text);
      &::after {
        background: var(--components-tooltip-tooltip-standard-fill);
      }
    }
  }
}
