@use '~@entur/tokens/dist/styles.scss' as t;

.eds-copyable-text,
.eds-contrast .eds-copyable-text {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  padding: 0;
  position: relative;
  margin: 0 0 t.$space-default 0;
  text-align: left;
  width: 100%;

  &__preformatted-text {
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: border-color t.$timings-fast;

    &:hover {
      border-color: var(--components-alert-copyabletext-standard-border-interactive);
      .eds-contrast & {
        border-color: var(--components-alert-copyabletext-contrast-border-interactive);
      }
    }
  }

  &__displayed-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  & &__button {
    color: var(--components-alert-copyabletext-standard-text);
    margin: -0.5rem; // remove extra spacing added by icon button padding
    margin-left: 0.5rem;
    width: fit-content;
    height: fit-content;

    &,
    .eds-contrast & {
      color: var(--components-alert-copyabletext-standard-text);
      &:hover {
        background: var(--components-button-iconbutton-standard-hover);
      }

      &:active {
        background: var(--components-button-iconbutton-standard-active);
      }
      &:focus {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;

        .eds-contrast & {
          outline-color: var(--basecolors-stroke-focus-contrast);
        }
      }
    }
  }
}
