@use '~@entur/tokens/dist/styles.scss' as t;

.eds-copyable-text,
.eds-contrast .eds-copyable-text {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  padding: 0;
  position: relative;
  margin: 0 0 t.$space-default 0;
  text-align: left;
  width: 100%;

  &__preformatted-text {
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: border-color t.$timings-fast;

    &:hover {
      border-color: t.$colors-greys-grey40;
    }
  }

  &__displayed-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  & &__button {
    margin: -0.5rem; // remove extra spacing added by icon button padding
    margin-left: 0.5rem;
    width: fit-content;
    height: fit-content;

    &:hover {
      background-color: t.$colors-blues-blue40;
      color: t.$colors-brand-white;
    }
  }

  &:focus {
    outline-offset: t.$outline-offsets-focus;
    outline: none;
    box-shadow: t.$shadows-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }
}
