@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.eds-expandable-alert-box {
  .eds-alert-box__content {
    width: 100%;
  }
  &.eds-alert-box--banner .eds-alert-box__icon {
    margin-top: 0.0625rem; // 2px
    @include for-desktop {
      margin-top: -0.375rem; // 6px
    }
  }
  &.eds-alert-box--small .eds-alert-box__icon {
    margin-top: 0.125rem; // 2px
    @include for-desktop {
      margin-top: 0.125rem; // 2px
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__button {
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: $line-heights-extra-large;
    padding: 0 $space-extra-small2;
    flex-shrink: 0;
    &:focus {
      outline: none;
      box-shadow: $shadows-focus;
      outline-offset: $outline-offsets-focus;
    }
    .eds-icon {
      font-size: $font-sizes-large;
      padding-left: $space-extra-small2;
    }
  }
}
