@import '~@entur/fonts/index.css';
@import '~@entur/icons/dist/styles.css';
@import '~@entur/layout/dist/styles.css';

@import '~@entur/a11y/dist/styles.css';
@import '~@entur/alert/dist/styles.css';
@import '~@entur/button/dist/styles.css';
@import '~@entur/chip/dist/styles.css';
@import '~@entur/expand/dist/styles.css';
@import '~@entur/form/dist/styles.css';
@import '~@entur/loader/dist/styles.css';
@import '~@entur/menu/dist/styles.css';
@import '~@entur/modal/dist/styles.css';
@import '~@entur/table/dist/styles.css';
@import '~@entur/tooltip/dist/styles.css';
@import '~@entur/typography/dist/styles.css';

@import '~@entur/tokens/dist/styles.scss';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

body {
  margin: 0;
}

.site-content {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin: $space-default;

  @include for-desktop {
    margin-left: 22rem;
    max-width: 60rem;
  }
}
.site-content main {
  flex: 1;
}

.frontpage-site-content {
  display: flex;
  margin: $space-default;
  flex-direction: column;
  min-height: 90vh;
  @include for-desktop {
    margin: 1rem auto;
    max-width: 64rem;
  }
}
.frontpage-site-content main {
  flex: 1;
}
