@use '@entur/tokens/dist/styles.scss' as t;

.eds-dropdown-wrapper {
  position: relative;
  .eds-form-control {
    padding-right: 0;
  }
  .eds-form-control__append {
    display: flex;
    align-items: center;
  }
}

.eds-dropdown__input {
  &::placeholder {
    color: var(--components-form-baseform-standard-text-label);
  }
}

.eds-dropdown__selected-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eds-dropdown__clear-button {
  background: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
  &:hover {
    background: t.$colors-greys-grey80;
  }
  &:focus {
    outline-offset: t.$outline-offsets-focus;
    outline: none;
    box-shadow: t.$shadows-focus;
  }
}

.eds-dropdown__divider {
  content: '';
  display: block;
  background-color: t.$colors-greys-grey70;
  height: 1.5rem;
  width: 1px;
  .eds-form-control-wrapper--disabled & {
    .eds-contrast & {
      background-color: t.$colors-blues-blue50;
    }
  }
}
