@use '~@entur/tokens/dist/styles.scss' as t;

.eds-dropdown-list {
  border-radius: t.$border-radiuses-medium;
  box-shadow: t.$shadows-box-shadow;
  display: none;
  list-style: none;
  margin: 0;
  max-height: 50vh;
  padding: 0;
  position: relative;
  overflow-y: auto;
  width: 100%;
  z-index: t.$z-indexes-popover;
  .eds-contrast & {
    box-shadow: t.$shadows-box-shadow-contrast;
  }

  &--open {
    // Note that for accessibility reasons it's best if this element is always rendered. That's why we initially hide it!
    display: inline-block;
  }

  &:focus {
    outline: none;
  }

  @media all and (min-width: t.$breakpoints-large) {
    max-height: 30vh;
  }

  &__item {
    align-items: center;
    background-color: t.$colors-greys-grey90;
    border-bottom: t.$border-widths-default solid t.$colors-greys-grey70;
    border-left: t.$border-widths-default solid t.$colors-greys-grey70;
    border-right: t.$border-widths-default solid t.$colors-greys-grey70;
    color: t.$colors-brand-blue;
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    font-size: t.$font-sizes-large;
    line-height: t.$line-heights-medium;
    padding: t.$space-small t.$space-default;
    width: 100%;
    &:first-child {
      border-top: t.$border-widths-default solid t.$colors-greys-grey70;
    }
    &:last-child {
      border-bottom: none;
    }

    .eds-contrast & {
      color: t.$colors-brand-blue;
      border-color: t.$colors-blues-blue30;
      background-color: t.$colors-brand-white;
    }

    &--highlighted {
      background-color: t.$colors-blues-blue70;

      .eds-contrast & {
        background-color: t.$colors-blues-blue70;
      }
    }
  }

  &-icon {
    margin-left: t.$space-small;
  }
}
