@use '~@entur/tokens/dist/styles.scss' as t;

.eds-dropdown__toggle-button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  margin-right: -(t.$space-small);
  padding: t.$space-extra-small;

  display: flex;
  justify-content: center;

  &--open svg {
    transform: rotate(180deg);
  }
  &:focus {
    outline-offset: t.$outline-offsets-focus;
    outline: none;
    box-shadow: t.$shadows-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }
}
