@use '@entur/tokens/dist/styles.scss' as t;

.eds-dropdown__searchable-selected-item {
  display: block;
  font-size: t.$font-sizes-large;
  line-height: t.$line-heights-small;
  margin-right: -(t.$space-medium);
  padding: calc(#{t.$space-medium} + #{t.$space-extra-small2}) 0 t.$space-extra-small2 t.$space-medium;
  font-family: inherit;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__wrapper {
    max-width: 65%;
  }
}

.eds-form-control.eds-dropdown__input {
  &::placeholder {
    transition: none;
  }
}
