@use '@entur/utils/dist/breakpoints.scss' as *;

:root {
  /* number */
  --size-0: 0rem;
  --size-1: 0.0625rem;
  --size-2: 0.125rem;
  --size-3: 0.25rem;
  --size-4: 0.375rem;
  --size-5: 0.5rem;
  --size-6: 0.75rem;
  --size-7: 0.875rem;
  --size-8: 1rem;
  --size-9: 1.25rem;
  --size-10: 1.5rem;
  --size-11: 1.75rem;
  --size-12: 2rem;
  --size-13: 2.25rem;
  --size-14: 2.5rem;
  --size-15: 2.75rem;
  --size-16: 3rem;
  --size-17: 3.25rem;
  --size-18: 3.5rem;
  --size-19: 4rem;
  --size-20: 4.5rem;
  --size-21: 5rem;
  --size-22: 5.5rem;
  --size-23: 6rem;
  --size-24: 6.5rem;
  --size-25: 7rem;
  --size-26: 7.5rem;
  --size-27: 8rem;
  --size-28: 8.5rem;
  --size-29: 9rem;
  --size-30: 9.5rem;
  --size-31: 10rem;
}

:root,
[data-theme='Standard'] {
  --button-border-large: var(--size-2);
  --button-border-medium: var(--size-2);
  --button-border-small: var(--size-2);
  --button-gap-medium: var(--size-3);
  --button-gap-small: var(--size-3);
  --button-gap-large: var(--size-5);
  --button-height-horizontal-small: var(--size-11);
  --button-height-horizontal-medium: var(--size-14);
  --button-height-horizontal-large: var(--size-18);
  --button-height-vertical-small: var(--size-14);
  --button-height-vertical-medium: var(--size-16);
  --button-height-vertical-large: var(--size-18);
  --button-icon-medium: var(--size-8);
  --button-icon-small: var(--size-8);
  --button-icon-large: var(--size-9);
  --button-inline-padding-small: var(--size-5);
  --button-inline-padding-medium: var(--size-6);
  --button-inline-padding-large: var(--size-8);
  --button-radius-small: var(--size-3);
  --button-radius-large: var(--size-5);
  --button-radius-medium: var(--size-5);
  --button-radius-round: var(--size-23);
  --chip-border-large: var(--size-1);
  --chip-border-medium: var(--size-1);
  --chip-border-small: var(--size-1);
  --chip-gap-medium: var(--size-3);
  --chip-gap-small: var(--size-3);
  --chip-gap-large: var(--size-5);
  --chip-height-small: var(--size-10);
  --chip-height-medium: var(--size-11);
  --chip-height-large: var(--size-14);
  --chip-icon-default-large: var(--size-8);
  --chip-icon-default-medium: var(--size-8);
  --chip-icon-default-small: var(--size-8);
  --chip-icon-tagchip-small: var(--size-8);
  --chip-icon-tagchip-medium: var(--size-9);
  --chip-icon-tagchip-large: var(--size-11);
  --chip-inline-padding-default-medium: var(--size-5);
  --chip-inline-padding-default-small: var(--size-5);
  --chip-inline-padding-default-large: var(--size-7);
  --chip-inline-padding-tagchip-medium: var(--size-3);
  --chip-inline-padding-tagchip-small: var(--size-3);
  --chip-inline-padding-tagchip-large: var(--size-5);
  --chip-radius-round: var(--size-23);
  --feedback-text-gap-medium: var(--size-3);
  --feedback-text-gap-small: var(--size-3);
  --feedback-text-gap-large: var(--size-5);
  --feedback-text-icon-small: var(--size-8);
  --feedback-text-icon-medium: var(--size-9);
  --feedback-text-icon-large: var(--size-10);
  --form-base-form-border-large: var(--size-2);
  --form-base-form-border-medium: var(--size-2);
  --form-base-form-border-small: var(--size-2);
  --form-base-form-gap-horizontal-medium: var(--size-3);
  --form-base-form-gap-horizontal-small: var(--size-3);
  --form-base-form-gap-horizontal-large: var(--size-5);
  --form-base-form-gap-vertrical-small: var(--size-3);
  --form-base-form-gap-vertrical-medium: var(--size-5);
  --form-base-form-gap-vertrical-large: var(--size-6);
  --form-base-form-height-small: var(--size-11);
  --form-base-form-height-medium: var(--size-14);
  --form-base-form-height-large: var(--size-18);
  --form-base-form-icon-mediun: var(--size-8);
  --form-base-form-icon-small: var(--size-8);
  --form-base-form-icon-large: var(--size-9);
  --form-base-form-inline-padding-default-medium: var(--size-5);
  --form-base-form-inline-padding-default-small: var(--size-5);
  --form-base-form-inline-padding-default-large: var(--size-7);
  --form-base-form-inline-padding-tagchip-medium: var(--size-3);
  --form-base-form-inline-padding-tagchip-small: var(--size-3);
  --form-base-form-inline-padding-tagchip-large: var(--size-5);
  --form-base-form-radius-small: var(--size-3);
  --form-base-form-radius-large: var(--size-5);
  --form-base-form-radius-medium: var(--size-5);

  @include for-desktop {
    /* number */
    --button-border-large: var(--size-2);
    --button-border-medium: var(--size-2);
    --button-border-small: var(--size-2);
    --button-gap-small: var(--size-3);
    --button-gap-large: var(--size-5);
    --button-gap-medium: var(--size-5);
    --button-height-horizontal-small: var(--size-12);
    --button-height-horizontal-medium: var(--size-16);
    --button-height-horizontal-large: var(--size-19);
    --button-height-vertical-small: var(--size-16);
    --button-height-vertical-medium: var(--size-18);
    --button-height-vertical-large: var(--size-20);
    --button-icon-small: var(--size-8);
    --button-icon-medium: var(--size-9);
    --button-icon-large: var(--size-10);
    --button-inline-padding-small: var(--size-6);
    --button-inline-padding-medium: var(--size-8);
    --button-inline-padding-large: var(--size-9);
    --button-radius-small: var(--size-4);
    --button-radius-large: var(--size-5);
    --button-radius-medium: var(--size-5);
    --button-radius-round: var(--size-23);
    --chip-border-large: var(--size-1);
    --chip-border-medium: var(--size-1);
    --chip-border-small: var(--size-1);
    --chip-gap-medium: var(--size-3);
    --chip-gap-small: var(--size-3);
    --chip-gap-large: var(--size-5);
    --chip-height-small: var(--size-10);
    --chip-height-medium: var(--size-12);
    --chip-height-large: var(--size-16);
    --chip-icon-default-medium: var(--size-8);
    --chip-icon-default-small: var(--size-8);
    --chip-icon-default-large: var(--size-9);
    --chip-icon-tagchip-small: var(--size-8);
    --chip-icon-tagchip-medium: var(--size-10);
    --chip-icon-tagchip-large: var(--size-12);
    --chip-inline-padding-default-small: var(--size-5);
    --chip-inline-padding-default-medium: var(--size-6);
    --chip-inline-padding-default-large: var(--size-8);
    --chip-inline-padding-tagchip-medium: var(--size-3);
    --chip-inline-padding-tagchip-small: var(--size-3);
    --chip-inline-padding-tagchip-large: var(--size-5);
    --chip-radius-round: var(--size-23);
    --feedback-text-gap-small: var(--size-3);
    --feedback-text-gap-large: var(--size-5);
    --feedback-text-gap-medium: var(--size-5);
    --feedback-text-icon-small: var(--size-8);
    --feedback-text-icon-medium: var(--size-9);
    --feedback-text-icon-large: var(--size-11);
    --form-base-form-border-large: var(--size-2);
    --form-base-form-border-medium: var(--size-2);
    --form-base-form-border-small: var(--size-2);
    --form-base-form-gap-horizontal-small: var(--size-3);
    --form-base-form-gap-horizontal-large: var(--size-5);
    --form-base-form-gap-horizontal-medium: var(--size-5);
    --form-base-form-gap-vertrical-small: var(--size-3);
    --form-base-form-gap-vertrical-medium: var(--size-5);
    --form-base-form-gap-vertrical-large: var(--size-8);
    --form-base-form-height-small: var(--size-12);
    --form-base-form-height-medium: var(--size-16);
    --form-base-form-height-large: var(--size-19);
    --form-base-form-icon-small: var(--size-8);
    --form-base-form-icon-mediun: var(--size-9);
    --form-base-form-icon-large: var(--size-10);
    --form-base-form-inline-padding-default-small: var(--size-5);
    --form-base-form-inline-padding-default-medium: var(--size-6);
    --form-base-form-inline-padding-default-large: var(--size-8);
    --form-base-form-inline-padding-tagchip-medium: var(--size-3);
    --form-base-form-inline-padding-tagchip-small: var(--size-3);
    --form-base-form-inline-padding-tagchip-large: var(--size-5);
    --form-base-form-radius-small: var(--size-4);
    --form-base-form-radius-large: var(--size-5);
    --form-base-form-radius-medium: var(--size-5);
  }
}
[data-theme='Compact'] {
  /* number */
  --button-border-large: var(--size-2);
  --button-border-medium: var(--size-2);
  --button-border-small: var(--size-2);
  --button-gap-medium: var(--size-3);
  --button-gap-small: var(--size-3);
  --button-gap-large: var(--size-5);
  --button-height-horizontal-small: var(--size-11);
  --button-height-horizontal-medium: var(--size-14);
  --button-height-horizontal-large: var(--size-18);
  --button-height-vertical-small: var(--size-14);
  --button-height-vertical-medium: var(--size-16);
  --button-height-vertical-large: var(--size-18);
  --button-icon-medium: var(--size-8);
  --button-icon-small: var(--size-8);
  --button-icon-large: var(--size-9);
  --button-inline-padding-small: var(--size-5);
  --button-inline-padding-medium: var(--size-6);
  --button-inline-padding-large: var(--size-8);
  --button-radius-small: var(--size-3);
  --button-radius-large: var(--size-5);
  --button-radius-medium: var(--size-5);
  --button-radius-round: var(--size-23);
  --chip-border-large: var(--size-1);
  --chip-border-medium: var(--size-1);
  --chip-border-small: var(--size-1);
  --chip-gap-medium: var(--size-3);
  --chip-gap-small: var(--size-3);
  --chip-gap-large: var(--size-5);
  --chip-height-small: var(--size-10);
  --chip-height-medium: var(--size-11);
  --chip-height-large: var(--size-14);
  --chip-icon-default-large: var(--size-8);
  --chip-icon-default-medium: var(--size-8);
  --chip-icon-default-small: var(--size-8);
  --chip-icon-tagchip-small: var(--size-8);
  --chip-icon-tagchip-medium: var(--size-9);
  --chip-icon-tagchip-large: var(--size-11);
  --chip-inline-padding-default-medium: var(--size-5);
  --chip-inline-padding-default-small: var(--size-5);
  --chip-inline-padding-default-large: var(--size-7);
  --chip-inline-padding-tagchip-medium: var(--size-3);
  --chip-inline-padding-tagchip-small: var(--size-3);
  --chip-inline-padding-tagchip-large: var(--size-5);
  --chip-radius-round: var(--size-23);
  --feedback-text-gap-medium: var(--size-3);
  --feedback-text-gap-small: var(--size-3);
  --feedback-text-gap-large: var(--size-5);
  --feedback-text-icon-small: var(--size-8);
  --feedback-text-icon-medium: var(--size-9);
  --feedback-text-icon-large: var(--size-10);
  --form-base-form-border-large: var(--size-2);
  --form-base-form-border-medium: var(--size-2);
  --form-base-form-border-small: var(--size-2);
  --form-base-form-gap-horizontal-medium: var(--size-3);
  --form-base-form-gap-horizontal-small: var(--size-3);
  --form-base-form-gap-horizontal-large: var(--size-5);
  --form-base-form-gap-vertrical-small: var(--size-3);
  --form-base-form-gap-vertrical-medium: var(--size-5);
  --form-base-form-gap-vertrical-large: var(--size-6);
  --form-base-form-height-small: var(--size-11);
  --form-base-form-height-medium: var(--size-14);
  --form-base-form-height-large: var(--size-18);
  --form-base-form-icon-mediun: var(--size-8);
  --form-base-form-icon-small: var(--size-8);
  --form-base-form-icon-large: var(--size-9);
  --form-base-form-inline-padding-default-medium: var(--size-5);
  --form-base-form-inline-padding-default-small: var(--size-5);
  --form-base-form-inline-padding-default-large: var(--size-7);
  --form-base-form-inline-padding-tagchip-medium: var(--size-3);
  --form-base-form-inline-padding-tagchip-small: var(--size-3);
  --form-base-form-inline-padding-tagchip-large: var(--size-5);
  --form-base-form-radius-small: var(--size-3);
  --form-base-form-radius-large: var(--size-5);
  --form-base-form-radius-medium: var(--size-5);
}
[data-theme='Display'] {
  /* number */
  --button-border-small: var(--size-2);
  --button-border-large: var(--size-3);
  --button-border-medium: var(--size-3);
  --button-gap-small: var(--size-5);
  --button-gap-medium: var(--size-6);
  --button-gap-large: var(--size-8);
  --button-height-horizontal-small: var(--size-19);
  --button-height-horizontal-medium: var(--size-23);
  --button-height-horizontal-large: var(--size-26);
  --button-height-vertical-small: var(--size-21);
  --button-height-vertical-medium: var(--size-24);
  --button-height-vertical-large: var(--size-28);
  --button-icon-small: var(--size-10);
  --button-icon-medium: var(--size-12);
  --button-icon-large: var(--size-16);
  --button-inline-padding-small: var(--size-10);
  --button-inline-padding-medium: var(--size-12);
  --button-inline-padding-large: var(--size-14);
  --button-radius-small: var(--size-5);
  --button-radius-large: var(--size-8);
  --button-radius-medium: var(--size-8);
  --button-radius-round: var(--size-23);
  --chip-border-large: var(--size-2);
  --chip-border-medium: var(--size-2);
  --chip-border-small: var(--size-2);
  --chip-gap-small: var(--size-5);
  --chip-gap-medium: var(--size-6);
  --chip-gap-large: var(--size-8);
  --chip-height-small: var(--size-17);
  --chip-height-medium: var(--size-19);
  --chip-height-large: var(--size-23);
  --chip-icon-default-small: var(--size-9);
  --chip-icon-default-medium: var(--size-10);
  --chip-icon-default-large: var(--size-12);
  --chip-icon-tagchip-small: var(--size-13);
  --chip-icon-tagchip-medium: var(--size-16);
  --chip-icon-tagchip-large: var(--size-19);
  --chip-inline-padding-default-small: var(--size-8);
  --chip-inline-padding-default-medium: var(--size-9);
  --chip-inline-padding-default-large: var(--size-12);
  --chip-inline-padding-tagchip-medium: var(--size-5);
  --chip-inline-padding-tagchip-small: var(--size-5);
  --chip-inline-padding-tagchip-large: var(--size-8);
  --chip-radius-round: var(--size-23);
  --feedback-text-gap-small: var(--size-5);
  --feedback-text-gap-medium: var(--size-6);
  --feedback-text-gap-large: var(--size-8);
  --feedback-text-icon-small: var(--size-11);
  --feedback-text-icon-medium: var(--size-12);
  --feedback-text-icon-large: var(--size-18);
  --form-base-form-border-small: var(--size-2);
  --form-base-form-border-large: var(--size-3);
  --form-base-form-border-medium: var(--size-3);
  --form-base-form-gap-horizontal-small: var(--size-5);
  --form-base-form-gap-horizontal-medium: var(--size-6);
  --form-base-form-gap-horizontal-large: var(--size-8);
  --form-base-form-gap-vertrical-small: var(--size-5);
  --form-base-form-gap-vertrical-medium: var(--size-8);
  --form-base-form-gap-vertrical-large: var(--size-10);
  --form-base-form-height-small: var(--size-19);
  --form-base-form-height-medium: var(--size-23);
  --form-base-form-height-large: var(--size-26);
  --form-base-form-icon-small: var(--size-10);
  --form-base-form-icon-mediun: var(--size-12);
  --form-base-form-icon-large: var(--size-16);
  --form-base-form-inline-padding-default-small: var(--size-8);
  --form-base-form-inline-padding-default-medium: var(--size-9);
  --form-base-form-inline-padding-default-large: var(--size-12);
  --form-base-form-inline-padding-tagchip-medium: var(--size-5);
  --form-base-form-inline-padding-tagchip-small: var(--size-5);
  --form-base-form-inline-padding-tagchip-large: var(--size-8);
  --form-base-form-radius-small: var(--size-5);
  --form-base-form-radius-large: var(--size-8);
  --form-base-form-radius-medium: var(--size-8);
}
