@use "sass:map";
@use '@entur/tokens/dist/semantic.scss' as semantic;
@use '~@entur/tokens/dist/styles.scss' as tokens;
@use '~@entur/utils/dist/breakpoints.scss' as *;

@use '../../styles/variables' as variables;

.token {
  &-content {
    &__grid-item {
      display: flex;
      gap: tokens.$space-extra-small;
      align-items: flex-start;

      @include for-large-desktop {
        margin: 0;
      }

      &--primitive {
        display: flex;
        align-items: center;
        gap: tokens.$space-extra-small;
        height: 2rem;
        margin-top: 0;
      }
    }
    &__example {
      border-radius: 1px;
      width: 96px;
      height: 100%;

      @include for-large-desktop {
        width: 64px;
      }
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      &#chart svg,
      &#transport svg {
        height: auto;
        width: 32px;
      }
    }

    &__codetext {
      display: flex;
      flex-direction: column;
      color: var(--basecolors-text-subdued);
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 20px;
      gap: tokens.$space-extra-small2;
      width: 100%;
      @include for-large-desktop {
        min-width: 145px;
        max-width: 184px;
      }
      &--primitive {
        color: var(--basecolors-text-subdued);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: tokens.$space-extra-small;
        height: 2rem;
        margin-left: tokens.$space-small;
        width: 100%;
        max-width: 16rem;
        @include for-large-desktop {
          justify-content: space-between;
          margin-inline: tokens.$space-large;
        }
      }
    }
    // Edit eds-copyable-text
    .eds-copyable-text {
      width: 100%;
      margin: 0 !important;
      max-width: 9rem;

      &__button {
        margin: 0 !important;
        padding: 0;
      }
    }
    .eds-preformatted-text {
      padding: 0.25rem;
      height: 24px;
    }
  }
}

.token-table {
  &__grid {
    h3 {
      margin-bottom: tokens.$space-extra-small;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    h4 {
      margin-bottom: tokens.$space-small;

      &:first-letter {
        text-transform: uppercase;
      }
    }
    h5 {
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
  &-content {
    margin-top: tokens.$space-small;

    &--dark-bg {
      background-color: semantic.$fill-background-standard-dark;

      h3 {
        color: semantic.$text-light;
      }
    }
    &--multi-columns {
      display: grid;
      gap: tokens.$space-medium;
      margin-bottom: tokens.$space-medium;
      padding: tokens.$space-medium;

      @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
        gap: tokens.$space-large;
      }
      @include for-large-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: tokens.$space-extra-large;
        gap: tokens.$space-large;
      }
    }
  }
  // edit eds-table
  .eds-table {
    margin-bottom: tokens.$space-extra-large;
  }
}
