.eds-dropdown-wrapper {
  position: relative;
  .eds-form-control {
    padding-right: 0;
  }
}

.eds-dropdown__input {
  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }
}

.eds-dropdown__selected-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
