@import '~@entur/tokens/dist/styles.scss';

.eds-dropdown-wrapper {
  position: relative;
  .eds-form-control {
    padding-right: 0;
  }
  .eds-form-control__append {
    display: flex;
    align-items: center;
  }
}

.eds-dropdown__input {
  &::placeholder {
    color: $colors-blues-blue40;
  }
}

.eds-dropdown__selected-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eds-dropdown__clear-button {
  background: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem;
  &:hover {
    background: $colors-greys-grey80;
  }
  &:focus {
    outline: none;
    box-shadow: $shadows-focus;
    .eds-contrast & {
      box-shadow: $shadows-focus-contrast;
    }
  }
}

.eds-dropdown__divider {
  content: '';
  display: block;
  background-color: $colors-greys-grey70;
  height: 1.5rem;
  width: 1px;
}
