@import '~@entur/tokens/dist/styles.scss';

.eds-dropdown-list {
  border-radius: $border-radiuses-medium;
  box-shadow: $shadows-card-shadow;
  display: none;
  list-style: none;
  margin: 0;
  max-height: 50vh;
  padding: 0;
  position: relative;
  overflow-y: auto;
  width: 100%;
  z-index: $z-indexes-popover;
  .eds-contrast & {
    box-shadow: $shadows-card-shadow-contrast;
  }

  &--open {
    // Note that for accessibility reasons it's best if this element is always rendered. That's why we initially hide it!
    display: inline-block;
  }

  &:focus {
    outline: none;
  }

  @media all and (min-width: $breakpoints-large) {
    max-height: 30vh;
  }
}
.eds-dropdown-list__item {
  align-items: center;
  background-color: $colors-greys-grey90;
  border-bottom: $border-widths-default solid $colors-greys-grey70;
  border-left: $border-widths-default solid $colors-greys-grey70;
  border-right: $border-widths-default solid $colors-greys-grey70;
  color: $colors-brand-blue;
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  font-size: $font-sizes-large;
  line-height: $line-heights-medium;
  padding: $space-small $space-default;
  width: 100%;
  &:first-child {
    border-top: $border-widths-default solid $colors-greys-grey70;
  }
  &:last-child {
    border-bottom: none;
  }

  .eds-contrast & {
    color: $colors-brand-white;
    background-color: $colors-blues-blue10;
    border-color: rgba($colors-brand-white, 0.05);
  }

  &--highlighted  {
    background-color: $colors-blues-blue70;

    .eds-contrast & {
      background-color: $colors-blues-blue20;
    }
  }
}

.eds-dropdown-list__item-icon {
  margin-left: $space-small;
}
