@use '~@entur/tokens/dist/styles.scss' as t;

.eds-dropdown {
  &__wrapper {
    position: relative;
    width: 100%;
    min-width: 6rem;
    max-width: 100%;
  }

  &__input {
    flex: 1;
    width: 0; // this makes the input act as if it has 'fit-content'

    &--hidden {
      flex: 0;
    }

    &__wrapper {
      flex: 1 1 auto;
      display: flex;
    }
  }

  &__selected-item {
    cursor: pointer;
    flex: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: t.$line-heights-small;
    padding: 1.25rem t.$space-default t.$space-extra-small2;

    &:focus-visible {
      outline: none;
    }
  }

  &--searchable {
    &__selected-item {
      position: relative;
      flex: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: -(t.$space-medium);
      padding: 1.375rem 0rem 0.25rem 1rem;
      font-family: inherit;
      line-height: t.$line-heights-small;
      cursor: text;

      &--hidden {
        flex: 0;
      }
    }
    // overrides to input field styling
    .eds-input-group__label {
      top: 0;
    }
    &.eds-form-control-wrapper--is-filled .eds-input-group__label {
      top: 0.375rem;
    }
  }

  &--multiselect {
    &__selected-items-and-input {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      gap: 0.5rem;
      min-width: 0; // needed to avoid overflow in flex child
      cursor: text;

      &--filled {
        padding: 1.25rem 0rem 0.25rem 1rem;

        .eds-dropdown__input {
          padding: unset;
          min-height: 1.5rem;
        }

        .eds-tag-chip {
          &:focus {
            box-shadow: t.$shadows-focus;
          }
          &__close-button svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
    // overrides to input field styling
    .eds-input-group__label {
      top: 0;
    }
    &.eds-form-control-wrapper--is-filled .eds-input-group__label {
      top: 0.375rem;
    }
  }

  // overrides to input field styling
  &.eds-form-control-wrapper {
    align-items: start;

    &.eds-dropdown--not-filled .eds-input-group__label {
      font-size: t.$font-sizes-large;
      position: absolute;
      line-height: t.$font-sizes-large;
      padding: t.$space-default;
      padding-left: 0;
      margin-left: t.$space-default;
      top: 0;
      transition: top t.$timings-medium ease-in-out, font-size t.$timings-medium ease-in-out, padding t.$timings-medium ease-in-out,
        line-height ease-in-out t.$timings-medium;
    }

    .eds-form-control__prepend {
      top: 1rem;
    }

    .eds-form-control__append {
      top: 0.25rem;

      .eds-loading-dots {
        height: 2rem;
      }
    }
  }

  &--native {
    + .eds-form-control__append {
      margin-left: -2em;
      pointer-events: none;
    }

    // Override for Windows
    & option {
      color: var(--components-form-basemenu-text);
      background-color: var(--components-form-basemenu-fill-default);
      .eds-contrast & {
        color: var(--components-form-basemenu-text);
      }
    }
  }
}
