@import '~@entur/tokens/dist/styles.scss';

.eds-dropdown__toggle-button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  margin-right: -$space-small;
  padding: $space-extra-small;

  display: flex;
  justify-content: center;

  &--open svg {
    transform: rotate(180deg);
  }
  &:focus {
    outline-offset: $outline-offsets-focus;
    outline: $outlines-focus;
    .eds-contrast & {
      outline: $outlines-focus-contrast;
    }
  }
}
