@import '~@entur/tokens/dist/styles.scss';

.eds-multi-select {
  &__selected-items {
    display: flex;
    // height: 2.75rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    flex: 1 1 0%;
    padding: $space-extra-small2;
    &-tag.eds-tag-chip {
      margin-left: $space-extra-small2;
      white-space: nowrap;
      svg {
        .eds-contrast & {
          color: $colors-brand-blue;
        }
      }
      &:focus {
        outline-offset: $outline-offsets-focus;
      }
      .eds-contrast & {
        color: $colors-brand-blue;
        background: $colors-blues-blue80;
        border: $border-widths-small solid $colors-blues-blue70;
        .eds-tag-chip__close-button:hover {
          background: $colors-blues-blue60;
        }
      }
    }
  }
  &__input {
    flex: 1 1;
    min-height: 44px;
    display: flex;
    align-items: center;
  }
  &__placeholder {
    padding-left: $space-large;
    line-height: $line-heights-large;
    font-size: $font-sizes-large;
  }
}
