@import '~@entur/tokens/dist/styles.scss';

.eds-multi-select {
  position: relative;
  &__selected-items {
    display: flex;
    // height: 2.75rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    flex: 1 1 0%;
    padding: $space-extra-small2;
    &-tag.eds-tag-chip {
      margin-left: $space-extra-small2;
      white-space: nowrap;
      svg {
        .eds-contrast & {
          color: $colors-brand-blue;
        }
      }
      &:focus {
        outline-offset: $outline-offsets-focus;
      }
      .eds-contrast & {
        color: $colors-brand-blue;
        background: $colors-blues-blue80;
        border: $border-widths-small solid $colors-blues-blue70;
        .eds-tag-chip__close-button:hover {
          background: $colors-blues-blue60;
        }
      }
    }
  }
  &__input {
    flex: 1 1;
    min-height: 44px;
    display: flex;
    align-items: center;
  }
  &__placeholder {
    padding-left: $space-large;
    line-height: $line-heights-large;
    font-size: $font-sizes-large;
  }
  &__item {
    &-label {
    }
  }
}

.eds-checkbox-icon {
  height: $space-default;
  width: $space-default;
  visibility: hidden;
  &__path {
    transform-origin: 50% 50%;
    stroke-dasharray: 48; // This and offset is approximate to the "length" of the path
    stroke-dashoffset: 48;
    stroke-width: 0.375rem;
  }
}
.eds-multiselect {
  position: relative;
  &__button {
    text-overflow: ellipsis;
  }
}
.eds-multiselect-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-right: $space-default;
  height: 1.25rem;
  width: 1.25rem;
  border: $border-widths-default solid $colors-brand-blue;
  border-radius: $border-radiuses-default;
  background-color: transparent;
  color: $colors-brand-white;
}
.eds-multiselect-checkbox--checked {
  background-color: $colors-brand-blue;
  .eds-checkbox-icon {
    visibility: visible;
    &__path {
      stroke: $colors-brand-white;
      animation: stroke ease-in-out 0.2s 0.1s forwards;
    }
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
