@import '~@entur/tokens/dist/styles.scss';

.playground {
  &__header {
    display: flex;
    margin-top: 1rem;
  }
  &__live-preview-and-props-wrapper {
    display: flex;

    &:has(+ .ReactCollapse--collapse) .playground__live-preview-container {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0rem;
    }
  }
  &__live-preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    // prevents chrome from moving page around the component
    overflow-anchor: none;

    // this section adds a shadow indication when the content is scrollable
    --background-color: #{$colors-brand-white};
    --shadow-color: rgba(0, 0, 0, 0.25);
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
    background-image: linear-gradient(
        to right,
        var(--background-color),
        var(--background-color)
      ),
      linear-gradient(
        to right,
        var(--background-color),
        var(--background-color)
      ),
      linear-gradient(to right, var(--shadow-color), transparent),
      linear-gradient(to left, var(--shadow-color), transparent);
    background-color: var(--background-color);

    .eds-contrast > & {
      --background-color: #{$colors-brand-blue};
      --shadow-color: rgba(255, 255, 255, 0.75);
    }

    &-container {
      border: $border-widths-small solid $colors-greys-grey70;
      border-radius: $border-radiuses-medium;
      padding: 1rem;
      box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12);

      flex: 1;

      &:has(+ .playground__props-selector) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0rem;
      }

      &.eds-contrast {
        border: $border-widths-small solid $colors-brand-blue;
        border-bottom-color: $colors-blues-blue30;
      }

      &.eds-contrast {
        border: $border-widths-small solid $colors-brand-blue;
        border-bottom-color: $colors-blues-blue30;
      }
    }
  }
  &__props-selector {
    background-color: $colors-greys-grey70;
    border: $border-widths-small solid $colors-greys-grey70;
    border-radius: 0 $border-radiuses-medium $border-radiuses-medium 0;
    padding: 1rem;
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12);

    &__prop {
      margin-bottom: 0.5rem;
    }
  }
  &__contrast-switch {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
  }

  &__code-button {
    &.eds-square-button {
      z-index: 1;
      align-self: flex-end;
      position: relative;
      bottom: 0rem;
      margin-left: auto;
      margin-bottom: 0.5rem;
    }
  }

  &__control {
    appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;

    & + & {
      margin-left: 1em;
    }
  }

  $editor-background: #1e1e1e;
  &__editor {
    position: relative;
    border-radius: $border-radiuses-medium;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 2rem;
    overflow-x: auto;

    background-color: $editor-background;
    font-family: monospace;

    &:focus-within {
      box-shadow: $shadows-focus;
    }

    // section start
    // styling to make the scrollbar fit in with code theme
    --scrollbar-color: transparent;
    &:hover {
      --scrollbar-color: #{$colors-greys-grey70};
    }
    scrollbar-color: var(--scrollbar-color) $editor-background;
    &::-webkit-scrollbar {
      height: 0.8rem;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color);
      border-radius: 1rem;
      border: $editor-background solid 2px;
    }
    &::-webkit-scrollbar-track {
      background: $editor-background;
      border-radius: 0 0 $border-radiuses-medium $border-radiuses-medium;
    }
    // section end

    pre {
      counter-reset: token-line;
      // "!important" needed to overwrite inline styling
      padding-left: 0 !important;

      .token-line {
        white-space: pre;
        &::before {
          // line numbers formating
          counter-increment: token-line;
          content: counter(token-line);

          width: 2rem;
          display: inline-block;
          text-align: right;
          user-select: none;

          margin-right: 1rem;
        }
      }
    }
  }
}
