@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.content-margin {
  max-width: 1328px;
  padding: 0 1rem;
  @include for-desktop {
    margin: 0 auto;
  }
}

.front-page__top-image {
  @include for-desktop {
    width: 51%;
    display: block;
  }
  @include for-large-desktop {
    width: 66%;
  }
  position: absolute;
  top: 2rem;
  right: 0;
  display: none;
}
