@import '~@entur/tokens/dist/styles.scss';

.frontpage-header {
  border-bottom: $colors-greys-grey20 solid $border-widths-small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-background-color);
}
.frontpage-header__logo {
  width: 15rem;
  margin: $space-extra-large $space-medium;
}
.frontpage-header__navigation {
  display: flex;
  margin-right: 5rem;
  padding: $space-default;
}
