@import '~@entur/tokens/dist/styles.scss';

.frontpage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-background-color);
}
.frontpage-header__logo {
  width: 100%;
  padding: $space-extra-large2 $space-extra-large2 0 $space-extra-large2;
}
.frontpage-header__navigation {
  display: flex;
  margin-right: 5rem;
  padding: $space-default;
}
