@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.top-navigation {
  display: flex;
  background-color: var(--primary-background-color);
  overflow-x: scroll;
  width: 100%;
  padding: 1rem 1rem 0rem;

  @include for-desktop {
    background-color: var(--primary-background-color);
    overflow-x: initial;
    width: auto;
    padding: $space-default;
    margin-right: 5rem;
    justify-content: flex-end;
  }
}
