@import '~@entur/tokens/dist/styles.scss';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

.site-logo {
  display: block;
  margin: 2rem 1rem;
  width: 100%;
}

.site-navbar {
  display: flex;
  background-color: var(--primary-background-color);
  overflow-x: scroll;
  width: 100%;
  padding: 1rem 1rem 0rem;
  @include for-desktop {
    background-color: var(--primary-background-color);
    overflow-x: initial;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $z-indexes-sticky;
  }
}

.tab-link-container {
  flex: 1 0 auto;
  background: $colors-brand-white;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
