@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.top-navigation {
  display: flex;
  background-color: $colors-greys-grey40;
  overflow-x: scroll;
  width: 100%;
  padding: 1rem 1rem 0rem;
  transition: margin-left $timings-fast ease-out;

  @include for-desktop {
    overflow-x: initial;
    width: auto;
    padding: $space-large 0 $space-large 11rem;
    margin-left: 9rem;
    justify-content: flex-start;
  }
  @include for-large-desktop {
    margin-left: 18rem;
  }
}
