@import '~@entur/tokens/dist/styles.scss';

.mobile-nav-bar {
  position: absolute;
  width: 100%;
  background: $colors-brand-blue;
  transition: position $timings-medium ease-in-out 0.2s;
  &--not-frontpage {
    background: white;
  }
  &--open-sidemenu {
    position: fixed;
  }
  &__menu {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    &--menu-button {
      appearance: none;
      background-color: inherit;
      border: none;
      color: inherit;
      cursor: pointer;
      font-size: $font-sizes-extra-large2;
      padding: $space-extra-small $space-large;
      transform: scale(1);
      transition: transform $timings-medium ease-in-out;
      &-open {
        //Slide til venstre og opacity
        transform: scale(0);
      }
      &.eds-floating-button {
        position: absolute;
        top: 87vh;
        left: 2rem;
      }
      &:focus {
        outline: $outlines-focus;
      }
    }
    &--settings {
      color: inherit;
      padding: $space-extra-small;
      font-size: $font-sizes-extra-large2;
      flex-grow: 1;
      &:focus {
        outline: $outlines-focus;
      }
    }
  }
  &__links {
    border-bottom: $border-widths-small solid $colors-greys-grey70;
    display: flex;
    overflow-x: auto;
    .eds-contrast & {
      border-bottom: $border-widths-small solid $colors-blues-blue20;
    }
  }
}
.mobile-nav-item {
  padding: $space-medium $space-large;
  word-break: keep-all;
  display: flex;
  color: inherit;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  &--active {
    &:after {
      border-bottom: $border-widths-medium solid $colors-brand-coral;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }
}

.sidebar-mobile {
  position: absolute;
  top: 0;
  transition: left $timings-slow ease-in-out;
  z-index: $z-indexes-popover;
  height: 100%;
  width: 80%;
}
