@use '~@entur/tokens/dist/styles.scss' as tokens;
@use '~@entur/utils/dist/breakpoints.scss' as *;

.stats {
  &-wrapper {
    display: grid;
    grid-gap: tokens.$space-extra-large;
    grid-template-columns: 1fr;
    @include for-large-desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &-box {
    align-items: center;
    padding: tokens.$space-extra-large4 tokens.$space-extra-large2;
    display: flex;
    flex-direction: column;
    &__number {
      text-align: center;
      font-size: tokens.$font-sizes-extra-large4;
      line-height: tokens.$line-heights-extra-large6;
      font-weight: tokens.$font-weights-heading;
    }
    &__image {
      height: 13rem;
      width: 13rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
