@use '@entur/tokens/dist/styles.scss' as t;

.eds-date-and-time-field {
  &__segment {
    margin-top: t.$space-medium;
    padding: 0 2px;
    font-variant-numeric: tabular-nums;
    text-align: end;

    &--placeholder {
      color: var(--components-datepicker-datefield-standard-text-content);
    }

    &--dot-separator {
      margin-left: -0.1rem;
      margin-right: -0.2rem;
    }
    &:focus {
      background-color: var(--components-button-iconbutton-standard-active);
      outline: transparent;
      border-radius: t.$border-radiuses-default;
    }
  }
}
