:root {
  // Primary colors
  --primary-blue: '#181c56';
  --primary-lavender: '#aeb7e2';
  --primary-white: '#ffffff';
  --primary-coral: '#ff5959';
  --primary-peach: '#ffbf9e';

  // Secondary colors
  --secondary-blue-10: '#292b6a';
  --secondary-blue-20: '#393d79';
  --secondary-blue-30: '#54568c';
  --secondary-blue-40: '#656782';
  --secondary-blue-50: '#8285a8';
  --secondary-blue-60: '#babbcf';
  --secondary-blue-70: '#d1d4e3';
  --secondary-blue-80: '#ebebf1';

  // Tertiary colors
  --tertiary-grey: '#565659';
  --tertiary-grey-10: '#d1d3d3';
  --tertiary-grey-20: '#e9e9e9';
  --tertiary-grey-30: '#f3f3f3';
  --tertiary-grey-40: '#f8f8f8';

  // Validation colors
  --validation-lava: '#d31b1b';
  --validation-lava-tint: '#ffcece';
  --validation-dark-mint: '#1a8e60';
  --validation-mint: '#5ac39a';
  --validation-light-mint: '#d0f1e3';
  --validation-canary: '#efd358';

  // Miscellaneous colors
  --black: '#1a1a1a';
  --focus: '#44c0ff';

  // Transport colors, default theme
  --transport-default-metro: '#de8108';
  --transport-default-bus: '#dd5415';
  --transport-default-plane: '#800664';
  --transport-default-helicopter: '#800664';
  --transport-default-tram: '#78469a';
  --transport-default-funiclar: '#642e88';
  --transport-default-cableway: '#642e88';
  --transport-default-taxi: '#181c56';
  --transport-default-bicycle: '#181c56';
  --transport-default-walk: '#181c56';
  --transport-default-train: '#00367f';
  --transport-default-ferry: '#0497bc';
  --transport-default-carferry: '#0497bc';
  --transport-default-mobility: '#388f76';

  // Transport colors, midnight theme
  --transport-midnight-metro: '#f08901';
  --transport-midnight-bus: '#ff5974';
  --transport-midnight-plane: '#e258c3';
  --transport-midnight-helicopter: '#e258c3';
  --transport-midnight-tram: '#a476e5';
  --transport-midnight-funiclar: '#a476e5';
  --transport-midnight-cableway: '#a476e5';
  --transport-midnight-taxi: '#ffffff';
  --transport-midnight-bicycle: '#ffffff';
  --transport-midnight-walk: '#ffffff';
  --transport-midnight-train: '#42a5f5';
  --transport-midnight-ferry: '#6fdfff';
  --transport-midnight-carferry: '#6fdfff';
  --transport-midnight-mobility: '#00db9b';
}
