@use '~@entur/tokens/dist/styles.scss' as t;

.eds-expandable-panel {
  width: 100%;
  position: relative;
  & + & {
    margin-top: t.$border-widths-default;
  }
  &:focus,
  &:focus-within {
    z-index: 2;
  }
}

.eds-expandable-panel__grid {
  display: grid;
  grid-template-columns: auto 2rem;
}

.eds-expandable-panel__trigger {
  appearance: none;
  background: t.$colors-greys-grey70;
  border: none;
  border-radius: t.$border-radiuses-medium;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: t.$space-medium t.$space-large t.$space-medium t.$space-large;
  text-align: left;
  user-select: none;
  width: 100%;
  word-break: break-word;

  .eds-contrast & {
    background: t.$colors-blues-blue20;
    border-color: t.$colors-brand-blue;
  }

  &:hover {
    background: t.$colors-greys-grey80;
    .eds-contrast & {
      background: t.$colors-blues-blue30;
    }
  }
  &:focus {
    outline: none;
    box-shadow: t.$shadows-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }
}

.eds-expandable-panel__icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.eds-expandable-panel__content {
  overflow: auto;
  padding: t.$space-default t.$space-default t.$space-default t.$space-large;
}

// Used to override react-collapse's default transition
.ReactCollapse--collapse {
  transition: height t.$timings-slow ease-out;
}
