@import '~@entur/tokens/dist/styles.scss';

.eds-expandable-panel {
  & + & {
    margin-top: $border-widths-default;
  }
}

.eds-expandable-panel__trigger {
  align-items: center;
  appearance: none;
  background: $colors-greys-grey20;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  justify-content: space-between;
  margin: 0;
  padding: 0 $space-large 0 $space-extra-large;
  text-align: left;
  user-select: none;
  width: 100%;
  word-break: break-word;

  .eds-contrast & {
    background: $colors-blues-blue20;
    border-color: $colors-brand-blue;
  }

  &:hover {
    background: $colors-greys-grey30;
    .eds-contrast & {
      background: $colors-blues-blue30;
    }
  }
}

.eds-expandable-panel__arrow {
  transition: ($timings-fast + $timings-fast) transform ease-out;
  &--open {
    transform: rotate(-180deg);
  }
}

.eds-expandable-panel__content {
  overflow: auto;
  padding: $space-default $space-default $space-default $space-extra-large;
}

// Used to override react-collapse's default transition
.ReactCollapse--collapse {
  transition: height $timings-slow ease-out;
}
