@use '~@entur/tokens/dist/styles.scss' as t;

.eds-expandable-panel {
  width: 100%;
  position: relative;
  & + & {
    margin-top: t.$border-widths-default;
  }
  &:focus,
  &:focus-within {
    z-index: 2;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto 2rem;
  }

  &__trigger {
    appearance: none;
    background: var(--components-expand-expandablepanel-standard-fill-default);
    border: none;
    border-radius: t.$border-radiuses-medium;
    color: var(--components-expand-expandablepanel-standard-text);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: t.$space-medium t.$space-large t.$space-medium t.$space-large;
    text-align: left;
    user-select: none;
    width: 100%;
    word-break: break-word;

    .eds-contrast & {
      background: var(--components-expand-expandablepanel-contrast-fill-default);
      color: var(--components-expand-expandablepanel-contrast-text);
    }

    &:hover {
      background: var(--components-expand-expandablepanel-standard-fill-hover);
      .eds-contrast & {
        background: var(--components-expand-expandablepanel-contrast-fill-hover);
      }
    }
    &:focus {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      .eds-contrast & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }
  }
  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__content {
    overflow: auto;
    padding: t.$space-default t.$space-default t.$space-default t.$space-large;
  }

  // Used to override react-collapse's default transition
  .ReactCollapse--collapse {
    transition: height t.$timings-slow ease-out;
  }
  &--disable-animation {
    .ReactCollapse--collapse {
      transition: none;
    }
  }
}
