@use '@entur/tokens/dist/styles.scss' as t;

.eds-base-expand {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows t.$timings-medium ease-out;

  &--open {
    grid-template-rows: 1fr;
  }

  &__inner {
    overflow: hidden;
    min-height: 0;
  }
}
