@use '~@entur/tokens/dist/styles.scss' as t;

.eds-expandable-arrow {
  transition: (t.$timings-fast + t.$timings-fast) transform ease-out;
  &--open {
    transform: rotate(-180deg);
  }
}

.eds-expandable-text,
.eds-expandable-panel {
  &--disable-animation .eds-expandable-arrow {
    transition: none;
  }
}
