@import '~@entur/tokens/dist/styles.scss';

.entur-expandable-link {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  padding: $space-small;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background: inherit;
  font-size: inherit;
  &:hover {
    text-decoration: underline;
  }
  &-content {
    width: 100%;
  }
  &__chevron {
    transition: ($timings-fast + $timings-fast) transform ease-out;
    margin-right: 1em;
    &--open {
      transform: rotate(-180deg);
    }
  }
}
