@import '~@entur/tokens/dist/styles.scss';

.eds-expandable-text__trigger {
  appearance: none;
  margin: 0;
  border: none;
  padding: $space-small;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background: inherit;
  font-size: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.eds-expandable-text__content {
  width: 100%;
  padding-left: $space-small;
}

.eds-expandable-text__arrow {
  transition: ($timings-fast + $timings-fast) transform ease-out;
  margin-right: 1em;
  &--open {
    transform: rotate(-180deg);
  }
}
