@use '@entur/tokens/dist/styles.scss' as t;

.eds-expandable-text__trigger {
  appearance: none;
  margin: 0;
  border: none;
  padding: t.$space-extra-small 0;
  cursor: pointer;
  font-family: inherit;
  color: var(--components-expand-expandabletext-standard-text);
  background: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;

  .eds-contrast & {
    color: var(--components-expand-expandabletext-contrast-text);
  }

  > :is(h5, h4, h3, h2, p) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:focus {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;

    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }
}
