@import '~@entur/tokens/dist/styles.scss';

.eds-expandable-text__trigger {
  appearance: none;
  margin: 0;
  border: none;
  padding: $space-extra-small 0;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background: inherit;
  font-size: inherit;

  &:focus {
    outline-offset: $outline-offsets-focus;
    outline: $outlines-focus;
    .eds-contrast & {
      outline: $outlines-focus-contrast;
    }
  }
}

.eds-expandable-text__content {
  width: 100%;
  padding-left: $space-small;
}

.eds-expandable-text__arrow {
  margin-left: $space-extra-small;
}
