@import '~@entur/tokens/dist/styles.scss';

.eds-expandable-panel {
  appearance: none;
  margin: 0;
  padding: 0 $space-large 0 $space-extra-large;
  border: none;
  border-radius: 0;
  width: 100%;
  font-size: inherit;
  background: $colors-greys-grey20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: inherit;
  height: ($space-extra-large4 + $space-extra-small2);
  border-bottom: $border-widths-default solid $colors-brand-white;

  .eds-contrast & {
    background: $colors-blues-blue20;
    border-color: $colors-brand-blue;
  }

  &:hover {
    background: $colors-greys-grey30;
    .eds-contrast & {
      background: $colors-blues-blue30;
    }
  }

  &__title {
    user-select: none;
  }
  &__chevron {
    transition: ($timings-fast + $timings-fast) transform ease-out;
    &--open {
      transform: rotate(-180deg);
    }
  }
}
.eds-expandable-content {
  padding: $space-default;
}
.ReactCollapse--collapse {
  transition: height $timings-slow ease-out;
}
