@import '~@entur/tokens/dist/styles.scss';

.best-practices {
  display: flex;
  margin-bottom: $space-extra-large3;
}

.best-practices__example {
  flex: 1;
  margin: 0 2em 0 0;
}

.best-practices__image {
  display: block;
  width: calc(100% - #{$space-extra-large3} * 2);
  margin: 1em auto 0;
}

.best-practices__heading {
  background-color: transparent;
  outline: $border-widths-medium solid $colors-greys-grey80;
  font-weight: $font-weights-heading;
  padding: $space-large;
  border-bottom: $border-widths-large solid currentColor;
  &--do {
    color: $colors-validation-mint;
  }

  &--dont {
    color: $colors-validation-lava;
  }

  > span {
    color: var(--primary-text-color);
  }

  > .eds-icon {
    margin-right: $space-extra-small;
  }
}

.best-practices__content {
  margin-top: $space-extra-small;
  ul {
    padding-left: 1em;
  }
}
