@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;

.contrast-checker {
  &__container {
    margin-top: t.$space-extra-large;
  }
  &__calculator {
    display: grid;
    grid-template-columns: 1fr;
    @include breakpoint.for-large-desktop {
      grid-template-columns: 3fr 1fr;
    }
    grid-gap: t.$space-large;
    margin-bottom: t.$space-extra-large4;
  }
  &__ratio {
    border-width: t.$border-widths-medium;
    border-style: solid;
    padding: t.$space-extra-large2;
    &-header {
      font-size: t.$font-sizes-extra-large2;
      text-align: center;
    }
    &-ratio {
      font-weight: t.$font-weights-heading;
      font-size: t.$font-sizes-extra-large5;
      line-height: t.$line-heights-extra-large7;
      text-align: center;
    }
  }
}

.color-picker__switch-button {
  align-self: start;
}

.color-pickers-container {
  display: grid;
  grid-gap: t.$space-medium;
  grid-template-columns: auto 2.75rem auto;
}

.color-picker-wrapper {
  display: flex;
  flex-direction: column;
}

.contrast-preview {
  &__container {
    display: grid;
    grid-gap: t.$space-medium;
    grid-template-columns: 3fr 1fr;
    margin-top: t.$space-large;
  }
  &__small-text {
    padding: t.$space-large;
  }
  &__large-text {
    font-size: t.$font-sizes-extra-large2;
    font-weight: t.$font-weights-heading;
    padding: t.$space-large;
  }
  &__graphics-object {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.125rem;
    font-size: 3.75rem;
  }
}

.color-values {
  &__wrapper {
    display: flex;
  }
  &__names {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: t.$space-extra-small;
    border-right: var(--basecolor-stroke-disabled) 1px solid; // TODO switch with neutral when available
    font-size: t.$font-sizes-medium;
    margin-top: t.$space-large;
    line-height: t.$line-heights-medium;
    padding-right: t.$space-medium;
    margin-right: t.$space-medium;
    color: t.$colors-blues-blue40;
    align-items: center;
  }
  &__values {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: t.$space-extra-small;
    margin-top: t.$space-large;
  }
}
