@import '~@entur/tokens/dist/styles.scss';

.icon-list {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;

  &.eds-contrast {
    box-shadow: 0 0 0 1rem var(--primary-background-color);
  }
}

.icon-list__item {
  border: $border-widths-small solid $colors-greys-grey70;
  border-radius: $border-radiuses-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 7.5rem;
  text-align: center;
  &.eds-contrast {
    border-color: $colors-blues-blue50;
  }
  &:hover,
  &:focus-within {
    .icon-list__item-buttons {
      opacity: 1;
    }
  }
  &-name {
    background: none;
    border: none;
    cursor: pointer;
    margin: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    padding: $space-small;
    font-family: inherit;
    .eds-icon {
      margin-left: 0.25rem;
      opacity: 0;
      transition-delay: $timings-medium;
      transition: opacity 10 ease-in-out;
    }
    .eds-label {
      cursor: pointer;
    }
    &:hover,
    &:focus {
      .eds-icon {
        opacity: 1;
      }
    }
    &:focus {
      outline: none;
      box-shadow: $shadows-focus;
      outline-offset: $outline-offsets-focus;
    }
  }
  &-buttons {
    align-self: flex-end;
    opacity: 0;
    padding-right: $space-extra-small;
  }

  .eds-contrast & {
    border-color: $colors-blues-blue40;
  }
}

.icon-list__name {
  margin-top: $space-extra-small;
  word-break: break-all;
  hyphens: auto;
}
