@use '~@entur/tokens/dist/styles.scss' as tokens;

.icon-list {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;

  &.eds-contrast {
    box-shadow: 0 0 0 1rem var(--primary-background-color);
  }

  &__item {
    border: tokens.$border-widths-small solid var(--designentur-basecard-default-fill);
    border-radius: tokens.$border-radiuses-medium;
    background-color: var(--designentur-basecard-default-fill);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 7.5rem;
    text-align: center;
    overflow-x: hidden;

    &.eds-contrast {
      border-color: tokens.$colors-blues-blue50;
    }
    &:hover,
    &:focus-within {
      .eds-icon,
      .icon-list__item__download-button {
        opacity: 1;
      }
    }
    &-name {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      align-self: flex-start;
      padding: tokens.$space-small;
      font-family: inherit;
      width: 100%;

      cursor: pointer;

      > span {
        height: 1.25rem;
        padding-left: tokens.$space-extra-small2;
        margin-left: calc(-1 * tokens.$space-extra-small2);

        overflow-x: hidden;
        text-overflow: ellipsis;
        border-radius: tokens.$border-radiuses-default 0 0 tokens.$border-radiuses-default;
      }
      > .eds-icon {
        min-height: tokens.$font-sizes-extra-large;
        min-width: tokens.$font-sizes-extra-large;
        padding-left: tokens.$space-extra-small2;
        padding-right: tokens.$space-extra-small2;
        padding-block: tokens.$space-extra-small2;

        border-radius: 0 tokens.$border-radiuses-default tokens.$border-radiuses-default 0;
        opacity: 0;
      }

      &:hover,
      &:focus {
        .eds-icon {
          background-color: var(--components-button-iconbutton-contrast-hover);
          opacity: 1;
        }
        span {
          background-color: var(--components-button-iconbutton-contrast-hover);
        }
      }
      &:focus-visible {
        outline: tokens.$outlines-focus;
        outline-offset: (-3 * tokens.$outline-offsets-focus);
        outline-color: var(--basecolors-stroke-focus-standard);

        .eds-contrast & {
          outline: tokens.$outlines-focus-contrast;
          outline-color: var(--basecolors-stroke-focus-contrast);
        }
      }
    }
    &__download-button {
      align-self: flex-end;
      opacity: 0;
      position: relative;
      bottom: tokens.$space-extra-small;
      padding-right: tokens.$space-extra-small;
      margin-right: tokens.$space-extra-small;
    }

    .eds-contrast & {
      border-color: tokens.$colors-blues-blue40;
    }
  }

  &__name {
    margin-top: tokens.$space-extra-small;
    word-break: break-all;
    hyphens: auto;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: tokens.$space-extra-large;
  }

  &__no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 tokens.$space-extra-large3;
    width: 100%;
    font-size: tokens.$font-sizes-large;

    margin-bottom: tokens.$space-extra-large5;

    &__reset-filter {
      margin-bottom: tokens.$space-extra-large;
    }
  }
}
