@use '~@entur/tokens/dist/semantic.scss' as *;
@import '~@entur/tokens/dist/styles.scss';

.border-wrapper {
  border: $border-widths-small solid var(--basecolors-stroke-subduedalt);
  border-radius: $border-widths-large;
  display: grid;
  gap: $space-default;
}

.image-display {
  width: 100%;
  position: relative;
  background: $fill-background-standard-light;

  &__image {
    width: 100%;
    & > img {
      width: 100%;
    }
  }
  &:hover {
    .eds-icon {
      opacity: 1;

      &-button {
        background-color: var(--basecolors-frame-tint);
        &:hover {
          background-color: var(--basecolors-frame-subdued);
        }
      }
    }
  }
  &__download {
    position: absolute;
    bottom: $space-small;
    right: $space-small;

    &:focus {
      .eds-icon {
        opacity: 1;
      }
    }

    .eds-icon {
      opacity: 0;
    }
  }
}
