@use '~@entur/tokens/dist/semantic.scss' as *;
@use '~@entur/tokens/dist/styles.scss' as t;

.border-wrapper {
  border: t.$border-widths-small solid var(--basecolors-stroke-subduedalt);
  border-radius: t.$border-widths-large;
  display: grid;
  gap: t.$space-default;
}

.image-display {
  height: 100%;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    .eds-icon {
      opacity: 1;

      &-button {
        background-color: var(--basecolors-frame-tint);
        &:hover {
          background-color: var(--basecolors-frame-subdued);
        }
      }
    }
  }
  &__download {
    &-container {
      position: absolute;
      bottom: t.$space-small;
      right: t.$space-small;

      display: flex;
      gap: t.$space-default;

      .eds-overflow-menu__menu-list {
        width: 10.5rem;
      }

      &:focus {
        .eds-icon {
          opacity: 1;
        }
      }

      .eds-icon {
        opacity: 0;
      }
    }
  }
}
