@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/tokens/dist/semantic.scss';
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;

.settings-panel {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 1rem;
  @include breakpoint.for-desktop {
    flex-grow: unset;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-right: 2.5rem;
  }
  &__icon {
    font-size: t.$font-sizes-extra-large2;
    margin-right: t.$space-extra-small2;
  }
  &__tooltip {
    // Pulse animation code start //
    animation: pulse 2s infinite;

    .eds-contrast &,
    [data-color-mode='dark'] & {
      animation: pulse-contrast 2s infinite;
    }
    // Pulse animation code end //
  }
  &__modal {
    &__analytics {
      margin-top: t.$space-extra-large;

      &--pulse {
        // Pulse animation code start //
        border-radius: 5px;
        padding: 0 t.$space-extra-small;
        animation: pulse 2s infinite;

        [data-color-mode='dark'] & {
          animation: pulse-contrast 2s infinite;
        }
        // Pulse animation code end //
      }

      & &__choice-status-label {
        display: block;
        margin-top: t.$space-extra-large;
        margin-bottom: t.$space-extra-small;
      }
      &__choice {
        margin-top: t.$space-default;
      }
      &__status {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .eds-paragraph {
          margin-top: t.$space-none;
          margin-bottom: t.$space-default;
          margin-bottom: t.$space-none;
        }

        &__tag {
          display: flex;
          gap: t.$space-default;
          align-items: center;

          * {
            height: fit-content;
          }
        }

        &__edit-consent {
          margin-top: t.$space-small;
        }
      }
      &__id {
        display: flex;
        width: 100%;
        margin-top: t.$space-extra-large;

        div {
          width: 100%;
          margin-left: -0.5rem;
        }
      }
    }
    &__save-button {
      margin-top: t.$space-extra-large;
    }
  }
  &__container {
    display: none;
    @include breakpoint.for-large-desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .settings-trigger {
    margin-left: t.$space-large;

    &__icon {
      margin-right: t.$space-extra-small;
    }
  }
}

@keyframes pulse-contrast {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(24, 28, 86, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(24, 28, 86, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(24, 28, 86, 0);
  }
}
