@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.settings-panel {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 1rem;
  @include for-desktop {
    flex-grow: unset;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-right: 2.5rem;
  }
  &__icon {
    font-size: $font-sizes-extra-large2;
    margin-right: $space-extra-small2;
  }
  &__modal.eds-modal__content {
    overflow: visible;
  }
  &__container {
    display: none;
    @include for-large-desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .settings-trigger {
    margin-left: $space-large;
  }
}
