@use '~@entur/tokens/dist/styles.scss' as t;

.typography-display {
  display: grid;
  grid-template-columns: 4fr 2fr;

  padding: t.$space-extra-large3;
  border: var(--designentur-typographycard-border) t.$border-widths-default solid;
  border-radius: t.$border-radiuses-large;

  &-header {
    font-weight: bold;
    margin: t.$space-extra-large 0 t.$space-default;
  }

  &__visualiser {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: t.$space-extra-large2;
  }
  &__information {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: t.$space-extra-large2;
    &__text {
      font-size: t.$font-sizes-small;
      padding-left: t.$space-large;
      border-left: var(--designentur-typographycard-border) t.$border-widths-default solid;
    }
  }
}

.typography-alphabet {
  &-wrapper {
    display: flex;
    align-items: center;
    padding-right: t.$space-extra-large2;
  }
  &-text {
    display: flex;
    flex-direction: column;
    font-size: t.$font-sizes-medium;
  }
  &--large {
    font-size: 3.5rem;
    padding-right: t.$space-extra-large;
  }
}
