$navbar-height: 7rem;
$site-sidebar-width--desktop: 18rem;
$site-sidebar-width--large-desktop: 22rem;
$site-content-max-width: 45rem;
$site-content-left-margin: 8%;
$show-toc-min-width: 94rem;
$toc-left-position-relative-to-site-content: 7rem;
$toc-left-position: #{'Calc(#{$site-sidebar-width--large-desktop} 
                            + #{$site-content-left-margin} 
                            + #{$site-content-max-width} 
                            + #{$toc-left-position-relative-to-site-content})'};
