@use "@entur/tokens/dist/styles.scss" as eds;

.text-blocks {
  &:not(:first-child) {
    margin-top: eds.$space-extra-large5;
  }

  :is(h2, h3, h4, h5):first-child {
    margin-top: 0;
  }

  // Some element apply auto margin-bottom which causes unwanted whitespace in the card. This removes it.
  .designentur-base-card__children > :last-child {
    margin-bottom: eds.$space-none;
  }

  &.eds-contrast {
    background-color: unset;
    .designentur-base-card__content {
      background-color: var(--primary-background-color);
    }
  }
}
