@use '~@entur/tokens/dist/semantic.scss' as *;
@import '~@entur/tokens/dist/styles.scss';

.ds-en-tur-overlay .best-practices__heading {
  background: none;
  position: relative;
  min-height: 15.5rem;
  border-color: $colors-validation-lava;
  img {
    height: 100%;
    width: 100%;
  }
  > span {
    color: $text-light;
  }
  .eds-icon {
    color: $colors-validation-lava-contrast;
    fill: $colors-validation-lava-contrast;
  }
}
