@import '~@entur/tokens/dist/styles.scss';

.eds-contrast {
  &__practice {
    border: $border-widths-medium solid $colors-greys-grey80;
    padding: $space-extra-large $space-large;
    position: relative;
    &::after {
      bottom: 0;
      display: block;
      content: '';
      height: $border-widths-large;
      width: 100%;
      left: 0;
      background: $colors-validation-lava;
      position: absolute;
    }
    &--do::after {
      background: $colors-validation-mint;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    margin-top: $space-medium;
    margin-bottom: $space-extra-small2;
    &-text {
      font-weight: $font-weights-heading;
      margin-left: $space-small;
    }
  }
}
