@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.designprinsipper {
  &-top-grid {
    display: grid;
    grid-gap: $space-large;
    grid-template-rows: 1fr;
    @include for-desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &-three-grid {
    @include for-desktop {
      grid-row-start: 1;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &-wide-grid {
    @include for-desktop {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    padding: 0 $space-large 0;
  }
  &-grey-box {
    background-color: $colors-greys-grey30;
    padding: $space-extra-large $space-extra-large2;
  }
}
.lofter {
  padding: 1rem 2rem 0 0rem;
  display: block;
  .eds-h3 {
    margin-bottom: 1.25rem;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      display: block;
      background: $colors-brand-coral;
      height: 4px;
      width: 32px;
    }
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $space-large;
  }
}
