@use '@entur/tokens/dist/styles.scss' as t;
@use '@entur/utils/dist/color-utils.scss' as util;

.eds-input-panel {
  &:focus-within {
    .eds-input-panel__container {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;
    }
    .eds-contrast & {
      .eds-input-panel__container {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }
  }

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      + .eds-input-panel__container {
        border-color: var(--components-form-basepanel-standard-border-selected);
        background: var(--components-form-basepanel-standard-fill-selected);

        .eds-contrast & {
          border-color: var(--components-form-basepanel-contrast-border-selected);
          background: var(--components-form-basepanel-contrast-fill-selected);
        }

        .eds-form-component--radio__circle {
          width: 0.75rem;
          height: 0.75rem;

          .eds-contrast & {
            background-color: var(--components-form-radio-contrast-icon);
          }
        }

        &:hover {
          background-color: var(--components-form-basepanel-standard-fill-hover);

          .eds-contrast & {
            background-color: var(--components-form-basepanel-contrast-fill-hover);
          }

          /* The following styling is needed to sync the inner checkbox/radiobutton's
               hover state styling with the inputPanel container */
          .eds-form-component--radio__radio {
            background-color: var(--components-form-basepanel-standard-fill-hover);
            border-color: var(--components-form-basepanel-standard-border-selected);

            .eds-contrast & {
              background-color: var(--components-form-basepanel-contrast-fill-hover);
              border-color: var(--components-form-basepanel-contrast-border-selected);
            }
          }

          .eds-checkbox__icon {
            border-color: transparent;

            .eds-contrast & {
              background-color: var(--components-form-checkbox-contrast-fill-selectedhover);
            }
          }
        }
      }
    }
  }

  &__container {
    background: var(--components-form-basepanel-standard-fill-default);
    border: t.$border-widths-medium solid var(--components-form-basepanel-standard-border-default);
    color: var(--components-form-basepanel-standard-text-accent);
    border-radius: t.$border-radiuses-medium;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 20rem;
    position: relative;
    padding: t.$space-medium;
    user-select: none;
    width: fit-content;
    transition: background ease-in-out t.$timings-fast, border-color ease-in-out t.$timings-fast;

    .eds-contrast & {
      background-color: var(--components-form-basepanel-contrast-fill-default);
      border-color: var(--components-form-basepanel-contrast-border-default);
      color: var(--components-form-basepanel-contrast-text-accent);
    }

    &:hover {
      background-color: var(--components-form-basepanel-standard-fill-hover);

      .eds-contrast & {
        background-color: var(--components-form-basepanel-contrast-fill-hover);
      }

      /* The following styling is needed to sync the inner checkbox/radiobutton's
      hover state styling with the inputPanel container */
      .eds-checkbox__icon,
      .eds-form-component--radio__radio {
        background-color: var(--components-form-basepanel-standard-fill-hover);
        border-color: var(--components-form-basepanel-standard-border-selected);

        .eds-contrast & {
          background-color: var(--components-form-basepanel-contrast-fill-hover);
          border-color: var(--components-form-basepanel-contrast-border-selected);
        }
      }
    }

    input:disabled + & {
      background: var(--components-form-basepanel-standard-fill-disabled);
      border-color: var(--components-form-basepanel-standard-border-disabled);
      color: var(--components-form-basepanel-standard-text-disabled);
      cursor: not-allowed;

      .eds-contrast & {
        background: var(--components-form-basepanel-contrast-fill-disabled);
        border-style: dashed;
        border-color: var(--components-form-basepanel-contrast-border-disabled);
        color: var(--components-form-basepanel-contrast-text-disabled);
      }
    }

    .eds-checkbox__icon,
    .eds-checkbox__icon .eds-checkbox__icon,
    .eds-form-component--radio__radio {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0;
    }
  }

  &--medium {
    .eds-input-panel__title {
      font-size: t.$font-sizes-large;
      font-weight: t.$font-weights-body;
    }
    &.eds-input-panel__container {
      padding-bottom: t.$space-medium;
      min-height: 3.75rem;
    }
  }

  &--large {
    &.eds-input-panel__container {
      min-height: 6rem;
    }
    .eds-input-panel__title {
      font-size: t.$font-sizes-extra-large;
      font-weight: t.$font-weights-body;
      line-height: t.$line-heights-extra-large3;
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__secondary-label-and-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    .eds-checkbox__container {
      margin: 0;
    }
  }

  &__additional-content {
    margin-top: t.$space-extra-small2;
    word-wrap: break-word;
  }
}
