@use '~@entur/tokens/dist/styles.scss' as t;

.eds-segmented-control {
  margin-top: t.$space-extra-small2;
  display: flex;
  background: t.$colors-blues-blue70;
  border-radius: t.$border-radiuses-large;
  .eds-contrast & {
    background: t.$colors-blues-blue20;
  }
}
