@use '@entur/tokens/dist/styles.scss' as t;

.eds-segmented-control {
  margin-top: t.$space-extra-small2;
  display: flex;
  background: var(--components-form-segmentedcontrol-standard-background);
  border-radius: t.$border-radiuses-large;
  .eds-contrast & {
    background: var(--components-form-segmentedcontrol-contrast-background);
  }
}
