@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/color-utils.scss';

.eds-segmented-choice {
  display: block;
  flex: 1 1 0px;
  .eds-base-segmented {
    --background-color: transparent;
    background-color: var(--background-color);
    border-radius: $border-radiuses-medium;
    margin: $space-extra-small2;
    color: inherit;
    cursor: pointer;
    font-size: $font-sizes-large;
    line-height: $line-heights-medium;
    padding: $space-extra-small2 $space-small;
    text-align: center;
    user-select: none;
    .eds-contrast & {
      border-color: $colors-blues-blue20;
    }
    &--large {
      line-height: $line-heights-medium;
      padding: $space-small;
    }
  }
  &:hover input:not(:checked) + .eds-base-segmented {
    --background-color: #{$colors-blues-blue80};
    .eds-contrast & {
      --background-color: #{$colors-blues-blue30};
    }
  }

  input {
    appearance: none;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + .eds-base-segmented {
      --background-color: #{$colors-brand-white};
      box-shadow: $shadows-card-shadow;
      .eds-contrast & {
        box-shadow: $shadows-card-shadow-contrast;
        color: $colors-brand-blue;
        --background-color: #{$colors-brand-white};
      }
    }

    &:focus + .eds-base-segmented {
      box-shadow: $shadows-focus;
      .eds-contrast & {
        box-shadow: $shadows-focus-contrast;
      }
    }
  }
  &:hover input:checked + .eds-base-segmented {
    --background-color: #{$colors-blues-blue80};
    .eds-contrast & {
      --background-color: #{$colors-blues-blue70};
    }
  }
}
