@use '~@entur/tokens/dist/styles.scss' as t;

/// Create inset focus
/// @access public
/// @param {Color} $color-focus - focus color
/// @param {Color} $color-bg - background color
/// @return {Box-shadow}
@function inset-focus($color-focus, $color-bg) {
  @return inset 0 0 0 t.$border-widths-small $color-bg,
    inset 0 0 0 calc(#{t.$border-widths-medium} + #{t.$border-widths-small})
      $color-focus;
}

.eds-segmented-choice {
  display: block;
  flex: 1 1 0px;
  .eds-base-segmented {
    --background-color: transparent;

    background-color: var(--background-color);
    border-radius: t.$border-widths-large;
    color: inherit;
    cursor: pointer;
    font-size: t.$font-sizes-medium;
    height: t.$space-large;
    line-height: t.$line-heights-medium;
    margin: t.$space-extra-small2;
    outline-color: transparent;
    padding: calc(#{t.$space-extra-small2}/ 2) t.$space-small;
    text-align: center;
    user-select: none;

    &--large {
      font-size: t.$font-sizes-large;
      height: t.$space-extra-large2;
      line-height: t.$line-heights-extra-large;
      padding: t.$space-extra-small t.$space-small;
    }
  }

  &:hover input {
    &:not(:checked) + .eds-base-segmented {
      --background-color: #{t.$colors-blues-blue80};

      .eds-contrast & {
        --background-color: #{t.$colors-blues-blue30};
      }
    }
    &:checked + .eds-base-segmented {
      --background-color: #{t.$colors-blues-blue80};

      .eds-contrast & {
        --background-color: #{t.$colors-blues-blue70};
      }
    }
  }

  input {
    appearance: none;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked + .eds-base-segmented {
      --background-color: #{t.$colors-brand-white};

      box-shadow: t.$shadows-box-shadow;

      .eds-contrast & {
        --background-color: #{t.$colors-brand-white};

        box-shadow: t.$shadows-box-shadow-contrast;
        color: t.$colors-brand-blue;
      }
    }

    &:focus {
      &:not(:checked) + .eds-base-segmented {
        box-shadow: #{inset-focus(t.$colors-brand-blue, t.$colors-blues-blue70)};

        .eds-contrast & {
          box-shadow: #{inset-focus(
              t.$colors-brand-white,
              t.$colors-blues-blue20
            )};
        }
      }
      &:checked + .eds-base-segmented {
        box-shadow: t.$shadows-box-shadow,
          #{inset-focus(t.$colors-brand-blue, t.$colors-brand-white)};

        .eds-contrast & {
          box-shadow: t.$shadows-box-shadow-contrast,
            #{inset-focus(t.$colors-brand-blue, t.$colors-brand-white)};
        }
      }
    }
  }
}
