@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/color-utils.scss';

.eds-segmented-choice {
  display: block;
  flex: 1 1 0px;
  .eds-base-segmented {
    --background-color: transparent;
    background-color: var(--background-color);
    border: $border-widths-default solid $colors-brand-lavender;
    border-radius: $border-radiuses-medium;
    color: inherit;
    cursor: pointer;
    font-size: $font-sizes-medium;
    line-height: $line-heights-large;
    padding: $space-extra-small2 $space-small;
    text-align: center;
    user-select: none;
    .eds-contrast & {
      border-color: $colors-blues-blue20;
    }
  }
  &:hover input:not(:checked) + .eds-base-segmented {
    --background-color: #{$colors-blues-blue80};
    .eds-contrast & {
      --background-color: #{$colors-blues-blue10};
    }
  }

  input {
    appearance: none;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + .eds-base-segmented {
      --background-color: #{$colors-brand-lavender};
      .eds-contrast & {
        --background-color: #{$colors-blues-blue20};
      }
    }

    &:focus + .eds-base-segmented {
      box-shadow: $shadows-focus;
    }
  }
  &:hover input:checked + .eds-base-segmented {
    --background-color: #{tint($colors-brand-lavender, 10)};
    border-color: var(--background-color);
    .eds-contrast & {
      --background-color: #{tint($colors-blues-blue20, 10)};
      border-color: var(--background-color);
    }
  }
  &:not(:first-child):not(:last-child) .eds-base-segmented {
    border-radius: 0;
    border-left: none;
  }
  &:first-child:not(:last-child) .eds-base-segmented {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child:not(:first-child) .eds-base-segmented {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
