.component-preview {
  min-height: 400px;

  &__image-wrapper {
    img {
      width: 100%;
      border-radius: 0;
    }
  }

  h3 {
    margin-top: 0;
  }

  .eds-media-card__text {
    padding: 0 1.5rem;
  }
}
