$default-viewport-height: 100dvh;
$default-sidebar-width: 20rem;
$default-sidebar-padding: 2rem;
$default-sidebar-column-width: min-content;
$default-sidebar-collapsed-width: 2rem;
$default-portal-main-padding: 1rem;
