@use '~@entur/tokens/dist/styles.scss' as *;
@use '~@entur/tokens/dist/semantic.scss' as *;
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;

.brukertesting {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  row-gap: $space-small;
  margin-top: $space-large;
  margin-bottom: $space-extra-large3;
  @include breakpoint.for-desktop {
    grid-template-columns: 1fr 1fr;
    gap: $space-large;
  }
  .eds-icon {
    margin-right: $space-extra-small;
  }
  &__box {
    border: $border-widths-medium solid $colors-blues-blue10;
    padding: $space-extra-large;
    padding-right: $space-extra-large3;
    min-height: 10rem;
    .eds-h4 {
      margin-bottom: $space-small;
    }
    &--red {
      border-color: $colors-brand-coral;
    }
    &--mint {
      border-color: $colors-data-default-jungle;
    }
    &--azure {
      border-color: $colors-data-default-azure;
    }
    &--orange {
      border-color: #e8734b;
    }
    &--lavender {
      border-color: $colors-data-default-lavender;
    }
    &--green {
      border-color: $colors-data-default-spring;
    }
    &--lilac {
      border-color: $colors-data-default-lilac;
    }
  }
  &__verktoy {
    background-color: $fill-background-tint-neutral;
    padding: 1rem;
  }
}
