@import '~@entur/tokens/dist/styles.scss';

.brukerhistorier {
  &-custom-code {
    background-color: var(--designentur-basecard-default-fill);
    padding: $space-large $space-extra-large;
    margin-bottom: $space-extra-large;
  }
  &-summary {
    background: var(--designentur-basecard-default-fill);
    padding: $space-large $space-extra-large;
  }
}
