@use '@entur/tokens/dist/styles.scss' as t;
@use "./componentColors.scss";
@use '@entur/tokens/dist/base.scss' as *;

:root {
  --reach-tabs: 1; // We want to do the styling ourselves
  --eds-tab: 1; // Register that the styling is loaded
}

.eds-tab-list {
  position: relative;
  top: t.$border-widths-default;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
  padding-top: t.$space-extra-small2;
  margin-top: -(t.$space-extra-small2);
  z-index: t.$z-indexes-default;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--components-tab-standard-border);
    display: block;
    height: t.$border-widths-default;
    width: inherit;
    z-index: t.$z-indexes-behind;
    .eds-contrast & {
      background-color: var(--components-tab-contrast-border);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.eds-tab {
  appearance: none;
  background: var(--components-tab-standard-fill-unselected);
  border: t.$border-widths-default solid transparent;
  border-radius: t.$border-radiuses-medium t.$border-radiuses-medium 0 0;
  color: var(--components-tab-standard-text);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  height: t.$space-extra-large3;
  line-height: inherit;
  margin: 0;
  min-width: 8rem;
  padding: t.$space-extra-small t.$space-default;
  position: relative;
  .eds-tab-list--width-fluid & {
    flex-grow: 1;
    min-width: 0;
  }
  .eds-contrast & {
    background-color: var(--components-tab-contrast-fill-unselected);
    color: var(--components-tab-contrast-text);
  }
  &:hover {
    background-color: var(--components-tab-standard-fill-hover);
    color: var(--components-menu-tableofcontent-standard-text-selected);
    .eds-contrast & {
      background-color: var(--components-tab-contrast-fill-hover);
      color: var(--components-tab-contrast-text);
    }
  }

  & + & {
    margin-left: t.$space-extra-small2;
  }

  // This will work as the bottom border overlay
  &::after {
    content: '';
    position: absolute;
    bottom: -(t.$border-widths-default);
    left: -(t.$border-widths-default);
    right: -(t.$border-widths-default);
    background-color: var(--components-tab-standard-border);

    display: block;
    height: t.$border-widths-default;
    .eds-contrast & {
      background-color: var(--components-tab-contrast-border);
    }
  }

  &[aria-selected='true'] {
    background-color: var(--components-tab-standard-fill-selected);
    border-color: var(--components-tab-standard-border);
    color: var(--components-tab-standard-text);
    font-weight: t.$font-weights-heading;

    .eds-contrast & {
      background-color: var(--components-tab-contrast-fill-selected);
      color: var(--components-tab-contrast-text);
      border-color: var(--components-tab-contrast-border);
    }

    &::after {
      background-color: var(--components-tab-standard-fill-selected);
      left: 0;
      right: 0;
      .eds-contrast & {
        background-color: var(--components-tab-contrast-fill-selected);
      }
    }

    &::before {
      content: '';
      display: block;
      margin: 0 auto;
      width: t.$space-extra-large;
      height: 3px;
      background: var(--components-tab-standard-underline-selected);
      position: absolute;
      bottom: t.$space-extra-small2;
      left: 0;
      right: 0;
    }
  }
  &--remove-active-line[aria-selected='true']::before {
    background: transparent;
  }

  &[disabled] {
    background: var(--components-tab-standard-fill-disabled);
    border-color: none;
    color: var(--components-tab-standard-text-disabled);
    cursor: not-allowed;
    .eds-contrast & {
      background: var(--components-tab-contrast-fill-disabled);
      border-color: none;
      color: var(--components-tab-contrast-text-disabled);
    }
  }

  &:focus-visible {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;

    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }
}

.eds-tab-panels {
  padding: t.$space-medium;
}

.eds-tab-panel {
  &:focus-visible {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;

    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }
}
