@import '~@entur/tokens/dist/styles.scss';

:root {
  --reach-tabs: 1; // We want to do the styling ourselves
  --eds-tab: 1; // Register that the styling is loaded
}

.eds-tab-list {
  position: relative;
  top: $border-widths-default;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
  padding-top: 2px;
  z-index: $z-indexes-default;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $colors-greys-grey60;
    display: block;
    height: $border-widths-default;
    width: inherit;
    z-index: $z-indexes-behind;
    .eds-contrast & {
      background-color: $colors-brand-lavender;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.eds-tab {
  appearance: none;
  background: $colors-greys-grey80;
  border: $border-widths-default solid $colors-greys-grey80;
  border-radius: $border-radiuses-medium $border-radiuses-medium 0 0;
  color: $colors-brand-blue;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  height: $space-extra-large3;
  line-height: inherit;
  margin: 0;
  min-width: 8rem;
  padding: $space-extra-small $space-default;
  position: relative;
  .eds-tab-list--width-fluid & {
    flex-grow: 1;
    min-width: 0;
  }
  .eds-contrast & {
    background-color: $colors-blues-blue30;
    border-color: $colors-blues-blue30;
    color: $colors-brand-white;
  }
  &:hover {
    background-color: $colors-greys-grey60;
    border-color: $colors-greys-grey60;
    .eds-contrast & {
      background-color: $colors-brand-lavender;
      border-color: $colors-brand-lavender;
      color: $colors-brand-blue;
    }
  }

  & + & {
    margin-left: $space-extra-small2;
  }

  // This will work as the bottom border overlay
  &::after {
    content: '';
    position: absolute;
    bottom: -$border-widths-default;
    left: -$border-widths-default;
    right: -$border-widths-default;
    background-color: $colors-greys-grey60;
    display: block;
    height: $border-widths-default;
    .eds-contrast & {
      background-color: $colors-brand-lavender;
    }
  }

  &[aria-selected='true'] {
    background-color: $colors-brand-white;
    border-color: $colors-greys-grey60;
    color: $colors-brand-blue;
    font-weight: $font-weights-heading;

    .eds-contrast & {
      background-color: $colors-brand-blue;
      color: $colors-brand-white;
      border-color: $colors-brand-lavender;
    }

    &::after {
      background-color: $colors-brand-white;
      left: 0;
      right: 0;
      .eds-contrast & {
        background-color: $colors-brand-blue;
      }
    }

    &::before {
      content: '';
      display: block;
      margin: 0 auto;
      width: $space-extra-large;
      height: 3px;
      background: $colors-brand-coral;
      position: absolute;
      bottom: $space-extra-small2;
      left: 0;
      right: 0;
    }
  }
  &--remove-active-line[aria-selected='true']::before {
    background: transparent;
  }

  &[disabled] {
    background: $colors-greys-grey90;
    border-color: $colors-greys-grey90;
    color: $colors-greys-grey60;
    pointer-events: none;
    .eds-contrast & {
      background: $colors-blues-blue10;
      border-color: $colors-blues-blue10;
      color: $colors-blues-blue60;
    }
  }

  &:focus {
    outline: $outlines-focus;
    .eds-contrast & {
      outline: $outlines-focus-contrast;
    }
  }
}

.eds-tab-panels {
  padding: $space-medium;
}

.eds-tab-panel {
  &:focus {
    outline: $outlines-focus;
    outline-offset: $outline-offsets-focus;
    .eds-contrast & {
      outline: $outlines-focus-contrast;
    }
  }
}
