@import '~@entur/tokens/dist/styles.scss';

:root {
  --reach-tabs: 1; // We want to do the styling ourselves
}

.eds-tab-list {
  position: relative;
  top: $border-widths-default;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
  padding-top: 2px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.eds-tab {
  appearance: none;
  background: transparent;
  border: $border-widths-default solid $colors-brand-lavender;
  border-radius: $border-radiuses-small $border-radiuses-small 0 0;
  color: $colors-blues-blue40;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  min-width: 10rem;
  padding: $space-extra-small $space-default;
  position: relative;

  & + & {
    margin-left: $space-extra-small;
  }

  // This will work as the bottom border overlay
  &::before {
    content: '';
    position: absolute;
    bottom: -$border-widths-default;
    left: -$border-widths-default;
    right: -$border-widths-default;
    background-color: $colors-brand-blue;
    display: block;
    height: $border-widths-default;
  }

  &[aria-selected='true'] {
    border-color: $colors-brand-blue;
    color: $colors-brand-blue;
    font-weight: $font-weights-heading;

    &::before {
      background-color: $colors-brand-white;
      left: 0;
      right: 0;
    }

    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: $space-extra-large;
      height: 3px;
      background: $colors-brand-coral;
      position: absolute;
      bottom: $space-extra-small2;
      left: 0;
      right: 0;
    }
  }

  &[disabled] {
    background: $colors-blues-blue80;
  }

  &:focus {
    outline: none;
    box-shadow: $shadows-focus;
  }
}

.eds-tab-panels {
  border: $border-widths-default solid $colors-brand-blue;
  padding: $space-default $space-extra-large;
}

.eds-tab-panel {
  &:focus {
    outline: none;
    box-shadow: $shadows-focus;
  }
}
