@import '~@entur/tokens/dist/styles.scss';

.eds-searchable-dropdown {
  &__wrapper {
    position: relative;
  }

  &__selected-item {
    display: block;
    font-size: $font-sizes-large;
    line-height: $line-heights-small;
    margin-right: -$space-medium;
    padding: calc(#{$space-medium} + #{$space-extra-small2}) 0
      $space-extra-small2 $space-medium;
    font-family: inherit;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &__wrapper {
      max-width: 65%;
    }
  }

  &-appendix {
    &__clear-button {
      padding: $space-extra-small;
      margin-right: $space-extra-small2;

      .eds-contrast & {
        &:hover {
          background: $colors-greys-grey60;
        }
        &:active {
          background: $colors-greys-grey50;
        }
        &:focus {
          border: 0.0625rem solid $colors-brand-blue;
          outline: none;
        }
      }
    }

    &__divider {
      content: '';
      display: block;
      background-color: $colors-greys-grey70;
      height: 1.5rem;
      width: 1px;
      .eds-contrast .eds-form-control-wrapper--disabled & {
        background-color: $colors-blues-blue50;
      }
      .eds-contrast & {
        background-color: $colors-greys-grey60;
      }
    }

    &__toggle-button {
      margin-right: -$space-small;
      margin-left: $space-extra-small2;

      &--open svg {
        transform: rotate(180deg);
      }

      svg {
        transition: transform ease-in-out $timings-fast;
      }

      .eds-contrast & {
        &:hover {
          background: $colors-greys-grey60;
        }
        &:active {
          background: $colors-greys-grey50;
        }
        &:focus {
          border: 0.0625rem solid $colors-brand-blue;
          outline: none;
        }
      }
    }
  }

  &__list {
    position: absolute;
    top: $space-extra-large3;

    display: none;
    list-style: none;
    border-radius: $border-radiuses-medium;
    border: 0.125rem solid #d1d3d3;
    box-shadow: $shadows-box-shadow;
    padding: 0;
    margin: 0;
    margin-top: $space-extra-small;
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
    z-index: $z-indexes-popover;

    &--open {
      // Note that for accessibility reasons it's best if this element is always rendered. That's why we initially hide it!
      display: inline-block;
    }

    &:focus {
      outline: none;
    }

    @media all and (min-width: $breakpoints-large) {
      max-height: 30vh;
    }

    &__item {
      align-items: center;
      background-color: $colors-greys-grey90;
      border-bottom: $border-widths-default solid $colors-greys-grey60;
      color: $colors-brand-blue;
      display: flex;
      justify-content: space-between;
      font-family: inherit;
      font-size: $font-sizes-large;
      line-height: $line-heights-medium;
      padding: $space-small $space-default;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }

      &-icon {
        margin-left: $space-small;
      }

      &--highlighted  {
        background-color: $colors-blues-blue70;
      }
    }
  }
}

.eds-form-control.eds-searchable-dropdown__input {
  // small adjustment to line up input placeholder and selectedValue placeholder
  &::placeholder {
    transition: none;
    position: relative;
    bottom: 1px;
  }
}
