.navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
}

.logo-wrapper {
  flex: 0 0 auto;
  width: 15vw;
  min-width: 15vw;
  background: #181c56;
}

.logo-container {
  width: 50%;
}

.tab-link-container {
  flex: 1 0 auto;
  background: #fff;
  width: auto;
  padding-left: 10rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.tab-link {
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  color: #181c56;
  position: relative;
  text-align: center;

  &::after {
    content: '';
    display: block;
    bottom: 16px;
    height: 3px;
    width: 30px;
    background: transparent;
    border-radius: 1px;
    margin: 0 auto;
    opacity: 0;
  }

  &.active-tab-link::after {
    opacity: 1;
    background: #ff5959;
  }
}

.tab-link::after {
  // transition: all 200ms ease-in-out;
  // content: '';
  // display: block;
  // bottom: 16px;
  // height: 3px;
  // width: 30px;
  // background: transparent;
  // border-radius: 1px;
  // margin: 0 auto;
  // opacity: 0;
}

.sidemenu-wrapper {
  position: fixed;
  overflow-x: hidden;
  width: 15vw;
  max-width: 15vw;
  min-width: 15vw;
  height: 95vh;
  background: #181c56;
}

.sidemenu-link {
  color: white;
}

.sidemenu-group-header {
  color: #ddd;
  font-size: 14px;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

.heading-navigator-wrapper {
  position: fixed;
  overflow-x: hidden;
  right: 0;
  width: 15vw;
  max-width: 15vw;
  min-width: 15vw;
  background: white;
}

.heading-navigator-links-wrapper {
  display: flex;
  flex-direction: column;
}
