@import '~@entur/tokens/dist/styles.scss';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

.site-logo {
  display: block;
  padding: 1em;
  width: 100%;
}

.site-navbar {
  display: flex;
  background-color: var(--primary-background-color);
  overflow-x: scroll;
  width: 100%;

  @include for-desktop {
    background-color: var(--primary-background-color);
    overflow-x: initial;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.tab-link-container {
  flex: 1 0 auto;
  background: $colors-brand-white;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tab-link {
  text-decoration: none;
  padding: 1rem;
  color: #181c56;
  position: relative;
  text-align: center;

  &::after {
    content: '';
    display: block;
    bottom: 1rem;
    height: 3px;
    width: 2rem;
    background: transparent;
    border-radius: 1px;
    margin: 0 auto;
    opacity: 0;
  }

  &.active-tab-link::after {
    opacity: 1;
    background: $colors-brand-coral;
  }
}
