.color-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.color-list__item {
  align-self: center;
  display: flex;
  align-items: flex-end;
  min-height: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow 0.1s ease-out;

  &:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  }
}

.color-list__detail {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-family: monospace;
  font-size: 70%;
  width: 100%;
}
