@import '~@entur/tokens/dist/styles.scss';

.eds-datepicker {
  &__calender {
    font-family: var(--eds-font-family);
    color: $colors-brand-blue;
    .eds-contrast .eds-form-control-wrapper--dark & {
      background-color: $colors-brand-white;
    }
  }
  &__day {
    border: $colors-greys-grey20;
  }
}

.react-datepicker__triangle {
  .react-datepicker-popper[data-placement^='bottom'] & {
    border-bottom-color: $colors-brand-white;

    &::before {
      border-bottom-color: $colors-greys-grey20;
      top: (0-$border-widths-default);
    }
  }
}
.react-datepicker {
  border: $border-widths-default solid $colors-greys-grey20;
  box-shadow: $shadows-card-shadow;
  .eds-contrast & {
    box-shadow: $shadows-card-shadow-contrast;
  }

  &-wrapper {
    width: 100%;
  }
  &__header {
    background: $colors-brand-white;
    border: none;
    font-size: $font-sizes-large;
    line-height: 2.5rem;
  }

  &__current-month {
    color: $colors-brand-blue;
    font-size: $font-sizes-large;
    font-weight: $font-weights-heading;
    .eds-contrast .eds-form-control-wrapper--dark & {
      color: $colors-brand-blue;
    }
  }
  &__month-container {
    // Miniscule padding on top here to show outline of days
    margin: 0.0625rem $space-large $space-large $space-default;
  }
  &__navigation {
    border-color: $colors-brand-blue;
    border-width: $border-widths-default;
    border-bottom: none;
    border-right: none;
    transform: rotate(135deg);
    top: 1.5rem;

    &--previous {
      transform: rotate(-45deg);
      left: $space-large;
    }
    &--next {
      right: $space-extra-large;
    }
    &:hover {
      border-color: $colors-brand-blue;
    }
  }
  &__month {
    margin: 0.125rem;
  }
  &__week {
    height: 2.5rem;
  }
  &__week-number {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    line-height: $line-heights-extra-large4;
    font-size: $font-sizes-medium;
    margin: 0;
    color: $colors-blues-blue40;
    background: $colors-brand-white;
    &:first-child {
      margin-right: $space-extra-small;
    }
    .eds-contrast .eds-form-control-wrapper--dark & {
      color: $colors-blues-blue40;
    }
  }
  &__day-name {
    width: 2.5rem;
    line-height: $line-heights-large;
    font-size: $font-sizes-medium;
    margin: 0;
    color: $colors-blues-blue40;
    &:first-child {
      margin-right: $space-extra-small2;
    }
    .eds-contrast .eds-form-control-wrapper--dark & {
      color: $colors-blues-blue40;
    }
  }
  &__day {
    margin: $border-widths-default 0 0;
    font-weight: $font-weights-body;
    height: 2.5rem;
    width: 2.5rem;
    color: $colors-brand-blue;
    background: $colors-brand-white;
    margin: 0;
    line-height: $line-heights-extra-large4;
    vertical-align: middle;
    font-size: $font-sizes-medium;
    outline: $border-widths-small solid $colors-greys-grey20;
    .eds-contrast .eds-form-control-wrapper--dark & {
      color: $colors-brand-blue;
    }

    &:focus {
      box-shadow: $shadows-focus;
    }
    &:hover {
      border-radius: 0;
      .eds-contrast .eds-form-control-wrapper--dark & {
        background-color: $colors-greys-grey30;
      }
    }
    &--outside-month {
      color: $colors-blues-blue40;
      .eds-contrast .eds-form-control-wrapper--dark & {
        color: $colors-blues-blue40;
      }
    }
    &--keyboard-selected {
      background: $colors-greys-grey20;
      border-radius: 0;
      &:hover {
        background: $colors-greys-grey30;
      }
      .eds-contrast .eds-form-control-wrapper--dark & {
        background: $colors-greys-grey20;
      }
    }
    &--selected {
      border-radius: 0;
      background: $colors-brand-blue;
      color: $colors-brand-white;
      .eds-contrast .eds-form-control-wrapper--dark & {
        color: $colors-brand-white;
        background: $colors-brand-blue;
      }
      &:hover {
        background: $colors-blues-blue10;
        .eds-contrast .eds-form-control-wrapper--dark & {
          background: $colors-blues-blue10;
        }
      }
    }
    &--today {
      border-bottom: $border-widths-large solid $colors-brand-coral;
    }
    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.eds-native-date-picker {
  height: 2.75rem;
}
