@import '~@entur/tokens/dist/styles.scss';
.react-datepicker-popper.eds-datepicker__popper {
  width: 100%;
}
.react-datepicker.eds-timepicker.react-datepicker--time-only {
  width: 100%;
  .react-datepicker__time-container {
    float: left;
    overflow-x: hidden;
    width: inherit;
  }
  .react-datepicker__time-box {
    border-radius: 0;
    width: inherit;
  }
  .react-datepicker__header--time {
    display: none;
  }
  .react-datepicker__time-container {
    .eds-contrast .eds-form-control-wrapper--dark & {
      background-color: $colors-brand-white;
    }
  }
  .react-datepicker__time
    .react-datepicker__time-box
    .react-datepicker__time-list {
    font-family: var(--eds-font-family);
    color: $colors-brand-blue;
    background-color: $colors-brand-white;
    .react-datepicker__time-list-item {
      align-items: center;
      box-sizing: border-box;
      border-bottom: $border-widths-default solid $colors-greys-grey70;
      display: flex;
      font-size: $font-sizes-large;
      height: $space-extra-large;
      justify-content: center;
      line-height: $line-heights-medium;
      padding: calc(#{$space-extra-small2}/ 2) $space-default;
      &:hover {
        background-color: $colors-brand-lavender;
      }
      .eds-contrast .eds-form-control-wrapper--dark & {
        color: $colors-brand-blue;
        background-color: $colors-brand-white;
        &:hover {
          background-color: $colors-brand-lavender;
        }
      }
      &--selected {
        color: $colors-brand-white;
        background-color: $colors-brand-blue;
        &:hover {
          background-color: $colors-blues-blue10;
        }
        .eds-contrast .eds-form-control-wrapper--dark & {
          color: $colors-brand-white;
          background-color: $colors-brand-blue;
        }
      }
    }
  }
}

.eds-timepicker-form-control.eds-form-control-wrapper {
  height: $space-extra-large;
  .eds-timepicker__input {
    padding-left: 0;
    padding-right: 0;
  }
  .eds-input-group__label {
    margin-left: 0 !important;
  }
  .eds-form-control__prepend {
    margin-left: 0;
  }
  .eds-timepicker__arrowbutton {
    appearance: none;
    border: none;
    background: none;
    color: $colors-brand-blue;
    cursor: pointer;
    display: flex;
    font-size: $font-sizes-large;
    padding: $space-medium;
    margin: 0;
    &:focus {
      outline-offset: none;
    }
  }
}
