@use '../../../styles/variables' as variables;
@use '@entur/tokens/dist/styles.scss' as eds;
@use '@entur/utils/dist/breakpoints.scss' as *;

.top-navigation {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  overflow-x: initial;
  padding-left: eds.$space-extra-large2;
  justify-content: flex-start;
  border-bottom: eds.$border-widths-default solid var(--designentur-header-default-divider);
  width: 100vw;
  height: variables.$navbar-height;
  z-index: eds.$z-indexes-popover;
  transition: margin-left eds.$timings-fast ease-out;

  &--frontpage {
    border-bottom: none;
  }

  &__logo {
    margin-right: 3rem;
    &:focus-visible {
      outline: none;
      box-shadow: eds.$shadows-focus;
      outline-offset: eds.$outline-offsets-focus;
    }
  }

  .searchmodal__button {
    margin-left: auto;
  }
}
