@use '@entur/tokens/dist/styles.scss' as t;

.eds-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: t.$font-weights-body;
  font-size: t.$font-sizes-small;
  min-width: 1.5rem;
  height: 1.5rem;
  width: fit-content;
  line-height: 1rem;
  padding: 2px 8px;
  border-radius: 0.75rem;
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  color: var(--components-layout-badge-primary-standard-text);
  transition: opacity t.$timings-medium ease-in-out, visibility 0s linear;

  &--hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity t.$timings-medium ease-in-out, visibility 0s linear 0.3s;
  }

  &--variant-primary {
    background-color: var(--components-layout-badge-primary-standard-fill);
    color: var(--components-layout-badge-primary-standard-text);

    .eds-contrast & {
      color: var(--components-layout-badge-primary-contrast-text);
      background-color: var(--components-layout-badge-primary-contrast-fill);
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-primary-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-primary-contrast-bullet);
      }
    }
  }
  &--variant-success {
    background-color: var(--components-layout-badge-success-standard-fill);
    color: var(--components-layout-badge-success-standard-text);
    .eds-contrast & {
      background-color: var(--components-layout-badge-success-contrast-fill);
      color: var(--components-layout-badge-success-contrast-text);
    }

    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-success-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-success-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-success-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-success-contrast-bullet);
      }
    }
  }
  &--variant-warning {
    background-color: var(--components-layout-badge-warning-standard-fill);
    color: var(--components-layout-badge-warning-standard-text);
    .eds-contrast & {
      background-color: var(--components-layout-badge-warning-contrast-fill);
      color: var(--components-layout-badge-warning-contrast-text);
    }
    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-warning-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-warning-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-warning-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-warning-contrast-bullet);
      }
    }
  }
  &--variant-danger,
  &--variant-negative {
    background-color: var(--components-layout-badge-negative-standard-fill);
    color: var(--components-layout-badge-negative-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-negative-contrast-fill);
      color: var(--components-layout-badge-negative-contrast-text);
    }
    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-negative-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-negative-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-negative-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-negative-contrast-bullet);
      }
    }
  }
  &--variant-info,
  &--variant-information {
    background-color: var(--components-layout-badge-information-standard-fill);
    color: var(--components-layout-badge-information-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-information-contrast-fill);
      color: var(--components-layout-badge-information-contrast-text);
    }

    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-information-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-information-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-information-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-information-contrast-bullet);
      }
    }
  }
  &--variant-neutral {
    background-color: var(--components-layout-badge-neutral-standard-fill);
    color: var(--components-layout-badge-neutral-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-neutral-contrast-fill);
      color: var(--components-layout-badge-neutral-contrast-text);
    }

    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-neutral-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-neutral-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-neutral-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-neutral-contrast-bullet);
      }
    }
  }

  &--type {
    &-status {
      display: block;
      text-transform: uppercase;
      border-radius: t.$border-radiuses-medium;
      line-height: t.$line-heights-medium;
      padding: 0 t.$space-extra-small;
      height: 1.25rem;
      border: t.$border-widths-small solid transparent;
      border-color: transparent;
    }

    &-notification {
      line-height: t.$line-heights-extra-large;
      height: t.$space-large;
      min-width: t.$space-large;
      padding: 0 t.$space-extra-small2;
      border: t.$border-widths-small solid transparent;
      .eds-contrast & {
        border-color: transparent;
      }
    }
    &-bullet {
      background: none;
      font-size: t.$font-sizes-large;
      line-height: t.$line-heights-extra-large;
      color: var(--components-layout-badge-primary-standard-text-bullet);
      border: none;
      position: relative;
      padding-left: 0.625rem + t.$space-small;
      .eds-contrast & {
        color: var(--components-layout-badge-primary-contrast-text-bullet);
        background: none;
      }
      &::before {
        background: var(--components-layout-badge-primary-standard-fill);
        left: 0;
        // Vertical padding + half height of circle
        content: '';
        position: absolute;
        top: calc(0.625rem / 2);
        height: 0.625rem; //10px
        width: 0.625rem;
        border-radius: 50%;
      }
    }
  }
}
