@use '@entur/utils/dist/breakpoints.scss' as *;

:root {
  /* number */
  --size-0: 0rem;
  --size-1: 0.0625rem;
  --size-2: 0.125rem;
  --size-3: 0.25rem;
  --size-4: 0.375rem;
  --size-5: 0.5rem;
  --size-6: 0.75rem;
  --size-7: 0.875rem;
  --size-8: 1rem;
  --size-9: 1.25rem;
  --size-10: 1.5rem;
  --size-11: 1.75rem;
  --size-12: 2rem;
  --size-13: 2.25rem;
  --size-14: 2.5rem;
  --size-15: 2.75rem;
  --size-16: 3rem;
  --size-17: 3.25rem;
  --size-18: 3.5rem;
  --size-19: 4rem;
  --size-20: 4.5rem;
  --size-21: 5rem;
  --size-22: 5.5rem;
  --size-23: 6rem;
  --size-24: 6.5rem;
  --size-25: 7rem;
  --size-26: 7.5rem;
  --size-27: 8rem;
  --size-28: 8.5rem;
  --size-29: 9rem;
  --size-30: 9.5rem;
  --size-31: 10rem;
}

/* Default values (standard mode) */
:root {
  --layout-badge-bullet-bullet-small: var(--size-5);
  --layout-badge-bullet-bullet-large: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-6);
  --layout-badge-bullet-gap-medium: var(--size-3);
  --layout-badge-bullet-gap-small: var(--size-3);
  --layout-badge-bullet-gap-large: var(--size-5);
  --layout-badge-notification-border-large: var(--size-1);
  --layout-badge-notification-border-medium: var(--size-1);
  --layout-badge-notification-border-small: var(--size-1);
  --layout-badge-notification-border-width-small: var(--size-1);
  --layout-badge-notification-border-width-medium: var(--size-1);
  --layout-badge-notification-border-width-large: var(--size-1);
  --layout-badge-notification-height-medium: var(--size-9);
  --layout-badge-notification-height-small: var(--size-9);
  --layout-badge-notification-height-large: var(--size-10);
  --layout-badge-notification-padding-horizontal-small: var(--size-4);
  --layout-badge-notification-padding-horizontal-medium: var(--size-4);
  --layout-badge-notification-padding-horizontal-large: var(--size-5);
  --layout-badge-notification-inline-padding-padding: var(--size-0);
  --layout-badge-notification-radius-round: var(--size-23);
  --layout-badge-status-border-large: var(--size-1);
  --layout-badge-status-border-medium: var(--size-1);
  --layout-badge-status-border-small: var(--size-1);
  --layout-badge-status-gap-large: var(--size-0);
  --layout-badge-status-gap-medium: var(--size-0);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-height-medium: var(--size-8);
  --layout-badge-status-height-small: var(--size-8);
  --layout-badge-status-height-large: var(--size-10);
  --layout-badge-status-icon-medium: var(--size-6);
  --layout-badge-status-icon-small: var(--size-6);
  --layout-badge-status-icon-large: var(--size-8);
  --layout-badge-status-inline-padding-large: var(--size-3);
  --layout-badge-status-inline-padding-medium: var(--size-3);
  --layout-badge-status-inline-padding-small: var(--size-3);
  --layout-badge-status-radius-large: var(--size-3);
  --layout-badge-status-radius-medium: var(--size-3);
  --layout-badge-status-radius-small: var(--size-3);

  @include for-desktop {
    --layout-badge-bullet-bullet-small: var(--size-5);
    --layout-badge-bullet-bullet-medium: var(--size-6);
    --layout-badge-bullet-bullet-large: var(--size-8);
    --layout-badge-bullet-gap-small: var(--size-3);
    --layout-badge-bullet-gap-medium: var(--size-5);
    --layout-badge-bullet-gap-large: var(--size-6);
    --layout-badge-notification-border-large: var(--size-1);
    --layout-badge-notification-border-medium: var(--size-1);
    --layout-badge-notification-border-small: var(--size-1);
    --layout-badge-notification-border-width-small: var(--size-1);
    --layout-badge-notification-border-width-medium: var(--size-1);
    --layout-badge-notification-border-width-large: var(--size-1);
    --layout-badge-notification-height-small: var(--size-9);
    --layout-badge-notification-height-medium: var(--size-10);
    --layout-badge-notification-height-large: var(--size-11);
    --layout-badge-notification-padding-horizontal-small: var(--size-4);
    --layout-badge-notification-padding-horizontal-medium: var(--size-5);
    --layout-badge-notification-padding-horizontal-large: var(--size-6);
    --layout-badge-notification-inline-padding-padding: var(--size-0);
    --layout-badge-notification-radius-round: var(--size-23);
    --layout-badge-status-border-large: var(--size-1);
    --layout-badge-status-border-medium: var(--size-1);
    --layout-badge-status-border-small: var(--size-1);
    --layout-badge-status-gap-large: var(--size-0);
    --layout-badge-status-gap-medium: var(--size-0);
    --layout-badge-status-gap-small: var(--size-0);
    --layout-badge-status-height-small: var(--size-8);
    --layout-badge-status-height-medium: var(--size-9);
    --layout-badge-status-height-large: var(--size-11);
    --layout-badge-status-icon-small: var(--size-6);
    --layout-badge-status-icon-medium: var(--size-8);
    --layout-badge-status-icon-large: var(--size-9);
    --layout-badge-status-inline-padding-medium: var(--size-3);
    --layout-badge-status-inline-padding-small: var(--size-3);
    --layout-badge-status-inline-padding-large: var(--size-5);
    --layout-badge-status-radius-large: var(--size-3);
    --layout-badge-status-radius-medium: var(--size-3);
    --layout-badge-status-radius-small: var(--size-3);
  }
}

/* Standard */
[view-mode='standard'] {
  --layout-badge-bullet-bullet-small: var(--size-5);
  --layout-badge-bullet-bullet-large: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-6);
  --layout-badge-bullet-gap-medium: var(--size-3);
  --layout-badge-bullet-gap-small: var(--size-3);
  --layout-badge-bullet-gap-large: var(--size-5);
  --layout-badge-notification-border-large: var(--size-1);
  --layout-badge-notification-border-medium: var(--size-1);
  --layout-badge-notification-border-small: var(--size-1);
  --layout-badge-status-border-large: var(--size-1);
  --layout-badge-status-border-medium: var(--size-1);
  --layout-badge-status-border-small: var(--size-1);
  --layout-badge-status-gap-large: var(--size-0);
  --layout-badge-status-gap-medium: var(--size-0);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-height-medium: var(--size-8);
  --layout-badge-status-height-small: var(--size-8);
  --layout-badge-status-height-large: var(--size-10);
  --layout-badge-status-icon-medium: var(--size-6);
  --layout-badge-status-icon-small: var(--size-6);
  --layout-badge-status-icon-large: var(--size-8);
  --layout-badge-status-inline-padding-large: var(--size-3);
  --layout-badge-status-inline-padding-medium: var(--size-3);
  --layout-badge-status-inline-padding-small: var(--size-3);
  --layout-badge-status-radius-large: var(--size-3);
  --layout-badge-status-radius-medium: var(--size-3);
  --layout-badge-status-radius-small: var(--size-3);

  @include for-desktop {
    --layout-badge-bullet-bullet-small: var(--size-5);
    --layout-badge-bullet-bullet-medium: var(--size-6);
    --layout-badge-bullet-bullet-large: var(--size-8);
    --layout-badge-bullet-gap-small: var(--size-3);
    --layout-badge-bullet-gap-medium: var(--size-5);
    --layout-badge-bullet-gap-large: var(--size-6);
    --layout-badge-notification-border-large: var(--size-1);
    --layout-badge-notification-border-medium: var(--size-1);
    --layout-badge-notification-border-small: var(--size-1);
    --layout-badge-notification-height-small: var(--size-9);
    --layout-badge-notification-height-medium: var(--size-10);
    --layout-badge-notification-height-large: var(--size-11);
    --layout-badge-notification-inline-padding-padding: var(--size-0);
    --layout-badge-notification-radius-round: var(--size-23);
    --layout-badge-status-border-large: var(--size-1);
    --layout-badge-status-border-medium: var(--size-1);
    --layout-badge-status-border-small: var(--size-1);
    --layout-badge-status-gap-large: var(--size-0);
    --layout-badge-status-gap-medium: var(--size-0);
    --layout-badge-status-gap-small: var(--size-0);
    --layout-badge-status-height-small: var(--size-8);
    --layout-badge-status-height-medium: var(--size-9);
    --layout-badge-status-height-large: var(--size-11);
    --layout-badge-status-icon-small: var(--size-6);
    --layout-badge-status-icon-medium: var(--size-8);
    --layout-badge-status-icon-large: var(--size-9);
    --layout-badge-status-inline-padding-medium: var(--size-3);
    --layout-badge-status-inline-padding-small: var(--size-3);
    --layout-badge-status-inline-padding-large: var(--size-5);
    --layout-badge-status-radius-large: var(--size-3);
    --layout-badge-status-radius-medium: var(--size-3);
    --layout-badge-status-radius-small: var(--size-3);
  }
}

/* Compact */
[view-mode='compact'] {
  --layout-badge-bullet-bullet-small: var(--size-5);
  --layout-badge-bullet-bullet-large: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-6);
  --layout-badge-bullet-gap-medium: var(--size-3);
  --layout-badge-bullet-gap-small: var(--size-3);
  --layout-badge-bullet-gap-large: var(--size-5);
  --layout-badge-notification-border-large: var(--size-1);
  --layout-badge-notification-border-medium: var(--size-1);
  --layout-badge-notification-border-small: var(--size-1);
  --layout-badge-notification-height-medium: var(--size-9);
  --layout-badge-notification-height-small: var(--size-9);
  --layout-badge-notification-height-large: var(--size-10);
  --layout-badge-notification-inline-padding-padding: var(--size-0);
  --layout-badge-notification-radius-round: var(--size-23);
  --layout-badge-status-border-large: var(--size-1);
  --layout-badge-status-border-medium: var(--size-1);
  --layout-badge-status-border-small: var(--size-1);
  --layout-badge-status-gap-large: var(--size-0);
  --layout-badge-status-gap-medium: var(--size-0);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-height-medium: var(--size-8);
  --layout-badge-status-height-small: var(--size-8);
  --layout-badge-status-height-large: var(--size-10);
  --layout-badge-status-icon-medium: var(--size-6);
  --layout-badge-status-icon-small: var(--size-6);
  --layout-badge-status-icon-large: var(--size-8);
  --layout-badge-status-inline-padding-large: var(--size-3);
  --layout-badge-status-inline-padding-medium: var(--size-3);
  --layout-badge-status-inline-padding-small: var(--size-3);
  --layout-badge-status-radius-large: var(--size-3);
  --layout-badge-status-radius-medium: var(--size-3);
  --layout-badge-status-radius-small: var(--size-3);
}

/* Display */
[view-mode='display'] {
  --layout-badge-bullet-bullet-small: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-9);
  --layout-badge-bullet-bullet-large: var(--size-10);
  --layout-badge-bullet-gap-small: var(--size-5);
  --layout-badge-bullet-gap-medium: var(--size-6);
  --layout-badge-bullet-gap-large: var(--size-9);
  --layout-badge-notification-border-large: var(--size-2);
  --layout-badge-notification-border-medium: var(--size-2);
  --layout-badge-notification-border-small: var(--size-2);
  --layout-badge-notification-height-small: var(--size-11);
  --layout-badge-notification-height-medium: var(--size-13);
  --layout-badge-notification-height-large: var(--size-18);
  --layout-badge-notification-inline-padding-padding: var(--size-0);
  --layout-badge-notification-radius-round: var(--size-23);
  --layout-badge-status-border-large: var(--size-2);
  --layout-badge-status-border-medium: var(--size-2);
  --layout-badge-status-border-small: var(--size-2);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-gap-large: var(--size-3);
  --layout-badge-status-gap-medium: var(--size-3);
  --layout-badge-status-height-small: var(--size-11);
  --layout-badge-status-height-medium: var(--size-13);
  --layout-badge-status-height-large: var(--size-18);
  --layout-badge-status-icon-medium: var(--size-9);
  --layout-badge-status-icon-small: var(--size-9);
  --layout-badge-status-icon-large: var(--size-12);
  --layout-badge-status-inline-padding-medium: var(--size-5);
  --layout-badge-status-inline-padding-small: var(--size-5);
  --layout-badge-status-inline-padding-large: var(--size-6);
  --layout-badge-status-radius-medium: var(--size-4);
  --layout-badge-status-radius-small: var(--size-4);
  --layout-badge-status-radius-large: var(--size-5);
}
