@use '@entur/utils/dist/breakpoints.scss' as *;

/* Default values (standard mode) */
:root {
  --layout-badge-bullet-bullet-small: var(--size-5);
  --layout-badge-bullet-bullet-large: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-6);
  --layout-badge-bullet-gap-medium: var(--size-3);
  --layout-badge-bullet-gap-small: var(--size-3);
  --layout-badge-bullet-gap-large: var(--size-5);
  --layout-badge-notification-border-large: var(--size-1);
  --layout-badge-notification-border-medium: var(--size-1);
  --layout-badge-notification-border-small: var(--size-1);
  --layout-badge-notification-border-width-small: var(--size-1);
  --layout-badge-notification-border-width-medium: var(--size-1);
  --layout-badge-notification-border-width-large: var(--size-1);
  --layout-badge-notification-height-medium: var(--size-9);
  --layout-badge-notification-height-small: var(--size-9);
  --layout-badge-notification-height-large: var(--size-10);
  --layout-badge-notification-padding-horizontal-small: var(--size-4);
  --layout-badge-notification-padding-horizontal-medium: var(--size-4);
  --layout-badge-notification-padding-horizontal-large: var(--size-5);
  --layout-badge-notification-inline-padding-padding: var(--size-0);
  --layout-badge-notification-radius-round: var(--size-23);
  --layout-badge-status-border-large: var(--size-1);
  --layout-badge-status-border-medium: var(--size-1);
  --layout-badge-status-border-small: var(--size-1);
  --layout-badge-status-gap-large: var(--size-0);
  --layout-badge-status-gap-medium: var(--size-0);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-height-medium: var(--size-8);
  --layout-badge-status-height-small: var(--size-8);
  --layout-badge-status-height-large: var(--size-10);
  --layout-badge-status-icon-medium: var(--size-6);
  --layout-badge-status-icon-small: var(--size-6);
  --layout-badge-status-icon-large: var(--size-8);
  --layout-badge-status-inline-padding-large: var(--size-3);
  --layout-badge-status-inline-padding-medium: var(--size-3);
  --layout-badge-status-inline-padding-small: var(--size-3);
  --layout-badge-status-radius-large: var(--size-3);
  --layout-badge-status-radius-medium: var(--size-3);
  --layout-badge-status-radius-small: var(--size-3);

  @include for-desktop {
    --layout-badge-bullet-bullet-small: var(--size-5);
    --layout-badge-bullet-bullet-medium: var(--size-6);
    --layout-badge-bullet-bullet-large: var(--size-8);
    --layout-badge-bullet-gap-small: var(--size-3);
    --layout-badge-bullet-gap-medium: var(--size-5);
    --layout-badge-bullet-gap-large: var(--size-6);
    --layout-badge-notification-border-large: var(--size-1);
    --layout-badge-notification-border-medium: var(--size-1);
    --layout-badge-notification-border-small: var(--size-1);
    --layout-badge-notification-border-width-small: var(--size-1);
    --layout-badge-notification-border-width-medium: var(--size-1);
    --layout-badge-notification-border-width-large: var(--size-1);
    --layout-badge-notification-height-small: var(--size-9);
    --layout-badge-notification-height-medium: var(--size-10);
    --layout-badge-notification-height-large: var(--size-11);
    --layout-badge-notification-padding-horizontal-small: var(--size-4);
    --layout-badge-notification-padding-horizontal-medium: var(--size-5);
    --layout-badge-notification-padding-horizontal-large: var(--size-6);
    --layout-badge-notification-inline-padding-padding: var(--size-0);
    --layout-badge-notification-radius-round: var(--size-23);
    --layout-badge-status-border-large: var(--size-1);
    --layout-badge-status-border-medium: var(--size-1);
    --layout-badge-status-border-small: var(--size-1);
    --layout-badge-status-gap-large: var(--size-0);
    --layout-badge-status-gap-medium: var(--size-0);
    --layout-badge-status-gap-small: var(--size-0);
    --layout-badge-status-height-small: var(--size-8);
    --layout-badge-status-height-medium: var(--size-9);
    --layout-badge-status-height-large: var(--size-11);
    --layout-badge-status-icon-small: var(--size-6);
    --layout-badge-status-icon-medium: var(--size-8);
    --layout-badge-status-icon-large: var(--size-9);
    --layout-badge-status-inline-padding-medium: var(--size-3);
    --layout-badge-status-inline-padding-small: var(--size-3);
    --layout-badge-status-inline-padding-large: var(--size-5);
    --layout-badge-status-radius-large: var(--size-3);
    --layout-badge-status-radius-medium: var(--size-3);
    --layout-badge-status-radius-small: var(--size-3);
  }
}

/* Standard */
[view-mode='standard'] {
  --layout-badge-bullet-bullet-small: var(--size-5);
  --layout-badge-bullet-bullet-large: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-6);
  --layout-badge-bullet-gap-medium: var(--size-3);
  --layout-badge-bullet-gap-small: var(--size-3);
  --layout-badge-bullet-gap-large: var(--size-5);
  --layout-badge-notification-border-large: var(--size-1);
  --layout-badge-notification-border-medium: var(--size-1);
  --layout-badge-notification-border-small: var(--size-1);
  --layout-badge-status-border-large: var(--size-1);
  --layout-badge-status-border-medium: var(--size-1);
  --layout-badge-status-border-small: var(--size-1);
  --layout-badge-status-gap-large: var(--size-0);
  --layout-badge-status-gap-medium: var(--size-0);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-height-medium: var(--size-8);
  --layout-badge-status-height-small: var(--size-8);
  --layout-badge-status-height-large: var(--size-10);
  --layout-badge-status-icon-medium: var(--size-6);
  --layout-badge-status-icon-small: var(--size-6);
  --layout-badge-status-icon-large: var(--size-8);
  --layout-badge-status-inline-padding-large: var(--size-3);
  --layout-badge-status-inline-padding-medium: var(--size-3);
  --layout-badge-status-inline-padding-small: var(--size-3);
  --layout-badge-status-radius-large: var(--size-3);
  --layout-badge-status-radius-medium: var(--size-3);
  --layout-badge-status-radius-small: var(--size-3);

  @include for-desktop {
    --layout-badge-bullet-bullet-small: var(--size-5);
    --layout-badge-bullet-bullet-medium: var(--size-6);
    --layout-badge-bullet-bullet-large: var(--size-8);
    --layout-badge-bullet-gap-small: var(--size-3);
    --layout-badge-bullet-gap-medium: var(--size-5);
    --layout-badge-bullet-gap-large: var(--size-6);
    --layout-badge-notification-border-large: var(--size-1);
    --layout-badge-notification-border-medium: var(--size-1);
    --layout-badge-notification-border-small: var(--size-1);
    --layout-badge-notification-height-small: var(--size-9);
    --layout-badge-notification-height-medium: var(--size-10);
    --layout-badge-notification-height-large: var(--size-11);
    --layout-badge-notification-inline-padding-padding: var(--size-0);
    --layout-badge-notification-radius-round: var(--size-23);
    --layout-badge-status-border-large: var(--size-1);
    --layout-badge-status-border-medium: var(--size-1);
    --layout-badge-status-border-small: var(--size-1);
    --layout-badge-status-gap-large: var(--size-0);
    --layout-badge-status-gap-medium: var(--size-0);
    --layout-badge-status-gap-small: var(--size-0);
    --layout-badge-status-height-small: var(--size-8);
    --layout-badge-status-height-medium: var(--size-9);
    --layout-badge-status-height-large: var(--size-11);
    --layout-badge-status-icon-small: var(--size-6);
    --layout-badge-status-icon-medium: var(--size-8);
    --layout-badge-status-icon-large: var(--size-9);
    --layout-badge-status-inline-padding-medium: var(--size-3);
    --layout-badge-status-inline-padding-small: var(--size-3);
    --layout-badge-status-inline-padding-large: var(--size-5);
    --layout-badge-status-radius-large: var(--size-3);
    --layout-badge-status-radius-medium: var(--size-3);
    --layout-badge-status-radius-small: var(--size-3);
  }
}

/* Compact */
[view-mode='compact'] {
  --layout-badge-bullet-bullet-small: var(--size-5);
  --layout-badge-bullet-bullet-large: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-6);
  --layout-badge-bullet-gap-medium: var(--size-3);
  --layout-badge-bullet-gap-small: var(--size-3);
  --layout-badge-bullet-gap-large: var(--size-5);
  --layout-badge-notification-border-large: var(--size-1);
  --layout-badge-notification-border-medium: var(--size-1);
  --layout-badge-notification-border-small: var(--size-1);
  --layout-badge-notification-height-medium: var(--size-9);
  --layout-badge-notification-height-small: var(--size-9);
  --layout-badge-notification-height-large: var(--size-10);
  --layout-badge-notification-inline-padding-padding: var(--size-0);
  --layout-badge-notification-radius-round: var(--size-23);
  --layout-badge-status-border-large: var(--size-1);
  --layout-badge-status-border-medium: var(--size-1);
  --layout-badge-status-border-small: var(--size-1);
  --layout-badge-status-gap-large: var(--size-0);
  --layout-badge-status-gap-medium: var(--size-0);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-height-medium: var(--size-8);
  --layout-badge-status-height-small: var(--size-8);
  --layout-badge-status-height-large: var(--size-10);
  --layout-badge-status-icon-medium: var(--size-6);
  --layout-badge-status-icon-small: var(--size-6);
  --layout-badge-status-icon-large: var(--size-8);
  --layout-badge-status-inline-padding-large: var(--size-3);
  --layout-badge-status-inline-padding-medium: var(--size-3);
  --layout-badge-status-inline-padding-small: var(--size-3);
  --layout-badge-status-radius-large: var(--size-3);
  --layout-badge-status-radius-medium: var(--size-3);
  --layout-badge-status-radius-small: var(--size-3);
}

/* Display */
[view-mode='display'] {
  --layout-badge-bullet-bullet-small: var(--size-6);
  --layout-badge-bullet-bullet-medium: var(--size-9);
  --layout-badge-bullet-bullet-large: var(--size-10);
  --layout-badge-bullet-gap-small: var(--size-5);
  --layout-badge-bullet-gap-medium: var(--size-6);
  --layout-badge-bullet-gap-large: var(--size-9);
  --layout-badge-notification-border-large: var(--size-2);
  --layout-badge-notification-border-medium: var(--size-2);
  --layout-badge-notification-border-small: var(--size-2);
  --layout-badge-notification-height-small: var(--size-11);
  --layout-badge-notification-height-medium: var(--size-13);
  --layout-badge-notification-height-large: var(--size-18);
  --layout-badge-notification-inline-padding-padding: var(--size-0);
  --layout-badge-notification-radius-round: var(--size-23);
  --layout-badge-status-border-large: var(--size-2);
  --layout-badge-status-border-medium: var(--size-2);
  --layout-badge-status-border-small: var(--size-2);
  --layout-badge-status-gap-small: var(--size-0);
  --layout-badge-status-gap-large: var(--size-3);
  --layout-badge-status-gap-medium: var(--size-3);
  --layout-badge-status-height-small: var(--size-11);
  --layout-badge-status-height-medium: var(--size-13);
  --layout-badge-status-height-large: var(--size-18);
  --layout-badge-status-icon-medium: var(--size-9);
  --layout-badge-status-icon-small: var(--size-9);
  --layout-badge-status-icon-large: var(--size-12);
  --layout-badge-status-inline-padding-medium: var(--size-5);
  --layout-badge-status-inline-padding-small: var(--size-5);
  --layout-badge-status-inline-padding-large: var(--size-6);
  --layout-badge-status-radius-medium: var(--size-4);
  --layout-badge-status-radius-small: var(--size-4);
  --layout-badge-status-radius-large: var(--size-5);
}
