@use '@entur/tokens/dist/styles.scss' as t;

.eds-badge {
  :where(&) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: t.$font-weights-body;
    font-size: t.$font-sizes-small;
    line-height: 1rem;
    min-width: 1.5rem;
    height: var(--components-layout-badge-status-height-medium);
    width: fit-content;
    padding: var(--size-2) 0.5rem;
    border-radius: var(--components-layout-badge-status-radius-medium);
    top: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity t.$timings-medium ease-in-out, visibility 0s linear;

    .eds-icon {
      position: relative;
      color: inherit;
    }
  }

  :where(&--hide) {
    opacity: 0;
    visibility: hidden;
    transition: opacity t.$timings-medium ease-in-out, visibility 0s linear 0.3s;
  }

  &--type {
    :where(&-status) {
      border-radius: var(--components-layout-badge-status-radius-medium);
      padding: 0 var(--components-layout-badge-status-inlinepadding-medium);
      height: var(--components-layout-badge-status-height-medium);
      border: var(--components-layout-badge-status-border-medium) solid transparent;
      border-color: transparent;
    }

    :where(&-notification) {
      width: var(--components-layout-badge-notification-height-medium);
      height: var(--components-layout-badge-notification-height-medium);
      min-width: var(--components-layout-badge-notification-height-medium);
      max-width: var(--components-layout-badge-notification-height-medium);
      min-height: var(--components-layout-badge-notification-height-medium);
      max-height: var(--components-layout-badge-notification-height-medium);
      padding: var(--components-layout-badge-notification-inlinepadding-padding);
      border: var(--components-layout-badge-notification-border-medium) solid transparent;
      border-radius: var(--components-layout-badge-notification-radius-round);
      border-color: transparent;
      .eds-contrast & {
        border-color: transparent;
      }
    }
    &-bullet {
      :where(&) {
        background: none;
        border: none;
        position: relative;
        padding-left: calc(var(--components-layout-badge-bullet-bullet-medium) + var(--components-layout-badge-bullet-gap-medium));
        color: var(--components-layout-badge-primary-standard-text-bullet);
      }

      .eds-contrast :where(&) {
        color: var(--components-layout-badge-primary-contrast-text-bullet);
        background: none;
      }
      :where(&::before) {
        background: var(--components-layout-badge-primary-standard-fill);
        left: 0;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: var(--components-layout-badge-bullet-bullet-medium);
        width: var(--components-layout-badge-bullet-bullet-medium);
        border-radius: 50%;
      }
    }
  }

  &--variant-primary {
    :where(&) {
      background-color: var(--components-layout-badge-primary-standard-fill);
      color: var(--components-layout-badge-primary-standard-text);
    }

    .eds-contrast :where(&) {
      background-color: var(--components-layout-badge-primary-contrast-fill);
      color: var(--components-layout-badge-primary-contrast-text);
    }

    :where(&.eds-badge--type-bullet::before) {
      background-color: var(--components-layout-badge-primary-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-primary-contrast-bullet);
      }
    }
  }
  &--variant-success {
    :where(&) {
      background-color: var(--components-layout-badge-success-standard-fill);
      color: var(--components-layout-badge-success-standard-text);
    }

    .eds-contrast :where(&) {
      background-color: var(--components-layout-badge-success-contrast-fill);
      color: var(--components-layout-badge-success-contrast-text);
    }

    :where(&.eds-badge--type-status, &.eds-badge--type-notification) {
      border-color: var(--components-layout-badge-success-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-success-contrast-border);
      }
    }
    :where(&.eds-badge--type-bullet::before) {
      background-color: var(--components-layout-badge-success-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-success-contrast-bullet);
      }
    }
  }
  &--variant-warning {
    :where(&) {
      background-color: var(--components-layout-badge-warning-standard-fill);
      color: var(--components-layout-badge-warning-standard-text);
    }

    .eds-contrast :where(&) {
      background-color: var(--components-layout-badge-warning-contrast-fill);
      color: var(--components-layout-badge-warning-contrast-text);
    }
    :where(&.eds-badge--type-status, &.eds-badge--type-notification) {
      border-color: var(--components-layout-badge-warning-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-warning-contrast-border);
      }
    }
    :where(&.eds-badge--type-bullet::before) {
      background-color: var(--components-layout-badge-warning-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-warning-contrast-bullet);
      }
    }
  }
  &--variant-danger,
  &--variant-negative {
    :where(&) {
      background-color: var(--components-layout-badge-negative-standard-fill);
      color: var(--components-layout-badge-negative-standard-text);
    }

    .eds-contrast :where(&) {
      background-color: var(--components-layout-badge-negative-contrast-fill);
      color: var(--components-layout-badge-negative-contrast-text);
    }
    :where(&.eds-badge--type-status, &.eds-badge--type-notification) {
      border-color: var(--components-layout-badge-negative-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-negative-contrast-border);
      }
    }
    :where(&.eds-badge--type-bullet::before) {
      background-color: var(--components-layout-badge-negative-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-negative-contrast-bullet);
      }
    }
  }
  &--variant-info,
  &--variant-information {
    :where(&) {
      background-color: var(--components-layout-badge-information-standard-fill);
      color: var(--components-layout-badge-information-standard-text);
    }

    .eds-contrast :where(&) {
      background-color: var(--components-layout-badge-information-contrast-fill);
      color: var(--components-layout-badge-information-contrast-text);
    }

    :where(&.eds-badge--type-status, &.eds-badge--type-notification) {
      border-color: var(--components-layout-badge-information-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-information-contrast-border);
      }
    }
    :where(&.eds-badge--type-bullet::before) {
      background-color: var(--components-layout-badge-information-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-information-contrast-bullet);
      }
    }
  }
  &--variant-neutral {
    :where(&) {
      background-color: var(--components-layout-badge-neutral-standard-fill);
      color: var(--components-layout-badge-neutral-standard-text);
    }

    .eds-contrast :where(&) {
      background-color: var(--components-layout-badge-neutral-contrast-fill);
      color: var(--components-layout-badge-neutral-contrast-text);
    }

    :where(&.eds-badge--type-status, &.eds-badge--type-notification) {
      border-color: var(--components-layout-badge-neutral-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-neutral-contrast-border);
      }
    }
    :where(&.eds-badge--type-bullet::before) {
      background-color: var(--components-layout-badge-neutral-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-neutral-contrast-bullet);
      }
    }
  }

  // Size modifiers
  &--size {
    &-small {
      :where(&.eds-badge--type-status) {
        height: var(--components-layout-badge-status-height-small);
        padding: 0 var(--components-layout-badge-status-inlinepadding-small);
        border-radius: var(--components-layout-badge-status-radius-small);
        border-width: var(--components-layout-badge-status-border-small);
      }

      :where(&.eds-badge--type-notification) {
        width: var(--components-layout-badge-notification-height-small);
        height: var(--components-layout-badge-notification-height-small);
        min-width: var(--components-layout-badge-notification-height-small);
        max-width: var(--components-layout-badge-notification-height-small);
        min-height: var(--components-layout-badge-notification-height-small);
        max-height: var(--components-layout-badge-notification-height-small);
        border-width: var(--components-layout-badge-notification-border-small);
      }

      :where(&.eds-badge--type-bullet) {
        padding-left: calc(var(--components-layout-badge-bullet-bullet-small) + var(--components-layout-badge-bullet-gap-small));
        &::before {
          height: var(--components-layout-badge-bullet-bullet-small);
          width: var(--components-layout-badge-bullet-bullet-small);
        }
      }

      :where(&) .eds-icon {
        width: var(--components-layout-badge-status-icon-small);
        height: var(--components-layout-badge-status-icon-small);
      }

      :where(&.eds-badge--leading-icon) .eds-icon {
        margin-right: var(--components-layout-badge-status-gap-small);
      }
    }

    &-medium {
      :where(&.eds-badge--type-status) {
        height: var(--components-layout-badge-status-height-medium);
        padding: 0 var(--components-layout-badge-status-inlinepadding-medium);
        border-radius: var(--components-layout-badge-status-radius-medium);
        border-width: var(--components-layout-badge-status-border-medium);
      }

      :where(&.eds-badge--type-notification) {
        width: var(--components-layout-badge-notification-height-medium);
        height: var(--components-layout-badge-notification-height-medium);
        min-width: var(--components-layout-badge-notification-height-medium);
        max-width: var(--components-layout-badge-notification-height-medium);
        min-height: var(--components-layout-badge-notification-height-medium);
        max-height: var(--components-layout-badge-notification-height-medium);
        border-width: var(--components-layout-badge-notification-border-medium);
      }

      :where(&.eds-badge--type-bullet) {
        padding-left: calc(var(--components-layout-badge-bullet-bullet-medium) + var(--components-layout-badge-bullet-gap-medium));
        &::before {
          height: var(--components-layout-badge-bullet-bullet-medium);
          width: var(--components-layout-badge-bullet-bullet-medium);
        }
      }

      :where(&) .eds-icon {
        width: var(--components-layout-badge-status-icon-medium);
        height: var(--components-layout-badge-status-icon-medium);
      }

      :where(&.eds-badge--leading-icon) .eds-icon {
        margin-right: var(--components-layout-badge-status-gap-medium);
      }
    }

    &-large {
      :where(&.eds-badge--type-status) {
        height: var(--components-layout-badge-status-height-large);
        padding: 0 var(--components-layout-badge-status-inlinepadding-large);
        border-radius: var(--components-layout-badge-status-radius-large);
        border-width: var(--components-layout-badge-status-border-large);
      }

      :where(&.eds-badge--type-notification) {
        width: var(--components-layout-badge-notification-height-large);
        height: var(--components-layout-badge-notification-height-large);
        min-width: var(--components-layout-badge-notification-height-large);
        max-width: var(--components-layout-badge-notification-height-large);
        min-height: var(--components-layout-badge-notification-height-large);
        max-height: var(--components-layout-badge-notification-height-large);
        border-width: var(--components-layout-badge-notification-border-large);
      }

      :where(&.eds-badge--type-bullet) {
        padding-left: calc(var(--components-layout-badge-bullet-bullet-large) + var(--components-layout-badge-bullet-gap-large));
        &::before {
          height: var(--components-layout-badge-bullet-bullet-large);
          width: var(--components-layout-badge-bullet-bullet-large);
        }
      }

      :where(&) .eds-icon {
        width: var(--components-layout-badge-status-icon-large);
        height: var(--components-layout-badge-status-icon-large);
      }

      :where(&.eds-badge--leading-icon) .eds-icon {
        margin-right: var(--components-layout-badge-status-gap-large);
      }
    }
  }
}
