@use '@entur/tokens/dist/styles.scss' as t;
@use './badge-tokens.scss' as *;

.eds-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
  height: var(--layout-badge-status-height-medium);
  width: fit-content;
  padding: var(--size-2) 0.5rem;
  border-radius: var(--layout-badge-status-radius-medium);
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity t.$timings-medium ease-in-out, visibility 0s linear;

  &--hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity t.$timings-medium ease-in-out, visibility 0s linear 0.3s;
  }

  .eds-icon {
    position: relative;
  }

  &--variant-primary {
    background-color: var(--components-layout-badge-primary-standard-fill);
    .eds-text {
      color: var(--components-layout-badge-primary-standard-text);
      .eds-contrast & {
        color: var(--components-layout-badge-primary-contrast-text);
      }
    }

    &.eds-badge--leading-icon {
      .eds-icon {
        color: var(--components-layout-badge-primary-standard-text);
        .eds-contrast & {
          color: var(--components-layout-badge-primary-contrast-text);
        }
      }
    }

    .eds-contrast & {
      background-color: var(--components-layout-badge-primary-contrast-fill);
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-primary-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-primary-contrast-bullet);
      }
    }
  }
  &--variant-success {
    background-color: var(--components-layout-badge-success-standard-fill);
    .eds-text {
      color: var(--components-layout-badge-success-standard-text);
      .eds-contrast & {
        color: var(--components-layout-badge-success-contrast-text);
      }
    }

    &.eds-badge--leading-icon {
      .eds-icon {
        color: var(--components-layout-badge-success-standard-text);
        .eds-contrast & {
          color: var(--components-layout-badge-success-contrast-text);
        }
      }
    }

    .eds-contrast & {
      background-color: var(--components-layout-badge-success-contrast-fill);
    }

    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-success-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-success-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-success-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-success-contrast-bullet);
      }
    }
  }
  &--variant-warning {
    background-color: var(--components-layout-badge-warning-standard-fill);
    .eds-text {
      color: var(--components-layout-badge-warning-standard-text);
      .eds-contrast & {
        color: var(--components-layout-badge-warning-contrast-text);
      }
    }

    &.eds-badge--leading-icon {
      .eds-icon {
        color: var(--components-layout-badge-warning-standard-text);
        .eds-contrast & {
          color: var(--components-layout-badge-warning-contrast-text);
        }
      }
    }

    .eds-contrast & {
      background-color: var(--components-layout-badge-warning-contrast-fill);
    }
    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-warning-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-warning-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-warning-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-warning-contrast-bullet);
      }
    }
  }
  &--variant-danger,
  &--variant-negative {
    background-color: var(--components-layout-badge-negative-standard-fill);
    .eds-text {
      color: var(--components-layout-badge-negative-standard-text);
      .eds-contrast & {
        color: var(--components-layout-badge-negative-contrast-text);
      }
    }

    &.eds-badge--leading-icon {
      .eds-icon {
        color: var(--components-layout-badge-negative-standard-text);
        .eds-contrast & {
          color: var(--components-layout-badge-negative-contrast-text);
        }
      }
    }

    .eds-contrast & {
      background-color: var(--components-layout-badge-negative-contrast-fill);
      color: var(--components-layout-badge-negative-contrast-text);
    }
    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-negative-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-negative-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-negative-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-negative-contrast-bullet);
      }
    }
  }
  &--variant-info,
  &--variant-information {
    background-color: var(--components-layout-badge-information-standard-fill);
    .eds-text {
      color: var(--components-layout-badge-information-standard-text);
      .eds-contrast & {
        color: var(--components-layout-badge-information-contrast-text);
      }
    }

    &.eds-badge--leading-icon {
      .eds-icon {
        color: var(--components-layout-badge-information-standard-text);
        .eds-contrast & {
          color: var(--components-layout-badge-information-contrast-text);
        }
      }
    }

    .eds-contrast & {
      background-color: var(--components-layout-badge-information-contrast-fill);
      color: var(--components-layout-badge-information-contrast-text);
    }

    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-information-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-information-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-information-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-information-contrast-bullet);
      }
    }
  }
  &--variant-neutral {
    background-color: var(--components-layout-badge-neutral-standard-fill);
    .eds-text {
      color: var(--components-layout-badge-neutral-standard-text);
      .eds-contrast & {
        color: var(--components-layout-badge-neutral-contrast-text);
      }
    }

    &.eds-badge--leading-icon {
      .eds-icon {
        color: var(--components-layout-badge-neutral-standard-text);
        .eds-contrast & {
          color: var(--components-layout-badge-neutral-contrast-text);
        }
      }
    }

    .eds-contrast & {
      background-color: var(--components-layout-badge-neutral-contrast-fill);
    }

    &.eds-badge--type-status,
    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-neutral-standard-border);
      .eds-contrast & {
        border-color: var(--components-layout-badge-neutral-contrast-border);
      }
    }
    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-neutral-standard-bullet);
      .eds-contrast & {
        background-color: var(--components-layout-badge-neutral-contrast-bullet);
      }
    }
  }

  &--type {
    &-status {
      border-radius: var(--layout-badge-status-radius-medium);
      padding: 0 var(--layout-badge-status-inline-padding-medium);
      height: var(--layout-badge-status-height-medium);
      border: var(--layout-badge-status-border-medium) solid transparent;
      border-color: transparent;
    }

    &-notification {
      width: var(--layout-badge-notification-height-medium);
      height: var(--layout-badge-notification-height-medium);
      min-width: var(--layout-badge-notification-height-medium);
      max-width: var(--layout-badge-notification-height-medium);
      min-height: var(--layout-badge-notification-height-medium);
      max-height: var(--layout-badge-notification-height-medium);
      padding: var(--layout-badge-notification-inline-padding-padding);
      border: var(--layout-badge-notification-border-medium) solid transparent;
      border-radius: var(--layout-badge-notification-radius-round);
      border-color: transparent;
      .eds-contrast & {
        border-color: transparent;
      }
    }
    &-bullet {
      background: none;
      border: none;
      position: relative;
      padding-left: calc(var(--layout-badge-bullet-bullet-medium) + var(--layout-badge-bullet-gap-medium));
      .eds-contrast & {
        color: var(--components-layout-badge-primary-contrast-text-bullet);
        background: none;
      }
      .eds-text {
        color: var(--components-layout-badge-primary-standard-text-bullet);
        .eds-contrast & {
          color: var(--components-layout-badge-primary-contrast-text-bullet);
        }
      }
      &::before {
        background: var(--components-layout-badge-primary-standard-fill);
        left: 0;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: var(--layout-badge-bullet-bullet-medium);
        width: var(--layout-badge-bullet-bullet-medium);
        border-radius: 50%;
      }
    }
  }

  // Size modifiers
  &--size {
    &-small {
      &.eds-badge--type-status {
        height: var(--layout-badge-status-height-small);
        padding: 0 var(--layout-badge-status-inline-padding-small);
        border-radius: var(--layout-badge-status-radius-small);
        border-width: var(--layout-badge-status-border-small);
      }

      &.eds-badge--type-notification {
        width: var(--layout-badge-notification-height-small);
        height: var(--layout-badge-notification-height-small);
        min-width: var(--layout-badge-notification-height-small);
        max-width: var(--layout-badge-notification-height-small);
        min-height: var(--layout-badge-notification-height-small);
        max-height: var(--layout-badge-notification-height-small);
        border-width: var(--layout-badge-notification-border-small);
      }

      &.eds-badge--type-bullet {
        padding-left: calc(var(--layout-badge-bullet-bullet-small) + var(--layout-badge-bullet-gap-small));
        &::before {
          height: var(--layout-badge-bullet-bullet-small);
          width: var(--layout-badge-bullet-bullet-small);
        }
      }

      &.eds-badge--leading-icon {
        .eds-icon {
          width: 0.41631rem;
          height: 0.46881rem;
          margin: 0.17rem 0.17rem 0.14rem 0.17rem;
        }
      }
    }

    &-medium {
      &.eds-badge--type-status {
        height: var(--layout-badge-status-height-medium);
        padding: 0 var(--layout-badge-status-inline-padding-medium);
        border-radius: var(--layout-badge-status-radius-medium);
        border-width: var(--layout-badge-status-border-medium);
      }

      &.eds-badge--type-notification {
        width: var(--layout-badge-notification-height-medium);
        height: var(--layout-badge-notification-height-medium);
        min-width: var(--layout-badge-notification-height-medium);
        max-width: var(--layout-badge-notification-height-medium);
        min-height: var(--layout-badge-notification-height-medium);
        max-height: var(--layout-badge-notification-height-medium);
        border-width: var(--layout-badge-notification-border-medium);
      }

      &.eds-badge--type-bullet {
        padding-left: calc(var(--layout-badge-bullet-bullet-medium) + var(--layout-badge-bullet-gap-medium));
        &::before {
          height: var(--layout-badge-bullet-bullet-medium);
          width: var(--layout-badge-bullet-bullet-medium);
        }
      }

      &.eds-badge--leading-icon {
        .eds-icon {
          width: 0.55506rem;
          height: 0.62506rem;
          margin: 0.22rem 0.22rem 0.19rem 0.22rem;
        }
      }
    }

    &-large {
      &.eds-badge--type-status {
        height: var(--layout-badge-status-height-large);
        padding: 0 var(--layout-badge-status-inline-padding-large);
        border-radius: var(--layout-badge-status-radius-large);
        border-width: var(--layout-badge-status-border-large);
      }

      &.eds-badge--type-notification {
        width: var(--layout-badge-notification-height-large);
        height: var(--layout-badge-notification-height-large);
        min-width: var(--layout-badge-notification-height-large);
        max-width: var(--layout-badge-notification-height-large);
        min-height: var(--layout-badge-notification-height-large);
        max-height: var(--layout-badge-notification-height-large);
        border-width: var(--layout-badge-notification-border-large);
      }

      &.eds-badge--type-bullet {
        padding-left: calc(var(--layout-badge-bullet-bullet-large) + var(--layout-badge-bullet-gap-large));
        &::before {
          height: var(--layout-badge-bullet-bullet-large);
          width: var(--layout-badge-bullet-bullet-large);
        }
      }

      &.eds-badge--leading-icon {
        .eds-icon {
          margin: 0.22247rem 0.22247rem 0.18747rem 0.22247rem;
          width: 0.69381rem;
          height: 0.78131rem;
        }
      }
    }
  }
}
