@use '~@entur/tokens/dist/styles.scss' as t;

.eds-skip-to-content {
  background: t.$colors-validation-canary;
  color: t.$colors-brand-blue;
  display: block;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  transform: translateY(-110%);
  transition: transform 0.1s ease-out;
  outline: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: t.$z-indexes-overlay;

  &:visited {
    color: inherit;
  }
  &:focus {
    transform: none;
    outline: none;
    box-shadow: t.$shadows-focus;
    outline-offset: t.$outline-offsets-focus;
  }
}
