@import '~@entur/tokens/dist/styles.scss';

.eds-skip-to-content {
  background: $colors-validation-canary;
  color: $colors-brand-blue;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  transform: translateY(-100%);
  transition: transform 0.1s ease-out;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-indexes-toast;

  &:focus-within {
    transform: none;
  }

  a,
  a:focus,
  a:hover {
    color: inherit;
    outline: none;
  }
}
