@import '~@entur/tokens/dist/styles.scss';

.grid-demo-item {
  background: $colors-greys-grey70;
  text-align: center;
  padding: $space-extra-small;
  .eds-contrast & {
    background: $colors-blues-blue30;
  }
}
