@use '~@entur/tokens/dist/styles.scss' as tokens;

.color-swatch {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  align-items: center;
  transition: box-shadow tokens.$timings-medium ease-in-out, transform tokens.$timings-medium ease-in-out;
  &:hover {
    box-shadow: tokens.$shadows-card-shadow-hover;
    transform: translateY(tokens.$space-extra-small2);
  }
  &:focus-visible {
    outline-offset: tokens.$outline-offsets-focus;
    outline: none;
    box-shadow: tokens.$shadows-focus;
  }
}

.color-square {
  height: 10rem;
  width: 100%;
  border-radius: tokens.$border-radiuses-medium;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.color-description {
  padding: 1rem;
  font-family: inherit;
  font-size: tokens.$font-sizes-large;
}
.color-swatch__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: tokens.$font-weights-body;
}

.color-swatch__copy-button {
  appearance: none;
  background: none;
  border: 0;
  border-radius: tokens.$border-radiuses-default;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  padding: tokens.$space-extra-small2;
  width: fit-content;

  & + & {
    margin-top: tokens.$space-extra-small2;
  }

  .eds-icon {
    opacity: 0;
    transition: all tokens.$timings-fast ease-out;
    visibility: hidden;
  }

  .color-swatch:hover & .eds-icon,
  &:focus-visible .eds-icon {
    opacity: 1;
    visibility: visible;
  }
}
