@use '@entur/tokens/dist/base.scss' as *;

:root {
  --eds-icons: 1;
}

.eds-icon.eds-icon--inline,
p .eds-icon {
  position: relative;
  top: 0.2em;
}

.eds-icon :where(g, path) {
  fill: currentColor;
}

.svg-exclamation {
  fill: var(--basecolors-frame-default);

  .eds-contrast & {
    fill: var(--basecolors-frame-contrast);
  }
}

.eds-icon {
  &__metro {
    color: var(--basecolors-shape-metro-default);
    .eds-contrast & {
      color: var(--basecolors-shape-metro-contrast);
    }
  }
  &__bus {
    color: var(--basecolors-shape-bus-default);
    .eds-contrast & {
      color: var(--basecolors-shape-bus-contrast);
    }
  }
  &__plane {
    color: var(--basecolors-shape-plane-default);
    .eds-contrast & {
      color: var(--basecolors-shape-plane-contrast);
    }
  }
  &__helicopter {
    color: var(--basecolors-shape-helicopter-default);
    .eds-contrast & {
      color: var(--basecolors-shape-helicopter-contrast);
    }
  }
  &__tram {
    color: var(--basecolors-shape-tram-default);
    .eds-contrast & {
      color: var(--basecolors-shape-tram-contrast);
    }
  }
  &__funicular {
    color: var(--basecolors-shape-funicular-default);
    .eds-contrast & {
      color: var(--basecolors-shape-funicular-contrast);
    }
  }
  &__cableway {
    color: var(--basecolors-shape-cableway-default);
    .eds-contrast & {
      color: var(--basecolors-shape-cableway-contrast);
    }
  }
  &__car,
  &__taxi,
  &__snowcoach {
    color: var(--basecolors-shape-taxi-default);
    .eds-contrast & {
      color: var(--basecolors-shape-taxi-contrast);
    }
  }
  &__bicycle {
    color: var(--basecolors-shape-bicycle-default);
    .eds-contrast & {
      color: var(--basecolors-shape-bicycle-contrast);
    }
  }
  &__standing,
  &__walk,
  &__strolling,
  &__running {
    color: var(--basecolors-shape-walk-default);
    .eds-contrast & {
      color: var(--basecolors-shape-walk-contrast);
    }
  }
  &__train {
    color: var(--basecolors-shape-train-default);
    .eds-contrast & {
      color: var(--basecolors-shape-train-contrast);
    }
  }
  &__ferry,
  &__carferry {
    color: var(--basecolors-shape-ferry-default);
    .eds-contrast & {
      color: var(--basecolors-shape-ferry-contrast);
    }
  }
  &__mobility,
  &__citybike,
  &__carsharing {
    color: var(--basecolors-shape-mobility-default);
    .eds-contrast & {
      color: var(--basecolors-shape-mobility-contrast);
    }
  }
}
