@import '../../tokens/dist/styles.scss';

:root {
  --eds-icons: 1;
}

.eds-icon.eds-icon--inline,
p .eds-icon {
  position: relative;
  top: 0.2em;
}

.eds-icon :where(g, path) {
  fill: currentColor;
}

.eds-contrast .eds-icon {
  &__bicycle :where(g, path) {
    fill: $colors-transport-contrast-bicycle;
  }
  &__bus :where(g, path) {
    fill: $colors-transport-contrast-bus;
  }
  &__cableway :where(g, path) {
    fill: $colors-transport-contrast-cableway;
  }
  &__carferry :where(g, path) {
    fill: $colors-transport-contrast-carferry;
  }
  &__ferry :where(g, path) {
    fill: $colors-transport-contrast-ferry;
  }
  &__funicular :where(g, path) {
    fill: $colors-transport-contrast-funicular;
  }
  &__helicopter :where(g, path) {
    fill: $colors-transport-contrast-helicopter;
  }
  &__metro :where(g, path) {
    fill: $colors-transport-contrast-metro;
  }
  &__plane :where(g, path) {
    fill: $colors-transport-contrast-plane;
  }
  &__taxi :where(g, path) {
    fill: $colors-transport-contrast-taxi;
  }
  &__train :where(g, path) {
    fill: $colors-transport-contrast-train;
  }
  &__tram :where(g, path) {
    fill: $colors-transport-contrast-tram;
  }
}
