@use '~@entur/tokens/dist/styles.scss' as tokens;

.changelog-link {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none;
  background-image: linear-gradient(120deg, var(--primary-text-color), var(--primary-text-color));
  background-repeat: no-repeat;
  background-size: 100% 0.125rem;
  background-position: 0 100%;
}
