@use '@entur/tokens/dist/styles.scss' as eds;
@use '@entur/utils/dist/breakpoints.scss' as breakpoint;

.footer {
  position: relative;
  border-top: eds.$border-widths-default solid var(--designentur-header-default-divider);

  &.eds-contrast {
    border-top-color: var(--designentur-header-contrast-divider);
  }

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 1.5rem;

    @include breakpoint.for-desktop {
      grid-template-columns: repeat(3, 1fr);
      padding: 4rem 3rem 3rem;
    }
  }

  &__link {
    display: block;
    width: fit-content;
    margin-bottom: 1rem;
    text-align: start;

    :where(&) {
      border: none;
      background: none;
      padding-inline: 0;
    }
  }

  &__description {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  &__entur-banner {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    border-top: 1px solid var(--designentur-footer-default-divider);

    .eds-contrast & {
      border-top-color: var(--designentur-footer-contrast-divider);
    }
    padding: 1rem 1.5rem;

    @include breakpoint.for-desktop {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
