@import '~@entur/tokens/dist/styles.scss';

.eds-leg-line {
  flex-grow: 1;

  -webkit-mask-image: url('./pattern/line.svg');
  mask-image: url('./pattern/line.svg');
  -webkit-mask-position: center;
  mask-position: center;
  &--dotted {
    -webkit-mask-image: url('./pattern/dotted.svg');
    mask-image: url('./pattern/dotted.svg');
  }

  &--vertical {
    -webkit-mask-repeat: repeat-y;
    mask-repeat: repeat-y;
    width: 1rem;

    &.eds-leg-line--dashed {
      -webkit-mask-image: url('./pattern/dashed-vertical.svg');
      mask-image: url('./pattern/dashed-vertical.svg');
    }

    &.eds-leg-line--wave {
      -webkit-mask-image: url('./pattern/wave-vertical.svg');
      mask-image: url('./pattern/wave-vertical.svg');
    }
  }

  &--horizontal {
    height: 1rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    min-width: 6.25rem;

    &.eds-leg-line--dashed {
      -webkit-mask-image: url('./pattern/dashed-horizontal.svg');
      mask-image: url('./pattern/dashed-horizontal.svg');
    }

    &.eds-leg-line--wave {
      -webkit-mask-image: url('./pattern/wave-horizontal.svg');
      mask-image: url('./pattern/wave-horizontal.svg');
    }
  }
}
