@import '~@entur/tokens/dist/styles.scss';

.eds-travel-header {
  color: $colors-brand-blue;
  display: flex;
  flex-direction: column;
  font-weight: $font-weights-heading;
  .eds-contrast & {
    color: $colors-brand-white;
  }
  &--large {
    font-size: $font-sizes-extra-large;
  }
  &--medium {
    font-size: $font-sizes-large;
  }
  &__line {
    background-color: $colors-brand-coral;
    content: ' ';
    display: block;
    height: $space-extra-small2;
    margin-right: $space-small;
    width: $space-extr a-large;
    .eds-travel-header--medium & {
      height: 0.125rem;
      margin-right: $space-extra-small;
      width: $space-large;
    }
  }
  &__bottom {
    align-items: center;
    display: flex;
  }
}
