@use '@entur/tokens/dist/styles.scss' as t;

.eds-travel-header {
  align-items: flex-start;
  color: var(--components-travel-travelheader-standard-text);
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-heading);
  line-height: var(--font-line-height-heading-lg);
  max-width: 100%;
  :where(.eds-contrast) & {
    color: var(--components-travel-travelheader-contrast-text);
  }
  &--extra-large {
    font-size: var(--font-size-heading-xl);
    line-height: var(--font-line-height-heading-xl);

    &:where(.eds-travel-header--no-wrap) {
      gap: var(--components-travel-travelheader-gap-xl);
    }
  }
  &--large {
    font-size: var(--font-size-heading-lg);
    line-height: var(--font-line-height-heading-lg);

    &:where(.eds-travel-header--no-wrap) {
      gap: var(--components-travel-travelheader-gap-large);
    }
  }
  &--medium {
    font-size: var(--font-size-heading-m);
    line-height: var(--font-line-height-heading-m);

    &:where(.eds-travel-header--no-wrap) {
      gap: var(--components-travel-travelheader-gap-medium);
    }
  }

  &--no-wrap {
    flex-direction: row;
  }
  &__from,
  &__to {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__to {
    padding-left: calc(var(--components-travel-travelheader-width-large) + var(--components-travel-travelheader-spacing-large));
    position: relative;

    :where(.eds-travel-header--medium) & {
      padding-left: calc(var(--components-travel-travelheader-width-medium) + var(--components-travel-travelheader-spacing-medium));
    }

    :where(.eds-travel-header--extra-large) & {
      padding-left: calc(var(--components-travel-travelheader-width-xl) + var(--components-travel-travelheader-spacing-xl));
    }

    &::before {
      background-color: var(--components-travel-travelheader-standard-stroke-line);
      content: '';
      display: block;
      height: var(--components-travel-travelheader-border-large);
      width: var(--components-travel-travelheader-width-large);
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      :where(.eds-travel-header--medium) & {
        height: var(--components-travel-travelheader-border-medium);
        width: var(--components-travel-travelheader-width-medium);
      }

      :where(.eds-travel-header--extra-large) & {
        height: var(--components-travel-travelheader-border-xl);
        width: var(--components-travel-travelheader-width-xl);
      }

      :where(.eds-contrast) & {
        background-color: var(--components-travel-travelheader-contrast-stroke-line);
      }
    }
  }
}
