@use '~@entur/tokens/dist/styles.scss' as t;

.eds-travel-tag {
  --background-color: #{t.$colors-greys-grey40};
  --text-color: #{t.$colors-brand-white};

  display: inline-flex;
  position: relative;
  padding: t.$space-extra-small2 t.$space-extra-small;
  height: t.$space-extra-large;
  min-width: t.$space-extra-large;
  font-size: t.$font-sizes-medium;
  line-height: t.$space-large;
  border-radius: t.$border-radiuses-medium;

  background-color: var(--background-color);
  color: var(--text-color);

  .eds-contrast & {
    --background-color: #{t.$colors-greys-grey60};
    --text-color: #{t.$colors-brand-blue};
  }

  &--alert {
    padding-right: t.$space-small;
    &--error {
      box-shadow: inset 0 0 0 20px rgba(t.$colors-brand-white, 0.7); // adds 50% white overlay
      --text-color: var(--background-color);
      .eds-contrast &.eds-travel-tag {
        box-shadow: inset 0 0 0 20px rgba(t.$colors-brand-blue, 0.7); // adds 50% black overlay;
        --text-color: var(--background-color);
      }
    }
  }
  &--icon-and-text > .eds-icon {
    margin-right: t.$space-extra-small;
  }

  > .eds-icon {
    font-size: t.$font-sizes-extra-large2;
    color: var(--text-color);
  }

  &__alert {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: t.$font-sizes-large;
    height: calc(t.$space-default + t.$border-widths-medium);
    width: calc(t.$space-default + t.$border-widths-medium);

    position: absolute;
    top: calc(
      (t.$space-extra-large - (t.$space-default + t.$border-widths-medium)) / 2
    );
    right: calc(
      -1 * (t.$space-default - t.$border-widths-medium) / 2 - t.$space-extra-small2
    );

    background: t.$colors-brand-white;
    .eds-contrast & {
      background: t.$colors-brand-blue;
    }

    &-exclamation-icon {
      color: t.$colors-validation-canary;
      circle {
        fill: t.$colors-brand-blue;
      }
      .eds-contrast & {
        color: t.$colors-validation-canary-contrast;
      }
    }
    &-error-icon {
      font-size: t.$font-sizes-medium;
      color: t.$colors-validation-lava;
      .eds-contrast & {
        color: t.$colors-validation-lava-contrast;
      }
    }
    &-info-icon {
      color: t.$colors-validation-sky;
      .eds-contrast & {
        color: t.$colors-validation-sky-contrast;
      }
    }
  }

  &__wrapper {
    display: inline-flex;
    &--label-position-right {
      flex-direction: row;
      align-items: center;
    }
    &--label-position-bottom {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__label {
    color: t.$colors-brand-blue;
    font-size: t.$font-sizes-large;
    .eds-contrast & {
      color: t.$colors-brand-white;
    }
    &--right {
      margin-left: t.$space-extra-small;
      &--with-alert {
        margin-left: t.$space-default;
      }
    }
    &--bottom {
      margin-top: calc(t.$space-extra-small2 / 2);
      font-size: t.$font-sizes-medium;
    }
  }

  &__close-button {
    appearance: none;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0 0 t.$space-small;
    padding: 0;
    height: t.$space-large;
    width: t.$space-large;
    .eds-icon {
      color: var(--text-color);
      font-size: t.$font-sizes-medium;
    }
    &:focus,
    :focus-within {
      outline-offset: t.$outline-offsets-focus;
      outline: t.$outlines-focus-contrast;
    }
  }
}
