@use '@entur/tokens/dist/styles.scss' as t;

.eds-travel-header {
  color: var(--components-travel-travelheader-standard-text);
  display: flex;
  flex-direction: column;
  font-weight: t.$font-weights-heading;
  line-height: 1.5;
  max-width: 100%;
  .eds-contrast & {
    color: var(--components-travel-travelheader-contrast-text);
  }
  &--large {
    font-size: t.$font-sizes-extra-large2;
  }
  &--medium {
    font-size: t.$font-sizes-large;
  }
  &--no-wrap {
    flex-direction: row;
  }
  &__from,
  &__to {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__from {
    .eds-travel-header--no-wrap & {
      margin-right: 0.5em;
    }
  }
  &__to {
    padding-left: calc(4em / 3 + 0.5em);
    position: relative;
    &::before {
      background-color: var(--components-travel-travelheader-standard-stroke-line);
      content: '';
      display: block;
      height: calc(1em / 6);
      left: 0;
      position: absolute;
      top: 0.65em;
      width: calc(4em / 3);

      .eds-contrast & {
        background-color: var(--components-travel-travelheader-contrast-stroke-line);
      }
    }
  }
}
