@use '~@entur/tokens/dist/styles.scss' as t;

.eds-travel-tag {
  --background-color: #{t.$colors-greys-grey70};
  --text-color: inherit;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: t.$border-radiuses-medium;
  display: inline-flex;
  font-size: t.$font-sizes-medium;
  line-height: t.$space-large;
  height: t.$space-extra-large;
  min-width: t.$space-extra-large;
  padding: t.$space-extra-small2 t.$space-extra-small;
  position: relative;

  .eds-contrast & {
    background-color: t.$colors-blues-blue20;
  }

  &--alert {
    padding-right: t.$space-small;
    &--error {
      box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.5); // adds 50% white overlay
      .eds-contrast &.eds-travel-tag {
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
        border: t.$border-widths-default dashed t.$colors-blues-blue30;
      }
    }
  }
  &--icon-and-text > .eds-icon {
    margin-right: t.$space-extra-small;
  }

  > .eds-icon {
    font-size: t.$font-sizes-extra-large2;
    color: t.$colors-brand-white;

    .eds-contrast & :where(g, path) {
      fill: var(--background-color);
    }
  }

  &__close-button {
    appearance: none;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0 0 t.$space-small;
    padding: 0;
    height: t.$space-large;
    width: t.$space-large;
    .eds-icon {
      color: t.$colors-brand-blue;
      font-size: t.$font-sizes-medium;
      .eds-contrast & {
        color: t.$colors-brand-white;
      }
    }
    &:focus,
    :focus-within {
      outline-offset: t.$outline-offsets-focus;
      outline: none;
      box-shadow: t.$shadows-focus;
      .eds-contrast & {
        box-shadow: t.$shadows-focus-contrast;
      }
    }
  }

  &__alert {
    background: t.$colors-brand-white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: t.$font-sizes-large;
    height: calc(t.$space-default + t.$border-widths-medium);
    width: calc(t.$space-default + t.$border-widths-medium);
    position: absolute;
    top: calc(
      (t.$space-extra-large - (t.$space-default + t.$border-widths-medium)) / 2
    );
    right: calc(
      -1 * (t.$space-default - t.$border-widths-medium) / 2 - t.$space-extra-small2
    );
    .eds-contrast & {
      background: t.$colors-brand-blue;
      &--error-icon {
        top: calc((t.$space-extra-large - (t.$font-sizes-medium)) / 2);
      }
    }

    &-exclamation-icon {
      color: t.$colors-validation-canary;
      circle {
        fill: t.$colors-brand-blue;
      }
      .eds-contrast & {
        color: t.$colors-validation-canary-contrast;
      }
    }
    &-error-icon {
      font-size: t.$font-sizes-medium;
      color: t.$colors-validation-lava;
      .eds-contrast & {
        margin-bottom: t.$space-extra-small2;
        color: t.$colors-validation-lava-contrast;
      }
    }
    &-info-icon {
      color: t.$colors-validation-sky;
      .eds-contrast & {
        color: t.$colors-validation-sky-contrast;
      }
    }
  }

  &__wrapper {
    display: inline-flex;
    &--label-position-right {
      flex-direction: row;
      align-items: center;
    }
    &--label-position-bottom {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__label {
    color: t.$colors-brand-blue;
    font-size: t.$font-sizes-large;
    .eds-contrast & {
      color: t.$colors-brand-white;
    }
    &--right {
      margin-left: t.$space-extra-small;
      &--with-alert {
        margin-left: t.$space-default;
      }
    }
    &--bottom {
      margin-top: calc(t.$space-extra-small2 / 2);
      font-size: t.$font-sizes-medium;
    }
  }
}
