@use '~@entur/tokens/dist/styles.scss' as t;

.eds-dropdown__list {
  position: absolute;

  list-style: none;
  border-radius: t.$border-radiuses-medium;
  border: 0.125rem solid t.$colors-blues-blue45;
  box-shadow: t.$shadows-box-shadow;
  padding: 0;
  margin: 0;
  margin-top: t.$space-extra-small;
  max-height: 50vh;
  overflow-y: auto;
  width: 100%;
  z-index: t.$z-indexes-popover;

  &:focus {
    outline: none;
  }

  &__item {
    background-color: t.$colors-greys-grey90;
    color: t.$colors-brand-blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: inherit;
    font-size: t.$font-sizes-large;
    line-height: t.$line-heights-medium;
    padding: t.$space-small t.$space-default;
    width: 100%;
    overflow-x: hidden;
    word-break: break-word;

    &:last-child {
      border-bottom: none;
    }

    &__text {
      flex: 1;
      cursor: default;
    }

    &__icon {
      margin-left: t.$space-small;
    }

    &__checkbox {
      pointer-events: none;
      // revert contrast styling since dropdownList always is light
      .eds-contrast & {
        &.eds-checkbox__container {
          > input + .eds-checkbox__icon {
            border-color: t.$colors-brand-blue;
          }
          > input:checked,
          > input:indeterminate {
            + .eds-checkbox__icon {
              background-color: t.$colors-brand-blue;
              path {
                stroke: t.$colors-brand-white;
              }
              rect {
                fill: t.$colors-brand-white;
              }
            }
          }
        }
      }
    }

    &--highlighted {
      background-color: t.$colors-blues-blue70;

      // change to hover style for checkbox when list is hovered
      .eds-dropdown__list__item__checkbox.eds-checkbox__container,
      .eds-dropdown__list__item__checkbox.eds-checkbox__container:hover {
        > input:checked + .eds-checkbox__icon,
        > input:indeterminate + .eds-checkbox__icon {
          background-color: t.$colors-blues-blue30;
          border-color: transparent;
        }
        > input + .eds-checkbox__icon {
          border-color: t.$colors-blues-blue30;
        }
      }
    }

    &--selected {
      background-color: t.$colors-blues-blue30;
      color: t.$colors-brand-white;
    }
  }

  @media all and (min-width: t.$breakpoints-large) {
    max-height: 30vh;
  }
}
