@use '~@entur/tokens/dist/styles.scss' as t;

.eds-dropdown {
  &__selected-item-tag {
    height: 1.5rem;
    max-width: 10rem;
    padding: 0;

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 0.5rem;
    }

    .eds-tag-chip__close-button {
      margin-right: 0.125rem;

      > svg {
        font-size: 0.6rem;
      }
    }

    // revert contrast styling since dropdown field always is light
    .eds-contrast & {
      background: t.$colors-blues-blue80;
      border: t.$border-widths-small solid t.$colors-blues-blue70;
      color: t.$colors-brand-blue;

      .eds-tag-chip__close-button {
        color: t.$colors-brand-blue;

        &:hover {
          background-color: t.$colors-blues-blue60;
        }
      }
    }

    &--readonly,
    &--disabled {
      padding-right: 0.5rem;
      .eds-tag-chip__close-button {
        display: none;
      }
    }

    &--readonly {
      .eds-contrast & {
        background-color: t.$colors-blues-blue50;
        border-color: transparent;
        color: t.$colors-brand-white;
      }
    }

    &--disabled {
      .eds-contrast & {
        background-color: t.$colors-blues-blue30;
        border-color: transparent;
        color: t.$colors-blues-blue50;
      }
    }
  }
}
