@use '~@entur/tokens/dist/styles.scss' as t;

.eds-skeleton {
  display: block;
  margin: 0.2rem 0;
  height: 1rem;
  width: 100%;
  &-circle {
    border-radius: 50%;
    width: t.$space-default;
    height: t.$space-default;
  }
  &-rectangle {
    height: t.$space-default;
  }
  &--animate {
    --background-color: #{t.$colors-greys-grey80};
    --shimmer-highlight-color: #{rgba(t.$colors-greys-grey80, 0.5)};
    animation: shimmer 2s infinite linear;
    background: linear-gradient(
      to right,
      var(--background-color) 4%,
      var(--shimmer-highlight-color) 25%,
      var(--background-color) 36%
    );
    background-size: 1000px 100%;
    .eds-contrast & {
      --background-color: #{t.$colors-blues-blue10};
      --shimmer-highlight-color: #{rgba(t.$colors-blues-blue10, 0.5)};
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
