@use '~@entur/tokens/dist/styles.scss' as t;

@keyframes eds-back-and-forth {
  from {
    transform: none;
  }

  to {
    transform: translateX(calc(100% - #{t.$space-extra-large3}));
  }
}

@keyframes grow {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scaleX(2);
  }
}

.eds-loader {
  text-align: center;
  overflow-x: hidden;
  max-width: 20rem;
  margin: 0 auto;
  .eds-loader__label {
    margin-bottom: t.$space-extra-small;
  }
  .eds-loader__percentage {
    float: right;
    margin-top: t.$space-extra-small;
  }
}

.eds-loader__bar {
  border: t.$border-widths-medium solid t.$colors-greys-grey70;
  &::after {
    background: t.$colors-brand-coral;
    content: '';
    display: block;
    height: 0.3125rem; // 5px
    transition: width t.$timings-fast ease-out;
    width: var(--loader-width);
  }

  &--indeterminate {
    animation: 1s eds-back-and-forth alternate infinite ease-in-out;
    border: none;
    will-change: transform;

    &::after {
      animation: 1s grow alternate infinite ease-in-out;
      width: t.$space-extra-large3;
      will-change: transform;
    }
  }
}
