@use "sass:map";
@use '~@entur/utils/dist/breakpoints.scss' as *;

@use '../../../styles/variables' as variables;

.verdier {
  &__card {
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    width: 100%;

    @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
      padding: 3rem 4rem;
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &__entur1 {
    padding: 2.5rem 0rem;
    & img {
      object-fit: contain;
    }
  }
}
