@import '~@entur/tokens/dist/styles.scss';

:root {
  --eds-tooltip: 1; // Register that the styles are loaded!
}

.eds-tooltip-wrapper {
  display: inline-block;
  position: relative;
  .eds-contrast & {
    --primary-background-color: #{$colors-blues-blue20};
    --primary-text-color: #{$colors-brand-white};
    --primary-border-color: #{$colors-blues-blue10};
  }
}

.eds-tooltip {
  color: $colors-brand-white;
  background: $colors-brand-blue;
  border-radius: $border-radiuses-medium;
  box-shadow: $shadows-card-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 1rem;
  min-width: 11.125rem;
  padding: 0.3125rem 0.625rem;
  position: absolute;
  z-index: $z-indexes-popover;

  .eds-contrast & {
    background: $colors-brand-white;
    color: $colors-brand-blue;
    box-shadow: 0px 1px 3px 0px rgba(209, 211, 211, 0.7);
  }

  &__close-button {
    float: right;
    &:hover {
      background: $colors-blues-blue30;
    }
    .eds-contrast & {
      &:hover {
        background-color: $colors-greys-grey20;
      }
    }
  }

  &::after {
    background: $colors-brand-blue;
    content: '';
    height: 0.625rem;
    position: absolute;
    transform: rotate(45deg) translateY(0.125rem);
    width: 0.625rem;
    z-index: $z-indexes-behind;
    .eds-contrast & {
      background: $colors-brand-white;
    }
  }

  &--top {
    &::after {
      bottom: -0.2rem;
      left: calc(50% - 0.3125rem);
    }
  }

  &--left {
    &::after {
      bottom: calc(50% - 0.3125rem);
      left: calc(100% - 0.25rem);
    }
  }

  &--right {
    &::after {
      bottom: calc(50% - 0.3125rem);
      right: calc(100% - 0.45rem);
    }
  }

  &--bottom {
    &::after {
      left: calc(50% - 0.3125rem);
      top: -0.4rem;
    }
  }

  &--bottom-start {
    &::after {
      bottom: calc(100% - 0.25rem);
    }
  }

  &--bottom-end {
    &::after {
      bottom: calc(100% - 0.25rem);
      left: calc(100% - 1rem);
    }
  }
}
