@import '~@entur/tokens/dist/styles.scss';

:root {
  --eds-tooltip: 1; // Register that the styles are loaded!
}

.eds-tooltip-wrapper {
  display: inline-block;
  position: relative;
  .eds-contrast & {
    --primary-background-color: #{$colors-blues-blue20};
    --primary-text-color: #{$colors-brand-white};
    --primary-border-color: #{$colors-blues-blue10};
  }
}

.eds-tooltip {
  color: $colors-brand-white; // IE
  background: $colors-brand-blue;
  border-radius: $border-radiuses-medium;
  box-shadow: 0 0.125rem 0.3125rem 0 var(--primary-border-color);
  min-height: 1rem;
  min-width: 11.125rem;
  padding: 0.3125rem 0.625rem;
  position: absolute;
  z-index: $z-indexes-popover;

  .eds-contrast & {
    background: $colors-brand-white;
    color: $colors-brand-blue;
  }

  &[aria-hidden='true'] {
    display: none;
  }
  &[aria-hidden='false'] {
    display: inline-block;
  }

  &::after {
    background: $colors-brand-blue;
    content: '';
    height: 0.625rem;
    position: absolute;
    transform: rotate(45deg) translateY(0.125rem);
    width: 0.625rem;
    z-index: $z-indexes-behind;
    .eds-contrast & {
      background: $colors-brand-white;
    }
  }

  &--top {
    bottom: calc(100% + 0.625rem);
    left: 50%;
    transform: translateX(-50%);

    &::after {
      bottom: -0.2rem;
      left: calc(50% - 0.3125rem);
    }
  }

  &--top-left {
    bottom: calc(100% + 0.625rem);
    right: calc(100% - 1.25rem);

    &::after {
      bottom: -0.2rem;
      right: 0.25rem;
    }
  }

  &--top-right {
    bottom: calc(100% + 0.625rem);
    left: calc(100% - 1.25rem);

    &::after {
      bottom: -0.375rem;
      left: 0.25rem;
    }
  }

  &--left {
    right: calc(100% + 0.625rem);
    top: 50%;
    transform: translateY(-50%);

    &::after {
      bottom: calc(50% - 0.3125rem);
      left: calc(100% - 0.25rem);
    }
  }

  &--right {
    left: calc(100% + 0.625rem);
    top: 50%;
    transform: translateY(-50%);

    &::after {
      bottom: calc(50% - 0.3125rem);
      right: calc(100% - 0.3125rem);
    }
  }

  &--bottom {
    left: 50%;
    top: calc(100% + 0.625rem);
    transform: translateX(-50%);

    &::after {
      left: calc(50% - 0.3125rem);
      top: -0.4rem;
    }
  }

  &--bottom-left {
    right: calc(100% - 1.25rem);
    top: calc(100% + 0.625rem);

    &::after {
      bottom: calc(100% - 0.25rem);
      left: calc(100% - 1rem);
    }
  }

  &--bottom-right {
    left: calc(100% + -1.25rem);
    top: calc(100% + 0.625rem);

    &::after {
      bottom: calc(100% - 0.25rem);
      right: calc(100% - 1rem);
    }
  }
}

.eds-tooltip--trigger {
  display: inline-block;
}
