@use '~@entur/tokens/dist/styles.scss' as t;

.eds-popover {
  background: t.$colors-brand-blue;
  box-shadow: t.$shadows-box-shadow;
  border-radius: t.$border-radiuses-default;
  border: t.$border-widths-small solid t.$colors-greys-grey60;
  font-family: inherit;
  z-index: t.$z-indexes-popover;
  .eds-contrast & {
    background: t.$colors-blues-blue10;
    box-shadow: t.$shadows-box-shadow-contrast;
  }
  &--hidden {
    display: none;
  }
  &:focus {
    outline: 5px solid red;
  }
}
