@use '~@entur/tokens/dist/styles.scss' as t;

.eds-tooltip-wrapper {
  display: inline-block;
  position: relative;
  .eds-contrast & {
    --primary-background-color: #{t.$colors-blues-blue20};
    --primary-text-color: #{t.$colors-brand-white};
    --primary-border-color: #{t.$colors-blues-blue10};
  }
}

.eds-tooltip {
  color: t.$colors-brand-white;
  background: t.$colors-brand-blue;
  border-radius: t.$border-radiuses-medium;
  box-shadow: t.$shadows-box-shadow;
  font-size: t.$font-sizes-medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 1rem;
  min-width: 2rem;
  padding: 0.3125rem 0.625rem;
  position: absolute;
  z-index: t.$z-indexes-popover;
  max-width: 32rem;
  .eds-contrast & {
    background: t.$colors-brand-white;
    color: t.$colors-brand-blue;
    box-shadow: t.$shadows-box-shadow-contrast;
  }

  &__close-button {
    float: right;
    &:hover {
      background: t.$colors-blues-blue30;
    }
    .eds-contrast & {
      &:hover {
        background-color: t.$colors-greys-grey70;
      }
    }
  }

  &::after {
    background: t.$colors-brand-blue;
    content: '';
    height: 0.625rem;
    position: absolute;
    transform: rotate(45deg) translateY(0.125rem);
    width: 0.625rem;
    z-index: t.$z-indexes-behind;
    .eds-contrast & {
      background: t.$colors-brand-white;
    }
  }

  &--error {
    background: t.$colors-validation-lava-tint;
    border: solid t.$border-widths-medium t.$colors-validation-lava-contrast;
    color: t.$colors-brand-blue;
    &::after {
      background: t.$colors-validation-lava-tint;
    }

    &::before {
      background: t.$colors-validation-lava-contrast;
      content: '';
      height: 0.625rem + t.$border-widths-medium;
      position: absolute;
      transform: rotate(45deg) translateY(0.125rem);
      width: 0.625rem + t.$border-widths-medium;
      z-index: t.$z-indexes-behind;
    }
    .eds-contrast & {
      color: t.$colors-brand-blue;
      background: t.$colors-validation-lava-tint;
      border: solid t.$border-widths-medium t.$colors-validation-lava-contrast;
      box-shadow: t.$shadows-box-shadow-contrast;
      &::after {
        background: t.$colors-validation-lava-tint;
      }
    }
  }

  &--top {
    &::before {
      left: calc(50% - 0.375rem);
      bottom: calc(-0.5rem + #{t.$border-widths-small});
    }
    &::after {
      bottom: -0.2rem;
      left: calc(50% - 0.3125rem);
    }
  }

  &--top-start {
    &::after {
      bottom: -0.2rem;
    }
  }

  &--top-end {
    &::after {
      bottom: -0.2rem;
      right: 0.35rem;
    }
  }

  &--left {
    &::after {
      bottom: calc(50% - 0.3125rem);
      left: calc(100% - 0.25rem);
    }
  }

  &--right {
    &::after {
      bottom: calc(50% - 0.3125rem);
      right: calc(100% - 0.45rem);
    }
  }

  &--bottom {
    &::before {
      left: calc(50% - 6px);
      top: calc(-0.5rem - #{t.$border-widths-small});
    }
    &::after {
      left: calc(50% - 0.3125rem);
      top: -0.4rem;
    }
  }

  &--bottom-start {
    &::after {
      bottom: calc(100% - 0.25rem);
    }
  }

  &--bottom-end {
    &::after {
      bottom: calc(100% - 0.25rem);
      left: calc(100% - 1rem);
    }
  }
}
