@use '@entur/tokens/dist/styles.scss' as t;
@use 'sass:math';
@use '@entur/button/dist/styles.css';

$tooltip-arrow-size: t.$space-extra-small;
$tooltip-arrow-half-height: calc(math.hypot($tooltip-arrow-size, $tooltip-arrow-size) / 2 - 0.125rem);
$tooltip-padding-top: 0.3125rem;
$tooltip-padding-side: 0.625rem;

.eds-tooltip-wrapper {
  display: inline-block;
  position: relative;
}

.eds-tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: t.$z-indexes-popover;
  padding: $tooltip-padding-top $tooltip-padding-side;
  min-height: 1rem;
  min-width: 2rem;
  max-width: 32rem;

  font-size: t.$font-sizes-medium;
  border-radius: t.$border-radiuses-medium;
  box-shadow: t.$shadows-box-shadow;
  background: var(--components-tooltip-tooltip-standard-fill);
  color: var(--components-tooltip-tooltip-standard-text);

  .eds-contrast & {
    color: var(--components-tooltip-tooltip-contrast-text);
    background: var(--components-tooltip-tooltip-contrast-fill);
    box-shadow: t.$shadows-box-shadow-contrast;
  }

  &__arrow {
    position: absolute;
    background: inherit;
    width: $tooltip-arrow-size;
    height: $tooltip-arrow-size;
    transform: rotate(45deg);

    &--right {
      @extend .eds-tooltip__arrow;
      left: -$tooltip-arrow-half-height;
    }
    &--left {
      @extend .eds-tooltip__arrow;
      right: -$tooltip-arrow-half-height;
    }
    &--top {
      @extend .eds-tooltip__arrow;
      bottom: -$tooltip-arrow-half-height;
    }
    &--bottom {
      @extend .eds-tooltip__arrow;
      top: -$tooltip-arrow-half-height;
    }
  }

  &--error,
  &--negative {
    background: var(--components-tooltip-tooltip-standard-fill-negative);
    border: solid var(--components-tooltip-tooltip-standard-fill-negative);
    color: var(--components-tooltip-tooltip-standard-text-negative);

    .eds-contrast & {
      background: var(--components-tooltip-tooltip-contrast-fill-negative);
      color: var(--components-tooltip-tooltip-contrast-text-negative);
      border: solid var(--components-tooltip-tooltip-contrast-fill-negative);
      box-shadow: t.$shadows-box-shadow-contrast;
    }
  }

  &__close-button {
    padding: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    margin: calc(-1 * $tooltip-padding-top);
    margin-left: t.$space-extra-small2;
    color: inherit;

    &:hover {
      background-color: var(--components-button-iconbutton-contrast-hover);
    }
    &:focus-visible {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-contrast);
      outline-offset: t.$outline-offsets-focus;
    }
    &:active {
      background-color: var(--components-button-iconbutton-contrast-active);
    }

    .eds-contrast & {
      color: inherit;
      &:hover {
        background-color: var(--components-button-iconbutton-standard-hover);
      }
      &:focus-visible {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
      }
      &:active {
        background-color: var(--components-button-iconbutton-standard-active);
      }
    }
  }
}
