@use './variables' as site-var;
@use '~@entur/tokens/dist/styles.scss' as t;

.mobile-nav-bar {
  position: absolute;
  width: 100%;
  background: var(--designentur-header-default-fill);
  border-bottom: t.$border-widths-default solid var(--designentur-header-default-divider);
  transition: position t.$timings-medium ease-in-out 0.2s;

  .eds-contrast & {
    background: var(--designentur-header-contrast-fill);
    border-color: var(--designentur-header-contrast-divider);
  }

  &--open-sidemenu {
    position: fixed;
    margin-top: calc(-1 * site-var.$navbar-height);
  }
  &__menu {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    &--menu-button {
      appearance: none;
      background-color: inherit;
      border: none;
      color: inherit;
      cursor: pointer;
      font-size: t.$font-sizes-extra-large2;
      padding: t.$space-extra-small t.$space-large;
      transform: scale(1);
      transition: transform t.$timings-medium ease-in-out;
      &-open {
        //Slide til venstre og opacity
        transform: scale(0);
      }
      &.eds-floating-button {
        position: absolute;
        top: 87vh;
        left: 2rem;
      }
      &:focus {
        outline: t.$outlines-focus;
        outline-offset: t.$outline-offsets-focus;
      }
    }
    &--settings {
      color: inherit;
      padding: t.$space-extra-small;
      font-size: t.$font-sizes-extra-large2;
      flex-grow: 1;
      &:focus {
        outline: none;
        box-shadow: t.$shadows-focus;
      }
    }
  }
  &__links {
    display: flex;
    overflow-x: auto;

    &__scroll-gradient {
      // horizontal shadow scroll from https://codepen.io/vakhula/pen/OJVqBOK
      background-position: left center, right center, left center, right center;
      background-repeat: no-repeat;
      background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
      background-attachment: local, local, scroll, scroll;

      background-image: linear-gradient(to right, var(--designentur-header-default-fill), var(--designentur-header-default-fill)),
        linear-gradient(to right, var(--designentur-header-default-fill), var(--designentur-header-default-fill)),
        linear-gradient(to right, rgba(255, 255, 255, 0.66), transparent), linear-gradient(to left, rgba(255, 255, 255, 0.66), transparent);
      background-color: var(--designentur-header-default-fill);

      .eds-contrast & {
        background-image: linear-gradient(to right, var(--designentur-header-contrast-fill), var(--designentur-header-contrast-fill)),
          linear-gradient(to right, var(--designentur-header-contrast-fill), var(--designentur-header-contrast-fill)),
          linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent), linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent);
        background-color: var(--designentur-header-contrast-fill);
      }
    }
  }
}
.mobile-nav-item {
  padding: t.$space-medium t.$space-large;
  word-break: keep-all;
  display: flex;
  color: inherit;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  &--active {
    &:after {
      border-bottom: t.$border-widths-large solid var(--components-menu-navigationbar-standard-stroke-selected);
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }
}

.sidebar-mobile {
  position: absolute;
  top: 0;
  transition: left t.$timings-slow ease-in-out;
  z-index: t.$z-indexes-popover;
  height: 100%;
  width: 80%;
  margin-top: calc(-1 * site-var.$navbar-height);
}
