@use './designEnturComponentColors.scss' as *;
@use './variables' as site-var;

@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;

@use '~@entur/icons/dist/styles.css' as icons;
@use '~@entur/a11y/dist/styles.css' as a11y;
@use '~@entur/grid/dist/styles.css' as grid;
@use '~@entur/tab/dist/styles.css' as tab;
@use '~@entur/typography/dist/styles.css' as typography;
@use '~@entur/layout/dist/styles.css' as layout;
@use '~@entur/loader/dist/styles.css' as loader;
@use '~@entur/expand/dist/styles.css' as expand;
@use '~@entur/button/dist/styles.css' as button;
@use '~@entur/alert/dist/styles.css' as alert;
@use '~@entur/menu/dist/styles.css' as menu;
@use '~@entur/fileupload/dist/styles.css' as fileupload;
@use '~@entur/modal/dist/styles.css' as modal;
@use '~@entur/tooltip/dist/styles.css' as tooltip;
@use '~@entur/form/dist/styles.css' as form;
@use '~@entur/chip/dist/styles.css' as chip;
@use '~@entur/datepicker/dist/styles.css' as datepicker;
@use '~@entur/travel/dist/styles.css' as travel;
@use '~@entur/table/dist/styles.css' as table;
@use '~@entur/dropdown/dist/styles.css' as dropdown;

:root {
  color-scheme: light dark;
}

[data-color-mode='light'] {
  color-scheme: light;
}
[data-color-mode='dark'] {
  color-scheme: dark;
}

body {
  margin: 0;
}

.page {
  margin-top: site-var.$navbar-height;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  @include breakpoint.for-desktop {
    position: absolute;
    top: site-var.$navbar-height;
    left: site-var.$site-sidebar-width--desktop;
    margin-top: 0;
    height: calc(100vh - #{site-var.$navbar-height});
    width: calc(100% - #{site-var.$site-sidebar-width--desktop});
  }
  @include breakpoint.for-large-desktop {
    left: site-var.$site-sidebar-width--large-desktop;
    width: calc(100% - #{site-var.$site-sidebar-width--large-desktop});
  }
  .site-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 3rem t.$space-extra-large t.$space-default;
    transition: max-width t.$timings-fast ease-out, margin-left t.$timings-fast ease-out;

    @include breakpoint.for-large-desktop {
      max-width: 45rem;
      margin: 3rem 2rem 1rem Min(8%, 15rem);
    }

    &--hidden {
      overflow: hidden;
      position: fixed;
      z-index: -1;
    }

    main {
      flex: 1;
      // custom paragraph spacing for documentation site
      & > {
        h2,
        h3 {
          margin-top: 10rem;
        }
        h2:first-of-type {
          margin-top: 4rem;
        }
        h4 {
          margin-top: 4rem;
        }

        // two adjacent headers
        [class^='eds-h'] + [class^='eds-h'] {
          margin-top: 2rem;
        }
      }
    }
  }
}

.ui-menu {
  &--desktop {
    display: none;
    @include breakpoint.for-desktop {
      display: flex;
    }
  }
  &--mobile {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: t.$z-indexes-sticky;
    transition: position t.$timings-medium ease-in-out t.$timings-medium;
    &-not-frontpage {
      background: white;
    }
    &-open-sidemenu {
      position: static;
    }
    @include breakpoint.for-desktop {
      display: none;
    }
  }
}

.frontpage__site-content-wrapper {
  .frontpage-blue-backer {
    background: var(--basecolors-frame-contrast);
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: -1;
    height: 42rem;
    @include breakpoint.for-desktop {
      height: 39rem;
    }
  }
  &--hidden {
    overflow: hidden;
    position: fixed;
    .frontpage-blue-backer {
      height: 33rem; //Hack to avoid visual bug
    }
  }
}

.frontpage-site-content {
  display: flex;
  margin: t.$space-default t.$space-large;
  flex-direction: column;
  min-height: 90vh;
  @include breakpoint.for-desktop {
    margin: 0 auto 1rem;
    max-width: 64rem;
  }
}
.frontpage-site-content main {
  flex: 1;
}

code {
  font-size: 14px; //Override  for code, as rem is redefined
}
