@use "sass:map";
@use '~@entur/tokens/dist/styles.scss' as tokens;
@use '~@entur/utils/dist/breakpoints.scss' as *;

@use '../../styles/variables' as variables;

.settings-panel {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;

  @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
    flex-grow: unset;
    align-items: center;
    justify-content: center;
  }

  &__modal.eds-modal__content {
    overflow: visible;
  }
  &__container {
    display: none;
    @include for-large-desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .settings-trigger {
    margin-left: tokens.$space-large;
    &__icon {
      margin-right: tokens.$space-extra-small;
    }
  }
}
