@import '~@entur/tokens/dist/styles.scss';
.eds-action-chip {
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: $shadows-focus;
    outline-offset: $outline-offsets-focus;
    .eds-contrast & {
      box-shadow: $shadows-focus-contrast;
    }
  }
  &:hover {
    border-color: $colors-brand-blue;
    .eds-contrast & {
      background-color: $colors-blues-blue30;
      border-color: $colors-blues-blue30;
    }
  }
  &:active {
    background: $colors-blues-blue70;
    .eds-contrast & {
      background-color: $colors-blues-blue10;
      border-color: $colors-blues-blue10;
    }
  }

  &__loading-dots .eds-loading-dots__dot {
    .eds-contrast & {
      background-color: $colors-brand-white;
    }
  }
}
