@use '~@entur/tokens/dist/styles.scss' as t;
@use './index.scss';

.eds-action-chip {
  cursor: pointer;
  &:focus {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;

    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }
  &:hover {
    border-color: var(--components-chip-standard-border);
    background-color: var(--components-chip-standard-hover);
    .eds-contrast & {
      border-color: transparent;
      background-color: var(--components-chip-contrast-hover);
    }
  }
  &:active {
    background-color: var(--components-chip-standard-active);
    border-color: transparent;
    .eds-contrast & {
      background-color: var(--components-chip-contrast-active);
      color: var(--components-chip-contrast-text-selected);
    }
  }
  &--disabled {
    opacity: 0.5;
    pointer-events: none;

    &__wrapper {
      cursor: not-allowed;
      width: fit-content;
    }
  }

  &__loading-dots .eds-loading-dots__dot {
    .eds-contrast & {
      background-color: var(--colors-brand-white);
    }
  }
}
