@use '~@entur/tokens/dist/styles.scss' as t;

.eds-action-chip {
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: t.$shadows-focus;
    outline-offset: t.$outline-offsets-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }
  &:hover {
    border-color: t.$colors-brand-blue;
    .eds-contrast & {
      background-color: t.$colors-blues-blue30;
      border-color: t.$colors-blues-blue30;
    }
  }
  &:active {
    background: t.$colors-blues-blue70;
    .eds-contrast & {
      background-color: t.$colors-blues-blue10;
      border-color: t.$colors-blues-blue10;
    }
  }
  &--disabled {
    opacity: 0.5;
    pointer-events: none;

    &__wrapper {
      cursor: not-allowed;
      width: fit-content;
    }
  }

  &__loading-dots .eds-loading-dots__dot {
    .eds-contrast & {
      background-color: t.$colors-brand-white;
    }
  }
}
