@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/color-utils.scss';

.eds-chip {
  background: $colors-blues-blue80;
  border: $border-widths-small solid $colors-blues-blue70;
  border-radius: 1rem;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: $font-sizes-medium;
  height: 2rem;
  min-width: 3rem;
  padding: 0 $space-small;
  transition: all $timings-fast ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 1rem;
  }

  .eds-contrast & {
    background-color: $colors-blues-blue20;
    border-color: transparent;
  }

  &--leading-icon .eds-icon {
    margin-right: $space-extra-small;
  }
  &--trailing-icon .eds-icon {
    margin-left: $space-extra-small;
  }
}
