@use '~@entur/tokens/dist/styles.scss' as t;

.eds-chip {
  background: t.$colors-blues-blue80;
  border: t.$border-widths-small solid t.$colors-blues-blue70;
  border-radius: 1rem;
  color: inherit;
  font-family: inherit;
  font-size: t.$font-sizes-medium;
  height: 2rem;
  min-width: 3rem;
  padding: 0 t.$space-small;
  transition: background t.$timings-fast ease-out,
    border t.$timings-fast ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    font-size: t.$font-sizes-medium;
  }

  .eds-contrast & {
    background-color: t.$colors-blues-blue20;
    border-color: transparent;
  }

  &--leading-icon .eds-icon:first-of-type {
    margin-right: t.$space-extra-small;
  }
  &--trailing-icon .eds-icon:last-of-type {
    margin-left: t.$space-extra-small;
  }
}
