@use '@entur/tokens/dist/styles.scss' as t;

.eds-chip {
  background: transparent;
  border: t.$border-widths-small solid var(--components-chip-standard-border);
  border-radius: 1rem;
  color: var(--components-chip-standard-text-unselected);
  font-family: inherit;

  transition: background t.$timings-fast ease-out, border t.$timings-fast ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    font-size: t.$font-sizes-medium;
  }

  .eds-contrast & {
    background-color: transparent;
    color: var(--components-chip-contrast-text-unselected);
    border-color: var(--components-chip-contrast-border);
  }

  &--leading-icon .eds-icon:first-of-type {
    margin-right: t.$space-extra-small;
  }
  &--trailing-icon .eds-icon:last-of-type {
    margin-left: t.$space-extra-small;
  }
  &--size-small {
    height: 1.5rem;
    min-width: 2.5rem;
    padding: 0 t.$space-extra-small;
    font-size: t.$font-sizes-small;

    .eds-tag-chip__close-button {
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
  &--size-medium {
    height: 2rem;
    min-width: 3rem;
    padding: 0 t.$space-small;
    font-size: t.$font-sizes-medium;
  }
}
