@use '@entur/tokens/dist/styles.scss' as t;
@use '@entur/utils/dist/color-utils.scss' as util;

.eds-choice-chip {
  cursor: pointer;
  display: inline-block;
  margin-right: t.$space-small;
  position: relative;
  transition: all t.$timings-fast ease-out;

  &__input {
    appearance: none;
    height: 0;
    position: absolute;
    width: 0;
    ~ :where(.eds-chip) {
      background-color: var(--components-chip-standard-default);
      color: var(--components-chip-standard-text-unselected);
      border-color: var(--components-chip-standard-border);
      :where(.eds-contrast) & {
        border-color: var(--components-chip-contrast-border);
        color: var(--components-chip-contrast-text-unselected);
        background-color: var(--components-chip-contrast-default);
      }
    }
    &:where(:checked) ~ :where(.eds-chip) {
      background-color: var(--components-chip-standard-active);
      color: var(--components-chip-standard-text-selected);
      border-color: transparent;

      :where(.eds-contrast) & {
        background-color: var(--components-chip-contrast-active);
      }
      &:where(:hover) {
        :where(.eds-contrast) & {
          color: var(--components-chip-contrast-text-unselected);
        }
      }
    }
    &:where(:focus-visible) ~ :where(.eds-chip) {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      :where(.eds-contrast) & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }
    &:where(:not(:disabled):hover) ~ :where(.eds-chip) {
      border-color: var(--components-chip-standard-border);
      background-color: var(--components-chip-standard-hover);
      color: var(--components-chip-standard-text-unselected);
      :where(.eds-contrast) & {
        border-color: transparent;
        background-color: var(--components-chip-contrast-hover);
        color: var(--components-chip-contrast-text-unselected);
      }
    }
    &:where(:not(:disabled):active) ~ :where(.eds-chip) {
      background-color: var(--components-chip-standard-active);
      border-color: transparent;
      color: var(--components-chip-contrast-text-selected);
      :where(.eds-contrast) & {
        background-color: var(--components-chip-contrast-active);
      }
    }
  }
  :where(.eds-chip) {
    &--disabled {
      border-style: dashed;
      cursor: not-allowed;
      color: var(--components-chip-standard-text-disabled);
      :where(.eds-contrast) & {
        opacity: 1;
        border-color: var(--components-chip-contrast-border-disabled);
        color: var(--components-chip-contrast-text-disabled);
      }
    }
  }
}
