@use '@entur/tokens/dist/styles.scss' as t;
@use '@entur/utils/dist/color-utils.scss' as util;

.eds-choice-chip {
  cursor: pointer;
  display: inline-block;
  margin-right: t.$space-small;
  position: relative;
  transition: all t.$timings-fast ease-out;

  &__input {
    appearance: none;
    height: 0;
    position: absolute;
    width: 0;
    -webkit-appearance: none;
    ~ .eds-chip {
      background-color: var(--components-chip-standard-default);
      color: var(--components-chip-standard-text-unselected);
      border-color: var(--components-chip-standard-border);
      .eds-contrast & {
        border-color: var(--components-chip-contrast-border);
        color: var(--components-chip-contrast-text-unselected);
        background-color: var(--components-chip-contrast-default);
      }
    }
    &:checked ~ .eds-chip {
      background-color: var(--components-chip-standard-active);
      color: var(--components-chip-standard-text-selected);
      border-color: transparent;

      .eds-contrast & {
        background-color: var(--components-chip-contrast-active);
      }
      &:hover {
        .eds-contrast & {
          color: var(--components-chip-contrast-text-unselected);
        }
      }
    }
    &:focus ~ .eds-chip {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      .eds-contrast & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }
    &:not(:disabled):hover ~ .eds-chip {
      border-color: var(--components-chip-standard-border);
      background-color: var(--components-chip-standard-hover);
      .eds-contrast & {
        border-color: transparent;
        background-color: var(--components-chip-contrast-hover);
      }
    }
    &:not(:disabled):active ~ .eds-chip {
      background-color: var(--components-chip-standard-active);
      border-color: transparent;
      color: var(--components-chip-contrast-text-selected);
      .eds-contrast & {
        background-color: var(--components-chip-contrast-active);
      }
    }
  }
  .eds-chip {
    &--disabled {
      border-style: dashed;
      cursor: not-allowed;
      color: var(--components-chip-standard-text-disabled);
      .eds-contrast & {
        opacity: 1;
        border-color: var(--components-chip-contrast-border-disabled);
        color: var(--components-chip-contrast-text-disabled);
      }
    }
  }
}
