@use '@entur/tokens/dist/styles.scss' as t;

.eds-filter-chip {
  cursor: pointer;
  width: fit-content;
  display: flex;

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:where(:checked) ~ :where(.eds-chip) {
      background-color: var(--components-chip-standard-active);
      color: var(--components-chip-standard-text-selected);
      border-color: transparent;
      :where(.eds-contrast) & {
        background-color: var(--components-chip-contrast-active);
      }
      &:where(:hover) {
        color: var(--components-chip-standard-text-unselected);

        :where(.eds-filter-chip-icon) {
          :where(.eds-filter-chip-icon__path) {
            stroke: var(--components-chip-standard-icon-unselected);
          }
        }

        :where(.eds-contrast) & {
          color: var(--components-chip-contrast-text-unselected);
          :where(.eds-filter-chip-icon) {
            :where(.eds-filter-chip-icon__path) {
              stroke: var(--components-chip-contrast-icon-unselected);
            }
          }
        }
      }
    }

    &:where(:checked) ~ :where(.eds-chip) :where(.eds-filter-chip__icon) {
      display: inline-flex;
      margin-right: t.$space-extra-small2;

      :where(.eds-filter-chip-icon) {
        &__path {
          stroke: var(--components-chip-contrast-icon-selected);
          animation: stroke ease-in-out 0.5s 0.1s forwards;
        }
      }
    }

    &:where(:focus-visible) ~ :where(.eds-chip) {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      :where(.eds-contrast) & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }

    &:where(:hover) ~ :where(.eds-chip) {
      border-color: var(--components-chip-standard-border);
      background-color: var(--components-chip-standard-hover);
      :where(.eds-contrast) & {
        border-color: transparent;
        background-color: var(--components-chip-contrast-hover);
        :where(.eds-filter-chip__icon) {
          :where(.eds-filter-chip-icon) {
            &__path {
              stroke: var(--components-chip-contrast-icon-unselected);
            }
          }
        }
      }
    }

    &:where(:active) ~ :where(.eds-chip) {
      background-color: var(--components-chip-standard-active);
      border-color: transparent;
      color: var(--components-chip-standard-text-selected);
      :where(.eds-contrast) & {
        background-color: var(--components-chip-contrast-active);
        color: var(--components-chip-contrast-text-selected);
      }
    }
  }
}

.eds-chip :where(.eds-filter-chip__icon) {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  stroke: var(--components-chip-contrast-icon-selected);
  :where(.eds-filter-chip-icon) {
    height: t.$font-sizes-large;
    width: t.$font-sizes-large;

    &__path {
      transform-origin: 50% 50%;
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
      stroke-width: 0.125rem;
    }
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
