@use '~@entur/tokens/dist/styles.scss' as t;

.eds-filter-chip {
  cursor: pointer;
  user-select: none;
  padding-left: t.$space-extra-small2;
  width: fit-content;
  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + .eds-filter-chip__icon {
      .eds-filter-chip-icon {
        visibility: visible;
        &__path {
          stroke: t.$colors-brand-blue;
          animation: stroke ease-in-out 0.2s 0.1s forwards;
          .eds-contrast & {
            stroke: t.$colors-validation-mint-contrast;
          }
        }
      }
    }
  }
  &:focus-within {
    outline: none;
    box-shadow: t.$shadows-focus;
    outline-offset: t.$outline-offsets-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }
  &:hover {
    border-color: t.$colors-brand-blue;
    .eds-contrast & {
      background-color: t.$colors-blues-blue30;
      border-color: t.$colors-blues-blue30;
    }
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-right: t.$space-extra-small;
    height: 1.5rem;
    width: 1.5rem;
    border: t.$border-widths-default solid transparent;
    border-radius: 50%;
    background-color: t.$colors-brand-white;
    color: t.$colors-brand-white;
    .eds-contrast & {
      background-color: t.$colors-brand-blue;
    }
    .eds-filter-chip-icon {
      height: t.$font-sizes-large;
      width: t.$font-sizes-large;
      visibility: hidden;
      .eds-contrast & {
        color: t.$colors-brand-white;
      }
      &__path {
        transform-origin: 50% 50%;
        stroke-dasharray: 48; // This and offset is approximate to the "length" of the path
        stroke-dashoffset: 48;
        stroke-width: 0.375rem;
      }
    }
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
