@use '@entur/tokens/dist/styles.scss' as t;

.eds-filter-chip {
  cursor: pointer;
  width: fit-content;
  display: flex;

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked ~ .eds-chip {
      background-color: var(--components-chip-standard-active);
      color: var(--components-chip-standard-text-selected);
      border-color: transparent;
      gap: t.$space-extra-small2;
      .eds-contrast & {
        background-color: var(--components-chip-contrast-active);
      }
      &:hover {
        color: var(--components-chip-standard-text-unselected);

        .eds-filter-chip-icon {
          .eds-filter-chip-icon__path {
            stroke: var(--components-chip-standard-icon-unselected);
          }
        }

        .eds-contrast & {
          color: var(--components-chip-contrast-text-unselected);
          .eds-filter-chip-icon {
            .eds-filter-chip-icon__path {
              stroke: var(--components-chip-contrast-icon-unselected);
            }
          }
        }
      }
    }

    &:checked ~ .eds-chip .eds-filter-chip__icon {
      display: inline-flex;

      .eds-filter-chip-icon {
        &__path {
          stroke: var(--components-chip-contrast-icon-selected);
          animation: stroke ease-in-out 0.5s 0.1s forwards;
        }
      }
    }

    &:focus-visible ~ .eds-chip {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      .eds-contrast & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }

    &:hover ~ .eds-chip {
      border-color: var(--components-chip-standard-border);
      background-color: var(--components-chip-standard-hover);
      .eds-contrast & {
        border-color: transparent;
        background-color: var(--components-chip-contrast-hover);
        .eds-filter-chip__icon {
          .eds-filter-chip-icon {
            &__path {
              stroke: var(--components-chip-contrast-icon-unselected);
            }
          }
        }
      }
    }

    &:active ~ .eds-chip {
      background-color: var(--components-chip-standard-active);
      border-color: transparent;
      color: var(--components-chip-standard-text-selected);
      .eds-contrast & {
        background-color: var(--components-chip-contrast-active);
        color: var(--components-chip-contrast-text-selected);
      }
    }
  }
}

.eds-chip .eds-filter-chip__icon {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  stroke: var(--components-chip-contrast-icon-selected);
  .eds-filter-chip-icon {
    height: t.$font-sizes-large;
    width: t.$font-sizes-large;

    &__path {
      transform-origin: 50% 50%;
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
      stroke-width: 0.125rem;
    }
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
