@use '~@entur/tokens/dist/styles.scss' as t;
.eds-tag-chip {
  cursor: default;
  padding-right: t.$space-extra-small2;
  width: fit-content;
  &__close-button {
    appearance: none;
    background: none;
    border: none;
    border-radius: 50%;
    color: t.$colors-brand-blue;
    cursor: pointer;
    display: flex;
    font-size: t.$font-sizes-medium;
    padding: t.$space-extra-small2;
    margin-left: t.$space-extra-small2;
    transition: box-shadow t.$timings-fast ease-in-out,
      background t.$timings-fast ease-in-out;
    .eds-contrast & {
      color: t.$colors-brand-white;
    }
    &:hover {
      background: t.$colors-blues-blue60;
      .eds-contrast & {
        background: t.$colors-blues-blue30;
      }
    }
    &:focus {
      outline-offset: t.$outline-offsets-focus;
      outline: none;
      box-shadow: t.$shadows-focus;
      .eds-contrast & {
        box-shadow: t.$shadows-focus-contrast;
      }
    }
  }
}
