@use '@entur/tokens/dist/styles.scss' as t;

.eds-tag-chip {
  --eds-tag-chip-close-size: var(--components-chip-icon-tagchip-medium);

  cursor: default;
  width: fit-content;
  padding-inline-end: var(--components-chip-inlinepadding-tagchip-medium);

  &:where(.eds-chip--size-small) {
    --eds-tag-chip-close-size: var(--components-chip-icon-tagchip-small);

    padding-inline-end: var(--components-chip-inlinepadding-tagchip-small);
  }

  &:where(.eds-chip--size-large) {
    --eds-tag-chip-close-size: var(--components-chip-icon-tagchip-large);

    padding-inline-end: var(--components-chip-inlinepadding-tagchip-large);
  }

  &__close-button {
    appearance: none;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: inherit;
    padding: 0;
    width: var(--eds-tag-chip-close-size);
    height: var(--eds-tag-chip-close-size);
    transition: box-shadow t.$timings-fast ease-in-out, background t.$timings-fast ease-in-out;

    svg {
      width: var(--eds-tag-chip-close-size);
      height: var(--eds-tag-chip-close-size);
    }

    &:focus-visible {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      .eds-contrast & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }

    &:hover {
      border-color: var(--components-chip-standard-border);
      background-color: var(--components-chip-standard-hover);

      .eds-contrast & {
        border-color: transparent;
        background-color: var(--components-chip-contrast-hover);
      }
    }

    &:active {
      background-color: var(--components-chip-standard-active);
      border-color: transparent;

      .eds-contrast & {
        background-color: var(--components-chip-contrast-active);
        color: var(--components-chip-contrast-text-selected);
      }
    }
  }
}
