@use '~@entur/tokens/dist/styles.scss' as t;

.eds-datepicker__calendar,
.eds-contrast .eds-datepicker__calendar {
  width: fit-content;
  padding: t.$space-large;
  padding-top: t.$space-small;
  background-color: var(--components-datepicker-calendar-background);
  color: var(--components-datepicker-calendar-text-subdued);
  border-radius: 4px;
  box-shadow: t.$shadows-box-shadow;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--components-datepicker-calendar-text-accent);

    h2 {
      font-size: t.$font-sizes-large;
      font-weight: t.$font-weights-heading;
    }

    // This is done to remove contrast specific styling
    .eds-icon-button {
      color: var(--components-button-iconbutton-standard-text);

      &:hover {
        background-color: var(--components-button-iconbutton-standard-hover);
      }
      &:focus {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
      }
      &:active {
        background-color: var(--components-button-iconbutton-standard-active);
      }
      &--disabled__wrapper {
        visibility: hidden;
      }
    }
  }

  &__grid {
    position: relative;
    border-spacing: 0px;
    border-collapse: collapse;

    &__weeknumber,
    thead tr th {
      color: var(--components-datepicker-calendar-text-subdued);
      font-size: t.$font-sizes-small;
    }

    &__weeknumber-header,
    &__weeknumber {
      text-align: right;
      padding-right: 0.5rem;
    }

    &__cell {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: t.$font-sizes-medium;
      cursor: default;

      &__td {
        position: relative;
        padding: 0;
        border: 1px solid var(--components-datepicker-calendar-dateborder);

        &:focus-within {
          z-index: 2;
        }
      }

      &:hover {
        background-color: var(--components-datepicker-calendar-datefill-hover);
        color: var(--components-datepicker-calendar-text-accent);
      }

      &:active {
        background-color: var(--components-datepicker-calendar-datefill-selected);
        color: var(--components-datepicker-calendar-text-accent);
      }
      &:focus {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
      }

      &--selected {
        background-color: var(--components-datepicker-calendar-datefill-selected);
        color: var(--components-datepicker-calendar-text-accent);

        &:hover {
          background-color: var(--components-datepicker-calendar-datefill-hover);
          color: var(--components-datepicker-calendar-text-accent);
        }

        &:active {
          background-color: var(--components-datepicker-calendar-datefill-selected);
          color: var(--components-datepicker-calendar-text-accent);
        }
      }

      &--disabled {
        opacity: 0.5;

        &:hover {
          background-color: transparent;
          cursor: not-allowed;
        }
      }

      &--outside-month {
        color: transparent;

        &:hover {
          background-color: transparent;
          color: transparent;
          cursor: default;
        }
      }

      &--today {
        border-bottom: 2px solid var(--components-datepicker-calendar-stroke-today);
      }
    }
  }
}
