@use '@entur/tokens/dist/styles.scss' as t;

.eds-datepicker {
  // Overrides for default datefield
  &:where(.eds-datefield) {
    &:where(:not(.eds-datepicker--disabled)) :where(.eds-form-control) {
      &-wrapper {
        padding-right: 0rem;
      }

      &__append {
        margin-left: auto;
      }
    }
  }

  &__open-calendar-button {
    margin: t.$space-none t.$space-extra-small2 t.$space-none t.$space-extra-small;

    // This is done to remove contrast specific styling
    &:where(.eds-icon-button) {
      color: var(--components-datepicker-calendar-icon);
      &:where(:hover) {
        background-color: var(--components-button-iconbutton-standard-hover);
      }
      &:where(:focus-visible) {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: 0;
      }
      &:where(:active) {
        background-color: var(--components-button-iconbutton-standard-active);
      }
    }
  }

  &__calendar-modal:where(.eds-modal__content) {
    padding: unset;
    width: inherit;
    background-color: unset;
  }
}
