@use '@entur/tokens/dist/styles.scss' as t;

.eds-datefield {
  width: fit-content;

  .eds-form-control-wrapper {
    padding-inline: 1rem;

    &--disabled {
      &:focus-within {
        border-color: transparent;
        box-shadow: none;
      }
      .eds-date-and-time-field__segment:focus {
        background: none;
      }
    }
  }
}
