@use '@entur/tokens/dist/styles.scss' as t;

.eds-datefield {
  width: fit-content;
  display: block;

  :where(.eds-form-control-wrapper) {
    display: inline-flex;
    padding-inline: 1rem;
    width: fit-content;

    &--disabled {
      &:where(:focus-within) {
        border-color: transparent;
        box-shadow: none;
      }
      :where(.eds-date-and-time-field__segment):where(:focus) {
        background: none;
      }
    }
  }
}
