@use '@entur/tokens/dist/styles.scss' as t;

.eds-datepicker {
  position: relative;
  width: fit-content;
  height: fit-content;

  &__open-calendar-button {
    position: absolute;
    right: 0.5rem;
    top: 0.45rem;

    // This is done to remove contrast specific styling
    &.eds-icon-button {
      color: var(--components-datepicker-calendar-icon);
      &:hover {
        background-color: var(--components-button-iconbutton-standard-hover);
      }
      &:focus {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
      }
      &:active {
        background-color: var(--components-button-iconbutton-standard-active);
      }
    }
  }

  &__datefield {
    padding-right: 4rem;
    &--disabled {
      padding-right: 1rem;
    }

    &__wrapper {
      position: relative;
    }
  }

  &__calendar-modal.eds-modal__content {
    padding: unset;
    width: inherit;
    background-color: unset;
  }
}
