@use '@entur/tokens/dist/styles.scss' as t;
@use '@entur/utils/dist/breakpoints.scss' as breakpoint;

.eds-grid {
  &__container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    width: 100%;
  }
  &__item {
    box-sizing: border-box;
    margin: 0;
    grid-auto-rows: auto;
  }
  &--spacing {
    &-extraSmall2 {
      gap: t.$space-extra-small2;
    }
    &-extraSmall {
      gap: t.$space-extra-small;
    }
    &-small {
      gap: t.$space-small;
    }
    &-medium {
      gap: t.$space-medium;
    }
    &-large {
      gap: t.$space-large;
    }
    &-extraLarge {
      gap: t.$space-extra-large;
    }
    &-row {
      &-extraSmall2 {
        row-gap: t.$space-extra-small2;
      }
      &-extraSmall {
        row-gap: t.$space-extra-small;
      }
      &-small {
        row-gap: t.$space-small;
      }
      &-medium {
        row-gap: t.$space-medium;
      }
      &-large {
        row-gap: t.$space-large;
      }
      &-extraLarge {
        row-gap: t.$space-extra-large;
      }
    }
  }

  &--justify {
    &-flex-start {
      justify-content: flex-start;
    }
    &-flex-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-space-around {
      justify-content: space-around;
    }
    &-space-between {
      justify-content: space-between;
    }
  }
  &--direction {
    &-row {
      flex-direction: row;
    }
    &-column {
      flex-direction: column;
    }
  }
  &--small {
    @for $i from 1 through 12 {
      &-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
  @include breakpoint.for-desktop {
    &--medium {
      @for $i from 1 through 12 {
        &-#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }
  @include breakpoint.for-large-desktop {
    &--large {
      @for $i from 1 through 12 {
        &-#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }
}
