@use './variables' as *;
@use '../utils/componentColors/designEnturComponentColors.scss' as *;

@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

@import '@entur/a11y/dist/styles.css';
@import '@entur/grid/dist/styles.css';
@import '@entur/icons/dist/styles.css';
@import '~@entur/tab/dist/styles.css';
@import '~@entur/typography/dist/styles.css';
@import '~@entur/layout/dist/styles.css';
@import '~@entur/loader/dist/styles.css';
@import '~@entur/expand/dist/styles.css';
@import '~@entur/button/dist/styles.css';
@import '~@entur/alert/dist/styles.css';
@import '~@entur/menu/dist/styles.css';
@import '~@entur/fileupload/dist/styles.css';
@import '~@entur/modal/dist/styles.css';
@import '~@entur/tooltip/dist/styles.css';
@import '~@entur/form/dist/styles.css';
@import '~@entur/chip/dist/styles.css';
@import '~@entur/datepicker/dist/styles.css';
@import '~@entur/travel/dist/styles.css';
@import '~@entur/table/dist/styles.css';
@import '~@entur/dropdown/dist/styles.css';

:root {
  color-scheme: light dark;
}

[data-color-mode='light'] {
  color-scheme: light;
}
[data-color-mode='dark'] {
  color-scheme: dark;
}

body {
  margin: 0;
}

.page {
  margin-top: $navbar-height;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  @include for-desktop {
    position: absolute;
    top: $navbar-height;
    left: $side-navigation-width--desktop;
    margin-top: 0;
    height: calc(100vh - #{$navbar-height});
    width: calc(100% - #{$side-navigation-width--desktop});
  }
  @include for-large-desktop {
    left: $side-navigation-width--large-desktop;
    width: calc(100% - #{$side-navigation-width--large-desktop});
  }
  .site-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 3rem $space-extra-large $space-default;
    transition: max-width $timings-fast ease-out, margin-left $timings-fast ease-out;

    @include for-large-desktop {
      max-width: 45rem;
      margin: 3rem 2rem 1rem Min(8%, 15rem);
    }

    &--hidden {
      overflow: hidden;
      position: fixed;
      z-index: -1;
    }

    main {
      flex: 1;
      // custom paragraph spacing for documentation site
      & > {
        h2,
        h3 {
          margin-top: 5rem;
        }
        h2:first-of-type {
          margin-top: 4rem;
        }
        h4 {
          margin-top: 4rem;
        }

        // two adjacent headers
        [class^='eds-h'] + [class^='eds-h'] {
          margin-top: 2rem;
        }
      }
    }
  }
}

.ui-menu {
  &--desktop {
    display: none;
    @include for-desktop {
      display: block;
    }
  }
  &--mobile {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-indexes-sticky;
    transition: position $timings-medium ease-in-out $timings-medium;
    &-not-frontpage {
      background: white;
    }
    &-open-sidemenu {
      position: static;
    }
    @include for-desktop {
      display: none;
    }
  }
}

.frontpage__site-content-wrapper {
  .frontpage-blue-backer {
    background: var(--basecolors-frame-contrast);
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: -1;
    height: 42rem;
    @include for-desktop {
      height: 39rem;
    }
  }
  &--hidden {
    overflow: hidden;
    position: fixed;
    .frontpage-blue-backer {
      height: 33rem; //Hack to avoid visual bug
    }
  }
}

.frontpage-site-content {
  display: flex;
  margin: $space-default $space-large;
  flex-direction: column;
  min-height: 90vh;
  @include for-desktop {
    margin: 0 auto 1rem;
    max-width: 64rem;
  }
}
.frontpage-site-content main {
  flex: 1;
}

code {
  font-size: 14px; //Override  for code, as rem is redefined
}

.eds-link.gatsby-header-links {
  background-image: none;
}
