@use '@entur/tokens/dist/styles.scss' as t;

.eds-form-control {
  &__field-and-feedback-text {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;

    &--has-tooltip {
      padding-right: t.$space-extra-large;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    min-height: 3rem;
    padding-inline: t.$space-default;
    background-color: var(--components-form-baseform-standard-fill-default);
    border-radius: t.$border-radiuses-medium;
    border: t.$border-widths-medium solid var(--components-form-baseform-standard-border-default);
    box-shadow: 0 0 0 transparent;
    color: var(--components-form-baseform-standard-text-content);
    transition: border-color t.$timings-fast ease-in-out;

    &:hover {
      border-color: var(--components-form-baseform-standard-border-interactive);
    }

    &:hover {
      .eds-contrast & {
        border-color: var(--components-form-baseform-contrast-border-interactive);
      }
    }

    &:focus-within {
      border-color: var(--components-form-baseform-standard-border-interactive);
      outline: 2px solid var(--components-form-baseform-standard-border-interactive);
      .eds-contrast & {
        border-color: var(--components-form-baseform-contrast-border-interactive);
        outline-color: var(--components-form-baseform-contrast-border-interactive);
      }
    }

    ::placeholder {
      color: var(--components-form-baseform-standard-text-label);
    }

    // Variations
    &--disabled {
      border-color: transparent;
      background-color: var(--components-form-baseform-standard-fill-disabled);
      pointer-events: none;
      color: var(--components-form-baseform-standard-text-disabled);
      .eds-input-group__label {
        color: var(--components-form-baseform-standard-text-disabled);
      }

      .eds-contrast & {
        border-color: transparent;
        background-color: var(--components-form-baseform-contrast-fill-disabled);
        color: var(--components-form-baseform-contrast-text-disabled);
        .eds-input-group__label {
          color: var(--components-form-baseform-contrast-text-disabled);
        }
      }

      &::before,
      &::after {
        display: none;
      }
    }

    &--readonly {
      border-color: transparent;
      pointer-events: none;
      cursor: default;
      background: var(--components-form-baseform-standard-fill-readonly);
      border: var(--components-form-baseform-standard-fill-readonly);

      .eds-contrast & {
        background: var(--components-form-baseform-contrast-fill-readonly);
        border: var(--components-form-baseform-contrast-fill-readonly);
        color: var(--components-form-baseform-contrast-text-description);
        .eds-form-control {
          color: var(--components-form-baseform-contrast-text-description);
        }
        .eds-input-group__label {
          color: var(--components-form-baseform-contrast-text-description);
        }
      }

      &::before,
      &::after {
        display: none;
      }
    }

    &--size-medium {
      .eds-form-control,
      .eds-form-control__append,
      .eds-form-control__prepend {
        font-size: t.$font-sizes-large;
        line-height: t.$line-heights-small;
      }
    }
    &--size-large {
      min-height: 4rem;

      .eds-form-control,
      .eds-form-control__append,
      .eds-form-control__prepend {
        font-size: t.$font-sizes-extra-large2;
      }
    }

    // Validation modes changes the border colors
    &--success {
      border-color: var(--components-form-baseform-standard-border-success);
      &:focus-within {
        border-color: var(--components-form-baseform-standard-border-success);
        outline-color: var(--components-form-baseform-standard-border-success);
      }

      .eds-contrast & {
        border-color: var(--components-form-baseform-standard-border-success);
        &:focus-within {
          border-color: var(--components-form-baseform-contrast-border-success);
          outline-color: var(--components-form-baseform-contrast-border-success);
        }
      }
    }

    &--error,
    &--negative {
      border-color: var(--components-form-baseform-standard-border-negative);
      &:focus-within {
        border-color: var(--components-form-baseform-standard-border-negative);
        outline-color: var(--components-form-baseform-standard-border-negative);
      }

      .eds-contrast & {
        border-color: var(--components-form-baseform-contrast-border-negative);
        &:focus-within {
          border-color: var(--components-form-baseform-contrast-border-negative);
          outline-color: var(--components-form-baseform-contrast-border-negative);
        }
      }
    }
  }

  .eds-tooltip {
    .eds-contrast & {
      background: var(--components-tooltip-tooltip-standard-fill);
      color: var(--components-tooltip-tooltip-standard-text);
      box-shadow: t.$shadows-box-shadow;
    }

    &::after {
      background: var(--components-tooltip-tooltip-standard-fill);
    }
  }
}

.eds-form-control {
  display: block;
  appearance: none;
  width: 100%;
  height: 100%;
  padding: 20px t.$space-none t.$space-extra-small2;
  font-family: inherit;
  font-size: t.$font-sizes-large;
  line-height: t.$line-heights-small;
  border: 0;
  color: var(--components-form-baseform-standard-text-content);
  background-color: transparent;

  &::placeholder {
    opacity: 0;
    transition: opacity t.$timings-medium ease-in-out;
  }
  &:focus {
    outline: none;
    &::placeholder {
      opacity: 1;
    }
  }

  &__prepend,
  &__append {
    position: relative;
    line-height: inherit;
    &--tooltip {
      all: unset;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.5rem;
      width: 1.5rem;
      right: -1 * t.$space-extra-large;
      border-radius: 100%;
      color: var(--primary-text-color);
      cursor: pointer;
    }
  }

  &__prepend {
    margin-right: t.$space-small;
    margin-left: 0;
  }

  &__append {
    margin-right: 0;
    margin-left: t.$space-small;
  }
}
