@import '~@entur/tokens/dist/styles.scss';

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

.eds-form-component--checkbox {
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    appearance: none;
    cursor: pointer;
    height: $space-extra-large;
    user-select: none;
    width: fit-content;

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked + .eds-form-component--checkbox__icon {
        background-color: $colors-brand-blue;
        .eds-contrast & {
          background: $colors-blues-blue30;
        }
        svg {
          visibility: visible;
          path {
            stroke: $colors-brand-white;
            animation: stroke ease-in-out 0.2s 0.1s forwards;
          }
        }
      }
    }
    &:hover input:not(:checked) + .eds-form-component--checkbox__icon {
      border-color: $colors-blues-blue30;
      background: $colors-greys-grey30;
      .eds-contrast & {
        border-color: $colors-blues-blue40;
        background: $colors-blues-blue10;
      }
    }
    &:hover input:checked + .eds-form-component--checkbox__icon {
      border-color: $colors-blues-blue30;
      background-color: $colors-blues-blue30;
      .eds-contrast & {
        background: $colors-blues-blue50;
        border-color: $colors-blues-blue50;
      }
    }
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-right: $space-default;
    height: 1.25rem;
    width: 1.25rem;
    border: $border-widths-default solid $colors-brand-blue;
    border-radius: $border-radiuses-default;
    background-color: transparent;
    color: $colors-brand-white;
    .eds-contrast & {
      border-color: $colors-blues-blue30;
    }
    svg {
      height: $space-default;
      width: $space-default;
      visibility: hidden;
      path {
        transform-origin: 50% 50%;
        stroke-dasharray: 48; // This and offset is approximate to the "length" of the path
        stroke-dashoffset: 48;
        stroke-width: 0.375rem;
      }
    }
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
