@import '~@entur/tokens/dist/styles.scss';

.entur-form-component--dropdown {
  appearance: none;
  height: 2.75rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 0;
  padding-left: 1em;
}
