@import '~@entur/tokens/dist/styles.scss';

.eds-feedback-text {
  display: flex;
  align-items: center;
  margin-top: $space-extra-small2;
  &--info {
    padding-left: calc(#{$space-medium} + #{$border-widths-medium});
  }
  &__text {
    color: $colors-brand-blue;
    .eds-contrast & {
      color: $colors-brand-white;
    }
  }
}

.eds-feedback-text__icon {
  font-size: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  padding-right: 0.5rem;
  position: relative;
  top: -0.1rem;

  &--success {
    color: $colors-validation-mint;
    .eds-contrast & {
      color: $colors-validation-mint-contrast;
    }
  }
  &--error {
    color: $colors-validation-lava;
    .eds-contrast & {
      color: $colors-validation-lava-contrast;
    }
  }
  &--info {
    color: $colors-validation-sky;
    .eds-contrast & {
      color: $colors-validation-sky-contrast;
    }
  }
  &--warning {
    &.eds-icon__ValidationExclamationIcon {
      color: $colors-validation-canary;
      circle {
        color: $colors-brand-blue;
        fill-opacity: 1;
      }
      .eds-contrast & {
        color: $colors-validation-canary-contrast;
        circle {
          fill-opacity: 0;
        }
      }
    }
  }
}
