@use '~@entur/tokens/dist/styles.scss' as t;

.eds-feedback-text {
  display: flex;
  align-items: center;
  margin-top: t.$space-extra-small2;
  &--info {
    padding-left: calc(#{t.$space-medium} + #{t.$border-widths-medium});
  }
  &__text {
    color: t.$colors-brand-blue;
    .eds-contrast & {
      color: t.$colors-brand-white;
    }
  }
}

.eds-feedback-text__icon {
  font-size: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  padding-right: 0.5rem;
  position: relative;
  top: -0.1rem;

  &--success {
    color: t.$colors-validation-mint;
    .eds-contrast & {
      color: t.$colors-validation-mint-contrast;
    }
  }
  &--error {
    color: t.$colors-validation-lava;
    .eds-contrast & {
      color: t.$colors-validation-lava-contrast;
    }
  }
  &--info {
    color: t.$colors-validation-sky;
    .eds-contrast & {
      color: t.$colors-validation-sky-contrast;
    }
  }
  &--warning {
    color: t.$colors-validation-canary;
    circle {
      fill: t.$colors-brand-blue;
    }
    .eds-contrast & {
      color: t.$colors-validation-canary-contrast;
    }
  }
}
