@use '@entur/tokens/dist/styles.scss' as t;

.eds-feedback-text {
  display: flex;
  align-items: center;
  margin-top: t.$space-extra-small2;
  &--info,
  &--information {
    padding-left: calc(#{t.$space-medium} + #{t.$border-widths-medium});
  }
  &__text {
    color: var(--components-form-feedbacktext-information-standard-text);
    .eds-contrast & {
      color: var(--components-form-feedbacktext-information-contrast-text);
    }
  }
}

.eds-feedback-text__icon {
  font-size: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  padding-right: 0.5rem;
  position: relative;
  top: -0.1rem;

  &--success {
    color: var(--components-form-feedbacktext-success-standard-icon-fill);
    circle {
      fill: var(--components-form-feedbacktext-success-standard-icon-symbol);
    }
    .eds-contrast & {
      color: var(--components-form-feedbacktext-success-contrast-icon-fill);
      circle {
        fill: var(--components-form-feedbacktext-success-contrast-icon-symbol);
      }
    }
  }
  &--error,
  &--negative {
    color: var(--components-form-feedbacktext-negative-standard-icon-fill);
    circle {
      fill: var(--components-form-feedbacktext-negative-standard-icon-symbol);
    }
    .eds-contrast & {
      color: var(--components-form-feedbacktext-negative-contrast-icon-fill);
      circle {
        fill: var(--components-form-feedbacktext-negative-contrast-icon-symbol);
      }
    }
  }
  &--info,
  &--information {
    color: var(--components-form-feedbacktext-information-standard-icon-fill);
    circle {
      fill: var(--components-form-feedbacktext-information-standard-icon-symbol);
    }
    .eds-contrast & {
      color: var(--components-form-feedbacktext-information-contrast-icon-fill);
      circle {
        fill: var(--components-form-feedbacktext-information-contrast-icon-symbol);
      }
    }
  }
  &--warning {
    color: var(--components-form-feedbacktext-warning-standard-icon-fill);
    .svg-exclamation {
      fill: var(--components-form-feedbacktext-warning-standard-icon-symbol);
    }
    .eds-contrast & {
      color: var(--components-form-feedbacktext-warning-contrast-icon-fill);
      circle {
        fill: var(--components-form-feedbacktext-warning-contrast-icon-symbol);
      }
    }
  }
}
