@import '~@entur/tokens/dist/styles.scss';

.entur-form-group {
  color: inherit;

  &-alert-label-wrapper {
    display: flex;
    align-items: center;
    margin-top: $space-extra-small;
  }

  &-sub-label {
    padding-left: 0.5em;
  }

  &-alert-icon {
    margin-bottom: $space-extra-small/2;
  }
}
