.entur-form-group {
  color: inherit;
}

.entur-form-group-alert-label-wrapper {
  display: flex;
  align-items: center;
}

.entur-form-group-sub-label {
  padding-left: 0.5em;
}

.entur-form-group-alert-icon {
  margin-bottom: 0.1875rem;
}
