@import '~@entur/tokens/dist/styles.scss';

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$border-width: ($space-default / 8);
$tint-amount: 30;
$shade-amount: 5;

.entur-form-component {
  font-family: inherit;
  font-size: inherit;
  font-size: $font-sizes-large;
  font-weight: $font-weights-body;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: $border-width solid $colors-brand-blue;
  border-radius: $space-default / 16;
  background-color: $colors-greys-grey40;
  color: $colors-brand-blue;
  width: 22rem;
  --border-color-hover: #{$colors-brand-lavender};

  &__prepend {
  }

  &--width-fluid {
    width: 100%;
  }
  .entur-contrast & {
    border-color: $colors-brand-lavender;
    background: $colors-brand-white;

    &:hover:not(:focus-within):not(.entur-form-component--disabled) {
      border-bottom: none;
      padding-bottom: $border-width;
    }
  }
  &--variant-none,
  &--variant-warning,
  &--variant-info {
    &:focus-within {
      box-shadow: inset 0 0 0 $border-width $colors-brand-blue;
      border-bottom: hidden;
      padding-bottom: $border-width;
      .entur-contrast & {
        box-shadow: inset 0 0 0 $border-width $colors-brand-lavender;
      }
    }
    &:hover:not(:focus-within):not(.entur-form-component--disabled) {
      border-bottom: $border-width solid $colors-brand-lavender;
      background-color: tint($colors-greys-grey40, $tint-amount);
      .entur-contrast & {
        box-shadow: inset 0 0 0 $border-width $colors-brand-lavender;
        background-color: shade($colors-brand-white, $shade-amount);
      }
    }
  }
  &--variant-success {
    border-color: $colors-validation-mint;
    .entur-contrast & {
      border-color: $colors-validation-mint-contrast;
    }
    &:focus-within {
      border-bottom: none;
      padding-bottom: $border-width;
      box-shadow: inset 0 0 0 $border-width $colors-validation-mint;
      .entur-contrast & {
        box-shadow: inset 0 0 0 $border-width $colors-validation-mint-contrast;
      }
    }
    &:hover:not(:focus-within):not(.entur-form-component--disabled) {
      border-bottom: $border-width solid $colors-validation-mint-tint;
      background-color: tint($colors-greys-grey40, $tint-amount);
      .entur-contrast & {
        background-color: shade($colors-brand-white, $shade-amount);
        box-shadow: inset 0 0 0 $border-width $colors-validation-mint-contrast;
      }
    }
  }
  &--variant-error {
    border-color: $colors-validation-lava;
    .entur-contrast & {
      border-color: $colors-validation-lava-contrast;
    }
    &:focus-within {
      box-shadow: inset 0 0 0 $border-width $colors-validation-lava;
      border-bottom: none;
      padding-bottom: $border-width;
      .entur-contrast & {
        box-shadow: inset 0 0 0 $border-width $colors-validation-lava-contrast;
      }
    }
    &:hover:not(:focus-within):not(.entur-form-component--disabled) {
      border-bottom: $border-width solid $colors-validation-lava-tint;
      background-color: tint($colors-greys-grey40, $tint-amount);
      .entur-contrast & {
        background-color: shade($colors-brand-white, $shade-amount);
        box-shadow: inset 0 0 0 $border-width $colors-validation-lava-contrast;
      }
    }
  }

  &--disabled {
    background-color: $colors-greys-grey20;
    border-bottom: $border-width solid $colors-greys-grey20;
    .entur-contrast & {
      background-color: $colors-greys-grey20;
      border-bottom: $border-width solid $colors-greys-grey20;
    }
  }

  &--prepend {
    padding-left: 1em;
    color: $colors-blues-blue40;
    display: flex;
    font-size: $font-sizes-large;
  }
}
