@import '~@entur/tokens/dist/styles.scss';
// Input group OLD
$label-top: calc(0.5rem - 0.125rem);
$label-top-large: 0.5rem;

@mixin labelPositionTopLarge {
  top: $label-top-large;
  font-size: $font-sizes-medium;
  line-height: $font-sizes-large;
  padding: 0;
  margin-left: $space-default;
}

@mixin labelPositionTop {
  top: $label-top;
  font-size: $font-sizes-small;
  line-height: $font-sizes-small;
  height: 10px;
  padding: 0;
  margin-left: $space-default;
  .eds-textarea__label & {
    box-shadow: 0px -2px 0px 4px var(--textarea-label-background);
    background: var(--textarea-label-background);
    width: calc(
      100% - #{$space-default} - #{$space-default} - 4px
    ); // ~36px = margin-left + scrollbar-width + box-shadow blur
  }
}

.eds-input-group {
  color: inherit;
  display: block;
  position: relative;

  &__label {
    color: $colors-blues-blue40;
    display: flex;
    .eds-form-control-wrapper--is-filled & {
      @include labelPositionTop;
      .eds-form-control-wrapper--size-large & {
        @include labelPositionTopLarge;
      }
    }
    .eds-form-control-wrapper--dark & {
      .eds-contrast & {
        color: $colors-brand-lavender;
      }
    }
    font-size: $font-sizes-large;
    position: absolute;
    line-height: $font-sizes-large;
    height: $space-extra-large3;
    padding: $space-default;
    padding-left: 0;
    margin-left: $space-default;
    top: -$border-widths-medium;
    transition: top $timings-medium ease-in-out,
      font-size $timings-medium ease-in-out, padding $timings-medium ease-in-out,
      line-height ease-in-out $timings-medium;

    user-select: none;
    pointer-events: none;
    .eds-form-control-wrapper--size-large & {
      font-size: $font-sizes-extra-large2;
      line-height: $line-heights-extra-large4;
      height: 4rem;
    }
    &--filled {
      @include labelPositionTop;
      .eds-form-control-wrapper--size-large & {
        @include labelPositionTopLarge;
      }
    }
  }

  &__label-tooltip-icon {
    color: $colors-validation-sky;
    padding-left: $space-extra-small2;
    padding-right: $space-extra-small2;
    display: flex;
    align-items: center;
    cursor: help;
    font-size: 1rem;
  }
}

.eds-form-control-wrapper {
  &:focus-within .eds-input-group__label {
    @include labelPositionTop;
  }
  &--size-large:focus-within {
    & .eds-input-group__label {
      @include labelPositionTopLarge;
    }
  }
}
