@import '~@entur/tokens/dist/styles.scss';

.eds-input-group {
  color: inherit;
  display: block;

  &__label {
    display: block;
    .eds-contrast & {
      color: $colors-brand-lavender;
    }
  }

  & + & {
    margin-top: $space-default;
  }
}
