@use '@entur/tokens/dist/styles.scss' as t;
// Input group OLD
$label-top: calc(0.5rem - 0.125rem);
$label-top-large: 0.5rem;

@mixin labelPositionTopLarge {
  top: $label-top-large;
  font-size: t.$font-sizes-medium;
  line-height: t.$font-sizes-large;
  padding: 0;
}
@mixin labelPositionDefaultLarge {
  top: 0.75rem;
  font-size: t.$font-sizes-extra-large2;
  line-height: t.$line-heights-extra-large4;
}

@mixin labelPositionTop {
  top: $label-top;
  font-size: t.$font-sizes-small;
  line-height: t.$font-sizes-small;
  height: 10px;
  padding: 0;
  .eds-textarea__label & {
    box-shadow: 0px -2px 0px 4px var(--textarea-label-background);
    background: var(--textarea-label-background);
    width: calc(100% - #{t.$space-default} - #{t.$space-default} - 4px); // ~36px = margin-left + scrollbar-width + box-shadow blur
  }
}

.eds-input-group {
  color: inherit;
  display: block;
  position: relative;

  &__label {
    color: var(--components-form-baseform-standard-text-label);
    display: flex;
    .eds-form-control-wrapper--is-filled & {
      @include labelPositionTop;
    }
    .eds-form-control-wrapper--is-filled.eds-form-control-wrapper--size-large & {
      @include labelPositionTopLarge;
    }
    font-size: t.$font-sizes-large;
    position: absolute;
    line-height: t.$font-sizes-large;
    height: t.$space-extra-large3;
    padding-left: 0;
    top: 1rem;
    transition: top t.$timings-medium ease-in-out, font-size t.$timings-medium ease-in-out, padding t.$timings-medium ease-in-out,
      line-height ease-in-out t.$timings-medium;

    user-select: none;
    pointer-events: none;
    .eds-form-control-wrapper--size-large & {
      @include labelPositionDefaultLarge;
    }
    &--filled {
      @include labelPositionTop;
      .eds-form-control-wrapper--size-large & {
        @include labelPositionTopLarge;
      }
    }
  }
}

.eds-form-control-wrapper {
  &:focus-within .eds-input-group__label {
    @include labelPositionTop;
  }
  &--size-large:focus-within {
    & .eds-input-group__label {
      @include labelPositionTopLarge;
    }
  }
}
