@import '~@entur/tokens/dist/styles.scss';

.eds-input-group {
  color: inherit;
  display: block;

  &__label {
    display: flex;
    .eds-contrast & {
      color: $colors-brand-lavender;
    }
  }

  &__label-tooltip-icon {
    color: $colors-validation-sky;
    padding-left: $space-extra-small2;
    padding-right: $space-extra-small2;
    display: flex;
    align-items: center;
    cursor: help;
    font-size: 1rem;
  }
}
