@import '~@entur/tokens/dist/styles.scss';

.eds-form-component--radio {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: $space-extra-large2;
    width: fit-content;
    user-select: none;
    :hover ~ .eds-form-component--radio__radio {
      background-color: $colors-blues-blue30;
      .eds-contrast & {
        background-color: $colors-blues-blue50;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked
        ~ .eds-form-component--radio__radio
        .eds-form-component--radio__circle {
        transform: scale((8/16));
        .eds-contrast & {
          background-color: white;
          transition: background-color $timings-fast ease-out;
        }
      }
      &:focus ~ .eds-form-component--radio__radio {
        box-shadow: 0 0 (1rem / 8) (1rem / 8) $colors-misc-focus;
      }
    }
    .eds-form-component--radio__radio {
      position: relative;
      height: 1.25rem;
      width: 1.25rem;
      margin-right: $space-default;
      background-color: $colors-brand-blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .eds-contrast & {
        background-color: $colors-blues-blue30;
      }
      .eds-form-component--radio__circle {
        display: block;
        width: $space-default;
        height: $space-default;
        border-radius: 50%;
        background-color: $colors-brand-white;
        transition: transform $timings-fast ease-out;
        .eds-contrast & {
          background-color: $colors-brand-blue;
        }
      }
    }
  }
}
