@use '~@entur/tokens/dist/styles.scss' as t;

.eds-form-component--radio {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: t.$space-extra-large;
    width: fit-content;
    user-select: none;
    :hover ~ .eds-form-component--radio__radio {
      background-color: var(--components-form-radio-standard-fill-hover);

      .eds-contrast & {
        background-color: var(--components-form-radio-contrast-fill-hover);
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .eds-form-component--radio__radio .eds-form-component--radio__circle {
        height: 0.625rem;
        width: 0.625rem;
      }
      &:focus ~ .eds-form-component--radio__radio {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
        .eds-contrast & {
          outline-color: var(--basecolors-stroke-focus-contrast);
        }
      }
    }
    .eds-form-component--radio__radio {
      position: relative;
      height: calc(t.$space-medium + t.$space-extra-small2);
      width: calc(t.$space-medium + t.$space-extra-small2);
      margin-right: t.$space-default;
      background-color: var(--components-form-radio-standard-fill-default);
      border: t.$border-widths-medium solid var(--components-form-radio-standard-border);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .eds-contrast & {
        background-color: var(--components-form-radio-contrast-fill-default);
        border-color: var(--components-form-radio-contrast-border);
      }

      &.eds-form-component--radio__radio--disabled {
        background: var(--components-form-baseform-contrast-fill-disabled);
        border-color: var(--components-form-baseform-contrast-text-disabled);
        cursor: not-allowed;
        &:hover {
          border-color: var(--components-form-baseform-contrast-text-disabled);
        }
        .eds-contrast & {
          background: var(--components-form-baseform-contrast-fill-disabled);
          border-color: var(--components-form-baseform-contrast-text-disabled);
        }
        & ~ .eds-form-component--radio__label {
          color: var(--components-form-baseform-contrast-text-disabled);
        }
      }
      .eds-form-component--radio__circle {
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: var(--components-form-radio-standard-fill-selected);
        transition: width t.$timings-fast ease-in-out, height t.$timings-fast ease-in-out;
        .eds-contrast & {
          background-color: var(--components-form-radio-contrast-icon);
        }
      }
    }
  }
}
