@import '~@entur/tokens/dist/styles.scss';

.entur-form-component--radio {
  &__container {
    display: block;
    position: relative;
    cursor: pointer;
    height: $space-extra-large2;
    width: $space-extra-large2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    :hover ~ .entur-form-component--radio__radio {
      background-color: $colors-blues-blue30;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked
        ~ .entur-form-component--radio__radio
        .entur-form-component--radio__circle {
        transform: scale((10/16));
      }
      &:focus ~ .entur-form-component--radio__radio {
        box-shadow: 0 0 2px 2px $colors-misc-focus;
      }
    }
    .entur-form-component--radio__radio {
      position: absolute;
      top: (1.25rem / 2);
      left: (1.25rem / 2);
      height: 1.25rem;
      width: 1.25rem;
      background-color: $colors-brand-blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .entur-form-component--radio__circle {
        display: block;
        width: $space-default;
        height: $space-default;
        border-radius: 50%;
        background-color: $colors-brand-white;
        transition: transform 0.1s linear;
      }
    }
  }
  &--label {
    display: flex;
    align-items: center;
  }
}
