@import '~@entur/tokens/dist/styles.scss';

// .eds-contrast .eds-radio-panel__wrapper + .eds-radio-panel__wrapper {
//   .eds-radio-panel__container {
//     border-top: $border-widths-medium solid $colors-blues-blue20;
//   }
// }

.eds-radio-panel {
  &__wrapper {
    &:focus-within {
      .eds-radio-panel__container {
        border-color: $colors-brand-blue;
      }
      .eds-contrast & {
        .eds-radio-panel__container {
          border-color: $colors-brand-white;
        }
      }
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        + .eds-radio-panel__container {
          border-color: $colors-brand-blue;
          background: $colors-blues-blue90;
          .eds-contrast & {
            border-color: $colors-brand-lavender;
            background: $colors-blues-blue20;
          }
        }
        + .eds-radio-panel__container .eds-radio-panel__check {
          background-color: $colors-brand-blue;
          border-color: $colors-brand-blue;
          .eds-checkbox-icon {
            visibility: visible;
            &__path {
              stroke: $colors-validation-mint-contrast;
              animation: stroke ease-in-out 0.2s 0.1s forwards;
            }
          }
          &--disabled {
            opacity: 0.5;
            .eds-checkbox-icon__path {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  &__container {
    background: $colors-brand-white;
    border: $border-widths-medium solid $colors-greys-grey60;
    border-radius: $border-radiuses-medium;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 20rem;
    position: relative;
    padding: $space-medium;
    user-select: none;
    width: fit-content;
    .eds-contrast & {
      background: $colors-brand-blue;
      border-color: $colors-blues-blue30;
    }
  }
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label {
    display: flex;
    justify-content: center;
  }
  &__check {
    height: 2rem;
    width: 2rem;
    margin-left: $space-medium;
    border-radius: 50%;
    border: $border-widths-medium solid $colors-greys-grey70;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colors-brand-white;
    transition: background ease-in-out $timings-fast,
      border-color ease-in-out $timings-fast;
    .eds-contrast & {
      background: $colors-brand-blue;
      border-color: $colors-blues-blue30;
    }
  }
  &__additional-content {
    margin-top: $space-extra-small2;
    word-wrap: break-word;
  }
  &--medium {
    .eds-radio-panel__title {
      font-size: $font-sizes-large;
      font-weight: $font-weights-body;
    }
    &.eds-radio-panel__container {
      padding-bottom: $space-medium;
      min-height: 3.75rem;
    }
  }
  &--large {
    &.eds-radio-panel__container {
      min-height: 6.5rem;
    }
    .eds-radio-panel__title-wrapper {
      height: 2rem;
    }
    .eds-radio-panel__title {
      font-size: $font-sizes-extra-large;
      font-weight: $font-weights-heading;
      line-height: $line-heights-extra-large3;
    }
  }
  &--disabled {
    background: $colors-greys-grey80;
    border-color: $colors-greys-grey80;
    color: $colors-blues-blue40;
    .eds-contrast & {
      background: $colors-brand-blue;
      border-style: dashed;
      border-color: $colors-blues-blue30;
      color: $colors-blues-blue60;
    }
  }
}
.eds-checkbox-icon {
  width: 1.5em;
  height: 1.5em;
  &__path {
    transform-origin: 50% 50%;
    stroke-dasharray: 48; // This and offset is approximate to the "length" of the path
    stroke-dashoffset: 48;
    stroke-width: 0.375rem;
  }
}
