@import '~@entur/tokens/dist/styles.scss';

.eds-switch {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 0;
  width: fit-content;
  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  &--right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__circle {
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left $timings-fast ease-in-out,
      background-color $timings-fast ease-in-out;
    box-shadow: $shadows-box-shadow;
    background-color: $colors-brand-white;
    top: 0.125rem;
    left: 0.125rem;
    position: relative;
    .eds-switch__switch--large & {
      height: 1.75rem;
      width: 1.75rem;
    }

    .eds-contrast & {
      box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5);
    }
  }
  &__switch {
    position: relative;
    background-color: $colors-greys-grey50;
    content: '';
    display: block;
    transition: background-color $timings-fast ease-in-out;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.1);

    .eds-contrast & {
      background-color: $colors-blues-blue50;
    }

    .eds-switch--right & {
      margin-right: $space-small;
    }

    svg g, // This is to colorize every type of icon that will potentially be included
    path {
      fill: $colors-greys-grey40;
      transition: fill ease-in-out $timings-fast;

      .eds-contrast & {
        fill: $colors-brand-blue;
      }
    }

    :checked + & {
      background-color: var(--eds-switch-color);
      .eds-switch__circle {
        left: 1.625rem;
        svg g,
        path {
          fill: var(--eds-switch-color);
        }
      }
      .eds-contrast & {
        background-color: var(--eds-switch-contrast-color);
      }
    }
    :focus + & {
      outline: none;
      box-shadow: $shadows-focus;
      outline-offset: $outline-offsets-focus;
      .eds-contrast & {
        box-shadow: $shadows-focus-contrast;
      }
    }

    &--large {
      width: 3.75rem;
      height: 2rem;
      border-radius: 3.75rem;
      :checked + & {
        .eds-switch__circle {
          left: 1.875rem; //30px
        }
      }
      & svg {
        position: relative;
        right: 0.05rem;
      }
    }
  }

  &__label {
    &--large {
      &--right {
        font-size: $font-sizes-large;
      }
      &--bottom {
        font-size: $font-sizes-medium;
      }
    }
    &--medium {
      &--right {
        font-size: $font-sizes-medium;
      }
      &--bottom {
        font-size: $font-sizes-small;
      }
    }
  }
}
