@import '~@entur/tokens/dist/styles.scss';

.eds-switch {
  align-items: center;
  cursor: pointer;
  display: flex;
  user-select: none;
  padding: 0.5rem 0;
  width: fit-content;
  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  &__circle {
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $timings-fast ease-out;
    box-shadow: $shadows-card-shadow;
    background-color: $colors-brand-white;
    top: 0.125rem;
    left: 0.125rem;
    position: relative;
    .eds-switch__switch--large & {
      height: 1.75rem;
      width: 1.75rem;
    }
  }
  &__switch {
    margin-right: $space-small;
    position: relative;
    background-color: $colors-greys-grey10;
    content: '';
    display: block;
    transition: all $timings-fast ease-out;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;

    svg g, // This is to colorize every type of icon that will potentially be included
    path {
      fill: $colors-greys-grey;
    }

    :checked + & {
      background-color: var(--eds-switch-color);
      .eds-switch__circle {
        left: 1.625rem;
        svg g,
        path {
          fill: var(--eds-switch-color);
          .eds-contrast & {
            fill: var(--eds-switch-color);
          }
        }
      }
      .eds-contrast & {
        background-color: var(--eds-switch-contrast-color);
      }
    }
    :focus + & {
      box-shadow: $shadows-focus;
      .eds-contrast & {
        box-shadow: $shadows-focus-contrast;
      }
    }
    .eds-contrast & {
      background-color: $colors-blues-blue30;
    }

    &--large {
      width: 3.75rem;
      height: 2rem;
      border-radius: 3.75rem;
      :checked + & {
        .eds-switch__circle {
          left: 1.875rem; //30px
        }
      }
    }
  }
}
