@use '@entur/tokens/dist/styles.scss' as t;

textarea.eds-form-control.eds-textarea {
  min-height: 7.75rem;
  resize: vertical;
  line-height: t.$line-heights-extra-large;
}

// No right side padding to make resize handle positioned in bottom right corner
.eds-textarea__wrapper .eds-form-control-wrapper {
  padding-right: 0;
  cursor: text;
}
