@use '~@entur/tokens/dist/styles.scss' as t;

.eds-textfield__clear-button {
  &-wrapper {
    display: flex;
    align-items: center;
  }
  background: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-size: 1rem;
  line-height: 1rem;
  padding: t.$space-extra-small;
  margin-right: -(t.$space-small);
  &:hover {
    background: t.$colors-greys-grey80;
  }
  &:focus {
    outline: none;
    box-shadow: t.$shadows-focus;
  }
}

.eds-textfield__divider {
  content: '';
  display: block;
  background-color: t.$colors-greys-grey70;
  height: 1.5rem;
  width: 1px;
  .eds-form-control-wrapper--disabled & {
    .eds-contrast & {
      background-color: t.$colors-blues-blue50;
    }
  }
}
