@use '@entur/tokens/dist/styles.scss' as t;

.eds-textfield {
  &__wrapper {
    cursor: text;
  }

  &__append {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:where(:has(.eds-textfield__clear-button)) {
      margin-right: -(t.$space-medium);
    }
  }

  &__clear-button {
    margin-inline: t.$space-extra-small2;

    &:where(:hover) {
      background: var(--components-button-iconbutton-standard-hover);
    }

    &:where(:focus-visible) {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
    }

    :where(.eds-contrast) & {
      color: var(--components-button-iconbutton-standard-text);

      &:where(:hover) {
        background-color: var(--components-button-iconbutton-standard-hover);
      }
      &:where(:focus-visible) {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
      }
      &:where(:active) {
        background-color: var(--components-button-iconbutton-standard-active);
      }
    }
  }

  &__divider {
    content: '';
    margin-inline-start: t.$space-small;
    display: block;
    background-color: var(--components-form-baseform-standard-icon);
    height: 1.5rem;
    width: 1px;

    :where(.eds-contrast) :where(.eds-form-control-wrapper--disabled) & {
      background-color: var(--components-form-baseform-contrast-icon);
    }
  }
}
