@import '~@entur/fonts/index.css';
@import '~@entur/layout/dist/styles.css';
@import '~@entur/typography/dist/styles.css';
@import '~@entur/menu/dist/styles.css';
@import '~@entur/tokens/dist/styles.scss';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

body {
  margin: 0;
}

.site-content {
  margin: $space-default;
  @include for-desktop {
    margin: 5rem 11rem 1rem 22rem;
    max-width: 60rem;
  }
}
