@use '../../../styles/variables' as *;
@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.mobile-side-navigation {
  height: 100%;
  width: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  left: -85%;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  margin-top: -$navbar-height;
  pointer-events: none;
  padding-right: 2.5rem;

  .eds-contrast & {
    background: var(--designentur-header-contrast-fill);
    border-color: var(--designentur-header-contrast-divider);
  }

  // remove scrollbar styling
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none;
  }

  &__menu {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    &--menu-button {
      position: relative;
      appearance: none;
      // TODO add correct color
      background-color: pink;
      border: none;
      color: inherit;
      cursor: pointer;
      font-size: $font-sizes-extra-large2;
      padding: $space-extra-small $space-large;
      transform: scale(1);
      transition: transform $timings-medium ease-in-out;
      &-open {
        //Slide til venstre og opacity
        transform: scale(0);
      }
      &.eds-floating-button {
        position: absolute;
        top: 87vh;
        left: 2rem;
      }
      &:focus {
        outline: $outlines-focus;
        outline-offset: $outline-offsets-focus;
      }
    }
    &--settings {
      color: inherit;
      padding: $space-extra-small;
      font-size: $font-sizes-extra-large2;
      flex-grow: 1;
      &:focus {
        outline: none;
        box-shadow: $shadows-focus;
      }
    }
  }
  &__links {
    display: flex;
    overflow-x: auto;

    &__scroll-gradient {
      // horizontal shadow scroll from https://codepen.io/vakhula/pen/OJVqBOK
      background-position: left center, right center, left center, right center;
      background-repeat: no-repeat;
      background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
      background-attachment: local, local, scroll, scroll;

      background-image: linear-gradient(to right, var(--designentur-header-default-fill), var(--designentur-header-default-fill)),
        linear-gradient(to right, var(--designentur-header-default-fill), var(--designentur-header-default-fill)),
        linear-gradient(to right, rgba(255, 255, 255, 0.66), transparent), linear-gradient(to left, rgba(255, 255, 255, 0.66), transparent);
      background-color: var(--designentur-header-default-fill);

      .eds-contrast & {
        background-image: linear-gradient(to right, var(--designentur-header-contrast-fill), var(--designentur-header-contrast-fill)),
          linear-gradient(to right, var(--designentur-header-contrast-fill), var(--designentur-header-contrast-fill)),
          linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent), linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent);
        background-color: var(--designentur-header-contrast-fill);
      }
    }
  }
  &__logo {
    width: 100%;
    padding: $space-extra-large2 $space-extra-large2 0 $space-extra-large2;
  }

  &__group {
    margin-top: 1rem;
  }

  &-wrapper {
    width: 100%;
    transition: max-width $timings-fast ease-out;
    background: var(--components-menu-sidenavigation-standard-background);
    overflow-y: scroll;

    @include for-desktop {
      max-width: $side-navigation-width--desktop;
      height: 100vh;
      left: 0;
      top: $navbar-height;
      padding-bottom: 10rem;
      overflow-y: scroll;
      position: fixed;
      z-index: $z-indexes-sticky;
    }
    @include for-large-desktop {
      max-width: $side-navigation-width--large-desktop;
    }
  }

  &-wrapper .eds-floating-button.mobile-side-navigation__close-menu {
    position: absolute;
    top: 86vh;
    right: 1rem;
    margin-top: -$navbar-height;
    opacity: 0;
    transition: transform 0.3s ease-in-out;

    &--open {
      opacity: 1;
      //right: -24px;
    }
  }
  &__background {
    min-height: 100dvh;
    padding-top: $space-extra-large;
    padding-bottom: $space-extra-large;
    background-color: pink;
    // TODO
    // background-color: var(--components-menu-sidenavigation-standard-background);
  }
  &__backdrop {
    z-index: 19;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: -$navbar-height;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    &--inactive {
      opacity: 0;
    }
  }

  &--visible {
    left: 0;
    pointer-events: auto;
  }

  &--open-sidemenu {
    position: fixed;
    margin-top: -$navbar-height;
  }
}
