@import '~@entur/tokens/dist/styles.scss';

.eds-color-list {
  .eds-h2 {
    margin-top: $space-extra-large5;
    &:first-child {
      margin-top: 0;
    }
  }
  .eds-h3 {
    margin-top: $space-extra-large3;

    &.eds-color-list__normal-margin-h3 {
      margin-top: $space-large;
    }
  }
}
