.variant-presenter {
  display: flex;
  flex-direction: column;
}

.presenter-header-wrapper {
  font-size: 14px;
  color: #656782;
  padding-bottom: 1rem;
}

.presenter-grid {
  display: inline-grid;
  grid-template-columns: 3fr 6fr;
  grid-row-gap: 1.5rem;
}

.component-presenter {
  padding-top: 1.5rem;
}

.presententation-header {
  font-weight: bold;
}
