@import '~@entur/tokens/dist/styles.scss';

.design-principle {
  &__container {
    border-radius: 15px;
    background: $colors-blues-blue80;
    padding: $space-large;
  }
  &__icon {
    background: $colors-brand-white;
    border-radius: 50%;
    font-size: $font-sizes-extra-large4;
    height: 4.5rem;
    width: 4.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
