@import '~@entur/tokens/dist/styles.scss';

.border-wrapper {
  border: $border-widths-small solid $colors-greys-grey70;
  border-radius: $border-widths-large;
  display: grid;
  gap: $space-default;
}

.image-display {
  width: 100%;
  position: relative;
}

.image-display__image {
  width: 100%;
  & > img {
    width: 100%;
  }
}
