@import '~@entur/tokens/dist/styles.scss';

.playground {
  border: $border-widths-medium solid $colors-greys-grey80;
  padding: 1em;
  &__contrast-switch {
    margin-bottom: $space-large;
  }
}

.playground__controls {
  display: flex;
  justify-content: space-between;
  padding-top: $space-extra-small;
  margin-bottom: $space-extra-small;
  &__card-button {
    appearance: none;
    cursor: pointer;
    background: white;
    font-family: inherit;
    font-size: $font-sizes-large;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: $space-default;
    width: 100%;
    &:focus {
      outline-offset: $outline-offsets-focus;
      outline: none;
      box-shadow: $shadows-focus;
    }
    &-icon {
      margin-right: $space-small;
    }
  }
}
.playground__control {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;

  & + & {
    margin-left: 1em;
  }
}
.playground__editor {
  border-top: $border-widths-default solid $colors-greys-grey70;
  border-radius: $border-radiuses-medium;
  padding: $space-large;
}
