@import '~@entur/tokens/dist/styles.scss';

.playground {
  border: $border-widths-small solid $colors-greys-grey70;
  border-radius: $border-radiuses-medium $border-radiuses-medium 0 0;
  padding: 1rem;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12);

  margin-bottom: 2rem;

  &.eds-contrast {
    border: $border-widths-small solid $colors-brand-blue;
    border-bottom-color: $colors-blues-blue30;
  }
  &__contrast-switch {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
  }

  & + .ReactCollapse--collapse {
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
}

.playground__code-button {
  &.eds-square-button {
    z-index: 1;
    align-self: flex-end;
    position: relative;
    bottom: 0rem;
    margin-left: auto;
    margin-bottom: 0.5rem;
  }
}

.playground__control {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;

  & + & {
    margin-left: 1em;
  }
}
.playground__editor {
  border-radius: $border-radiuses-medium;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: $space-large;
  margin-bottom: 2rem;

  overflow-x: scroll;

  &:focus-within {
    box-shadow: $shadows-focus;
  }

  // need to override inline styling to account for line numbers space
  textarea {
    left: 3rem !important;
    white-space: inherit !important;
    width: #{'Calc(100% - 3rem)'} !important;
    outline: transparent;
  }
}

pre {
  counter-reset: token-line;
  white-space: none;
}

.token-line {
  white-space: pre;
  &::before {
    // line numbers formating
    counter-increment: token-line;
    content: counter(token-line);

    width: 2rem;
    display: inline-block;
    text-align: right;
    user-select: none;

    margin-right: 1rem;
  }
}
