@import '~@entur/tokens/dist/styles.scss';

.playground {
  border: 0.1875rem solid $colors-greys-grey30; //3px
  padding: 1em;
}

.playground__controls {
  background-color: $colors-greys-grey30;
  display: flex;
  justify-content: space-between;
  padding: $space-extra-small2 $space-default;
}
.playground__control {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;

  & + & {
    margin-left: 1em;
  }
}
.playground__editor {
  border-top: $border-widths-default solid $colors-brand-white;
}
