@import '~@entur/tokens/dist/styles.scss';

.props__description > .eds-paragraph {
  margin: 0;
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;
}

.props-table__type {
  word-break: break-all;
}
