@import '~@entur/tokens/dist/styles.scss';

.settings-trigger {
  appearance: none;
  background: $colors-brand-white;
  border: 0;
  border-radius: 50%;
  box-shadow: rgba(black, 0.2) 0 2px 4px 2px;
  color: $colors-brand-blue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  padding: $space-default;
  position: fixed;
  bottom: $space-default;
  right: $space-default;
  z-index: $z-indexes-sticky;
  transition: background-color $timings-fast ease-out;
  &:hover {
    background-color: $colors-brand-lavender;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0.25rem $colors-misc-focus;
  }
}
