@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.site-sidebar-wrapper {
  width: 100%;
  transition: max-width $timings-fast ease-out;
  background: $colors-greys-grey30;
  @include for-desktop {
    max-width: 18rem;
    height: 100vh;
    left: 0;
    top: 7rem;
    padding-bottom: 10rem;
    overflow-y: scroll;
    position: fixed;
    z-index: $z-indexes-sticky;
  }
  @include for-large-desktop {
    max-width: 26rem;
  }
}

.site-sidebar__logo-svg {
  width: 100%;
  padding: $space-extra-large2 $space-extra-large2 0 $space-extra-large2;
}

.site-sidebar {
  &__searchbar {
  }
  &__group {
    margin-top: 1rem;
  }
}
