@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.site-sidebar-wrapper {
  width: 100%;

  @include for-desktop {
    height: 100vh;
    left: 0;
    top: 0;
    padding-bottom: 10rem;
    max-width: 18rem;
    overflow-y: scroll;
    position: fixed;
    z-index: $z-indexes-sticky;
  }
}

.site-sidebar-logo img {
  width: 15rem;
}
