@import '~@entur/tokens/dist/styles.scss';

.table-of-content-container {
  display: none;

  @media screen and (min-width: 100rem) {
    display: block;
    position: fixed;
    left: 85rem;
    top: 11.5rem;
  }
}
.table-of-content {
  list-style: none;
  padding: 0;
  max-width: 10rem;
}

.table-of-content__item {
  &--depth-3 {
    padding-left: $space-large;
  }

  &--depth-4 {
    padding-left: $space-extra-large;
  }
}

.table-of-content__link {
  color: var(--primary-label-color);
  font-size: $font-sizes-medium;
  line-height: $line-heights-small;
  text-decoration: underline;

  &--active {
    color: var(--primary-text-color);
    font-weight: $font-weights-heading;
  }
}
