@import '~@entur/tokens/dist/styles.scss';

.color-swatch {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $space-default $space-large;
  margin-bottom: $space-extra-small2;
}

.color-swatch__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: $font-weights-body;
}

.color-swatch__copy-button {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 1px;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  padding: $space-extra-small2;
  width: fit-content;

  & + & {
    margin-top: $space-extra-small2;
  }
}
