@import '~@entur/tokens/dist/styles.scss';

.settings-trigger {
  appearance: none;
  background: $colors-brand-white;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 1.25rem -0.75rem $colors-misc-black;
  color: $colors-brand-blue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  padding: $space-default;
  position: fixed;
  bottom: $space-default;
  right: $space-default;
  z-index: $z-indexes-sticky;
  transition: background-color 0.15s ease-out;
  &:hover {
    background-color: $colors-brand-lavender;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0.25rem $colors-misc-focus;
  }
}

.entur-dropdown {
  --background-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill='#181c56' transform='rotate(-45 1.172 4)' d='M4 8h6v2H2V2h2v6z' /%3E%3C/svg%3E");
  --background-color: #{$colors-greys-grey40};
  --background-color-hover: #{$colors-greys-grey40};
  --text-color: #{$colors-brand-blue};
  --text-color-hover: #{$colors-blues-blue40};
  --border-color: #{$colors-brand-blue};
  --border-color-hover: #{$colors-brand-lavender};

  .entur-contrast & {
    --background-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill='#ffffff' transform='rotate(-45 1.172 4)' d='M4 8h6v2H2V2h2v6z' /%3E%3C/svg%3E");
    --background-color: #{$colors-blues-blue10};
    --background-color-hover: #{$colors-blues-blue30};
    --text-color: #{$colors-brand-white};
    --text-color-hover: #{$colors-blues-blue60};
    --border-color: #{$colors-blues-blue10};
    --border-color-hover: #{$colors-brand-lavender};
  }

  appearance: none;
  background-color: var(--background-color);
  background-image: var(--background-arrow);
  background-repeat: no-repeat;
  background-position: right $space-medium center;
  border: none;
  border-bottom: $border-widths-default solid var(--border-color);
  border-radius: 0;
  color: var(--text-color);
  display: block;
  font-size: inherit;
  padding: $space-small $space-medium;
  position: relative;
  width: 100%;

  &:hover,
  &:focus {
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
    color: var(--text-color-hover);
  }
}
