@use '@entur/tokens/dist/styles.scss' as t;

.eds-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: t.$font-weights-body;
  font-size: t.$font-sizes-small;
  width: fit-content;
  opacity: 1;
  visibility: visible;
  transition: opacity t.$timings-medium ease-in-out, visibility 0s linear;

  &--hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity t.$timings-medium ease-in-out, visibility 0s linear 0.3s;
  }

  &--variant-primary {
    background-color: var(--components-layout-badge-primary-standard-fill);
    color: var(--components-layout-badge-primary-standard-text);

    .eds-contrast & {
      color: var(--components-layout-badge-primary-contrast-text);
      background-color: var(--components-layout-badge-primary-contrast-fill);
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-primary-standard-bullet);

      .eds-contrast & {
        background-color: var(--components-layout-badge-primary-contrast-bullet);
      }
    }
  }

  &--variant-success {
    background-color: var(--components-layout-badge-success-standard-fill);
    color: var(--components-layout-badge-success-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-success-contrast-fill);
      color: var(--components-layout-badge-success-contrast-text);
    }

    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-success-standard-border);

      .eds-contrast & {
        border-color: var(--components-layout-badge-success-contrast-border);
      }
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-success-standard-bullet);

      .eds-contrast & {
        background-color: var(--components-layout-badge-success-contrast-bullet);
      }
    }
  }

  &--variant-warning {
    background-color: var(--components-layout-badge-warning-standard-fill);
    color: var(--components-layout-badge-warning-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-warning-contrast-fill);
      color: var(--components-layout-badge-warning-contrast-text);
    }

    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-warning-standard-border);

      .eds-contrast & {
        border-color: var(--components-layout-badge-warning-contrast-border);
      }
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-warning-standard-bullet);

      .eds-contrast & {
        background-color: var(--components-layout-badge-warning-contrast-bullet);
      }
    }
  }

  &--variant-negative {
    background-color: var(--components-layout-badge-negative-standard-fill);
    color: var(--components-layout-badge-negative-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-negative-contrast-fill);
      color: var(--components-layout-badge-negative-contrast-text);
    }

    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-negative-standard-border);

      .eds-contrast & {
        border-color: var(--components-layout-badge-negative-contrast-border);
      }
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-negative-standard-bullet);

      .eds-contrast & {
        background-color: var(--components-layout-badge-negative-contrast-bullet);
      }
    }
  }

  &--variant-information {
    background-color: var(--components-layout-badge-information-standard-fill);
    color: var(--components-layout-badge-information-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-information-contrast-fill);
      color: var(--components-layout-badge-information-contrast-text);
    }

    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-information-standard-border);

      .eds-contrast & {
        border-color: var(--components-layout-badge-information-contrast-border);
      }
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-information-standard-bullet);

      .eds-contrast & {
        background-color: var(--components-layout-badge-information-contrast-bullet);
      }
    }
  }

  &--variant-neutral {
    background-color: var(--components-layout-badge-neutral-standard-fill);
    color: var(--components-layout-badge-neutral-standard-text);

    .eds-contrast & {
      background-color: var(--components-layout-badge-neutral-contrast-fill);
      color: var(--components-layout-badge-neutral-contrast-text);
    }

    &.eds-badge--type-notification {
      border-color: var(--components-layout-badge-neutral-standard-border);

      .eds-contrast & {
        border-color: var(--components-layout-badge-neutral-contrast-border);
      }
    }

    &.eds-badge--type-bullet::before {
      background-color: var(--components-layout-badge-neutral-standard-bullet);

      .eds-contrast & {
        background-color: var(--components-layout-badge-neutral-contrast-bullet);
      }
    }
  }

  &--type {
    &-notification {
      line-height: t.$line-heights-extra-large;
      height: var(--components-layout-badge-notification-height-medium);
      min-width: var(--components-layout-badge-notification-height-medium);
      padding: 0 var(--components-layout-badge-notification-inlinepadding-padding);
      border-radius: var(--components-layout-badge-notification-radius-round);
      border: var(--components-layout-badge-notification-border-medium) solid transparent;

      .eds-contrast & {
        border-color: transparent;
      }
    }

    &-bullet {
      background: none;
      font-size: t.$font-sizes-large;
      line-height: t.$line-heights-extra-large;
      color: var(--components-layout-badge-primary-standard-text-bullet);
      border: none;
      position: relative;
      padding-left: calc(var(--components-layout-badge-bullet-bullet-medium) + var(--components-layout-badge-bullet-gap-medium));

      .eds-contrast & {
        color: var(--components-layout-badge-primary-contrast-text-bullet);
        background: none;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: var(--components-layout-badge-bullet-bullet-medium);
        width: var(--components-layout-badge-bullet-bullet-medium);
        border-radius: 50%;
        background: var(--components-layout-badge-primary-standard-fill);
      }
    }
  }

  &--size-small {
    &.eds-badge--type-notification {
      height: var(--components-layout-badge-notification-height-small);
      min-width: var(--components-layout-badge-notification-height-small);
      border-width: var(--components-layout-badge-notification-border-small);
    }

    &.eds-badge--type-bullet {
      padding-left: calc(var(--components-layout-badge-bullet-bullet-small) + var(--components-layout-badge-bullet-gap-small));

      &::before {
        height: var(--components-layout-badge-bullet-bullet-small);
        width: var(--components-layout-badge-bullet-bullet-small);
      }
    }
  }

  &--size-large {
    &.eds-badge--type-notification {
      height: var(--components-layout-badge-notification-height-large);
      min-width: var(--components-layout-badge-notification-height-large);
      border-width: var(--components-layout-badge-notification-border-large);
    }

    &.eds-badge--type-bullet {
      padding-left: calc(var(--components-layout-badge-bullet-bullet-large) + var(--components-layout-badge-bullet-gap-large));

      &::before {
        height: var(--components-layout-badge-bullet-bullet-large);
        width: var(--components-layout-badge-bullet-bullet-large);
      }
    }
  }
}
