@import '~@entur/tokens/dist/styles.scss';

.entur-base-card {
  display: flex;
  box-shadow: rgba(black, 0.2) 0 0.125rem 0.25rem 0.125rem;
  border: transparent $border-widths-default solid;
  border-radius: $border-radiuses-medium;
  align-items: center;
  appearance: none;
  text-decoration: none;
  color: inherit;
  transition: border-color $timings-fast ease-out;
  &:hover {
    border: $colors-brand-blue $border-widths-default solid;
  }
}
