@import '~@entur/tokens/dist/styles.scss';

.eds-base-card {
  display: flex;
  box-shadow: $shadows-card-shadow;
  border: $border-widths-small solid $colors-greys-grey20;
  border-radius: $border-radiuses-medium;
  align-items: center;
  appearance: none;
  text-decoration: none;
  color: inherit;
  .eds-contrast & {
    background-color: $colors-blues-blue10;
    box-shadow: $shadows-card-shadow-contrast;
  }
}
