@use '~@entur/tokens/dist/styles.scss' as t;

.eds-base-card {
  display: flex;
  box-shadow: t.$shadows-card-shadow;
  background-color: var(--components-layout-card-standard-fill-default);
  border: t.$border-widths-small solid var(--components-layout-card-standard-border-default);
  color: var(--components-layout-card-standard-text);
  border-radius: t.$border-radiuses-medium;
  align-items: center;
  appearance: none;
  text-decoration: none;

  .eds-contrast & {
    background-color: var(--components-layout-card-contrast-fill-default);
    border-color: var(--components-layout-card-contrast-border-default);
    box-shadow: t.$shadows-card-shadow-contrast;
    color: var(--components-layout-card-contrast-text);
  }
}
