@import '~@entur/tokens/dist/styles.scss';

.eds-card-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;

  &__title-icon {
    font-size: 2rem;
  }
  &__heading {
    .eds-card-box & {
      margin-bottom: 0;
    }
  }
  &__arrow-icon {
    margin-top: 1rem;
    transition: transform $timings-fast ease-out;
    .eds-card-box:hover & {
      transform: translateX(0.5rem);
    }
  }
}
