@import '~@entur/tokens/dist/styles.scss';

.eds-media-card {
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: fit-content;
  transition: transform $timings-medium ease-in-out;
  &:focus,
  &:focus-within {
    outline: none;
    box-shadow: $shadows-focus;
    .eds-contrast & {
      box-shadow: $shadows-focus-contrast;
    }
  }
  .eds-contrast & {
    background-color: $colors-blues-blue10;
  }
  &__media {
    transition: transform $timings-medium ease-in-out;
  }
  &__title {
    font-size: $font-sizes-extra-large2;
    line-height: $line-heights-extra-large3;
    font-weight: $font-weights-heading;
    margin: 0.75rem 0 0.5rem;
    text-align: left;
    width: fit-content;
    position: relative;
  }
  &:hover {
    transform: translateY(-$space-extra-small2);
  }
  &__text {
    appearance: none;
    cursor: pointer;
    color: inherit;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 1.25rem $space-extra-large 0;
  }
  &__arrow-icon {
    align-self: flex-end;
    margin: $space-default 0 $space-large;
  }
}
