@use '~@entur/tokens/dist/styles.scss' as t;

.eds-media-card {
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: fit-content;
  transition: transform t.$timings-medium ease-in-out,
    box-shadow t.$timings-medium ease-in-out;
  &:focus,
  &:focus-within {
    outline: none;
    box-shadow: t.$shadows-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }
  .eds-contrast & {
    background-color: t.$colors-blues-blue10;
  }

  &:hover {
    transform: translateY(-(t.$space-extra-small2));
    box-shadow: t.$shadows-card-shadow-hover;
  }

  &__media {
    transition: transform t.$timings-medium ease-in-out;

    max-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    appearance: none;
    width: 100%;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: t.$space-default;
    text-decoration: none;
    padding: 1.25rem t.$space-extra-large 0;
    &:focus {
      outline: none;
    }

    &__title {
      font-size: t.$font-sizes-extra-large2;
      line-height: t.$line-heights-extra-large3;
      font-weight: t.$font-weights-heading;
      margin: 0.75rem 0 0.5rem;

      &-link {
        appearance: none;
        all: unset;

        // this is a hack to make entire card clickable
        &::after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__arrow-icon {
      align-self: flex-end;
      margin: t.$space-default 0 t.$space-large;
    }
  }
}
