@import '~@entur/tokens/dist/styles.scss';

.eds-navigation-card {
  display: flex;
  border: none;
  flex-direction: column;
  text-align: center;
  padding: $space-large;
  position: relative;
  overflow: hidden;
  transition: transform $timings-medium ease-in-out;

  &:hover {
    transform: translateY(-$space-extra-small2);
  }

  &__title-icon {
    background: $colors-blues-blue80;
    border-radius: 50%;
    display: flex;
    font-size: 2rem;
    padding: $space-small;
  }
  &__arrow-icon {
    margin-top: 1rem;
  }
  &--compact {
    flex-direction: row;
    justify-content: space-between;
    padding: $space-default $space-extra-large2;
    &:hover {
      transform: none;
    }
    .eds-navigation-card__title {
      padding: 1rem 0;
    }
    .eds-navigation-card__arrow-icon {
      margin-top: 0rem;
    }
  }
}
