@import '~@entur/tokens/dist/styles.scss';

.eds-contrast {
  --primary-background-color: #{$colors-brand-blue};
  --primary-text-color: #{$colors-brand-white};
  --primary-label-color: #{$colors-brand-lavender};

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
