@use '@entur/tokens/dist/styles.scss' as t;

.eds-tag {
  background: t.$colors-greys-grey70;
  color: t.$colors-brand-blue;
  display: inline-block;
  min-width: t.$space-extra-large;
  padding: t.$space-extra-small2 t.$space-small;
  font-size: t.$font-sizes-medium;
  line-height: t.$line-heights-large;
  &--leading-icon .eds-icon {
    margin-right: t.$space-extra-small;
  }
  &--trailing-icon .eds-icon {
    margin-left: t.$space-extra-small;
  }
  &--compact {
    font-size: t.$font-sizes-small;
    padding: calc(t.$space-extra-small2 / 2) t.$space-extra-small;
    line-height: t.$line-heights-medium;
    height: 1.5rem;
    &.eds-tag--leading-icon .eds-icon {
      margin-right: t.$space-extra-small2;
    }
    &.eds-tag--trailing-icon .eds-icon {
      margin-left: t.$space-extra-small2;
    }
  }
}
