@use '~@entur/tokens/dist/styles.scss' as t;

.eds-drawer {
  animation: slideFromRight forwards ease-out t.$timings-fast;
  background-color: var(--components-modal-drawer-standard-background);
  color: var(--components-modal-drawer-standard-text);
  bottom: 0;
  padding: t.$space-large;
  position: fixed;
  right: 0;
  top: 0;
  max-width: 100%;
  min-width: 20rem;
  width: 25vw;
  z-index: t.$z-indexes-modal;
  overflow-y: auto;

  .eds-contrast & {
    background-color: var(--components-modal-drawer-contrast-background);
    color: var(--components-modal-drawer-contrast-text);
  }

  &__close-button {
    margin: 0;
    position: absolute;
    top: t.$space-large;
    right: t.$space-large;
  }
}

@keyframes slideFromRight {
  from {
    box-shadow: none;
    transform: translateX(100%);
  }
  to {
    box-shadow: t.$shadows-box-shadow;
    transform: 0;
  }
}
