@use '~@entur/tokens/dist/styles.scss' as t;

@keyframes slideFromRight {
  from {
    box-shadow: none;
    transform: translateX(100%);
  }
  to {
    box-shadow: t.$shadows-box-shadow;
    transform: 0;
  }
}

.eds-drawer {
  animation: slideFromRight forwards ease-out t.$timings-fast;
  background: t.$colors-blues-blue80;
  bottom: 0;
  padding: t.$space-large;
  position: fixed;
  right: 0;
  top: 0;
  max-width: 100%;
  min-width: 20rem;
  width: 25vw;
  z-index: t.$z-indexes-modal;
  overflow-y: auto;

  .eds-contrast & {
    background: t.$colors-blues-blue10;
  }
}

.eds-drawer__close-button {
  margin: 0;
  position: absolute;
  top: t.$space-large;
  right: t.$space-large;

  &:focus {
    outline-offset: t.$outline-offsets-focus;
    outline: none;
    box-shadow: t.$shadows-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }
}
