@import '~@entur/tokens/dist/styles.scss';

:root {
  // Tell Reach that we're doing the styling ourselves
  --reach-dialog: 1;
}
$modal-animation-duration: $timings-medium;

.eds-modal__overlay {
  background: rgba(black, 0.5);
  bottom: 0;
  display: flex;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-indexes-overlay;

  animation: fadeInOverlay;
  animation-duration: $modal-animation-duration;
  animation-timing-function: ease-in-out;
}

.eds-modal__content {
  background: var(--primary-background-color);
  border-radius: 0.75rem;
  color: var(--primary-text-color);
  margin: auto;
  padding: $space-large;
  position: relative;
  outline-offset: $outline-offsets-focus;
  width: 100%;
  max-height: 90vh;
  overflow: auto;
  z-index: $z-indexes-modal;

  animation: slideInContent;
  animation-duration: $modal-animation-duration;
  animation-timing-function: ease-in-out;

  &--size-extraSmall {
    max-width: 21rem;
    padding: $space-large;
  }

  &--size-small {
    max-width: 28.125rem;
    padding: $space-extra-large2;
  }

  &--size-medium {
    max-width: 45rem;
    padding: $space-extra-large3;
  }

  &--size-large {
    max-width: 56.25rem;
    padding: $space-extra-large3;
  }

  &--size-extraLarge {
    max-width: 78.75rem;
    padding: $space-extra-large3;
  }
}

.eds-modal__close {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  color: inherit;
  position: absolute;
  top: $space-medium;
  right: $space-medium;
  padding: $space-extra-small;
  cursor: pointer;
  &:focus {
    outline-offset: $outline-offsets-focus;
    outline: none;
    box-shadow: $shadows-focus;
  }
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInContent {
  from {
    top: 5rem;
    opacity: 0;
  }

  to {
    top: 0%;
    opacity: 1;
  }
}
