@import '~@entur/tokens/dist/styles.scss';

:root {
  // Tell Reach that we're doing the styling ourselves
  --reach-dialog: 1;
}

.entur-modal__overlay {
  background: rgba($colors-brand-blue, 0.8);
  bottom: 0;
  display: flex;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-indexes-overlay;
}

.entur-modal__content {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  margin: auto;
  min-width: 20rem;
  padding: $space-large;
  position: relative;
  outline: none;
  width: fit-content;
  z-index: $z-indexes-modal;
}

.entur-modal__close {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  color: inherit;
  position: absolute;
  top: $space-large;
  right: $space-large;
}
