$navbar-height: 7rem;
$side-navigation-width--desktop: 21rem;
$side-navigation-width--large-desktop: 22rem;
$site-content-max-width: 45rem;
$site-content-left-margin: 8%;
$show-toc-min-width: 90rem;
$toc-left-position-relative-to-site-content: 3rem;
$toc-left-position: #{'Calc(#{$side-navigation-width--desktop} + #{$site-content-left-margin} + #{$site-content-max-width} + #{$toc-left-position-relative-to-site-content})'};

$breakpoints: (
  mobile-small: 375px,
  mobile: 648px,
  tablet: 960px,
);
