@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/color-utils.scss';

.eds-square-button {
  --icon-color: var(--primary-text-color);
  --icon-background: transparent;
  --border-color: transparent;

  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: $border-radiuses-medium;
  cursor: pointer;
  font-size: $font-sizes-large;
  display: inline-flex;
  font-family: inherit;
  font-weight: $font-weights-body;
  justify-content: center;
  padding: 0;
  text-decoration: none;

  &:focus {
    outline: none;
    .eds-square-button__icon {
      outline-offset: $outline-offsets-focus;
      outline: none;
      box-shadow: $shadows-focus;
      .eds-contrast & {
        box-shadow: $shadows-focus-contrast;
      }
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    &.eds-square-button--loading {
      opacity: 1;
    }
  }
}

.eds-square-button__icon {
  align-items: center;
  background-color: var(--icon-background);
  border: $border-widths-default solid var(--border-color);
  border-radius: $border-radiuses-medium;
  color: var(--icon-color);
  display: inline-flex;
  height: $space-extra-large3;
  justify-content: center;
  line-height: $line-heights-extra-large;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  width: $space-extra-large3;
}

.eds-square-button--secondary {
  --icon-background: transparent;
  --border-color: $colors-brand-lavender;
  .eds-square-button__loading-dots .eds-loading-dots__dot {
    background: $colors-brand-blue;
  }

  &:hover {
    --icon-background: $colors-brand-lavender;
  }
  &:active {
    --icon-background: shade($colors-brand-lavender, 10%);
    --border-color: shade($colors-brand-lavender, 10%);
  }

  .eds-contrast & {
    &:hover {
      --icon-background: rgba($color: $colors-brand-white, $alpha: 0.2);
    }
    &:active {
      --icon-background: $colors-brand-lavender;
      --icon-color: $colors-brand-blue;
    }
    .eds-square-button__loading-dots .eds-loading-dots__dot {
      background: $colors-brand-white;
    }
  }
}

.eds-square-button--success {
  --icon-background: $colors-validation-mint-contrast;
  .eds-square-button__loading-dots .eds-loading-dots__dot {
    background: $colors-brand-blue;
  }

  &:hover {
    --icon-background: tint($colors-validation-mint-contrast, 10%);
  }
  &:active {
    --icon-background: shade($colors-validation-mint-contrast, 5%);
  }
}

.eds-square-button__label {
  color: var(--primary-text-color);
}

.eds-square-button__label + .eds-square-button__icon,
.eds-square-button__icon + .eds-square-button__label {
  margin-left: $space-default;
}

.eds-square-button--tertiary {
  --icon-background: transparent;
  --border-color: $colors-brand-blue;

  font-size: $font-sizes-medium;

  .eds-square-button__label + .eds-square-button__icon,
  .eds-square-button__icon + .eds-square-button__label {
    margin-left: $space-small;
  }

  .eds-square-button__icon {
    height: $space-extra-large;
    width: $space-extra-large;
    border-width: $border-widths-small;
  }
  .eds-square-button__loading-dots .eds-loading-dots__dot {
    background: $colors-brand-blue;
  }

  &:hover {
    --icon-background: $colors-blues-blue70;
  }
  &:active {
    --icon-background: $colors-brand-blue;
    --icon-color: $colors-brand-white;

    .eds-square-button__loading-dots .eds-loading-dots__dot {
      background: $colors-brand-white;
    }
  }

  .eds-contrast & {
    --border-color: $colors-brand-white;

    &:hover {
      --icon-background: rgba($color: $colors-brand-white, $alpha: 0.2);
    }
    &:active {
      --icon-background: $colors-brand-white;
      --icon-color: $colors-brand-blue;

      .eds-square-button__loading-dots .eds-loading-dots__dot {
        background: $colors-brand-blue;
      }
    }
    .eds-square-button__loading-dots .eds-loading-dots__dot {
      background: $colors-brand-white;
    }
  }
}
