@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/color-utils.scss';

a.eds-button {
  padding: $space-extra-small $space-default;
  &--variant-tertiary {
    padding: $space-extra-small2 $space-default;
  }
  &--size-large {
    padding: $space-default;
  }
}

.eds-button {
  min-width: 9.5rem;
  border: $border-widths-default solid transparent;
  border-radius: $border-radiuses-medium;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  appearance: none;
  text-decoration: none;
  padding: 0 $space-default;
  height: $space-extra-large3;
  font-size: $font-sizes-large;
  line-height: $line-heights-extra-large;
  font-weight: $font-weights-body;
  text-align: center;
  font-family: inherit;
  position: relative;
  vertical-align: top;
  .eds-button__loading-dots {
    width: 100%;
  }
  &:focus {
    outline-offset: $outline-offsets-focus;
    outline: none;
    box-shadow: $shadows-focus;
    .eds-contrast & {
      box-shadow: $shadows-focus-contrast;
    }
  }

  .eds-icon {
    position: relative;
    top: 0.2em;
  }

  &--leading-icon .eds-icon {
    margin-right: $space-small;
  }
  &--trailing-icon .eds-icon {
    margin-left: $space-small;
  }

  // Size
  &--size-large {
    min-width: 11.75rem;
    height: 3.75rem;
  }

  &--width-fluid {
    width: 100%;
  }

  //Variant
  &--variant-primary {
    background-color: $colors-brand-blue;
    color: $colors-brand-white;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: $colors-brand-white;
    }
    &:hover {
      background-color: tint($colors-brand-blue, 10%);
    }
    &:active {
      background-color: shade($colors-brand-blue, 10%);
    }
    .eds-contrast & {
      background-color: $colors-brand-lavender;
      color: $colors-brand-blue;
      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: $colors-brand-blue;
      }
      &:hover {
        background-color: tint($colors-brand-lavender, 10%);
      }
      &:active {
        background-color: shade($colors-brand-lavender, 10%);
      }
    }
  }
  &--variant-secondary {
    background-color: transparent;
    border: $border-widths-default solid $colors-brand-lavender;
    color: $colors-brand-blue;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: $colors-brand-blue;
    }
    &:hover {
      background-color: $colors-brand-lavender;
    }
    &:active {
      background-color: shade($colors-brand-lavender, 10%);
      border-color: shade($colors-brand-lavender, 10%);
    }
    .eds-contrast & {
      background-color: transparent;
      color: $colors-brand-white;
      border-color: $colors-brand-lavender;

      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: $colors-brand-white;
      }
      &:hover {
        background-color: (rgba($color: $colors-brand-white, $alpha: 0.2));
      }
      &:active {
        background: $colors-brand-lavender;
        color: $colors-brand-blue;
        > .eds-button__loading-dots .eds-loading-dots__dot {
          background: $colors-brand-blue;
        }
      }
    }
  }

  &--variant-success {
    background-color: $colors-validation-mint-contrast;
    color: $colors-brand-blue;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: $colors-brand-blue;
    }

    &:hover {
      background-color: tint($colors-validation-mint-contrast, 10%);
    }
    &:active {
      background-color: shade($colors-validation-mint-contrast, 5%);
    }
  }

  &--variant-negative {
    background: transparent;
    color: $colors-validation-lava;
    border-color: $colors-validation-lava;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: $colors-validation-lava;
    }
    &:hover {
      background-color: rgba($colors-validation-lava-tint, 0.6);
    }
    &:active {
      background-color: $colors-validation-lava;
      color: $colors-brand-white;
      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: $colors-brand-white;
      }
    }
    .eds-contrast & {
      color: $colors-brand-white;
      border-color: $colors-validation-lava-contrast;
      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: $colors-brand-white;
      }
      &:hover {
        background-color: tint($colors-blues-blue20, 10%);
      }
      &:active {
        background-color: $colors-validation-lava-contrast;
        color: $colors-brand-blue;
      }
    }
  }

  &--variant-tertiary {
    font-size: $font-sizes-medium;
    border: $border-widths-small solid $colors-brand-blue;
    border-radius: $border-radiuses-medium;
    background: transparent;
    color: $colors-brand-blue;
    height: 2rem;
    padding: 0 $space-small;
    min-width: 7.5rem;
    &:hover {
      background-color: $colors-blues-blue70;
    }
    &:active {
      color: $colors-brand-white;
      background-color: $colors-brand-blue;
    }
    &.eds-button--leading-icon .eds-icon {
      margin-right: $space-extra-small;
    }
    &.eds-button--trailing-icon .eds-icon {
      margin-left: $space-extra-small;
    }
    .eds-contrast & {
      color: $colors-brand-white;
      border-color: $colors-brand-white;
      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: $colors-brand-white;
      }
      &:hover {
        background-color: $colors-blues-blue20;
      }
      &:active {
        background-color: $colors-brand-white;
        color: $colors-brand-blue;
      }
    }
  }

  &[disabled] {
    &.eds-button--loading {
      pointer-events: none;
    }
  }

  &[disabled]:not(.eds-button--loading) {
    background: $colors-greys-grey80;
    border-color: $colors-greys-grey80;
    color: $colors-blues-blue40;
    cursor: not-allowed;

    .eds-contrast & {
      background-color: $colors-blues-blue20;
      border-color: $colors-blues-blue20;
      color: $colors-brand-lavender;
    }
  }
}
