@use '@entur/tokens/dist/styles.scss' as t;

.eds-button-group {
  :where(.eds-button) {
    margin-right: t.$space-small;
    margin-bottom: t.$space-small;

    &:where(:only-child) {
      margin: 0;
    }
  }
}
