@use '@entur/tokens/dist/styles.scss' as t;
@use '@entur/utils/dist/color-utils.scss' as util;

a.eds-button {
  padding: t.$space-extra-small t.$space-default;
  &--variant-tertiary {
    padding: t.$space-extra-small2 t.$space-default;
  }
  &--size-small {
    padding: t.$space-extra-small2 t.$space-default;
  }
  &--size-large {
    padding: t.$space-default;
  }
}

.eds-button {
  min-width: 9.5rem;
  border-radius: t.$border-radiuses-medium;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  appearance: none;
  text-decoration: none;
  padding: 0 t.$space-default;
  height: t.$space-extra-large3;
  font-size: t.$font-sizes-large;
  line-height: t.$line-heights-extra-large;
  font-weight: t.$font-weights-body;
  text-align: center;
  font-family: inherit;
  position: relative;
  vertical-align: top;

  background-color: var(--eds-button-background);
  border: t.$border-widths-default solid var(--eds-button-border);
  color: var(--eds-button-text);

  &:hover {
    background-color: var(--eds-button-background-hover);
  }
  &:active {
    background-color: var(--eds-button-background-active);
    border-color: var(--eds-button-border-active);
    color: var(--eds-button-text-active);
  }
  &:focus {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;
    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }

  > .eds-button__loading-dots {
    width: 100%;
    .eds-loading-dots__dot {
      background: var(--eds-button-text);
    }
  }
  .eds-icon {
    position: relative;
    top: 0.2em;
  }

  &--leading-icon .eds-icon {
    margin-right: t.$space-small;
  }
  &--trailing-icon .eds-icon {
    margin-left: t.$space-small;
  }

  // Size
  &--size-small {
    min-width: 5.75rem;
    height: 2rem;
    font-size: t.$font-sizes-medium;
    line-height: t.$line-heights-large;
  }
  &--size-large {
    min-width: 11.75rem;
    height: 3.75rem;
  }

  &--width-fluid {
    width: 100%;
  }

  //Variant
  &--variant-primary {
    --eds-button-background: var(--components-button-primary-standard-default);
    --eds-button-text: var(--components-button-primary-standard-text);
    --eds-button-text-active: var(--components-button-primary-standard-text);
    --eds-button-background-hover: var(--components-button-primary-standard-hover);
    --eds-button-background-active: var(--components-button-primary-standard-active);
    --eds-button-border: transparent;
    --eds-button-border-active: transparent;

    .eds-contrast & {
      --eds-button-background: var(--components-button-primary-contrast-default);
      --eds-button-text: var(--components-button-primary-contrast-text);
      --eds-button-text-active: var(--components-button-primary-contrast-text);
      --eds-button-background-hover: var(--components-button-primary-contrast-hover);
      --eds-button-background-active: var(--components-button-primary-contrast-active);
      --eds-button-border: transparent;
      --eds-button-border-active: transparent;
    }
  }

  &--variant-secondary {
    --eds-button-background: var(--components-button-secondary-standard-default);
    --eds-button-text: var(--components-button-secondary-standard-text);
    --eds-button-text-active: var(--components-button-secondary-standard-text-active);
    --eds-button-background-hover: var(--components-button-secondary-standard-hover);
    --eds-button-background-active: var(--components-button-secondary-standard-active);
    --eds-button-border: var(--components-button-secondary-standard-border);
    --eds-button-border-active: var(--components-button-secondary-standard-border-active);

    .eds-contrast & {
      --eds-button-background: var(--components-button-secondary-contrast-default);
      --eds-button-text: var(--components-button-secondary-contrast-text);
      --eds-button-text-active: var(--components-button-secondary-contrast-text-active);
      --eds-button-background-hover: var(--components-button-secondary-contrast-hover);
      --eds-button-background-active: var(--components-button-secondary-contrast-active);
      --eds-button-border: var(--components-button-secondary-contrast-border);
      --eds-button-border-active: var(--components-button-secondary-contrast-border-active);
    }
  }

  &--variant-success {
    --eds-button-background: var(--components-button-success-standard-default);
    --eds-button-text: var(--components-button-success-standard-text);
    --eds-button-text-active: var(--components-button-success-standard-text);
    --eds-button-background-hover: var(--components-button-success-standard-hover);
    --eds-button-background-active: var(--components-button-success-standard-active);
    --eds-button-border: var(--components-button-success-standard-border);
    --eds-button-border-active: var(--components-button-success-standard-border);

    .eds-contrast & {
      --eds-button-background: var(--components-button-success-contrast-default);
      --eds-button-text: var(--components-button-success-contrast-text);
      --eds-button-text-active: var(--components-button-success-contrast-text);
      --eds-button-background-hover: var(--components-button-success-contrast-hover);
      --eds-button-background-active: var(--components-button-success-contrast-active);
      --eds-button-border: var(--components-button-success-contrast-border);
      --eds-button-border-active: var(--components-button-success-contrast-border);
    }
  }

  &--variant-negative {
    --eds-button-background: var(--components-button-negative-standard-default);
    --eds-button-text: var(--components-button-negative-standard-text);
    --eds-button-text-active: var(--components-button-negative-standard-text-active);
    --eds-button-background-hover: var(--components-button-negative-standard-hover);
    --eds-button-background-active: var(--components-button-negative-standard-active);
    --eds-button-border: var(--components-button-negative-standard-border);
    --eds-button-border-active: var(--components-button-negative-standard-border);

    .eds-contrast & {
      --eds-button-background: var(--components-button-negative-contrast-default);
      --eds-button-text: var(--components-button-negative-contrast-text);
      --eds-button-text-active: var(--components-button-negative-contrast-text-active);
      --eds-button-background-hover: var(--components-button-negative-contrast-hover);
      --eds-button-background-active: var(--components-button-negative-contrast-active);
      --eds-button-border: var(--components-button-negative-contrast-border);
      --eds-button-border-active: var(--components-button-negative-contrast-border);
    }
  }

  // tertiary is deprecated and does not have color variables
  &--variant-tertiary {
    font-size: t.$font-sizes-medium;
    border: t.$border-widths-small solid t.$colors-blues-blue30;
    border-radius: t.$border-radiuses-medium;
    background-color: transparent;
    color: t.$colors-brand-blue;
    height: 2rem;
    padding: 0 t.$space-small;
    min-width: 6rem;
    &:hover {
      background-color: util.tint(t.$colors-brand-lavender, 40%);
    }
    &:active {
      background-color: t.$colors-brand-lavender;
    }

    &.eds-button--leading-icon .eds-icon {
      margin-right: t.$space-extra-small;
    }
    &.eds-button--trailing-icon .eds-icon {
      margin-left: t.$space-extra-small;
    }
    .eds-contrast & {
      background-color: transparent;
      color: t.$colors-brand-white;
      border-color: t.$colors-brand-lavender;

      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-white;
      }
      &:hover {
        background-color: rgba(t.$colors-brand-lavender, 0.2);
      }
      &:active {
        background: t.$colors-brand-lavender;
        color: t.$colors-brand-blue;
        > .eds-button__loading-dots .eds-loading-dots__dot {
          background: t.$colors-brand-blue;
        }
      }
    }
  }

  &[disabled] {
    &.eds-button--loading {
      pointer-events: none;
    }
  }

  &[disabled]:not(.eds-button--loading) {
    background: var(--components-button-disabled-standard-fill);
    color: var(--components-button-disabled-standard-text-disabled);
    border-color: transparent;
    cursor: not-allowed;

    .eds-contrast & {
      background-color: var(--components-button-disabled-contrast-fill);
      color: var(--components-button-disabled-contrast-text-disabled);
      border-color: transparent;
    }
  }
}
