@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/utils/dist/color-utils.scss' as util;

a.eds-button {
  padding: t.$space-extra-small t.$space-default;
  &--variant-tertiary {
    padding: t.$space-extra-small2 t.$space-default;
  }
  &--size-small {
    padding: t.$space-extra-small2 t.$space-default;
  }
  &--size-large {
    padding: t.$space-default;
  }
}

.eds-button {
  min-width: 9.5rem;
  border: t.$border-widths-default solid transparent;
  border-radius: t.$border-radiuses-medium;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  appearance: none;
  text-decoration: none;
  padding: 0 t.$space-default;
  height: t.$space-extra-large3;
  font-size: t.$font-sizes-large;
  line-height: t.$line-heights-extra-large;
  font-weight: t.$font-weights-body;
  text-align: center;
  font-family: inherit;
  position: relative;
  vertical-align: top;
  .eds-button__loading-dots {
    width: 100%;
  }
  &:focus {
    outline-offset: t.$outline-offsets-focus;
    outline: none;
    box-shadow: t.$shadows-focus;
    .eds-contrast & {
      box-shadow: t.$shadows-focus-contrast;
    }
  }

  .eds-icon {
    position: relative;
    top: 0.2em;
  }

  &--leading-icon .eds-icon {
    margin-right: t.$space-small;
  }
  &--trailing-icon .eds-icon {
    margin-left: t.$space-small;
  }

  // Size
  &--size-small {
    min-width: 5.75rem;
    height: 2rem;
    font-size: t.$font-sizes-medium;
    line-height: t.$line-heights-large;
  }
  &--size-large {
    min-width: 11.75rem;
    height: 3.75rem;
  }

  &--width-fluid {
    width: 100%;
  }

  //Variant
  &--variant-primary {
    background-color: t.$colors-brand-blue;
    color: t.$colors-brand-white;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: t.$colors-brand-white;
    }
    &:hover {
      background-color: util.tint(t.$colors-brand-blue, 10%);
    }
    &:active {
      background-color: util.shade(t.$colors-brand-blue, 10%);
    }
    .eds-contrast & {
      background-color: t.$colors-brand-lavender;
      color: t.$colors-brand-blue;
      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-blue;
      }
      &:hover {
        background-color: util.tint(t.$colors-brand-lavender, 10%);
      }
      &:active {
        background-color: util.shade(t.$colors-brand-lavender, 10%);
      }
    }
  }
  &--variant-secondary {
    background-color: transparent;
    border: t.$border-widths-default solid t.$colors-blues-blue30;
    color: t.$colors-brand-blue;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: t.$colors-brand-blue;
    }
    &:hover {
      background-color: util.tint(t.$colors-brand-lavender, 40%);
    }
    &:active {
      background-color: t.$colors-brand-lavender;
    }
    .eds-contrast & {
      background-color: transparent;
      color: t.$colors-brand-white;
      border-color: t.$colors-brand-lavender;

      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-white;
      }
      &:hover {
        background-color: rgba(t.$colors-brand-lavender, 0.2);
      }
      &:active {
        background: t.$colors-brand-lavender;
        color: t.$colors-brand-blue;
        > .eds-button__loading-dots .eds-loading-dots__dot {
          background: t.$colors-brand-blue;
        }
      }
    }
  }

  &--variant-success {
    background-color: t.$colors-validation-mint-contrast;
    color: t.$colors-brand-blue;
    border: t.$border-widths-default solid t.$colors-blues-blue30;
    border-radius: t.$border-radiuses-medium;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: t.$colors-brand-blue;
    }

    &:hover {
      background: rgba(util.tint(t.$colors-validation-mint-contrast, 10%), 0.4);
    }
    &:active {
      background-color: util.shade(t.$colors-validation-mint-contrast, 10%);
    }

    .eds-contrast & {
      border: none;
      &:hover {
        background: util.tint(t.$colors-validation-mint-contrast, 10%);
      }
      &:active {
        background-color: util.shade(t.$colors-validation-mint-contrast, 10%);
      }
    }
  }

  &--variant-negative {
    background: transparent;
    color: t.$colors-validation-lava;
    border-color: t.$colors-validation-lava;
    > .eds-button__loading-dots .eds-loading-dots__dot {
      background: t.$colors-validation-lava;
    }
    &:hover {
      background-color: rgba(t.$colors-validation-lava, 0.2);
    }
    &:active {
      background-color: t.$colors-validation-lava;
      color: t.$colors-brand-white;
      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-white;
      }
    }
    .eds-contrast & {
      color: t.$colors-brand-white;
      border-color: t.$colors-validation-lava-contrast;
      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-white;
      }
      &:hover {
        background-color: rgba(t.$colors-validation-lava-contrast, 0.2);
      }
      &:active {
        background-color: t.$colors-validation-lava-contrast;
        color: t.$colors-brand-blue;
      }
    }
  }

  &--variant-tertiary {
    font-size: t.$font-sizes-medium;
    border: t.$border-widths-small solid t.$colors-blues-blue30;
    border-radius: t.$border-radiuses-medium;
    background-color: transparent;
    color: t.$colors-brand-blue;
    height: 2rem;
    padding: 0 t.$space-small;
    min-width: 6rem;
    &:hover {
      background-color: util.tint(t.$colors-brand-lavender, 40%);
    }
    &:active {
      background-color: t.$colors-brand-lavender;
    }

    &.eds-button--leading-icon .eds-icon {
      margin-right: t.$space-extra-small;
    }
    &.eds-button--trailing-icon .eds-icon {
      margin-left: t.$space-extra-small;
    }
    .eds-contrast & {
      background-color: transparent;
      color: t.$colors-brand-white;
      border-color: t.$colors-brand-lavender;

      > .eds-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-white;
      }
      &:hover {
        background-color: rgba(t.$colors-brand-lavender, 0.2);
      }
      &:active {
        background: t.$colors-brand-lavender;
        color: t.$colors-brand-blue;
        > .eds-button__loading-dots .eds-loading-dots__dot {
          background: t.$colors-brand-blue;
        }
      }
    }
  }

  &[disabled] {
    &.eds-button--loading {
      pointer-events: none;
    }
  }

  &[disabled]:not(.eds-button--loading) {
    background: t.$colors-greys-grey80;
    border-color: t.$colors-greys-grey80;
    color: t.$colors-blues-blue40;
    cursor: not-allowed;

    .eds-contrast & {
      background-color: t.$colors-blues-blue20;
      border-color: t.$colors-blues-blue20;
      color: t.$colors-brand-lavender;
    }
  }
}
