@use '~@entur/tokens/dist/styles.scss' as t;

.eds-button-group {
  .eds-button {
    margin-right: t.$space-small;
    margin-bottom: t.$space-small;

    &:only-child {
      margin: 0;
    }
  }
}
