@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/color-utils.scss';

$default-height: $space-extra-large3;
$small-height: $space-extra-large;
$default-padding: calc((44rem - 14rem) / 2 / 16);
$small-padding: calc((36rem - 14rem) / 2 / 16);

.eds-floating-button {
  align-items: center;
  appearance: none;
  background: $colors-brand-blue;
  border: 0;
  border-radius: calc($default-height / 2);
  box-shadow: $shadows-box-shadow;
  color: $colors-brand-white;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: $font-sizes-medium;
  font-weight: $font-weights-body;
  justify-content: center;
  min-height: $default-height;
  margin: 0;
  min-width: $default-height;
  padding: 0 $space-medium;
  position: relative;
  z-index: $z-indexes-sticky;

  &--extended {
    padding: 0 $default-padding;
  }
  &:hover {
    background-color: tint($colors-brand-blue, 10%);
  }
  &:active {
    background-color: shade($colors-brand-blue, 10%);
  }

  &:focus {
    outline-offset: $outline-offsets-focus;
    outline: none;
    box-shadow: $shadows-focus;
    .eds-contrast & {
      box-shadow: $shadows-focus-contrast;
    }
  }

  .eds-contrast & {
    background: $colors-brand-white;
    color: $colors-brand-blue;
    box-shadow: $shadows-box-shadow-contrast;
    &:hover {
      background-color: tint($colors-brand-lavender, 10%);
    }
    &:active {
      background-color: shade($colors-brand-white, 10%);
    }
  }

  &--small {
    border-radius: calc($small-height / 2);
    height: $small-height;
    padding: 0 $space-extra-small;
    min-width: $small-height;
    min-height: $small-height;
    flex: 0 1 auto;
    &.eds-floating-button--extended {
      padding: 0 $small-padding;
    }
  }
}

.eds-floating-button--extended > * {
  margin: 0 0.5em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
