@use '@entur/tokens/dist/styles.scss' as t;

.eds-icon-button {
  align-items: center;
  background: none;
  border-radius: var(--components-button-radius-medium);
  border: var(--components-button-border-medium) solid transparent;
  color: var(--components-button-iconbutton-standard-text);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-body-m);
  font-weight: var(--font-weight-body);
  gap: var(--components-button-gap-medium);
  height: var(--components-button-height-horizontalcontent-medium);
  justify-content: center;
  line-height: var(--font-line-height-body-m);
  padding-inline: var(--components-button-inlinepadding-medium);

  .eds-contrast & {
    color: var(--components-button-iconbutton-contrast-text);

    > .eds-loading-dots .eds-loading-dots__dot {
      background-color: var(--components-button-iconbutton-contrast-icon);
    }
  }
  &:hover {
    background-color: var(--components-button-iconbutton-standard-hover);
    .eds-contrast & {
      background-color: var(--components-button-iconbutton-contrast-hover);
    }
  }
  &:active {
    background: var(--components-button-iconbutton-standard-active);
    color: var(--components-button-iconbutton-standard-text-active);
    .eds-contrast & {
      background: var(--components-button-iconbutton-contrast-active);
      color: var(--components-button-iconbutton-contrast-text-active);
    }
  }
  &:focus-visible {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;
    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }
  &--disabled {
    opacity: 0.5;
    pointer-events: none;

    &__wrapper {
      cursor: not-allowed;
      width: fit-content;
    }
  }

   // Size
  &--size-small {
    border-radius: var(--components-button-radius-small);
    border: var(--components-button-border-small) solid var(--eds-button-border);
    font-size: var(--font-size-body-s);
    height: var(--components-button-height-horizontalcontent-small);
    line-height: var(--font-line-height-body-s);
    padding-inline: var(--components-button-inlinepadding-small);
  }
  &--size-large {
    border-radius: var(--components-button-radius-large);
    border: var(--components-button-border-large) solid var(--eds-button-border);
    font-size: var(--font-size-body-xl);
    height: var(--components-button-height-horizontalcontent-large);
    line-height: var(--font-line-height-body-xl);
    padding-inline: var(--components-button-inlinepadding-large);
  }
}

