@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/color-utils.scss';

.eds-icon-button {
  border: $border-widths-small solid transparent;
  border-radius: $border-radiuses-medium;
  background: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-sizes-large;
  padding: $space-extra-small;
  &--size-small {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
  }
  &--size-medium {
    height: 2rem;
    width: 2rem;
  }
  &:hover {
    background-color: $colors-blues-blue70;
    .eds-contrast & {
      background-color: $colors-blues-blue20;
    }
  }
  &:active {
    background: $colors-blues-blue60;
    .eds-contrast & {
      background: $colors-blues-blue10;
    }
  }
  &:focus {
    border: $border-widths-small solid $colors-brand-blue;
    outline: none;
    .eds-contrast & {
      border: $border-widths-small solid $colors-brand-white;
    }
  }
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
