.eds-button__spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: 1s infinite linear spin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
