@use '@entur/tokens/dist/styles.scss' as t;

.eds-square-button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: t.$border-radiuses-medium;
  cursor: pointer;
  font-size: t.$font-sizes-large;
  display: inline-flex;
  font-family: inherit;
  font-weight: t.$font-weights-body;
  justify-content: center;
  padding: 0;
  text-decoration: none;

  &:focus-visible {
    outline: none;
    .eds-square-button__button {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;
      .eds-contrast & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }
  }

  &[disabled]:not(.eds-square-button--loading) {
    cursor: not-allowed;

    .eds-square-button__button,
    .eds-square-button__button:hover {
      border-color: var(--basecolors-stroke-disabled);
      border-style: dashed;
      background-color: transparent;
      color: var(--basecolors-text-disabled);
    }
    .eds-square-button__label,
    .eds-square-button__label:hover {
      color: var(--basecolors-text-disabled);
    }
  }

  &.eds-square-button--loading {
    opacity: 1;
  }

  &__button {
    align-items: center;
    background-color: var(--button-background);
    border: t.$border-widths-default solid var(--border-color);
    border-radius: t.$border-radiuses-medium;
    color: var(--icon-color);
    display: inline-flex;
    height: t.$space-extra-large3;
    justify-content: center;
    line-height: t.$line-heights-extra-large;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    position: relative;
    width: t.$space-extra-large3;
  }

  &__label {
    color: var(--label-color);
  }

  &__label + &__button,
  &__button + &__label {
    margin-left: t.$space-default;
  }

  .eds-square-button__loading-dots .eds-loading-dots__dot {
    background: var(--icon-color);
  }

  &--secondary {
    --button-background: var(--components-button-squaresecondary-standard-default);
    --border-color: var(--components-button-squaresecondary-standard-border);
    --icon-color: var(--components-button-squaresecondary-standard-icon);
    --label-color: var(--components-button-squaresecondary-standard-text);

    &:hover {
      --button-background: var(--components-button-squaresecondary-standard-hover);
    }
    &:active {
      --button-background: var(--components-button-squaresecondary-standard-active);
      --border-color: var(--components-button-squaresecondary-standard-border-active);
      --icon-color: var(--components-button-squaresecondary-standard-icon-active);
    }

    .eds-contrast & {
      --button-background: var(--components-button-squaresecondary-contrast-default);
      --border-color: var(--components-button-squaresecondary-contrast-border);
      --icon-color: var(--components-button-squaresecondary-contrast-icon-default);
      --label-color: var(--components-button-squaresecondary-contrast-label);

      &:hover {
        --button-background: var(--components-button-squaresecondary-contrast-hover);
        --icon-color: var(--components-button-squaresecondary-contrast-icon-hover);
      }
      &:active {
        --button-background: var(--components-button-squaresecondary-contrast-active);
        --border-color: var(--components-button-squaresecondary-contrast-border-active);
        --icon-color: var(--components-button-squaresecondary-contrast-icon-active);
      }
    }
  }

  &--success {
    --button-background: var(--components-button-squaresuccess-standard-default);
    --border-color: var(--components-button-squaresuccess-standard-border);
    --icon-color: var(--components-button-squaresuccess-standard-icon);
    --label-color: var(--components-button-squaresuccess-standard-label);

    &:hover {
      --button-background: var(--components-button-squaresuccess-standard-hover);
    }
    &:active {
      --button-background: var(--components-button-squaresuccess-standard-active);
    }

    .eds-contrast & {
      --button-background: var(--components-button-squaresuccess-contrast-default);
      --border-color: var(--components-button-squaresuccess-contrast-border);
      --icon-color: var(--components-button-squaresuccess-contrast-icon);
      --label-color: var(--components-button-squaresuccess-contrast-label);

      &:hover {
        --button-background: var(--components-button-squaresuccess-contrast-hover);
      }
      &:active {
        --button-background: var(--components-button-squaresuccess-contrast-active);
      }
    }
  }

  &--tertiary {
    --button-background: var(--components-button-squaresecondary-standard-default);
    --border-color: var(--components-button-squaresecondary-standard-border);
    --icon-color: var(--components-button-squaresecondary-standard-icon);
    --label-color: var(--components-button-squaresecondary-standard-text);

    &:hover {
      --button-background: var(--components-button-squaresecondary-standard-hover);
    }
    &:active {
      --button-background: var(--components-button-squaresecondary-standard-active);
      --border-color: var(--components-button-squaresecondary-standard-border-active);
      --icon-color: var(--components-button-squaresecondary-standard-icon-active);
    }

    .eds-contrast & {
      --button-background: var(--components-button-squaresecondary-contrast-default);
      --border-color: var(--components-button-squaresecondary-contrast-border);
      --icon-color: var(--components-button-squaresecondary-contrast-icon-default);
      --label-color: var(--components-button-squaresecondary-contrast-label);

      &:hover {
        --button-background: var(--components-button-squaresecondary-contrast-hover);
        --icon-color: var(--components-button-squaresecondary-contrast-icon-hover);
      }
      &:active {
        --button-background: var(--components-button-squaresecondary-contrast-active);
        --border-color: var(--components-button-squaresecondary-contrast-border-active);
        --icon-color: var(--components-button-squaresecondary-contrast-icon-active);
      }
    }

    font-size: t.$font-sizes-medium;

    .eds-square-button__label + .eds-square-button__button,
    .eds-square-button__button + .eds-square-button__label {
      margin-left: t.$space-small;
    }

    .eds-square-button__button {
      height: t.$space-extra-large;
      width: t.$space-extra-large;
      border-width: t.$border-widths-small;
    }
  }
}
