@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/utils/dist/color-utils.scss' as util;

.eds-square-button {
  --icon-color: var(--primary-text-color);
  --button-background: transparent;
  --border-color: transparent;

  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: t.$border-radiuses-medium;
  cursor: pointer;
  font-size: t.$font-sizes-large;
  display: inline-flex;
  font-family: inherit;
  font-weight: t.$font-weights-body;
  justify-content: center;
  padding: 0;
  text-decoration: none;

  &:focus {
    outline: none;
    .eds-square-button__button {
      outline-offset: t.$outline-offsets-focus;
      outline: none;
      box-shadow: t.$shadows-focus;
      .eds-contrast & {
        box-shadow: t.$shadows-focus-contrast;
      }
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    &.eds-square-button--loading {
      opacity: 1;
    }
  }

  &__button {
    align-items: center;
    background-color: var(--button-background);
    border: t.$border-widths-default solid var(--border-color);
    border-radius: t.$border-radiuses-medium;
    color: var(--icon-color);
    display: inline-flex;
    height: t.$space-extra-large3;
    justify-content: center;
    line-height: t.$line-heights-extra-large;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    position: relative;
    width: t.$space-extra-large3;
  }

  &__label {
    color: var(--primary-text-color);
  }

  &__label + &__button,
  &__button + &__label {
    margin-left: t.$space-default;
  }

  &--secondary {
    --button-background: transparent;
    --border-color: #{t.$colors-blues-blue30};

    &:hover {
      --button-background: #{rgba(t.$colors-brand-lavender, 0.4)};
    }
    &:active {
      --button-background: #{t.$colors-brand-lavender};
    }

    .eds-contrast & {
      --border-color: #{t.$colors-brand-lavender};

      &:hover {
        --button-background: #{rgba(t.$colors-brand-lavender, 0.2)};
      }
      &:active {
        --button-background: #{t.$colors-brand-lavender};
        --icon-color: #{t.$colors-brand-blue};
      }

      .eds-square-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-white;
      }
    }

    .eds-square-button__loading-dots .eds-loading-dots__dot {
      background: t.$colors-brand-blue;
    }
  }

  &--success {
    --button-background: #{t.$colors-validation-mint-contrast};
    --border-color: #{t.$colors-blues-blue30};

    &:hover {
      --button-background: #{util.tint(t.$colors-validation-mint-contrast, 10%)};
    }
    &:active {
      --button-background: #{util.shade(t.$colors-validation-mint-contrast, 10%)};
    }

    .eds-square-button__loading-dots .eds-loading-dots__dot {
      background: t.$colors-brand-blue;
    }

    .eds-contrast & {
      --border-color: transparent;
      --icon-color: #{t.$colors-brand-blue};
    }
  }

  &--tertiary {
    --button-background: transparent;
    --border-color: #{t.$colors-blues-blue30};
    font-size: t.$font-sizes-medium;

    &:hover {
      --button-background: #{rgba(t.$colors-brand-lavender, 0.4)};
    }
    &:active {
      --button-background: #{t.$colors-brand-lavender};
    }

    .eds-contrast & {
      --border-color: #{t.$colors-brand-white};
      --border-color: #{t.$colors-brand-lavender};

      &:hover {
        --button-background: #{rgba(t.$colors-brand-lavender, 0.2)};
      }
      &:active {
        --button-background: #{t.$colors-brand-lavender};
        --icon-color: #{t.$colors-brand-blue};
      }

      .eds-square-button__loading-dots .eds-loading-dots__dot {
        background: t.$colors-brand-white;
      }
    }

    .eds-square-button__label + .eds-square-button__button,
    .eds-square-button__button + .eds-square-button__label {
      margin-left: t.$space-small;
    }

    .eds-square-button__button {
      height: t.$space-extra-large;
      width: t.$space-extra-large;
      border-width: t.$border-widths-small;
    }

    .eds-square-button__loading-dots .eds-loading-dots__dot {
      background: t.$colors-brand-blue;
    }
  }
}
