@import '~@entur/tokens/dist/styles.scss';

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

a.eds-button {
  padding: 0.5rem 0;
}

.eds-button {
  min-width: 9.5rem; //width 152-border
  border: $border-widths-default solid transparent;
  border-radius: $border-radiuses-medium;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  appearance: none;
  text-decoration: none;
  padding: 0;
  height: 2.75rem;
  font-size: $font-sizes-large;
  line-height: $line-heights-extra-large;
  font-weight: $font-weights-body;
  text-align: center;
  font-family: inherit;
  position: relative;
  vertical-align: top;
  &:focus {
    outline: none;
    box-shadow: 0 0 0.25rem 0.125rem $colors-misc-focus;
  }
  svg {
    position: relative;
    top: 0.2em;
  }

  &--disabled {
    cursor: default;
    background-color: $colors-greys-grey20;
    color: $colors-greys-grey40;
  }

  //Size
  &--size-large {
    min-width: 11.75rem;
    height: 3.75rem;
  }

  &--width-square {
    padding-right: $space-none;
    padding-left: $space-none;
    min-width: ($space-extra-large2 + $space-extra-small2);
    width: ($space-extra-large2 + $space-extra-small2);
  }

  &--width-fluid {
    width: 100%;
  }

  //Variant
  &--variant-primary {
    background-color: $colors-brand-blue;
    color: $colors-brand-white;

    &:hover {
      background-color: tint($colors-brand-blue, 10%);
    }
    &:active {
      background-color: shade($colors-brand-blue, 10%);
    }
    .eds-contrast & {
      background-color: $colors-brand-lavender;
      color: $colors-brand-blue;
      &:hover {
        background-color: tint($colors-brand-lavender, 10%);
      }
      &:active {
        background-color: shade($colors-brand-lavender, 10%);
      }
    }
    &.eds-button--width-square {
      background-color: transparent;
      border: solid $border-widths-default $colors-brand-lavender;
      color: $colors-brand-blue;
      &:hover {
        background-color: tint($colors-brand-lavender, 10%);
        border-color: tint($colors-brand-lavender, 10%);
      }
      &:active {
        background-color: shade($colors-brand-lavender, 10%);
        border-color: shade($colors-brand-lavender, 10%);
      }
      .eds-contrast & {
        color: white;
        &:hover {
          background-color: $colors-blues-blue20;
        }
        &:active {
          background-color: $colors-brand-lavender;
          border-color: $colors-brand-lavender;
          color: $colors-brand-blue;
        }
      }
    }
  }
  &--variant-secondary {
    background-color: $colors-brand-white;
    border: $border-widths-default solid $colors-brand-lavender;
    color: $colors-brand-blue;
    &:hover {
      background-color: $colors-brand-lavender;
    }
    &:active {
      background-color: shade($colors-brand-lavender, 10%);
      border-color: shade($colors-brand-lavender, 10%);
    }
    .eds-contrast & {
      background-color: $colors-brand-blue;
      color: $colors-brand-white;
      &:hover {
        background-color: $colors-blues-blue20;
      }
      &:active {
        background: $colors-brand-lavender;
        color: $colors-brand-blue;
      }
    }
  }

  &--variant-success {
    background-color: $colors-validation-mint-contrast;
    color: $colors-brand-blue;
    &:hover {
      background-color: tint($colors-validation-mint-contrast, 10%);
    }
    &:active {
      background-color: shade($colors-validation-mint-contrast, 5%);
    }
  }

  &--variant-negative {
    background: transparent;
    color: $colors-validation-lava;
    border-color: $colors-validation-lava;
    &:hover {
      background-color: rgba($colors-validation-lava-tint, 0.6);
    }
    &:active {
      background-color: $colors-validation-lava;
      color: $colors-brand-white;
    }
    .eds-contrast & {
      color: $colors-brand-white;
      &:hover {
        background-color: tint($colors-blues-blue20, 10%);
      }
      &:active {
        background-color: $colors-validation-lava-contrast;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: $border-widths-large solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border-right-color: white;
  animation: 1s infinite linear spin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
