@use "sass:map";
@use "../styles/variables.scss" as variables;
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;
@use '~@entur/tokens/dist/styles.scss' as eds;

.frontpage {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;

  &__main {
    flex: 1;
    display: grid;
    position: relative;
    gap: eds.$space-default;
    grid-template-columns:
      1fr
      minmax(0px, 6rem) minmax(0px, 6rem)
      minmax(0px, 6rem) minmax(0px, 6rem)
      minmax(0px, 6rem) minmax(0px, 6rem)
      minmax(0px, 6rem) minmax(0px, 6rem)
      minmax(0px, 6rem) minmax(0px, 6rem)
      minmax(0px, 6rem) minmax(0px, 6rem)
      1fr;
    overflow: hidden;
    margin-top: variables.$navbar-height;

    &__hero {
      grid-column: 2 / -2;
      display: grid;
      grid-template-columns: subgrid;
      row-gap: eds.$space-default;
      height: fit-content;
      padding-block: eds.$space-extra-large5;

      &__lines {
        position: absolute;
        object-fit: none;
        overflow: hidden;
        transform: translate(-69.5rem, -64rem) scale(1);
        opacity: 0.3;

        path {
          stroke-dasharray: 20;
        }
      }

      &__main-heading {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        font-size: calc(eds.$font-sizes-extra-large5 * 2);

        @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
          gap: eds.$space-default;
        }

        &__end {
          display: block;
          font-size: eds.$font-sizes-extra-large5;
          color: var(--basecolors-text-highlight);
        }
      }
      &__secondary-heading {
        grid-column: span 12;
        margin-block-start: eds.$space-extra-large9;
      }
      &__navigation-cards {
        &__card {
          grid-column: span 4;

          @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
            grid-column: span 6;
          }
          @media screen and (max-width: map.get(variables.$breakpoints, 'mobile')) {
            grid-column: span 12;
          }
        }
      }
    }
    &__section {
      grid-column: 1 / -1;
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: subgrid;
      align-content: start;
      row-gap: eds.$space-default;
      padding-block: eds.$space-extra-large5;
      margin-top: eds.$space-extra-large5;

      background-color: var(--section-color);

      > * {
        grid-column: 2 / -2;
        width: fit-content;
      }

      h1,
      h2,
      h3,
      p {
        grid-column: 2 / span 6;

        @media screen and (max-width: map.get(variables.$breakpoints, 'mobile')) {
          grid-column: 2 / span 12;
        }
      }
    }
  }
}

// Animation for header
.shifting-header {
  position: relative;
  height: 5.2rem;
  margin-top: -0.5rem;
  overflow: hidden;
  width: 100%;
  animation: scrollInOut 5s ease-out infinite;

  @media (prefers-reduced-motion) {
    animation: fadeInOut 5s ease-out infinite;
  }
}

@keyframes scrollInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
