@use "sass:map";
@use "../styles/variables.scss" as variables;
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;
@use '~@entur/tokens/dist/styles.scss' as eds;

.frontpage {
  // This variable is overridden by js in ./index.tsx
  --background-height: 200rem;
  $self: &;

  display: flex;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  background-color: var(--basecolors-frame-contrast);
  transform-style: preserve-3d;

  // This creates the perspective that allow the parallax effect to work.
  // 10px is arbitrary, the important thing is that every z-value is relative to this starting value
  perspective: 10px;

  @media (prefers-reduced-motion) {
    perspective: none;
  }

  &__background {
    &__lines,
    &__topographic-top,
    &__topographic-bottom {
      display: block;
      height: min(var(--background-height), 200rem);
      width: 400rem;
      position: absolute;
      top: -100%;
      left: 50vw;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      @media screen and (max-height: 65rem) {
        top: -125%;
      }
      @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
        top: -65%;
      }
      @media (prefers-reduced-motion) {
        transform: translateX(-110rem) translateY(25rem) scale(1) !important;
      }

      #{ $self }__background--loaded & {
        opacity: 0.3;
      }
    }
    &__lines {
      transform: translateZ(-8px) translateX(-40rem) translateY(1rem) scale(1.8);
      transition-delay: 1s;
    }
    &__topographic-top {
      transform: translateZ(-10px) translateX(-40rem) translateY(1rem) scale(2);
      transition-delay: 0.66s;
    }
    &__topographic-bottom {
      transform: translateZ(-12px) translateX(-40rem) translateY(10rem) scale(2.2);
      transition-delay: 0.33s;
    }
    &__animation {
      height: min(var(--background-height), 200rem);
      width: 400rem;
      position: absolute;
      top: -100%;
      left: 50vw;
      transform: translateZ(-8px) translateX(7.9rem) translateY(117.4rem) scale(1.8);

      @media screen and (max-height: 65rem) {
        top: -125%;
      }
      @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
        top: -65%;
      }

      &__traveller {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;

        background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgba(0, 255, 255, 0.7) 60%, rgba(0, 255, 255, 0.2) 100%);
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 0.6), 0 0 60px rgba(0, 255, 255, 0.4);
        opacity: 0;

        offset-path: path(
          'M40.9,16h294.2c17.7,0,32,14.3,32,32v181.8c0,17.7,14.3,32,32,32l965.4-2c12.8,0,25,5.1,34,14.1l67.8,67.9c8.6,6.4,19.2,14,32.4,14h508.5c31.8,0,32,27.7,32,32v704.4'
        );
        offset-distance: 0%;

        @media (prefers-reduced-motion) {
          animation: none !important;
          display: none !important;
        }

        #{ $self }__background--loaded & {
          animation: move 10s infinite ease-in-out, glow 2s infinite alternate ease-in-out;
          animation-delay: 1.5s;
          transition: opacity 1s ease-in;
        }
      }
    }
  }

  &__main {
    flex: 1;
    display: grid;
    position: relative;
    gap: eds.$space-default;
    grid-template-columns: variables.$full-width-grid;
    padding-top: variables.$navbar-height;

    &__hero {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
      height: fit-content;

      &__content {
        grid-column: 2 / -2;
        display: grid;
        grid-template-columns: subgrid;
        height: fit-content;
        padding-block: eds.$space-extra-large5;
        row-gap: eds.$space-default;

        &__main-heading {
          grid-column: span 12;
          display: flex;
          flex-direction: column;
          font-size: calc(eds.$font-sizes-extra-large5 * 2);

          @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
            gap: eds.$space-default;
            margin-top: eds.$space-extra-large5;
            margin-bottom: eds.$space-extra-large;
          }

          &__end {
            display: block;
            font-size: eds.$font-sizes-extra-large5;
            color: var(--basecolors-text-highlight);
          }
        }
        &__secondary-heading {
          grid-column: span 12;
          margin-block-start: eds.$space-extra-large9;
        }
        &__navigation-cards {
          &__card {
            grid-column: span 4;

            @media screen and (max-width: map.get(variables.$breakpoints, 'tablet')) {
              grid-column: span 6;
            }
            @media screen and (max-width: map.get(variables.$breakpoints, 'mobile')) {
              grid-column: span 12;
            }
          }
        }
      }
    }
    &__section {
      grid-column: 1 / -1;
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: subgrid;
      align-content: start;
      row-gap: eds.$space-default;
      padding-block: eds.$space-extra-large5;
      margin-top: eds.$space-extra-large5;

      background-color: var(--section-color);

      > * {
        grid-column: 2 / -2;
        width: fit-content;
      }

      h1,
      h2,
      h3,
      p {
        grid-column: 2 / span 6;

        @media screen and (max-width: map.get(variables.$breakpoints, 'mobile')) {
          grid-column: 2 / span 12;
        }
      }
    }
  }
}

// Animation for header
.shifting-header {
  position: relative;
  height: 5.2rem;
  overflow: hidden;
  width: 100%;
  animation: scrollInOut 5s ease-out infinite;

  @media (prefers-reduced-motion) {
    animation: fadeInOut 5s ease-out infinite;
  }
}

@keyframes scrollInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  5% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 0.6), 0 0 60px rgba(0, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 30px rgba(0, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 0.8), 0 0 80px rgba(0, 255, 255, 0.6);
  }
}
