@use '~@entur/tokens/dist/styles.scss' as tokens;

.hva-vi-gjor {
  &__goal {
    border: tokens.$border-widths-medium solid var(--designentur-basecard-default-border);
    padding: tokens.$space-extra-large tokens.$space-extra-large4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 7.75rem;
    &-image {
    }
    &-text {
      background: var(--designentur-basecard-default-fill);
    }
  }
}
