@import '~@entur/tokens/dist/styles.scss';

.eds-breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eds-breadcrumb__item {
  display: inline-block;
}

.eds-breadcrumb__separator {
  margin: 0 $space-extra-small2 0 $space-extra-small2;
}

.eds-breadcrumb__link {
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(
    120deg,
    $colors-brand-blue 0%,
    $colors-brand-blue 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.125rem;
  background-position: 0 100%;
  .eds-contrast & {
    background-image: linear-gradient(
      120deg,
      $colors-brand-white 0%,
      $colors-brand-white 100%
    );
  }

  &:hover {
    animation: eds-breadcrumb-underline 0.3s ease-in;
  }

  &:focus {
    outline: none;
    box-shadow: $shadows-focus;
    outline-offset: $outline-offsets-focus;
  }

  @keyframes eds-breadcrumb-underline {
    from {
      background-size: 0% 0.125rem;
    }
    to {
      background-size: 100% 0.125rem;
    }
  }

  &--current {
    font-weight: $font-weights-heading;
  }
}
