@use '@entur/tokens/dist/styles.scss' as t;

.eds-overflow-menu {
  &__menu-list {
    box-shadow: t.$shadows-box-shadow;
    overflow: hidden;
    border-radius: t.$border-radiuses-medium;
    border: t.$border-widths-small solid var(--components-menu-overflowmenu-border);
    z-index: t.$z-indexes-popover;

    &.eds-contrast {
      box-shadow: t.$shadows-box-shadow-contrast;
    }
  }

  &__item {
    display: block;
    width: 100%;
    appearance: none;
    padding: t.$space-small;
    border: none;
    outline: none;
    font-size: t.$font-sizes-large;
    line-height: t.$line-heights-large;
    text-align: left;
    text-decoration: none;
    color: var(--components-menu-overflowmenu-text);
    background: var(--components-menu-overflowmenu-fill-default);
    cursor: pointer;

    &--highlighted {
      background: var(--components-menu-overflowmenu-fill-hover);
    }
    &:active {
      background: var(--components-menu-overflowmenu-fill-active);
      color: var(--components-menu-overflowmenu-text-active);
    }
    &--disabled {
      background: var(--components-menu-overflowmenu-fill-default);
      color: var(--components-menu-overflowmenu-text-disabled);
      cursor: not-allowed;
    }

    svg {
      margin-right: t.$space-small;
    }
  }
}
