@use '~@entur/tokens/dist/styles.scss' as t;

.eds-overflow-menu {
  &__button {
  }
  &__item {
    appearance: none;
    border: none;
    font-size: t.$font-sizes-medium;
    font-family: inherit;
    color: var(--components-menu-overflowmenu-text);
    background: t.$colors-greys-grey90;
    display: block;
    height: t.$space-extra-large3;
    cursor: pointer;
    width: 100%;
    line-height: t.$line-heights-large;
    text-align: left;
    padding: t.$space-small t.$space-medium;
    opacity: 1;

    // TODO Missing variables
    &.eds-overflow-menu__item--disabled {
      background: t.$colors-greys-grey70;
      color: t.$colors-greys-grey50;
      .eds-contrast & {
        background: t.$colors-greys-grey70;
        color: t.$colors-greys-grey50;
      }
      &:hover {
        cursor: not-allowed;
        background: t.$colors-greys-grey70;
        color: t.$colors-greys-grey50;
      }
    }

    .eds-icon {
      margin-right: t.$space-small;
    }

    &:hover,
    &:focus,
    &[data-selected] {
      background: t.$colors-blues-blue70;
    }
    &:focus {
      outline: none;
    }
  }
}
.eds-overflow-menu__item + .eds-overflow-menu__item {
  border-top: t.$border-widths-small solid t.$colors-greys-grey70;
}
.eds-overflow-menu__menu-list[data-reach-menu-list] {
  border: t.$border-widths-small solid t.$colors-greys-grey70;
  border-radius: t.$border-radiuses-medium;
  box-shadow: t.$shadows-box-shadow;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  &.eds-contrast {
    box-shadow: t.$shadows-box-shadow-contrast;
  }
}
.eds-overflow-menu__menu-list[data-reach-menu-list],
.eds-overflow-menu__menu-list[data-reach-menu-items] {
  animation: slide-in t.$timings-medium ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(t.$space-extra-small);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-reach-menu-popover] {
  position: absolute;
  z-index: t.$z-indexes-overlay;
  .eds-overflow-menu__menu-list {
    &--left {
      position: relative;
      right: calc(100% - 2rem); // List width - IconButton width
    }
  }
}
