@import '~@entur/tokens/dist/styles.scss';

.eds-overflow-menu {
  &__button {
  }
  &__item {
    appearance: none;
    border: none;
    font-size: $font-sizes-medium;
    font-family: inherit;
    color: var(--primary-text-color);
    background: $colors-greys-grey90;
    display: block;
    height: $space-extra-large3;
    cursor: pointer;
    width: 100%;
    line-height: $line-heights-medium;
    text-align: left;
    padding: $space-extra-small $space-medium;
    .eds-contrast & {
      color: $colors-brand-blue;
    }

    .eds-icon {
      margin-right: $space-small;
    }

    &:hover,
    &:focus,
    &[data-selected] {
      background: $colors-blues-blue70;
    }
    &:focus {
      outline: none;
    }
  }
}
.eds-overflow-menu__item + .eds-overflow-menu__item {
  border-top: $border-widths-small solid $colors-greys-grey70;
}
.eds-overflow-menu__menu-list[data-reach-menu-list] {
  border: $border-widths-small solid $colors-greys-grey70;
  border-radius: $border-radiuses-medium;
  box-shadow: $shadows-card-shadow;
  overflow: hidden;
  z-index: $z-indexes-overlay;
  &:focus {
    outline: none;
  }
  &.eds-contrast {
    box-shadow: $shadows-card-shadow-contrast;
  }
}
.eds-overflow-menu__menu-list[data-reach-menu-list],
.eds-overflow-menu__menu-list[data-reach-menu-items] {
  animation: slide-in $timings-medium ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY($space-extra-small);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
