@use '~@entur/tokens/dist/styles.scss' as t;

.eds-pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: t.$space-small;
  justify-content: space-between;
  &__results {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    &-label {
      margin-right: t.$space-extra-small;
    }
  }
  &__controls {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__results:first-of-type:last-of-type,
  &__controls:first-of-type:last-of-type {
    margin: 0 auto;
  }
}

.eds-pagination-menu {
  &__menu-button {
    appearance: none;
    background: transparent;
    border: t.$border-widths-small solid t.$colors-greys-grey60;
    border-radius: t.$border-radiuses-medium;
    color: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: t.$space-extra-large;
    margin-left: t.$space-extra-small2;
    margin-right: t.$space-medium;
    width: 3.5rem;
    &--open {
      border-color: currentColor;
    }
    &:focus {
      outline: none;
      box-shadow: t.$shadows-focus;
    }
  }
  &__menu-list {
    width: 3.5rem;
  }
}

.eds-pagination__page {
  align-items: center;
  appearance: none;
  background: transparent;
  border: t.$border-widths-small solid t.$colors-greys-grey60;
  border-color: t.$colors-greys-grey60;
  border-radius: t.$border-radiuses-medium;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: t.$font-sizes-medium;
  height: t.$space-extra-large;
  justify-content: center;
  margin: 0 t.$border-widths-medium;
  padding: 0 t.$space-extra-small2;
  transition: background t.$timings-fast ease-out,
    border-color t.$timings-fast ease-out;
  user-select: none;
  min-width: t.$space-extra-large;

  .eds-contrast & {
    border-color: t.$colors-blues-blue30;
  }
  &--selected {
    background: t.$colors-blues-blue70;
    border-color: t.$colors-brand-blue;
    color: inherit;
    opacity: 1;
    pointer-events: none;
    .eds-contrast & {
      border-color: t.$colors-brand-white;
      background: t.$colors-blues-blue20;
    }
  }
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background-color: t.$colors-blues-blue70;
    border-color: t.$colors-blues-blue70;

    .eds-contrast & {
      background-color: t.$colors-blues-blue20;
      border-color: t.$colors-blues-blue20;
    }
  }
  &:focus {
    outline: none;
    border-color: t.$colors-brand-blue;
    .eds-contrast & {
      border-color: t.$colors-brand-white;
    }
  }
}

.eds-pagination__ellipsis {
  align-items: baseline;
  cursor: default;
  display: flex;
  font-size: t.$font-sizes-extra-large2;
  height: t.$space-extra-large;
  justify-content: center;
  user-select: none;
  width: t.$space-extra-large;
  margin: 0 2px;
}

.eds-pagination__input {
  &-wrapper {
    white-space: nowrap;
  }
  &-label {
    border-left: t.$border-widths-small solid t.$colors-greys-grey60;
    color: t.$colors-blues-blue40;
    font-size: t.$font-sizes-medium;
    margin-left: t.$space-extra-small;
    padding: 0 t.$space-medium;

    .eds-contrast & {
      border-color: t.$colors-blues-blue20;
      color: t.$colors-brand-lavender;
    }
  }

  &-field {
    appearance: none;
    background: transparent;
    border: t.$border-widths-small solid t.$colors-greys-grey60;
    border-radius: t.$border-radiuses-medium;
    color: inherit;
    font-family: inherit;
    font-size: t.$font-sizes-medium;
    height: t.$space-extra-large;
    text-align: center;
    width: t.$space-extra-large;

    // Removes those pesky increment and decrement buttons on input[type=number]
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
