@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;

.eds-side-navigation,
.eds-side-navigation-group {
  --primary-background-color: #{t.$colors-greys-grey90};
  --primary-text-color: #{t.$colors-brand-blue};
  .eds-contrast & {
    --primary-background-color: #{t.$colors-brand-blue};
    --primary-text-color: #{colors-brand-white};
  }
}

.eds-side-navigation__click-target svg {
  margin-right: t.$space-medium;
  color: t.$colors-blues-blue40;
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.075em;
  .eds-contrast & {
    color: t.$colors-brand-lavender;
  }
}

.eds-side-navigation__click-target[disabled] svg {
  color: t.$colors-blues-blue40;
}

.eds-side-navigation {
  --padding-vertical: #{t.$space-medium};
  --padding-horizontal: #{t.$space-extra-large2};
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: max-width ease-in-out t.$timings-medium;
  &__collapse-button {
    position: absolute;
    right: 0 - 0.75rem;

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: t.$colors-brand-white;
    box-shadow: t.$shadows-box-shadow;
    border: t.$border-widths-small solid t.$colors-greys-grey60;
    color: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: t.$z-indexes-sticky;
    .eds-contrast & {
      background: t.$colors-blues-blue20;
      box-shadow: t.$shadows-box-shadow;
      border-color: transparent;
    }
    svg {
      margin: 0;
      top: 0;
      color: t.$colors-brand-blue;
      .eds-contrast & {
        color: t.$colors-brand-white;
      }
    }
    &:focus {
      outline: t.$outlines-focus;
      .eds-contrast & {
        outline: t.$outlines-focus-contrast;
      }
    }
  }

  @include breakpoint.for-desktop {
    max-width: 26rem;
  }

  &--small {
    --padding-vertical: calc(#{t.$space-extra-small} + 0.1875rem);
  }

  // Nested sub menus
  & & {
    background-color: t.$colors-greys-grey80;
    .eds-contrast & {
      background-color: t.$colors-blues-blue10;
    }
  }
  &--collapsed {
    max-width: 80px;
  }
}

.eds-side-navigation {
  // Nested items
  & & .eds-side-navigation__click-target {
    padding-left: t.$space-extra-large4;
    box-shadow: none;
    &--active {
      background-color: t.$colors-blues-blue70;
      .eds-contrast & {
        background-color: t.$colors-blues-blue30;
      }
    }
  }
}

.eds-side-navigation__click-target {
  appearance: none;
  background: none;
  border: 0;
  border-bottom: t.$border-widths-medium solid t.$colors-greys-grey70;
  border-radius: 0;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: t.$font-weights-body;
  line-height: inherit;
  padding: var(--padding-vertical) t.$space-extra-large2;
  padding-left: t.$space-extra-large2;
  transition: padding t.$timings-medium ease-in-out;
  text-align: left;
  text-decoration: none;
  width: 100%;

  .eds-contrast & {
    border-color: t.$colors-blues-blue10;
  }
  .eds-side-navigation--collapsed & {
    padding-left: t.$space-extra-large;
  }
  &--active {
    box-shadow: inset t.$border-widths-large 0 0 t.$colors-brand-blue;
    font-weight: t.$font-weights-heading;
    .eds-contrast & {
      box-shadow: inset t.$border-widths-large 0 0 t.$colors-brand-coral;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    color: t.$colors-blues-blue40;
  }

  &:not([disabled]) {
    &:hover {
      background-color: t.$colors-blues-blue70;
      .eds-contrast & {
        background-color: t.$colors-blues-blue20;
      }
    }

    &:active,
    &:focus {
      outline: t.$outlines-focus;
      outline-offset: -2px;
      background: t.$colors-blues-blue80;
      .eds-contrast & {
        background-color: t.$colors-blues-blue30;
        outline: t.$outlines-focus-contrast;
      }
    }
  }
}

.eds-side-navigation-group {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  & + & {
    padding-top: t.$space-extra-small;
  }

  @include breakpoint.for-desktop {
    max-width: 26rem;
  }
}

.eds-side-navigation-group__trigger {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: t.$border-widths-medium solid t.$colors-greys-grey70;
  color: t.$colors-blues-blue40;
  cursor: pointer;
  display: flex;
  font-size: t.$font-sizes-medium;
  font-family: inherit;
  font-weight: t.$font-weights-body;
  height: t.$space-extra-large3;
  justify-content: space-between;
  letter-spacing: 1px;
  line-height: t.$line-heights-medium;
  padding: t.$space-small 0 t.$space-small t.$space-extra-large2;
  margin: 0;
  text-transform: uppercase;
  transition: padding t.$timings-medium ease-in-out;
  width: 100%;
  .eds-contrast & {
    color: t.$colors-brand-lavender;
    border-color: t.$colors-blues-blue10;
  }
  &-icon {
    margin-right: t.$space-small;
  }
  .eds-side-navigation-group__expand-icon {
    margin-right: t.$space-extra-large2;
  }
  .eds-side-navigation--collapsed & {
    padding-left: t.$space-extra-large;
  }
  &:focus {
    outline: t.$outlines-focus;
    .eds-contrast & {
      outline: t.$outlines-focus-contrast;
    }
  }
}
