@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/utils/dist/breakpoints.scss' as breakpoint;

.eds-side-navigation,
.eds-side-navigation-group {
  color: var(--components-menu-sidenavigation-standard-text);
  .eds-contrast & {
    color: var(--components-menu-sidenavigation-contrast-text);
  }
}

.eds-side-navigation__click-target svg {
  margin-right: t.$space-medium;
  color: var(--components-menu-sidenavigation-standard-icon);
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.075em;
  .eds-contrast & {
    color: var(--components-menu-sidenavigation-contrast-icon);
  }
}

.eds-side-navigation__click-target[disabled] svg {
  color: var(--components-menu-sidenavigation-standard-icon-disabled);
  .eds-contrast & {
    color: var(--components-menu-sidenavigation-contrast-icon-disabled);
  }
}

.eds-side-navigation {
  --padding-vertical: #{t.$space-medium};
  --padding-horizontal: #{t.$space-extra-large2};
  background-color: var(--components-menu-sidenavigation-standard-background);
  color: var(--components-menu-sidenavigation-standard-text);
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: max-width ease-in-out t.$timings-medium;
  .eds-contrast & {
    background-color: var(--components-menu-sidenavigation-contrast-background);
    color: var(--components-menu-sidenavigation-contrast-text);
  }

  &__collapse-button {
    position: absolute;
    right: 0 - 0.75rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--components-menu-sidenavigation-standard-background);
    color: var(--components-menu-sidenavigation-standard-text);
    box-shadow: t.$shadows-box-shadow;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: t.$z-indexes-sticky;
    .eds-contrast & {
      background-color: var(--components-menu-sidenavigation-contrast-background);
      color: var(--components-menu-sidenavigation-contast-text);
      box-shadow: t.$shadows-box-shadow;
    }
    svg {
      margin: 0;
      top: 0;
      color: var(--components-menu-sidenavigation-standard-icon);
      .eds-contrast & {
        color: var(--components-menu-sidenavigation-contrast-icon);
      }
    }
    &:focus-visible {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      .eds-contrast & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }
  }

  @include breakpoint.for-desktop {
    max-width: 26rem;
  }

  &--small {
    --padding-vertical: calc(#{t.$space-extra-small} + 0.1875rem);
  }

  // Nested sub menus
  & & {
    background-color: var(--components-menu-sidenavigation-standard-background);
    .eds-contrast & {
      background-color: var(--components-menu-sidenavigation-contrast-background);
    }
  }
  &--collapsed {
    max-width: 80px;
  }
}

.eds-side-navigation {
  // Nested items
  & & .eds-side-navigation__click-target {
    padding-left: t.$space-extra-large4;
    box-shadow: none;
    &--active {
      background-color: var(--components-menu-sidenavigation-standard-fill-active);
      .eds-contrast & {
        background-color: var(--components-menu-sidenavigation-contrast-fill-active);
      }
    }
  }
}

.eds-side-navigation__click-target {
  appearance: none;
  background: none;
  border: 0;
  border-bottom: t.$border-widths-small solid var(--components-menu-sidenavigation-standard-divide);
  border-radius: 0;
  color: var(--components-menu-sidenavigation-standard-text);
  cursor: pointer;
  display: block;
  font-size: t.$font-sizes-large;
  font-family: inherit;
  font-weight: t.$font-weights-body;
  line-height: inherit;
  padding: var(--padding-vertical) t.$space-extra-large2;
  padding-left: t.$space-extra-large2;
  transition: padding t.$timings-medium ease-in-out;
  text-align: left;
  text-decoration: none;
  width: 100%;

  .eds-contrast & {
    color: var(--components-menu-sidenavigation-contrast-text);
    border-color: var(--components-menu-sidenavigation-contrast-divide);
  }
  .eds-side-navigation--collapsed & {
    padding-left: t.$space-extra-large;
  }
  &--active {
    box-shadow: inset t.$border-widths-large 0 0 var(--components-menu-sidenavigation-standard-stroke-selected);
    font-weight: t.$font-weights-heading;
    .eds-contrast & {
      box-shadow: inset t.$border-widths-large 0 0 var(--components-menu-sidenavigation-contrast-stroke-selected);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--components-menu-sidenavigation-standard-text-disabled);
    .eds-contrast & {
      color: var(--components-menu-sidenavigation-contrast-text-disabled);
    }
  }

  &:not([disabled]) {
    &:hover {
      background-color: var(--components-menu-sidenavigation-standard-fill-hover);
      .eds-contrast & {
        background-color: var(--components-menu-sidenavigation-contrast-fill-hover);
      }
    }

    &:focus-visible {
      outline: t.$outlines-focus;
      outline-color: var(--basecolors-stroke-focus-standard);
      outline-offset: t.$outline-offsets-focus;

      .eds-contrast & {
        outline-color: var(--basecolors-stroke-focus-contrast);
      }
    }
  }
}

.eds-side-navigation-group {
  & + & {
    padding-top: t.$space-extra-small;
  }

  @include breakpoint.for-desktop {
    max-width: 26rem;
  }
}

.eds-side-navigation-group__trigger {
  align-items: center;
  appearance: none;
  background-color: var(--components-menu-sidenavigation-standard-background);
  border: none;
  border-bottom: t.$border-widths-small solid var(--components-menu-sidenavigation-standard-divide);
  color: var(--components-menu-sidenavigation-standard-label);
  cursor: pointer;
  display: flex;
  font-size: t.$font-sizes-medium;
  font-family: inherit;
  font-weight: t.$font-weights-body;
  height: t.$space-extra-large3;
  justify-content: space-between;
  letter-spacing: 1px;
  line-height: t.$line-heights-medium;
  padding: t.$space-small 0 t.$space-small t.$space-extra-large2;
  margin: 0;
  text-transform: uppercase;
  transition: padding t.$timings-medium ease-in-out;
  width: 100%;
  .eds-contrast & {
    color: var(--components-menu-sidenavigation-contrast-label);
    background-color: var(--components-menu-sidenavigation-contrast-background);
    border-color: var(--components-menu-sidenavigation-contrast-divide);
  }
  &-icon {
    margin-right: t.$space-small;
  }
  .eds-side-navigation-group__expand-icon {
    margin-right: t.$space-extra-large2;
    color: var(--components-menu-sidenavigation-standard-icon-label);

    .eds-contrast & {
      color: var(--components-menu-sidenavigation-contrast-icon-label);
    }
  }
  .eds-side-navigation--collapsed & {
    padding-left: t.$space-extra-large;
  }
  &:focus-visible {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;

    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }
}
