@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.eds-side-navigation,
.eds-side-navigation-group {
  --primary-background-color: #{$colors-greys-grey90};
  --primary-text-color: #{$colors-brand-blue};
  .eds-contrast & {
    --primary-background-color: #{$colors-brand-blue};
    --primary-text-color: #{colors-brand-white};
  }
}

.eds-side-navigation__click-target svg {
  margin-right: $space-medium;
  color: $colors-blues-blue40;
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.075em;
  .eds-contrast & {
    color: $colors-brand-lavender;
  }
}

.eds-side-navigation__click-target[disabled] svg {
  color: $colors-blues-blue40;
}

.eds-side-navigation {
  --padding-vertical: #{$space-medium};
  --padding-horizontal: #{$space-extra-large2};
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: max-width ease-in-out $timings-medium;
  &__collapse-button {
    position: absolute;
    right: 0 - 0.75rem;

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: $colors-brand-white;
    box-shadow: $shadows-card-shadow;
    border: $border-widths-small solid $colors-greys-grey60;
    color: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: $z-indexes-sticky;
    .eds-contrast & {
      background: $colors-blues-blue20;
      box-shadow: $shadows-card-shadow-contrast;
      border-color: transparent;
    }
    svg {
      margin: 0;
      top: 0;
      color: $colors-brand-blue;
      .eds-contrast & {
        color: $colors-brand-white;
      }
    }
    &:focus {
      outline: none;
      box-shadow: $colors-misc-focus;
      .eds-contrast & {
        box-shadow: $shadows-focus-contrast;
      }
    }
  }

  @include for-desktop {
    max-width: 26rem;
  }

  &--small {
    --padding-vertical: calc(#{$space-extra-small} + 0.1875rem);
  }

  // Nested sub menus
  & & {
    background-color: $colors-greys-grey80;
    .eds-contrast &  {
      background-color: $colors-blues-blue10;
    }
  }
  &--collapsed {
    max-width: 80px;
  }
}

.eds-side-navigation {
  // Nested items
  & & .eds-side-navigation__click-target {
    padding-left: $space-extra-large4;
    box-shadow: none;
    &--active {
      background-color: $colors-blues-blue70;
      .eds-contrast & {
        background-color: $colors-blues-blue30;
      }
    }
  }
}

.eds-side-navigation__click-target {
  appearance: none;
  background: none;
  border: 0;
  border-bottom: $border-widths-medium solid $colors-greys-grey70;
  border-radius: 0;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: $font-weights-body;
  line-height: inherit;
  padding: var(--padding-vertical) $space-extra-large2;
  padding-left: $space-extra-large2;
  transition: padding $timings-medium ease-in-out;
  text-align: left;
  text-decoration: none;
  width: 100%;

  .eds-contrast & {
    border-color: $colors-blues-blue10;
  }
  .eds-side-navigation--collapsed & {
    padding-left: $space-extra-large;
  }
  &--active {
    box-shadow: inset $border-widths-large 0 0 $colors-brand-blue;
    font-weight: $font-weights-heading;
    .eds-contrast & {
      box-shadow: inset $border-widths-large 0 0 $colors-brand-coral;
    }
  }

  &[disabled] {
    cursor: default;
    color: $colors-blues-blue40;
  }

  &:not([disabled]) {
    &:hover {
      background-color: $colors-blues-blue70;
      .eds-contrast & {
        background-color: $colors-blues-blue20;
      }
    }

    &:active,
    &:focus {
      outline: none;
      background: $colors-blues-blue80;
      .eds-contrast &  {
        background-color: $colors-blues-blue30;
      }
    }
  }
}

.eds-side-navigation-group {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  & + & {
    padding-top: $space-extra-small;
  }

  @include for-desktop {
    max-width: 26rem;
  }
}

.eds-side-navigation-group__trigger {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: $border-widths-medium solid $colors-greys-grey70;
  color: $colors-blues-blue40;
  cursor: pointer;
  display: flex;
  font-size: $font-sizes-medium;
  font-family: inherit;
  font-weight: $font-weights-body;
  height: $space-extra-large3;
  justify-content: space-between;
  letter-spacing: 1px;
  line-height: $line-heights-medium;
  padding: $space-small 0 $space-small $space-extra-large2;
  margin: 0;
  text-transform: uppercase;
  transition: padding $timings-medium ease-in-out;
  width: 100%;
  .eds-contrast & {
    color: $colors-brand-lavender;
    border-color: $colors-blues-blue10;
  }
  &-icon {
    margin-right: $space-small;
  }
  .eds-side-navigation-group__expand-icon {
    margin-right: $space-extra-large2;
  }
  .eds-side-navigation--collapsed & {
    padding-left: $space-extra-large;
  }
  &:focus {
    outline: 4px solid $colors-misc-focus;
  }
}
