@use '~@entur/tokens/dist/styles.scss' as t;

.eds-stepper {
  display: flex;
  flex-direction: row;

  &__item {
    &__container {
      cursor: pointer;

      &--non-interactive {
        cursor: default;
      }
      font-family: inherit;
      text-transform: none;
      appearance: none;
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      align-items: inherit;

      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;
      margin-left: t.$space-extra-small2;

      &:focus {
        outline-offset: t.$outline-offsets-focus;
        outline: none;
        box-shadow: t.$shadows-focus;
        .eds-contrast & {
          box-shadow: t.$shadows-focus-contrast;
        }
      }
    }

    &__container:first-child {
      margin-left: 0;
    }

    &__label {
      cursor: inherit;
      flex-grow: 1;
      flex-direction: column;
      text-align: center;
      font-size: t.$font-sizes-medium;
      padding: t.$space-extra-small2 t.$space-medium;
      &--active {
        font-weight: t.$font-weights-heading;
      }
    }
    &__label.eds-stepper__item__label--active {
      color: t.$colors-brand-blue;
      .eds-contrast & {
        color: t.$colors-brand-white;
      }
    }
    &__label.eds-stepper__item__label--has-been {
      color: t.$colors-brand-blue;
      .eds-contrast & {
        color: t.$colors-brand-white;
      }
    }
    &__square {
      height: t.$space-extra-small;
      &--active {
        color: inherit;
        background: t.$colors-greys-grey70;
        position: relative;
        &:before {
          background: t.$colors-brand-blue;
          content: '';
          position: absolute;
          right: calc(50% - 0.2rem);
          border-radius: t.$border-radiuses-small;
          bottom: t.$border-widths-small;

          //Approximate pixel perfect adjustments in size
          width: calc(
            #{t.$space-extra-small} - #{t.$border-widths-medium} - 0.01rem
          );
          height: calc(
            #{t.$space-extra-small} - #{t.$border-widths-medium} - 0.01rem
          );
          transform: rotate(45deg);
          .eds-contrast & {
            border-left-color: t.$colors-brand-lavender;
            border-left-color: t.$colors-brand-lavender;
          }
        }
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 50%;
          height: t.$space-extra-small;
          background: t.$colors-brand-blue;
          .eds-contrast & {
            background: t.$colors-brand-lavender;
          }
        }
        .eds-contrast & {
          background: t.$colors-brand-lavender;
          background: t.$colors-blues-blue20;
        }
      }

      &--inactive {
        color: t.$colors-blues-blue40;
        background: t.$colors-greys-grey70;
        .eds-contrast & {
          color: t.$colors-brand-lavender;
          background: t.$colors-blues-blue20;
        }
      }
      &--has-been {
        color: inherit;
        background: t.$colors-brand-blue;
        .eds-contrast & {
          background: t.$colors-brand-lavender;
        }
      }
    }
  }
}
