@import '~@entur/tokens/dist/styles.scss';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

.entur-menu,
.entur-menu-group {
  --primary-background-color: #{$colors-brand-blue};
  --primary-text-color: #{$colors-brand-white};
}

.entur-menu {
  --padding-vertical: #{$space-medium};
  --padding-horizontal: #{$space-medium};
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  list-style: none;

  @include for-desktop {
    max-width: 18rem;
  }

  &--small {
    --padding-vertical: #{$space-extra-small};
  }

  // Nested sub menus
  & & {
    background-color: $colors-blues-blue10;
  }
}

.entur-menu svg {
  color: $colors-blues-blue50;
  margin-right: $space-medium;
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.075em;
}

.entur-menu [disabled] svg {
  color: $colors-blues-blue40;
}

.entur-menu {
  // Nested items
  & & .entur-menu__click-target {
    border-left-color: transparent;
    padding-left: $space-extra-large2;

    &--active {
      background-color: $colors-blues-blue50;
    }
  }
}

.entur-menu__click-target {
  appearance: none;
  background: none;
  border: 0;
  border-left: $border-widths-large solid transparent;
  border-top: $border-widths-small solid $colors-blues-blue10;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  line-height: inherit;
  padding: var(--padding-vertical) var(--padding-horizontal);
  text-align: left;
  text-decoration: none;
  width: 100%;

  &--active {
    border-left-color: $colors-brand-coral;
  }

  &[disabled] {
    cursor: default;
    color: $colors-blues-blue40;
  }

  &:not([disabled]) {
    &:hover {
      background-color: $colors-blues-blue20;
    }

    &:active,
    &:focus {
      background-color: $colors-blues-blue30;
      outline: none;
    }
  }
}

.entur-menu-group {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  @include for-desktop {
    max-width: 18rem;
  }
}

.entur-menu-group__trigger {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  color: $colors-brand-lavender;
  display: flex;
  font-size: $font-sizes-medium;
  justify-content: space-between;
  line-height: $line-heights-medium;
  padding: $space-small 0 $space-small $space-default;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

.entur-menu-group__icon {
  transition: transform $timings-fast ease-out;
  margin-right: $space-default;
  &--open {
    transform: rotateZ(180deg);
  }
}
