@use '@entur/tokens/dist/styles.scss' as t;

.eds-top-navigation-item {
  --show-active-line: 0;

  display: inline-block;
  cursor: pointer;
  color: var(--components-menu-navigationbar-standard-text-unselected);
  text-decoration: none;
  position: relative;
  padding: t.$space-default;
  min-width: 5rem;
  width: fit-content;
  text-align: center;
  font-family: inherit;
  font-size: t.$font-sizes-large;
  font-weight: t.$font-weights-heading;
  &::after {
    content: '';
    display: block;
    bottom: t.$space-default;
    height: 0.1875rem; // 3px in rem
    width: 0; //t.$space-extra-large;
    margin: 0 auto;
    opacity: var(--show-active-line);
    background: var(--components-menu-navigationbar-standard-stroke-selected);
    transition: width ease-in-out t.$timings-medium, opacity ease-in-out t.$timings-medium;
  }
  .eds-contrast & {
    color: var(--components-menu-navigationbar-contrast-text-unselected);
  }

  &:focus {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;

    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }
  &:hover {
    --show-active-line: 1;
    &::after {
      width: t.$space-extra-large;
    }
  }

  &--active {
    color: var(--components-menu-navigationbar-standard-text-selected);
    --show-active-line: 1;
    &::after {
      width: t.$space-extra-large;
    }
    .eds-contrast & {
      color: var(--components-menu-navigationbar-contrast-text-selected);
    }
  }
}
