@import '~@entur/tokens/dist/semantic.scss';
@import '~@entur/tokens/dist/styles.scss';

.brukergrupper {
  &__brukere {
    &-wrapper {
      margin-bottom: $space-extra-large;
    }
    min-height: 10rem;
    background: var(--designentur-basecard-default-fill);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .eds-icon {
      // color: $colors-brand-blue;
      font-size: $font-sizes-extra-large5;
      margin-top: $space-large;
    }
    .eds-paragraph {
      text-align: center;
      margin-top: $space-large;
      max-width: 10rem;
    }
  }
  &__situasjonsbehov {
    background-color: $fill-background-tint-neutral;
    padding: 1rem;
  }
}
