@use '../../../styles/variables' as variables;
@use '~@entur/tokens/dist/styles.scss' as tokens;

.table-of-content-container {
  display: none;
  z-index: 1;

  @media screen and (min-width: variables.$show-toc-min-width) {
    display: block;
    position: fixed;
    left: variables.$toc-left-position;
    top: (variables.$navbar-height + 2rem);
    bottom: 0rem;
    overflow-y: auto;

    height: calc(100% - 9rem);
  }
}
.table-of-content {
  list-style: none;
  padding: 0;
  max-width: 15rem;
  padding-left: 1rem;
  border-left: tokens.$border-widths-medium solid var(--components-menu-tableofcontent-standard-stroke-unselected);
}

.table-of-content__item {
  margin-bottom: tokens.$space-medium;
  &--depth-2 {
    padding-left: tokens.$space-large;
  }

  &--depth-3 {
    padding-left: tokens.$space-extra-large;
  }
}

.table-of-content__link {
  color: var(--components-menu-tableofcontent-standard-text-unselected);
  font-size: tokens.$font-sizes-medium;
  line-height: tokens.$line-heights-small;
  text-decoration: none;
  position: relative;
  &:before {
    display: block;
    content: '';
    height: 100%;
    width: tokens.$border-widths-medium;
    position: absolute;
    left: -1rem - tokens.$border-widths-medium;
    top: 0;
    background: transparent;
    transition: background tokens.$timings-fast ease-in-out;
    .table-of-content__item--depth-3 & {
      left: -2.5rem - tokens.$border-widths-medium;
    }
  }

  &--active {
    color: var(--components-menu-tableofcontent-standard-text-selected);
    font-weight: tokens.$font-weights-heading;
    &:before {
      background: var(--components-menu-tableofcontent-standard-stroke-selected);
    }
  }
}
