.eds-simple-timepicker {
  width: var(--input-width);
  --input-width: 7rem;

  &--has-tooltip {
    --input-width: 9rem;
  }
  &--hide-clock {
    --input-width: 5rem;
    &.eds-simple-timepicker--has-tooltip {
      --input-width: 7rem;
    }
  }
  &--show-seconds {
    --input-width: 8.5rem;

    &.eds-simple-timepicker--hide-clock {
      --input-width: 6.5rem;
      &.eds-simple-timepicker--has-tooltip {
        --input-width: 8.5rem;
      }
    }
    &.eds-simple-timepicker--has-tooltip {
      --input-width: 10.5rem;
    }
  }
}
