@use '@entur/tokens/dist/styles.scss' as t;

.eds-timepicker {
  width: fit-content;
  justify-content: center;
  display: block;

  &--disabled {
    padding-inline: t.$space-medium;
  }

  // Overrides for default base form control
  :where(.eds-form-control) {
    &__prepend {
      margin-right: 0.25rem;
    }
    &__append {
      margin-left: 0.25rem;
    }
    &-wrapper {
      padding: 0rem;
      display: inline-flex;
    }
  }

  &__arrowbutton {
    margin: 0 t.$space-extra-small2;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
      visibility: hidden;
    }

    // This is done to remove contrast specific styling
    &:where(.eds-icon-button) {
      color: var(--components-button-iconbutton-standard-text);

      &:where(:hover) {
        background-color: var(--components-button-iconbutton-standard-hover);
      }
      &:where(:focus-visible) {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
      }
      &:where(:active) {
        background-color: var(--components-button-iconbutton-standard-active);
      }
    }
  }

  :where(.eds-icon-button--disabled__wrapper) {
    display: none;
  }
}
