@use '@entur/tokens/dist/styles.scss' as t;

.eds-timepicker {
  width: fit-content;
  justify-content: center;

  &--disabled {
    padding-inline: t.$space-medium;
  }

  // Overrides for default base form control
  .eds-form-control-wrapper {
    padding: 0rem;
  }

  &__arrowbutton {
    margin: 0 t.$space-extra-small2;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
      visibility: hidden;
    }

    // This is done to remove contrast specific styling
    &.eds-icon-button {
      color: var(--components-button-iconbutton-standard-text);

      &:hover {
        background-color: var(--components-button-iconbutton-standard-hover);
      }
      &:focus-visible {
        outline: t.$outlines-focus;
        outline-color: var(--basecolors-stroke-focus-standard);
        outline-offset: t.$outline-offsets-focus;
      }
      &:active {
        background-color: var(--components-button-iconbutton-standard-active);
      }
    }
  }

  .eds-icon-button--disabled__wrapper {
    display: none;
  }
}
