@import '~normalize-scss';
@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';
@import 'fonts';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

:root {
  --eds-typography: 1; // Register that the styles are loaded!
  --primary-background-color: #{$colors-brand-white};
  --primary-text-color: #{$colors-brand-blue};
  --primary-label-color: #{$colors-blues-blue40};
  --eds-font-family: 'Nationale', Arial, 'Gotham Rounded', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;

  @media (prefers-color-scheme: dark) {
    // TODO: We still need a design for this
  }
}

// Base styles
// These styles will propagate across the project
html {
  background-color: $colors-brand-white;
  background-color: var(--primary-background-color);
  box-sizing: border-box;
  color: $colors-brand-blue; // ie fallback
  color: var(--primary-text-color);
  font-family: var(--eds-font-family);
  font-weight: $font-weights-body;
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: inherit;
}

// Headings
.eds-h1,
.eds-h2,
.eds-h3,
.eds-h4,
.eds-h5,
.eds-h6 {
  color: inherit; // ie fallback
  color: var(--primary-text-color);
  font-weight: $font-weights-heading;
  -webkit-font-smoothing: antialiased;
}

.eds-h1 {
  font-size: $font-sizes-extra-large2;
  line-height: $line-heights-extra-large5;
  margin: 0 0 $space-default;
  @include for-desktop {
    font-size: $font-sizes-extra-large5;
    line-height: $line-heights-extra-large7;
  }
}
.eds-h2 {
  font-size: $font-sizes-extra-large;
  line-height: $line-heights-extra-large4;
  margin: $space-extra-large 0 $space-small;
  @include for-desktop {
    font-size: $font-sizes-extra-large4;
    line-height: $line-heights-extra-large6;
  }
}
.eds-h3 {
  font-size: $font-sizes-large;
  line-height: $line-heights-extra-large;
  margin: $space-large 0 $space-extra-small;
  @include for-desktop {
    font-size: $font-sizes-extra-large2;
    line-height: $line-heights-extra-large4;
  }
}
.eds-h4 {
  font-size: $font-sizes-medium;
  line-height: $line-heights-large;
  margin: $space-large 0 0;
  @include for-desktop {
    font-size: $font-sizes-extra-large;
    line-height: $line-heights-extra-large3;
  }
}
.eds-h5 {
  font-size: $font-sizes-small;
  line-height: $line-heights-medium;
  margin: $space-large 0 0;
  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

.eds-h6 {
  font-size: $font-sizes-small;
  line-height: $line-heights-medium;
  margin: $space-large 0 0;
  @include for-desktop {
    font-size: $font-sizes-medium;
    line-height: $line-heights-large;
  }
}

// Body text and inline element styling
.eds-paragraph {
  color: inherit; // ie fallback
  color: var(--primary-text-color);
  font-size: $font-sizes-large;
  line-height: $line-heights-extra-large;
  margin: 0 0 $space-default;
  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}
.eds-h1,
.eds-h2,
.eds-h3,
.eds-h4,
.eds-h5,
.eds-h6,
.eds-paragraph,
.eds-lead-paragraph,
.eds-sub-paragraph,
.eds-emphasized-text,
.eds-label,
.eds-sub-label,
.eds-small-text,
.eds-strong-text,
.eds-link {
  &--margin-top {
    margin-bottom: 0;
  }
  &--margin-bottom {
    margin-top: 0;
  }
  &--margin-none {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.eds-lead-paragraph {
  color: inherit; // ie fallback
  color: var(--primary-text-color);
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: $space-large 0;
  @include for-desktop {
    font-size: $font-sizes-extra-large;
    line-height: $line-heights-extra-large4;
  }
}

.eds-sub-paragraph {
  color: inherit; // ie fallback
  color: var(--primary-text-color);
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

.eds-small-text {
  color: inherit; // ie fallback
  color: var(--primary-text-color);
  font-size: $font-sizes-extra-small;
  line-height: $line-heights-small;
  @include for-desktop {
    font-size: $font-sizes-small;
    line-height: $line-heights-medium;
  }
}

.eds-link {
  &,
  &:link,
  &:visited {
    color: inherit; // ie fallback
    color: var(--primary-text-color);
    font-size: inherit;
    text-decoration: none;
    position: relative;

    background-image: linear-gradient(
      120deg,
      $colors-brand-blue 0%,
      $colors-brand-blue 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.125rem;
    background-position: 0 100%;
  }
  &:hover {
    animation: eds-link-underline 0.3s ease-in;
  }

  .eds-contrast & {
    background-image: linear-gradient(
      120deg,
      $colors-brand-white 0%,
      $colors-brand-white 100%
    );
  }
  @keyframes eds-link-underline {
    from {
      background-size: 0% 0.125rem;
    }
    to {
      background-size: 100% 0.125rem;
    }
  }

  &:focus {
    outline: none;
    box-shadow: $shadows-focus;
    .eds-contrast & {
      box-shadow: $shadows-focus-contrast;
    }
  }

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

.eds-label,
.eds-sub-label {
  color: $colors-blues-blue40; // ie fallback
  color: var(--primary-label-color);
}

.eds-label {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

.eds-sub-label {
  font-size: $font-sizes-small;
  line-height: $line-heights-small;

  @include for-desktop {
    line-height: $line-heights-medium;
  }
}

.eds-strong-text {
  font-weight: $font-weights-heading;
}

.eds-emphasized-text {
  font-style: italic;
}

.eds-preformatted-text {
  background-color: $colors-greys-grey80;
  border-radius: $border-radiuses-small;
  color: inherit;
  font-family: 'Dank Mono', monospace;
  font-size: $font-sizes-medium;
  padding: 1em;
  white-space: pre-wrap;
  word-break: keep-all;
}

.eds-code-text {
  background-color: $colors-blues-blue80;
  border-radius: $border-radiuses-small;
  font-family: 'Dank Mono', monospace;
  font-size: $font-sizes-medium; // Slightly smaller than
  padding: ($space-extra-small2 / 2) $space-extra-small2;
}

.eds-unordered-list,
.eds-numbered-list {
  margin: $space-default 0;
}

.eds-unordered-list {
  list-style: none;
  .eds-list-item {
    &:before {
      content: '';
      background: $colors-brand-lavender;
      display: block;
      height: $border-widths-medium;
      left: -1.75rem;
      top: 0.75rem;
      position: relative;
      width: $space-small;
    }
  }
}

.eds-numbered-list {
  counter-reset: eds-numbered-list-counter;
  list-style: none;
  &--type {
    &-a {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, lower-alpha);
        }
      }
    }
    &-A {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, upper-alpha);
        }
      }
    }
    &-1 {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, decimal);
        }
      }
    }
    &-i {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, lower-roman);
        }
      }
    }
    &-I {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, upper-roman);
        }
      }
    }
  }
}

.eds-list-item {
  padding-left: $space-extra-small;
}

.eds-numbered-list > .eds-list-item {
  counter-increment: eds-numbered-list-counter;
  margin-top: $space-large;
  position: relative;

  &::before {
    color: inherit; // ie fallback
    color: var(--primary-text-color);
    position: absolute;
    font-weight: $font-weights-heading;
    left: -$space-extra-large2;
    border: $border-widths-medium solid $colors-brand-lavender;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0.25rem;
  }
}

.eds-list-item__title {
  display: block;
  font-weight: $font-weights-heading;
  margin-bottom: $space-extra-small;

  .eds-list-item:first-of-type {
    margin: none;
  }
}

.eds-blockquote  {
  border-left: $border-widths-large solid $colors-blues-blue60;
  font-family: inherit;
  font-size: 1.25rem;
  line-height: $line-heights-extra-large3;
  margin: 0;
  padding: $space-extra-small;
  padding-left: $space-extra-large;
  &__footer {
    font-size: $font-sizes-medium;
    line-height: $line-heights-large;
    letter-spacing: 1px;
    margin-top: $space-large;
    text-transform: uppercase;
  }
}

@keyframes lineExpand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
