@use '~@entur/tokens/dist/styles.scss' as t;
@use '~@entur/tokens/dist/base.css';
@use '~@entur/utils/dist/breakpoints.scss' as *;

@use './componentColors.scss';
@use './fonts.scss';

@import '~normalize-scss';

[data-color-mode='light'],
[data-color-mode='dark'],
:root {
  --eds-typography: 1; // Register that the styles are loaded!
  --primary-background-color: var(--basecolors-frame-default);
  --primary-text-color: var(--components-typography-basetext-standard-text-accent);
  --primary-label-color: var(--components-typography-label-standard-text-accent);
  --eds-font-family: 'Nationale', Arial, 'Gotham Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;

  // Base styles
  // These styles will propagate across the project
  box-sizing: border-box;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: 'Nationale', Arial, 'Gotham Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-weight: t.$font-weights-body;
  font-size: t.$font-sizes-large;
  line-height: t.$line-heights-large;

  .eds-contrast {
    --primary-background-color: var(--basecolors-frame-contrast);
    --primary-text-color: var(--components-typography-basetext-contrast-text-accent);
    --primary-label-color: var(--components-typography-label-contrast-text-accent);

    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
  }

  @include for-desktop {
    font-size: t.$font-sizes-large;
    line-height: t.$line-heights-extra-large;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: inherit;
}

// Headings
.eds-h1,
.eds-h2,
.eds-h3,
.eds-h4,
.eds-h5,
.eds-h6 {
  color: var(--primary-text-color);
  font-weight: t.$font-weights-heading;
  -webkit-font-smoothing: antialiased;
}

.eds-h1 {
  font-size: t.$font-sizes-extra-large2;
  line-height: t.$line-heights-extra-large5;
  margin: 0 0 t.$space-default;

  @include for-desktop {
    font-size: t.$font-sizes-extra-large5;
    line-height: t.$line-heights-extra-large7;
  }
}
.eds-h2 {
  font-size: t.$font-sizes-extra-large;
  line-height: t.$line-heights-extra-large4;
  margin: t.$space-extra-large 0 t.$space-small;

  @include for-desktop {
    font-size: t.$font-sizes-extra-large4;
    line-height: t.$line-heights-extra-large6;
  }
}
.eds-h3 {
  font-size: t.$font-sizes-large;
  line-height: t.$line-heights-extra-large;
  margin: t.$space-large 0 t.$space-extra-small;

  @include for-desktop {
    font-size: t.$font-sizes-extra-large2;
    line-height: t.$line-heights-extra-large4;
  }
}
.eds-h4 {
  font-size: t.$font-sizes-medium;
  line-height: t.$line-heights-large;
  margin: t.$space-large 0 0;

  @include for-desktop {
    font-size: t.$font-sizes-extra-large;
    line-height: t.$line-heights-extra-large3;
  }
}
.eds-h5 {
  font-size: t.$font-sizes-small;
  line-height: t.$line-heights-medium;
  margin: t.$space-large 0 0;

  @include for-desktop {
    font-size: t.$font-sizes-large;
    line-height: t.$line-heights-extra-large;
  }
}
.eds-h6 {
  font-size: t.$font-sizes-small;
  line-height: t.$line-heights-medium;
  margin: t.$space-large 0 0;

  @include for-desktop {
    font-size: t.$font-sizes-medium;
    line-height: t.$line-heights-large;
  }
}

// Body text and inline element styling
.eds-paragraph {
  color: var(--primary-text-color);
  font-size: t.$font-sizes-large;
  line-height: t.$line-heights-extra-large;
  margin: 0 0 t.$space-extra-large;

  @include for-desktop {
    font-size: t.$font-sizes-large;
    line-height: t.$line-heights-extra-large;
  }
}
.eds-lead-paragraph {
  color: var(--primary-text-color);
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: t.$space-large 0;

  @include for-desktop {
    font-size: t.$font-sizes-extra-large;
    line-height: t.$line-heights-extra-large4;
  }
}
.eds-sub-paragraph {
  color: var(--primary-text-color);
  font-size: t.$font-sizes-medium;
  line-height: t.$line-heights-medium;

  @include for-desktop {
    line-height: t.$line-heights-large;
  }
}
.eds-small-text {
  color: var(--primary-text-color);
  font-size: t.$font-sizes-extra-small;
  line-height: t.$line-heights-small;

  @include for-desktop {
    font-size: t.$font-sizes-small;
    line-height: t.$line-heights-medium;
  }
}

.eds-link {
  color: var(--primary-text-color);

  &,
  &:link,
  &:visited {
    font-size: inherit;
    text-decoration: none;
    position: relative;

    background-image: linear-gradient(120deg, var(--primary-text-color) 0%, var(--primary-text-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.125rem;
    background-position: 0 100%;
  }
  &:hover {
    animation: eds-link-underline 0.3s ease-in;
    cursor: pointer;
  }

  @keyframes eds-link-underline {
    from {
      background-size: 0% 0.125rem;
    }
    to {
      background-size: 100% 0.125rem;
    }
  }

  &:focus {
    outline: t.$outlines-focus;
    outline-color: var(--basecolors-stroke-focus-standard);
    outline-offset: t.$outline-offsets-focus;

    .eds-contrast & {
      outline-color: var(--basecolors-stroke-focus-contrast);
    }
  }

  @include for-desktop {
    font-size: t.$font-sizes-large;
    line-height: t.$line-heights-extra-large;
  }

  &--ext-icon {
    margin-left: t.$space-extra-small2;

    p & {
      top: 0;
    }
  }
}

.eds-label,
.eds-sub-label {
  color: var(--primary-label-color);
}

.eds-label {
  font-size: t.$font-sizes-medium;
  line-height: t.$line-heights-medium;

  @include for-desktop {
    line-height: t.$line-heights-large;
  }
}

.eds-sub-label {
  font-size: t.$font-sizes-small;
  line-height: t.$line-heights-small;

  @include for-desktop {
    line-height: t.$line-heights-medium;
  }
}

.eds-strong-text {
  font-weight: t.$font-weights-heading;
}

.eds-emphasized-text {
  font-style: italic;
}

.eds-preformatted-text,
.eds-code-text {
  background-color: var(--components-typography-codetext-standard-fill);
  border: t.$border-widths-small solid var(--components-typography-codetext-standard-border);
  border-radius: t.$border-radiuses-medium;
  color: var(--components-typography-codetext-standard-text);
  font-family: 'Monaco', monospace;
  font-size: t.$font-sizes-medium;
}
.eds-preformatted-text {
  padding: 1rem;
  white-space: pre-wrap;
  word-break: keep-all;
}

.eds-code-text {
  display: inline-block;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  padding: calc(t.$space-extra-small2 / 2) t.$space-extra-small2;
}

.eds-unordered-list,
.eds-numbered-list {
  margin: t.$space-default 0;
}

.eds-unordered-list {
  list-style: none;
  .eds-list-item {
    &::before {
      content: '';
      background: var(--components-typography-list-standard-border);
      display: block;
      height: t.$border-widths-medium;
      left: -1.75rem;
      top: 0.75rem;
      position: relative;
      width: t.$space-small;
    }
  }
}

.eds-numbered-list {
  counter-reset: eds-numbered-list-counter;
  list-style: none;
  &--type {
    &-a {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, lower-alpha);
        }
      }
    }
    &-A {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, upper-alpha);
        }
      }
    }
    &-1 {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, decimal);
        }
      }
    }
    &-i {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, lower-roman);
        }
      }
    }
    &-I {
      & > .eds-list-item {
        &::before {
          content: counter(eds-numbered-list-counter, upper-roman);
        }
      }
    }
  }
}

.eds-list-item {
  padding-left: t.$space-extra-small;
}

.eds-numbered-list > .eds-list-item {
  counter-increment: eds-numbered-list-counter;
  margin-top: t.$space-large;
  position: relative;

  &::before {
    color: var(--primary-text-color);
    position: absolute;
    font-weight: t.$font-weights-heading;
    left: -(t.$space-extra-large2);
    border: t.$border-widths-medium solid var(--components-typography-list-standard-border);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0.25rem;
  }
}

.eds-list-item__title {
  display: block;
  font-weight: t.$font-weights-heading;
  margin-bottom: t.$space-extra-small;

  .eds-list-item:first-of-type {
    margin: none;
  }
}

.eds-blockquote {
  border-left: t.$border-widths-large solid var(--components-typography-blockquote-standard-stroke);
  font-family: inherit;
  font-size: 1.25rem;
  line-height: t.$line-heights-extra-large3;
  margin: 0;
  padding: t.$space-extra-small;
  padding-left: t.$space-extra-large;

  &__footer {
    font-size: t.$font-sizes-medium;
    line-height: t.$line-heights-large;
    letter-spacing: 1px;
    margin-top: t.$space-large;
    text-transform: uppercase;
  }
}

.eds-h1,
.eds-h2,
.eds-h3,
.eds-h4,
.eds-h5,
.eds-h6,
.eds-paragraph,
.eds-lead-paragraph,
.eds-sub-paragraph,
.eds-emphasized-text,
.eds-label,
.eds-sub-label,
.eds-small-text,
.eds-strong-text,
.eds-link {
  &--margin-top {
    margin-bottom: 0;
  }
  &--margin-bottom {
    margin-top: 0;
  }
  &--margin-none {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes lineExpand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
