@import '~normalize-scss';
@import '~@entur/tokens/dist/styles.scss';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

:root {
  --primary-background-color: #{$colors-brand-white};
  --primary-text-color: #{$colors-brand-blue};
  --primary-label-color: #{$colors-blues-blue40};
  --contrast-background-color: #{$colors-brand-blue};
  --contrast-text-color: #{$colors-brand-white};
  --contrast-label-color: #{$colors-brand-lavender};

  @media (prefers-color-scheme: dark) {
    // TODO: Implement this
  }
}

// Base styles
// These styles will propagate across the project
html {
  background-color: $colors-brand-white;
  background-color: var(--primary-background-color);
  color: $colors-brand-blue; // ie fallback
  color: var(--primary-text-color);
  font-family: 'Nationale', 'Gotham Rounded', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-weight: $font-weights-body;
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

// Headings
.entur-h1,
.entur-h2,
.entur-h3,
.entur-h4,
.entur-h5,
.entur-h6 {
  color: inherit;
  font-weight: $font-weights-heading;
  -webkit-font-smoothing: antialiased;
  margin: 1em 0;
}

.entur-h1 {
  font-size: $font-sizes-extra-large;
  line-height: $line-heights-extra-large2;

  @include for-desktop {
    font-size: $font-sizes-extra-large3;
    line-height: $line-heights-extra-large5;
  }
}
.entur-h2 {
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  @include for-desktop {
    font-size: $font-sizes-extra-large2;
    line-height: $line-heights-extra-large4;
  }
}
.entur-h3 {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    font-size: $font-sizes-extra-large;
    line-height: $line-heights-extra-large3;
  }
}
.entur-h4 {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}
.entur-h5,
.entur-h6 {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

// Body text and inline element styling
.entur-paragraph {
  color: inherit;
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

.entur-sub-paragraph {
  color: inherit;
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

.entur-link {
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  &,
  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $colors-brand-lavender;
  }

  &:focus {
    outline-color: $colors-misc-focus;
  }

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

.entur-label,
.entur-sub-label {
  color: $colors-blues-blue40; // ie fallback
  color: var(--primary-label-color);

  .entur-contrast & {
    color: $colors-brand-lavender; // ie fallback
    color: var(--contrast-label-color);
  }
}

.entur-label {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

.entur-sub-label {
  font-size: $font-sizes-small;
  line-height: $line-heights-small;

  @include for-desktop {
    line-height: $line-heights-medium;
  }
}

.entur-strong-text {
  font-weight: $font-weights-heading;
}

.entur-emphasized-text {
  font-style: italic;
}
