@import '~normalize-scss';
@import '~@entur/tokens/dist/styles.scss';

@mixin for-desktop {
  @media screen and (min-width: #{$breakpoints-large}) {
    @content;
  }
}

:root {
  --primary-background-color: #{$colors-brand-white};
  --primary-text-color: #{$colors-brand-blue};
  --primary-label-color: #{$colors-blues-blue40};

  @media (prefers-color-scheme: dark) {
    // TODO: We still need a design for this
  }
}

// Base styles
// These styles will propagate across the project
html {
  background-color: $colors-brand-white;
  background-color: var(--primary-background-color);
  box-sizing: border-box;
  color: $colors-brand-blue; // ie fallback
  color: var(--primary-text-color);
  font-family: 'Nationale', 'Gotham Rounded', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-weight: $font-weights-body;
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Headings
.entur-h1,
.entur-h2,
.entur-h3,
.entur-h4,
.entur-h5,
.entur-h6 {
  color: inherit;
  font-weight: $font-weights-heading;
  -webkit-font-smoothing: antialiased;
  margin: 1em 0;
}

.entur-h1 {
  font-size: $font-sizes-extra-large;
  line-height: $line-heights-extra-large2;

  @include for-desktop {
    font-size: $font-sizes-extra-large3;
    line-height: $line-heights-extra-large5;
  }
}
.entur-h2 {
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  @include for-desktop {
    font-size: $font-sizes-extra-large2;
    line-height: $line-heights-extra-large4;
  }
}
.entur-h3 {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    font-size: $font-sizes-extra-large;
    line-height: $line-heights-extra-large3;
  }
}
.entur-h4 {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}
.entur-h5,
.entur-h6 {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

// Body text and inline element styling
.entur-paragraph {
  color: inherit;
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

.entur-lead-paragraph {
  color: inherit;
  font-size: $font-sizes-extra-large;
  line-height: $line-heights-extra-large3;

  @include for-desktop {
    font-size: $font-sizes-extra-large;
    line-height: $line-heights-extra-large3;
  }
}

.entur-sub-paragraph {
  color: inherit;
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

.entur-small-text {
  color: inherit;
  font-size: $font-sizes-small;
  line-height: $line-heights-medium;
  @include for-desktop {
    line-height: $line-heights-medium;
  }
}

.entur-link {
  font-size: $font-sizes-large;
  line-height: $line-heights-large;

  &,
  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $colors-brand-lavender;
  }

  &:focus {
    outline-color: $colors-misc-focus;
  }

  @include for-desktop {
    font-size: $font-sizes-large;
    line-height: $line-heights-extra-large;
  }
}

.entur-label,
.entur-sub-label {
  color: $colors-blues-blue40; // ie fallback
  color: var(--primary-label-color);
}

.entur-label {
  font-size: $font-sizes-medium;
  line-height: $line-heights-medium;

  @include for-desktop {
    line-height: $line-heights-large;
  }
}

.entur-sub-label {
  font-size: $font-sizes-small;
  line-height: $line-heights-small;

  @include for-desktop {
    line-height: $line-heights-medium;
  }
}

.entur-strong-text {
  font-weight: $font-weights-heading;
}

.entur-emphasized-text {
  font-style: italic;
}

.entur-preformatted-text {
  background: $colors-blues-blue80;
  color: inherit;
  font-family: 'Dank Mono', monospace;
  font-size: inherit;
  padding: 1em;
  border-radius: 1px;
  white-space: pre-wrap;
  word-break: keep-all;
}

.entur-code-text {
  background-color: $colors-blues-blue80;
  border-radius: 0.125rem;
  font-family: 'Dank Mono', monospace;
  font-size: 90%; // Slightly smaller than
  padding: ($space-extra-small / 2) $space-extra-small;
}
