@import '~@entur/tokens/dist/styles.scss';

.eds-expand-row-button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding: $space-extra-small2;
  &:focus {
    outline: $outlines-focus;
    outline-offset: $outline-offsets-focus;
    .eds-contrast & {
      outline: $outlines-focus-contrast;
    }
  }
  &--open {
    .eds-expand-row-button__icon {
      transform: rotate(90deg);
    }
  }
  &__icon {
    transition: transform ease-in-out $timings-medium;
  }
}
