@use '~@entur/tokens/dist/styles' as t;

.eds-table__header-cell {
  color: t.$colors-blues-blue40;
  font-size: t.$font-sizes-medium;
  font-weight: t.$font-weights-body;
  text-align: left;

  height: t.$space-extra-large3;
  padding: 0 (t.$space-default + t.$space-extra-small);

  .eds-table--middle &,
  .eds-table--small & {
    padding: 0 t.$space-default;
  }

  .eds-contrast & {
    color: t.$colors-brand-lavender;
    border-bottom-color: t.$colors-blues-blue20;
  }

  &--padding-checkbox {
    width: t.$space-extra-large3;
    padding: 0 0 t.$space-medium (t.$space-medium + t.$space-extra-small2);
  }
  &--padding-radio {
    width: t.$space-extra-large3;
    padding: 0 0 t.$space-medium (t.$space-medium + t.$space-extra-small2);
  }
  &--padding-overflow-menu {
    width: t.$space-extra-large3;
    padding: t.$space-medium t.$space-small;
  }
  &--sortable {
    &:focus {
      outline: none;
      box-shadow: t.$shadows-focus;
      outline-offset: t.$outline-offsets-focus;
    }
  }
  &-button {
    position: relative;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 0;
    cursor: pointer;
    appearance: none;
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    &-icon {
      position: absolute;
      margin-left: t.$space-extra-small2;
    }
    &:focus {
      outline: t.$outlines-focus;
      .eds-contrast & {
        outline: t.$outlines-focus-contrast;
      }
    }
  }

  .eds-table--sticky-header & {
    background-color: t.$colors-brand-white;
    position: sticky;
    top: 0;

    .eds-contrast & {
      background-color: t.$colors-brand-blue;
    }
  }
}
