@use '~@entur/tokens/dist/styles.scss' as t;
@use './componentColors.scss';
@use '~@entur/tokens/dist/base.scss' as *;

:root {
  --eds-table: 1; // Register that the styles are loaded!
}

.eds-table {
  border-collapse: collapse;
  width: 100%;

  &--fixed {
    table-layout: fixed;
  }

  &--sticky-header {
    position: relative;
  }

  &__data-cell {
    height: 3.75rem;
    padding: t.$space-default (t.$space-default + t.$space-extra-small);

    .eds-contrast & {
      border-bottom-color: var(--components-table-contrast-stroke);
    }

    .eds-table--middle & {
      padding: t.$space-extra-small t.$space-default;
      height: t.$space-extra-large3;
    }
    .eds-table--small & {
      padding: t.$space-extra-small2 t.$space-default;
      height: t.$space-extra-large;
    }

    &--padding-checkbox {
      width: t.$space-extra-large3;
      padding: t.$space-extra-small 0 t.$space-small (t.$space-medium + t.$space-extra-small2);
    }
    &--padding-radio {
      width: t.$space-extra-large3;
      padding: t.$space-medium 0 t.$space-medium (t.$space-medium + t.$space-extra-small2);
    }
    &--padding-overflow-menu {
      width: t.$space-extra-large3;
      padding: t.$space-medium t.$space-small;
    }
  }

  &__body {
    > .eds-table__row {
      border-bottom: t.$border-widths-small solid var(--components-table-standard-stroke);
      .eds-contrast & {
        border-color: var(--components-table-contrast-stroke);
      }
      &:focus {
        outline: t.$outlines-focus;
      }
      &--hover {
        &:hover {
          background: var(--components-table-standard-fill-hover);
          .eds-contrast & {
            background: var(--components-table-contrast-fill-hover);
          }
        }
      }
      &--active {
        background: var(--components-table-standard-fill-hover);
        .eds-contrast & {
          background: var(--components-table-contrast-fill-hover);
        }
      }
      &--error {
        background: var(--components-table-contrast-fill-negative);
        .eds-contrast & {
          background: var(--components-table-contrast-fill-negative);
        }
      }
    }
  }
  &__head {
    border-bottom: t.$border-widths-default solid var(--components-table-standard-stroke);
    .eds-contrast & {
      border-color: var(--components-table-contrast-stroke);
    }

    .eds-table--sticky-header & {
      position: sticky;
      top: 0;
    }
    .eds-table--sticky-header--active & {
      box-shadow: 0px 10px 8px -10px rgba(0, 0, 0, 0.15);
      border-bottom: none;
    }
  }
}
