@import '~@entur/tokens/dist/styles.scss';

:root {
  --eds-table: 1; // Register that the styles are loaded!
}

.eds-table {
  border-collapse: collapse;
  width: 100%;

  &--fixed {
    table-layout: fixed;
  }

  &__data-cell,
  &__header-cell {
    padding: $space-default ($space-default + $space-extra-small2);

    .eds-contrast & {
      border-bottom-color: $colors-blues-blue20;
    }

    .eds-table--compact & {
      padding: $space-extra-small ($space-default + $space-extra-small2);
    }
  }
  &__head {
    border-bottom: $border-widths-default solid $colors-greys-grey20;
    .eds-contrast &  {
      border-color: $colors-blues-blue20;
    }
  }
  &__body {
    .eds-table__row {
      border-bottom: $border-widths-default solid $colors-greys-grey20;
      .eds-contrast &  {
        border-color: $colors-blues-blue20;
      }
      &--hover {
        &:hover {
          background: $colors-greys-grey30;
          .eds-contrast &  {
            background: $colors-blues-blue10;
          }
        }
      }
      &--active {
        background: $colors-blues-blue80;
        border: $border-widths-medium solid $colors-blues-blue70;
        .eds-contrast &  {
          border-color: $colors-blues-blue20;
          background: $colors-blues-blue20;
        }
      }
    }
  }
}
