@import '~@entur/tokens/dist/styles.scss';

.eds-table {
  border-collapse: collapse;
  width: 100%;

  &--fixed {
    table-layout: fixed;
  }

  &__header-cell {
    color: $colors-blues-blue40;
    font-size: $font-sizes-medium;
    font-weight: $font-weights-body;
    height: $space-extra-large2;
    text-align: left;

    .eds-contrast & {
      color: $colors-brand-lavender;
    }
  }

  &__row {
    height: $space-extra-large5;
    .eds-table--compact & {
      height: $space-extra-large2;
    }
  }

  &__body > &__row:hover {
    background-color: $colors-blues-blue80;

    .eds-contrast & {
      background-color: $colors-blues-blue10;
    }
  }

  &__data-cell,
  &__header-cell {
    border-bottom: $border-widths-default solid $colors-greys-grey20;
    padding: 0 ($space-default + $space-extra-small2);

    .eds-contrast & {
      border-bottom-color: $colors-blues-blue20;
    }
  }
}
