@import '~@entur/tokens/dist/styles.scss';

.brukertesting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .brukertesting-overskrift {
    margin-top: 0;
    margin-bottom: $space-small;
  }
  &-fordeler,
  &-ulemper {
    background-color: $colors-greys-grey80;
    padding: $space-large;
  }
  &-fordeler {
    margin-right: $space-large;
  }
}
