@import '~@entur/tokens/dist/styles.scss';
@import '~@entur/utils/dist/breakpoints.scss';

.brukertesting {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  row-gap: $space-small;
  @include for-desktop {
    grid-template-columns: 1fr 1fr;
    gap: $space-large;
  }
  .brukertesting-overskrift {
    margin-top: 0;
    margin-bottom: $space-small;
  }
  &-fordeler,
  &-ulemper {
    background-color: $colors-greys-grey80;
    padding: $space-large;
  }
}
